










<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<!--NewPage-->
<html>
<head>
<title>How to Use BorderLayout</title>
</head>
<body BGCOLOR="#ffffff">








<table width="100%">
<tr>
<td align=left>
<a href="generalrules.html"><img src="http://docs.rinet.ru/OLDui/images/PreviousArrow.gif" width=26 height=26 align=bottom border=0 alt="Previous | "></a><a
href="card.html"><img src="http://docs.rinet.ru/OLDui/images/NextArrow.gif" width=26 height=26 align=bottom border=0 alt="Next | "></a><a
href="http://docs.rinet.ru:8080/OLDui/trailmap.html"><img src="http://docs.rinet.ru/OLDui/images/WayUpArrow.gif" width=26 height=26 align=bottom border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/OLDui/images/uiHeader.gif" width=26 height=26 align=bottom border=0 alt="Creating a User Interface (AWT Only) | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Laying Out Components within a Container</em></strong></a>
</td>
</tr>
</table>
<p>
<center>
<IMG SRC="http://docs.rinet.ru/OLDui/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
<IMG SRC="http://docs.rinet.ru/OLDui/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
</center>
<p> 

<h2>
    How to Use BorderLayout
</h2>
<p>
<blockquote>

Here's an applet that shows a 
<a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.BorderLayout.html">BorderLayout </a><a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.BorderLayout.html"><img src="http://docs.rinet.ru/OLDui/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a> in action.

<p>

<applet code=AppletButton.class codebase=http://docs.rinet.ru:8080/OLDui/OLDui/layout/example width=350 height=60>
<param name=windowClass value=BorderWindow>
<param name=windowTitle value="BorderLayout">
<param name=buttonText value="Click here to see a BorderLayout in action">
<blockquote>
<hr>
<em>
Your browser can't run 1.0 Java applets,
so here's a picture of the window the program brings up:</em>
<blockquote><IMG SRC="http://docs.rinet.ru/OLDui/figures/ui/13uiborder25.gif" WIDTH="304" HEIGHT="117" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT=""></blockquote><hr>
</blockquote>
</applet>

<p>

As the above applet shows, 
a BorderLayout has five areas:
north, south, east, west, and center.
If you enlarge the window,
you'll see that the center area
gets as much of the newly available space as possible.
The other areas expand only as much as necessary
to keep all available space filled.

<p>

Below is the code that creates the BorderLayout and the components it manages.
Here's <a href=http://docs.rinet.ru/OLDui/OLDui/layout/example/BorderWindow.java>the whole program</a>.
The program runs either within an applet,
with the help of <a href=http://docs.rinet.ru/OLDui/OLDui/layout/example/AppletButton.java>AppletButton</a>,
or as an application.
The first line shown below is actually unnecessary for this example,
since it's in a Window subclass
and each Window already has an associated BorderLayout instance.
However, the first line would be necessary if the code
were in a Panel instead of a Window.

<blockquote>
<pre>
setLayout(new BorderLayout());
setFont(new Font("Helvetica", Font.PLAIN, 14));
   
add("North", new Button("North"));
add("South", new Button("South"));
add("East", new Button("East"));
add("West", new Button("West"));
add("Center", new Button("Center"));
</pre>
</blockquote>
<p>

<strong>Important:</strong>
When adding a component to a container that uses BorderLayout,
you <b>must</b> use the two-argument version
of the <code>add()</code> method,
and the first argument must be
<code>"North"</code>,
<code>"South"</code>,
<code>"East"</code>,
<code>"West"</code>, or
<code>"Center"</code>.
If you use the one-argument version of <code>add()</code>,
or if you specify an invalid first argument,
your component <b>might not be visible</b>. 

<p>

By default, a BorderLayout puts no gap between the components it manages.
In the applet above, any apparent gaps are the result
of the Buttons reserving extra space around their apparent display area.
You can specify gaps (in pixels) using the following constructor:

<blockquote>
<pre>
public BorderLayout(int horizontalGap, int verticalGap)
</pre>
</blockquote>

</blockquote>
<p>
<hr size=4>
<p> 
<table width="100%">
<tr>
<td align=left>
<a href="generalrules.html"><img src="http://docs.rinet.ru/OLDui/images/PreviousArrow.gif" width=26 height=26 align=top border=0 alt="Previous | "></a><a
href="card.html"><img src="http://docs.rinet.ru/OLDui/images/NextArrow.gif" width=26 height=26 align=top border=0 alt="Next | "></a><a
href="http://docs.rinet.ru:8080/OLDui/trailmap.html"><img src="http://docs.rinet.ru/OLDui/images/WayUpArrow.gif" width=26 height=26 align=top border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/OLDui/images/uiHeader.gif" width=26 height=26 align=top border=0 alt="Creating a User Interface (AWT Only) | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Laying Out Components within a Container</em></strong></a>
</td>
</tr>
</table>
</body>
</html>
