










<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<!--NewPage-->
<html>
<head>
<title>Creating a Custom Layout Manager</title>
</head>
<body BGCOLOR="#ffffff">








<table width="100%">
<tr>
<td align=left>
<a href="gridbagexample.html"><img src="http://docs.rinet.ru/OLDui/images/PreviousArrow.gif" width=26 height=26 align=bottom border=0 alt="Previous | "></a><a
href="none.html"><img src="http://docs.rinet.ru/OLDui/images/NextArrow.gif" width=26 height=26 align=bottom border=0 alt="Next | "></a><a
href="http://docs.rinet.ru:8080/OLDui/trailmap.html"><img src="http://docs.rinet.ru/OLDui/images/WayUpArrow.gif" width=26 height=26 align=bottom border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/OLDui/images/uiHeader.gif" width=26 height=26 align=bottom border=0 alt="Creating a User Interface (AWT Only) | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Laying Out Components within a Container</em></strong></a>
</td>
</tr>
</table>
<p>
<center>
<IMG SRC="http://docs.rinet.ru/OLDui/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
<IMG SRC="http://docs.rinet.ru/OLDui/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
</center>
<p> 

<h2>
    Creating a Custom Layout Manager
</h2>
<p>
<blockquote>

<strong>Note:</strong>
Before you start creating a custom layout manager,
make sure that no existing layout manager will work.
In particular, 
<a href=gridbag.html>GridBagLayout</a>
is flexible enough to work in many cases.
<p>

To create a custom layout manager,
you must create a class that implements the
<a href=http://java.sun.com/products/jdk/1.1/api/java.awt.LayoutManager.html>LayoutManager</a>
interface.
LayoutManager requires its adherents
to implement five methods:
<p>

<dl>
<dt><code>public void addLayoutComponent(String name, Component comp)</code>
<dd>Called only by the Container <code>add(name, component)</code> method.
    Layout managers that don't require that their components have names
    generally do nothing in this method.

    <p>

<dt><code>public void removeLayoutComponent(Component comp)</code>
<dd>Called by the Container <code>remove()</code> and
    <code>removeAll()</code> methods.
    Layout managers that don't require that their components have names
    generally do nothing in this method,
    since they can query the container for its components
    using the Container <code>getComponents()</code> method.

    <p>

<dt><code>public Dimension preferredLayoutSize(Container parent)</code>
<dd>Called by the Container <code>preferredSize()</code> method,
    which is itself called under a variety of circumstances.
    This method should calculate the ideal size of the parent,
    assuming that the components it contains will be at or above
    their preferred sizes.
    This method must take the parent's internal borders 
    (returned by the Container <code>insets()</code> method)
    into account.

    <p>

<dt><code>public Dimension minimumLayoutSize(Container parent)</code>
<dd>Called by the Container <code>minimumSize()</code> method,
    which is itself called under a variety of circumstances.
    This method should calculate the minimum size of the parent,
    assuming that the components it contains 
    will be at or above their minimum sizes.
    This method must take the parent's internal borders 
    (returned by the Container <code>insets()</code> method)
    into account.

    <p>

<dt><code>public void layoutContainer(Container parent)</code>
<dd>Called when the container is first displayed,
    and every time its size changes.
    A layout manager's <code>layoutContainer()</code> method
    doesn't actually draw Components.
    It simply invokes each Component's 
    <a href=http://java.sun.com/products/jdk/1.1/api/java.awt.Component.html#resize><code>resize()</code></a>,
    <a href=http://java.sun.com/products/jdk/1.1/api/java.awt.Component.html#move><code>move()</code></a>,
    and
    <a href=http://java.sun.com/products/jdk/1.1/api/java.awt.Component.html#reshape><code>reshape()</code></a>
    methods to set the Component's size and position.
    This method must take the parent's internal borders 
    (returned by the Container <code>insets()</code> method)
    into account.
    You can't assume that the <code>preferredLayoutSize()</code>
    or <code>minimumLayoutSize()</code> method will be called
    before <code>layoutContainer()</code> is called.

</dl>

<p>

Besides implementing the five methods required by LayoutManager,
layout managers generally implement at least one public constructor
and the 
<a href=http://java.sun.com/products/jdk/1.1/api/java.lang.Object.html#toString><code>toString()</code></a>
method.

<p>

Here's <a href=http://docs.rinet.ru/OLDui/OLDui/layout/example/DiagonalLayout.java>source code</a>
for a custom layout manager named DiagonalLayout.
It lays out components diagonally, 
from left to right, 
with one component per row.
<p>

Here's an example of DiagonalLayout in action:
<p>
<applet code=AppletButton.class codebase=http://docs.rinet.ru:8080/OLDui/OLDui/layout/example width=350 height=60>
<param name=windowClass value=CustomWindow>
<param name=windowTitle value="Custom Layout Manager (DiagonalLayout)">
<param name=buttonText value="Click here to see a custom layout manager in action">
<blockquote>
<hr>
<em>
Your browser can't run 1.0 Java applets,
so here's a picture of the window the program brings up:</em>
<blockquote><IMG SRC="http://docs.rinet.ru/OLDui/figures/ui/13custom31.gif" WIDTH="325" HEIGHT="170" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT=""></blockquote><hr>
</blockquote>
</applet>

</blockquote>
<p>
<hr size=4>
<p> 
<table width="100%">
<tr>
<td align=left>
<a href="gridbagexample.html"><img src="http://docs.rinet.ru/OLDui/images/PreviousArrow.gif" width=26 height=26 align=top border=0 alt="Previous | "></a><a
href="none.html"><img src="http://docs.rinet.ru/OLDui/images/NextArrow.gif" width=26 height=26 align=top border=0 alt="Next | "></a><a
href="http://docs.rinet.ru:8080/OLDui/trailmap.html"><img src="http://docs.rinet.ru/OLDui/images/WayUpArrow.gif" width=26 height=26 align=top border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/OLDui/images/uiHeader.gif" width=26 height=26 align=top border=0 alt="Creating a User Interface (AWT Only) | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Laying Out Components within a Container</em></strong></a>
</td>
</tr>
</table>
</body>
</html>
