










<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<!--NewPage-->
<html>
<head>
<title>How to Use FlowLayout</title>
</head>
<body BGCOLOR="#ffffff">








<table width="100%">
<tr>
<td align=left>
<a href="card.html"><img src="http://docs.rinet.ru/OLDui/images/PreviousArrow.gif" width=26 height=26 align=bottom border=0 alt="Previous | "></a><a
href="grid.html"><img src="http://docs.rinet.ru/OLDui/images/NextArrow.gif" width=26 height=26 align=bottom border=0 alt="Next | "></a><a
href="http://docs.rinet.ru:8080/OLDui/trailmap.html"><img src="http://docs.rinet.ru/OLDui/images/WayUpArrow.gif" width=26 height=26 align=bottom border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/OLDui/images/uiHeader.gif" width=26 height=26 align=bottom border=0 alt="Creating a User Interface (AWT Only) | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Laying Out Components within a Container</em></strong></a>
</td>
</tr>
</table>
<p>
<center>
<IMG SRC="http://docs.rinet.ru/OLDui/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
<IMG SRC="http://docs.rinet.ru/OLDui/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
</center>
<p> 

<h2>
    How to Use FlowLayout
</h2>
<p>
<blockquote>

Here's an applet that shows a
<a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.FlowLayout.html">FlowLayout</a><a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.FlowLayout.html"><img src="http://docs.rinet.ru/OLDui/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a> in action.

<p>

<applet codebase=http://docs.rinet.ru:8080/OLDui/OLDui/layout/example code=AppletButton.class width=350 height=60>
<param name=windowClass value=FlowWindow>
<param name=windowTitle value="FlowLayout">
<param name=buttonText value="Click here to see a FlowLayout in action">
<blockquote>
<hr>
<em>
Your browser can't run 1.0 Java applets,
so here's a picture of the window the program brings up:</em>
<blockquote><IMG SRC="http://docs.rinet.ru/OLDui/figures/ui/13uiflowlayout24.gif" WIDTH="410" HEIGHT="59" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT=""></blockquote><hr>
</blockquote>
</applet>

<p>

As the above applet shows,
FlowLayout puts components in a row,
sized at their preferred size.
If the horizontal space in the container
is too small to put all the components in one row,
FlowLayout uses multiple rows.
Within each row,
components are centered (the default),
left-aligned, or right-aligned
as specified when the FlowLayout is created.

<p>

Below is the code
that creates the FlowLayout and the components it manages.
(Here's 
<a href=http://docs.rinet.ru/OLDui/OLDui/layout/example/FlowWindow.java>the whole program</a>.
The program runs either within an applet, with the help of
<a href=http://docs.rinet.ru/OLDui/OLDui/layout/example/AppletButton.java>AppletButton</a>,
or as an application.)

<blockquote>
<pre>
setLayout(new FlowLayout());
setFont(new Font("Helvetica", Font.PLAIN, 14));
   
add(new Button("Button 1"));
add(new Button("2"));
add(new Button("Button 3"));
add(new Button("Long-Named Button 4"));
add(new Button("Button 5"));
</pre>
</blockquote>

The FlowLayout class has three constructors:
<blockquote>
<pre>
public FlowLayout()
public FlowLayout(int alignment)
public FlowLayout(int alignment,
                  int horizontalGap, int verticalGap)
</pre>
</blockquote>

The <code>alignment</code> argument must have the value
<code>FlowLayout.LEFT</code>,
<code>FlowLayout.CENTER</code>, or
<code>FlowLayout.RIGHT</code>.
The <code>horizontalGap</code>
and <code>verticalGap</code> arguments
specify the number of pixels to put between components.
If you don't specify a gap value,
FlowLayout acts as if you specified <code>5</code> for the gap value.

</blockquote>
<p>
<hr size=4>
<p> 
<table width="100%">
<tr>
<td align=left>
<a href="card.html"><img src="http://docs.rinet.ru/OLDui/images/PreviousArrow.gif" width=26 height=26 align=top border=0 alt="Previous | "></a><a
href="grid.html"><img src="http://docs.rinet.ru/OLDui/images/NextArrow.gif" width=26 height=26 align=top border=0 alt="Next | "></a><a
href="http://docs.rinet.ru:8080/OLDui/trailmap.html"><img src="http://docs.rinet.ru/OLDui/images/WayUpArrow.gif" width=26 height=26 align=top border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/OLDui/images/uiHeader.gif" width=26 height=26 align=top border=0 alt="Creating a User Interface (AWT Only) | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Laying Out Components within a Container</em></strong></a>
</td>
</tr>
</table>
</body>
</html>
