










<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<!--NewPage-->
<html>
<head>
<title>General Rules for Using Layout Managers</title>
</head>
<body BGCOLOR="#ffffff">








<table width="100%">
<tr>
<td align=left>
<a href="using.html"><img src="http://docs.rinet.ru/OLDui/images/PreviousArrow.gif" width=26 height=26 align=bottom border=0 alt="Previous | "></a><a
href="border.html"><img src="http://docs.rinet.ru/OLDui/images/NextArrow.gif" width=26 height=26 align=bottom border=0 alt="Next | "></a><a
href="http://docs.rinet.ru:8080/OLDui/trailmap.html"><img src="http://docs.rinet.ru/OLDui/images/WayUpArrow.gif" width=26 height=26 align=bottom border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/OLDui/images/uiHeader.gif" width=26 height=26 align=bottom border=0 alt="Creating a User Interface (AWT Only) | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Laying Out Components within a Container</em></strong></a>
</td>
</tr>
</table>
<p>
<center>
<IMG SRC="http://docs.rinet.ru/OLDui/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
<IMG SRC="http://docs.rinet.ru/OLDui/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
</center>
<p> 

<h2>
    General Rules for Using Layout Managers
</h2>
<p>
<blockquote>

<!--possible applet:  custom Container that has buttons letting
us add/delete Components, and lets us know when the layout-related
methods are called. -->

Unless you explicitly tell a Container not to use a layout manager,
it is associated with its very own instance of a layout manager.
This layout manager is automatically consulted every time
the Container might need to change its appearance.
Most layout managers don't require programs
to directly call their methods.

<h4>
<a name=choosing>
How to Choose a Layout Manager
</a>
</h4>
<blockquote>
The AWT-provided layout managers have different strengths and weaknesses.
This section discusses some common layout scenarios
and which AWT layout managers might work for each scenario.
If none of the AWT layout managers is right for your situation, 
you should feel free to use layout managers contributed to the net,
such as PackerLayout.

<p>

<dl>
<dt><strong>Scenario:</strong>
You need to display a component in as much space as it can get.
<dd>
Consider using
<a href=border.html>BorderLayout</a> or
<a href=gridbag.html>GridBagLayout</a>.
If you use BorderLayout,
you'll need to put the space-hungry component in the center.
With GridBagLayout,
you'll need to set the constraints for the component so that
<code>fill=GridBagConstraints.BOTH</code>.
Or, if you don't mind every other component in the same container
being just as large as your space-hungry component,
you can use a
<a href=grid.html>GridLayout</a>.

<p>

<dt><strong>Scenario:</strong>
You need to display a few components in a compact row
at their natural size.
<dd>
Consider using a Panel to hold the components
and using the Panel's default
<a href=flow.html>FlowLayout</a> manager.

<p>

<dt><strong>Scenario:</strong>
You need to display a few same-sized components in rows and/or columns.
<dd>
<a href=grid.html>GridLayout</a> is perfect for this.
</dl>


</blockquote>
<h4>
<a name=creating>
How to Create a Layout Manager and Associate It with a Container
</a>
</h4>
<blockquote>
Every container has a default layout manager associated with it.
All Panels (including Applets)
are initialized to use a FlowLayout.
All Windows (except special-purpose ones like FileDialog)
are initialized to use a BorderLayout.

<p>

If you want to use a Container's default layout manager,
you don't have to do a thing.
The constructor for each Container 
creates a layout manager instance
and initializes the Container to use it.
<p>

To use a non-default layout manager,
you need to create an instance of the desired layout manager class
and tell the Container to use it.
Below is some typical code that does this.
This code creates a CardLayout manager
and sets it up as the layout manager for a Container.
<p>

<blockquote>
<pre>
aContainer.setLayout(new CardLayout());
</pre>
</blockquote>

</blockquote>

<h4>
<a name=using>
Rules of Thumb for Using Layout Managers
</a>
</h4>

<blockquote>
The Container methods that result in calls to the Container's layout manager are
<code>add()</code>,
<code>remove()</code>,
<code>removeAll()</code>,
<code>layout()</code>,
<code>preferredSize()</code>,
and <code>minimumSize()</code>.
The
<code>add()</code>,
<code>remove()</code>, and
<code>removeAll()</code>
methods add and remove Components from a Container;
you can call them at any time.
The 
<code>layout()</code> method,
which is called as the result of any paint request to a Container, 
requests that the Container
place and size itself and the Components it contains;
you don't usually call it directly.
The <code>preferredSize()</code> 
and <code>minimumSize()</code> methods
return the Container's ideal size and minimum size, respectively.
The values returned are just hints;
they have no effect unless your program enforces these sizes.

<P>

You must take special care
when calling a Container's <code>preferredSize()</code>
and <code>minimumSize()</code> methods.
The values these methods return are meaningless unless the Container
and its Components have valid peer objects.
See 
<a target="_top" href="..\components\peer.html">Details of the Component Architecture</a><a target="_top" href="..\components\peer.html"><img src="http://docs.rinet.ru/OLDui/images/uiIcon.gif" width=20 height=20 border=0 alt="(in the Creating a User Interface trail)"></a> for information on when peers are created.

</blockquote>


</blockquote>
<p>
<hr size=4>
<p> 
<table width="100%">
<tr>
<td align=left>
<a href="using.html"><img src="http://docs.rinet.ru/OLDui/images/PreviousArrow.gif" width=26 height=26 align=top border=0 alt="Previous | "></a><a
href="border.html"><img src="http://docs.rinet.ru/OLDui/images/NextArrow.gif" width=26 height=26 align=top border=0 alt="Next | "></a><a
href="http://docs.rinet.ru:8080/OLDui/trailmap.html"><img src="http://docs.rinet.ru/OLDui/images/WayUpArrow.gif" width=26 height=26 align=top border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/OLDui/images/uiHeader.gif" width=26 height=26 align=top border=0 alt="Creating a User Interface (AWT Only) | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Laying Out Components within a Container</em></strong></a>
</td>
</tr>
</table>
</body>
</html>
