










<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<!--NewPage-->
<html>
<head>
<title>How to Use GridLayout</title>
</head>
<body BGCOLOR="#ffffff">








<table width="100%">
<tr>
<td align=left>
<a href="flow.html"><img src="http://docs.rinet.ru/OLDui/images/PreviousArrow.gif" width=26 height=26 align=bottom border=0 alt="Previous | "></a><a
href="gridbag.html"><img src="http://docs.rinet.ru/OLDui/images/NextArrow.gif" width=26 height=26 align=bottom border=0 alt="Next | "></a><a
href="http://docs.rinet.ru:8080/OLDui/trailmap.html"><img src="http://docs.rinet.ru/OLDui/images/WayUpArrow.gif" width=26 height=26 align=bottom border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/OLDui/images/uiHeader.gif" width=26 height=26 align=bottom border=0 alt="Creating a User Interface (AWT Only) | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Laying Out Components within a Container</em></strong></a>
</td>
</tr>
</table>
<p>
<center>
<IMG SRC="http://docs.rinet.ru/OLDui/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
<IMG SRC="http://docs.rinet.ru/OLDui/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
</center>
<p> 

<h2>
    How to Use GridLayout
</h2>
<p>
<blockquote>

Here's an applet that shows a
<a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.GridLayout.html">GridLayout </a><a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.GridLayout.html"><img src="http://docs.rinet.ru/OLDui/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a> in action.

<p>

<applet code=AppletButton.class codebase=http://docs.rinet.ru:8080/OLDui/OLDui/layout/example width=350 height=60>
<param name=windowClass value=GridWindow>
<param name=windowTitle value="GridLayout">
<param name=buttonText value="Click here to see a GridLayout in action">

<blockquote>
<hr>
<em>
Your browser can't run 1.0 Java applets,
so here's a picture of the window the program brings up:</em>
<blockquote><IMG SRC="http://docs.rinet.ru/OLDui/figures/ui/13uigridlayout23.gif" WIDTH="309" HEIGHT="98 " ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT=""></blockquote><hr>
</blockquote>
</applet>

<p>

As the above applet shows,
a GridLayout places components in a grid of cells.
Each component takes all the available space within its cell,
and each cell is exactly the same size.
If you resize the GridLayout window,
you'll see that the GridLayout changes the cell size
so that the cells are as large as possible,
given the space available to the container.

<p>

Below is the code 
that creates the GridLayout and the components it manages.
(Here's <a href=http://docs.rinet.ru/OLDui/OLDui/layout/example/GridWindow.java>the whole program</a>.
The program runs either within an applet,
with the help of <a href=http://docs.rinet.ru/OLDui/OLDui/layout/example/AppletButton.java>AppletButton</a>,
or as an application.)
<p>


<blockquote>
<pre>
//Construct a GridLayout with 2 columns and an unspecified number of rows.
setLayout(new GridLayout(0,2));
setFont(new Font("Helvetica", Font.PLAIN, 14));
   
add(new Button("Button 1"));
add(new Button("2"));
add(new Button("Button 3"));
add(new Button("Long-Named Button 4"));
add(new Button("Button 5"));
</pre>
</blockquote>

The constructor tells the GridLayout class
to create an instance that has two columns
and as many rows as necessary.
It's one of two constructors for GridLayout.
Here are the declarations for both constructors:

<blockquote>
<pre>
public GridLayout(int rows, int columns)
public GridLayout(int rows, int columns,
                  int horizontalGap, int verticalGap)
</pre>
</blockquote>

At least one of the <code>rows</code> and
<code>columns</code> arguments must be non-zero.
The <code>horizontalGap</code> and
<code>verticalGap</code> arguments to the second constructor
allow you to specify the number of pixels
between cells.
If you don't specify gaps,
their values default to zero.
(In the applet above, any apparent gaps
are the result of the Buttons reserving extra space
around their apparent display area.)

</blockquote>
<p>
<hr size=4>
<p> 
<table width="100%">
<tr>
<td align=left>
<a href="flow.html"><img src="http://docs.rinet.ru/OLDui/images/PreviousArrow.gif" width=26 height=26 align=top border=0 alt="Previous | "></a><a
href="gridbag.html"><img src="http://docs.rinet.ru/OLDui/images/NextArrow.gif" width=26 height=26 align=top border=0 alt="Next | "></a><a
href="http://docs.rinet.ru:8080/OLDui/trailmap.html"><img src="http://docs.rinet.ru/OLDui/images/WayUpArrow.gif" width=26 height=26 align=top border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/OLDui/images/uiHeader.gif" width=26 height=26 align=top border=0 alt="Creating a User Interface (AWT Only) | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Laying Out Components within a Container</em></strong></a>
</td>
</tr>
</table>
</body>
</html>
