










<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<!--NewPage-->
<html>
<head>
<title>How to Use GridBagLayout</title>
</head>
<body BGCOLOR="#ffffff">








<table width="100%">
<tr>
<td align=left>
<a href="grid.html"><img src="http://docs.rinet.ru/OLDui/images/PreviousArrow.gif" width=26 height=26 align=bottom border=0 alt="Previous | "></a><a
href="gridbagconstraints.html"><img src="http://docs.rinet.ru/OLDui/images/NextArrow.gif" width=26 height=26 align=bottom border=0 alt="Next | "></a><a
href="http://docs.rinet.ru:8080/OLDui/trailmap.html"><img src="http://docs.rinet.ru/OLDui/images/WayUpArrow.gif" width=26 height=26 align=bottom border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/OLDui/images/uiHeader.gif" width=26 height=26 align=bottom border=0 alt="Creating a User Interface (AWT Only) | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Laying Out Components within a Container</em></strong></a>
</td>
</tr>
</table>
<p>
<center>
<IMG SRC="http://docs.rinet.ru/OLDui/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
<IMG SRC="http://docs.rinet.ru/OLDui/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
</center>
<p> 

<h2>
    How to Use GridBagLayout
</h2>
<p>
<blockquote>

Here's an applet that shows a
<a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.GridBagLayout.html">GridBagLayout</a><a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.GridBagLayout.html"><img src="http://docs.rinet.ru/OLDui/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a> in action.

<p>
<applet code=AppletButton.class codebase=http://docs.rinet.ru:8080/OLDui/OLDui/layout/example width=350 height=60>
<param name=windowClass value=GridBagWindow>
<param name=windowTitle value="GridBagLayout">
<param name=buttonText value="Click here to see a GridBagLayout in action">

<blockquote>
<hr>
<em>
Your browser can't run 1.0 Java applets,
so here's a picture of the window the program brings up:</em>
<blockquote><IMG SRC="http://docs.rinet.ru/OLDui/figures/ui/13uigridbag27.gif" WIDTH="258" HEIGHT="149" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT=""></blockquote><hr>
</blockquote>
</applet>

<blockquote><hr><strong>Note:</strong> Because some old browsers don't support 1.1, the above applet is a <em>1.0</em> version (here is the <a href="http://docs.rinet.ru/OLDui/OLDui/layout/example/GridBagWindow.java">1.0 code</a>; here's the <a href="http://docs.rinet.ru/OLDui/OLDui/layout/example-1dot1/GridBagWindow.java">1.1 code</a>).  To run the <em>1.1</em> version of the applet, go to <a href="example-1dot1\gridbagwindow.html"><code>example-1dot1/GridBagWindow.html</code></a>. <hr></blockquote>
<p>

GridBagLayout is the most flexible -- and complex --
layout manager the AWT provides.
As the above applet shows,
a GridBagLayout places components 
in a grid of rows and columns,
allowing specified components
to span multiple rows or columns.
Not all rows necessarily have the same height.
Similarly, not all columns necessarily have the same width.
Essentially, GridBagLayout places components
in squares (cells) in a grid,
and then uses the components' preferred sizes
to determine how big the cells should be.

<blockquote><IMG SRC="http://docs.rinet.ru/OLDui/figures/ui/13uigridbagbig28.gif" WIDTH="294" HEIGHT="187" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT=""></blockquote>
If you enlarge the window (as shown above),
you'll notice that the last row
gets all the new vertical space,
and that the new horizontal space 
is split evenly among all the columns.
This resizing behavior is based on weights
the applet assigns to individual components in the GridBagLayout.
You'll also notice that each component
takes up as much space as it can.
This behavior is also specified by the applet.

<p>

The way the applet specifies
the size and position characteristics 
of its components
is by specifying <em>constraints</em> for each component,
To specify constraints,
you set instance variables in a GridBagConstraints object
and tell the GridBagLayout
(with the <code>setConstraints()</code> method)
to associate the constraints with the component.

<p>

The following pages explain the constraints you can set
and provide examples of setting them.


<h4>
<a href=gridbagconstraints.html>Specifying Constraints</a>
</h4>
<blockquote>
This page tells you what instance variables GridBagConstraints has,
what values you can set them to,
and how to associate the resulting GridBagConstraints with a Component.
</blockquote>

<h4>
<a href=gridbagexample.html>The Applet Example Explained</a>
</h4>
<blockquote>
This page puts it all together,
explaining the code for the applet on this page.
</blockquote>

<h4>
More GridBagLayout Examples
</h4>
<blockquote>
You can find more examples of using GridBagLayout 
throughout this tutorial.
Here are a few programs that use GridBagLayout:
<ul>
<li> <a href=http://docs.rinet.ru/OLDui/OLDui/components/example-1dot1/DialogWindow.java>DialogWindow.java</a>,
     for a dialog which you can bring up from the applet in
<a target="_top" href="..\components\dialog.html">How to Use Dialogs.</a><a target="_top" href="..\components\dialog.html"><img src="http://docs.rinet.ru/OLDui/images/uiIcon.gif" width=20 height=20 border=0 alt="(in the Creating a User Interface trail)"></a>
<li> <a href=http://docs.rinet.ru/OLDui/OLDui/components/example-1dot1/ListDemo.java>ListDemo.java</a>,
     which you can see running in
<a target="_top" href="..\components\list.html">How to Use Lists.</a><a target="_top" href="..\components\list.html"><img src="http://docs.rinet.ru/OLDui/images/uiIcon.gif" width=20 height=20 border=0 alt="(in the Creating a User Interface trail)"></a>
<li> <a href=http://docs.rinet.ru/OLDui/OLDui/components/example-1dot1/TextDemo.java>TextDemo.java</a>,
     which you can see running in
<a target="_top" href="..\components\text.html">How to Use TextAreas and TextFields.</a><a target="_top" href="..\components\text.html"><img src="http://docs.rinet.ru/OLDui/images/uiIcon.gif" width=20 height=20 border=0 alt="(in the Creating a User Interface trail)"></a>
<li> <a href=http://docs.rinet.ru/OLDui/OLDui/drawing/example-1dot1/CoordinatesDemo.java>CoordinatesDemo.java</a>
     and
     <a href=http://docs.rinet.ru/OLDui/OLDui/drawing/example-1dot1/RectangleDemo.java>RectangleDemo.java</a>,
     which you can see running in
<a target="_top" href="..\drawing\drawingshapes.html">Drawing Shapes.</a><a target="_top" href="..\drawing\drawingshapes.html"><img src="http://docs.rinet.ru/OLDui/images/uiIcon.gif" width=20 height=20 border=0 alt="(in the Creating a User Interface trail)"></a><li> <a href=http://docs.rinet.ru:8080/OLDui/applet/appletsonly/example-1dot1/ShowDocument.java>ShowDocument.java</a>,
     which you can see running in
<a target="_top" href="http://docs.rinet.ru:8080/OLDui/applet/appletsonly/browser.html">Displaying Documents in the Browser</a><a target="_top" href="http://docs.rinet.ru:8080/OLDui/applet/appletsonly/browser.html"><img src="http://docs.rinet.ru/OLDui/images/appletIcon.gif" width=20 height=20 border=0 alt="(in the Writing Applets trail)"></a>.
</ul>
</blockquote>

</blockquote>
<p>
<hr size=4>
<p> 
<table width="100%">
<tr>
<td align=left>
<a href="grid.html"><img src="http://docs.rinet.ru/OLDui/images/PreviousArrow.gif" width=26 height=26 align=top border=0 alt="Previous | "></a><a
href="gridbagconstraints.html"><img src="http://docs.rinet.ru/OLDui/images/NextArrow.gif" width=26 height=26 align=top border=0 alt="Next | "></a><a
href="http://docs.rinet.ru:8080/OLDui/trailmap.html"><img src="http://docs.rinet.ru/OLDui/images/WayUpArrow.gif" width=26 height=26 align=top border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/OLDui/images/uiHeader.gif" width=26 height=26 align=top border=0 alt="Creating a User Interface (AWT Only) | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Laying Out Components within a Container</em></strong></a>
</td>
</tr>
</table>
</body>
</html>
