










<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<!--NewPage-->
<html>
<head>
<title>How to Use GridBagLayout: The Applet Example Explained</title>
</head>
<body BGCOLOR="#ffffff">








<table width="100%">
<tr>
<td align=left>
<a href="gridbagconstraints.html"><img src="http://docs.rinet.ru/OLDui/images/PreviousArrow.gif" width=26 height=26 align=bottom border=0 alt="Previous | "></a><a
href="custom.html"><img src="http://docs.rinet.ru/OLDui/images/NextArrow.gif" width=26 height=26 align=bottom border=0 alt="Next | "></a><a
href="http://docs.rinet.ru:8080/OLDui/trailmap.html"><img src="http://docs.rinet.ru/OLDui/images/WayUpArrow.gif" width=26 height=26 align=bottom border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/OLDui/images/uiHeader.gif" width=26 height=26 align=bottom border=0 alt="Creating a User Interface (AWT Only) | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Laying Out Components within a Container</em></strong></a>
</td>
</tr>
</table>
<p>
<center>
<IMG SRC="http://docs.rinet.ru/OLDui/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
<IMG SRC="http://docs.rinet.ru/OLDui/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
</center>
<p> 

<h2>
    How to Use GridBagLayout: The Applet Example Explained
</h2>
<p>
<blockquote>

Here, again, is the applet that shows a GridBagLayout in action.

<p>

<applet code=AppletButton.class codebase=http://docs.rinet.ru:8080/OLDui/OLDui/layout/example width=350 height=60>
<param name=windowClass value=GridBagWindow>
<param name=windowTitle value="GridBagLayout">
<param name=buttonText value="Click here to see a GridBagLayout in action">
<blockquote>
<hr>
<em>
Your browser can't run 1.0 Java applets,
so here's a picture of the window the program brings up:</em>
<blockquote><IMG SRC="http://docs.rinet.ru/OLDui/figures/ui/13uigridbag27.gif" WIDTH="258" HEIGHT="149" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT=""></blockquote><hr>
</blockquote>
</applet>

<p>

Below is the code that creates the GridBagLayout
and the components it manages.
(Here's <a href=http://docs.rinet.ru/OLDui/OLDui/layout/example/GridBagWindow.java>the whole program</a>.
The program runs either within an applet,
with the help of <a href=http://docs.rinet.ru/OLDui/OLDui/layout/example/AppletButton.java>AppletButton</a>,
or as an application.)

<blockquote>
<pre>
protected void makebutton(String name,
                          GridBagLayout gridbag,
                          GridBagConstraints c) {
    Button button = new Button(name);
    gridbag.setConstraints(button, c);
    add(button);
}

public GridBagWindow() {
    GridBagLayout gridbag = new GridBagLayout();
    GridBagConstraints c = new GridBagConstraints();
 
    setFont(new Font("Helvetica", Font.PLAIN, 14));
    setLayout(gridbag);
   
    c.fill = GridBagConstraints.BOTH;
    c.weightx = 1.0;
    makebutton("Button1", gridbag, c);
    makebutton("Button2", gridbag, c);
    makebutton("Button3", gridbag, c);

    c.gridwidth = GridBagConstraints.REMAINDER; //end of row
    makebutton("Button4", gridbag, c);

    c.weightx = 0.0;                   //reset to the default
    makebutton("Button5", gridbag, c); //another row

    c.gridwidth = GridBagConstraints.RELATIVE; //next to last in row
    makebutton("Button6", gridbag, c);

    c.gridwidth = GridBagConstraints.REMAINDER; //end of row
    makebutton("Button7", gridbag, c);

    c.gridwidth = 1;                      //reset to the default
    c.gridheight = 2;
    c.weighty = 1.0;
    makebutton("Button8", gridbag, c);

    c.weighty = 0.0;                   //reset to the default
    c.gridwidth = GridBagConstraints.REMAINDER; //end of row
    c.gridheight = 1;                   //reset to the default
    makebutton("Button9", gridbag, c);
    makebutton("Button10", gridbag, c);
}
</pre>
</blockquote>

<p>

This example uses one GridBagConstraints instance
for all the components the GridBagLayout manages.
Just before each component is added to the container,
the code sets (or resets to default values)
the appropriate instance variables
in the GridBagConstraints object.
It then uses the <code>setConstraints()</code>
method to record all the constraint values for that component.

<p>

For example,
just before adding a component that ends a row,
you'll see the following code:

<blockquote>
<pre>
c.gridwidth = GridBagConstraints.REMAINDER; //end of row
</pre>
</blockquote>

And just before adding the next component
(if the next component doesn't take up a whole row),
you'll see the same instance variable reset to its default value:

<blockquote>
<pre>
c.gridwidth = 1;                      //reset to the default
</pre>
</blockquote>

For clarity, here's a table that shows all the constraints
for each component the GridBagLayout handles.
Values that aren't the default
are marked in <b>bold font</b>.
Values that are different from those in the previous table entry
are marked in <i>italic font</i>.

<pre>
Component                       Constraints
---------                       -----------
All components                  gridx = GridBagConstraints.RELATIVE
                                gridy = GridBagConstraints.RELATIVE
                                <b>fill = GridBagConstraints.BOTH</b>
                                ipadx = 0, ipady = 0
                                insets = new Insets(0,0,0,0)
                                anchor = GridBagConstraints.CENTER

Button1, Button2, Button3       gridwidth = 1
                                gridheight = 1
                                <b>weightx = 1.0</b>
                                weighty = 0.0

Button4                         <i><b>gridwidth = GridBagConstraints.REMAINDER</b></i>
                                gridheight = 1
                                <b>weightx = 1.0</b>
                                weighty = 0.0

Button5                         <b>gridwidth = GridBagConstraints.REMAINDER</b>
                                gridheight = 1
                                <i>weightx = 0.0</i>
                                weighty = 0.0

Button6                         <i><b>gridwidth = GridBagConstraints.RELATIVE</b></i>
                                gridheight = 1
                                weightx = 0.0
                                weighty = 0.0

Button7                         <i><b>gridwidth = GridBagConstraints.REMAINDER</b></i>
                                gridheight = 1
                                weightx = 0.0
                                weighty = 0.0

Button8                         <i>gridwidth = 1</i>
                                <i><b>gridheight = 2</b></i>
                                weightx = 0.0
                                <i><b>weighty = 1.0</b></i>

Button9, Button10               <i><b>gridwidth = GridBagConstraints.REMAINDER</b></i>
                                <i>gridheight = 1</i>
                                weightx = 0.0
                                <i>weighty = 0.0</i>
</pre>
<p>

All the components in this container 
are as large as possible,
given their row and column.
The program accomplishes 
this by setting the GridBagConstraints
<code>fill</code> instance variable to <code>GridBagConstraints.BOTH</code>,
leaving it at that setting for all the components.
If the program didn't specify the fill,
the buttons would be at their natural size, like this:
<blockquote><IMG SRC="http://docs.rinet.ru/OLDui/figures/ui/13uigridbagnofill29.gif" WIDTH="260" HEIGHT="151" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT=""></blockquote>

<p>

This program has four components 
that span multiple columns
(Button5, Button6, Button9, and Button10)
and one that spans multiple rows (Button8).
In only one of these cases (Button8)
is the height or width of the component
explicitly specified.
In all the other cases,
the width of the component is specified as either
<code>GridBagConstraints.RELATIVE</code> or
<code>GridBagConstraints.REMAINDER</code>,
which lets the GridBagLayout determine the component's size,
taking into account the size of other components in the row.

<p>

When you enlarge the window the program brings up,
you'll notice that the columns stay equal in width as they grow.
This is the result of 
each component in the first row 
(where each component is one column wide) 
having <code>weightx = 1.0</code>.
The actual value of these components' <code>weightx</code> is unimportant.
What matters is that all the components 
(and thus all the columns)
have an equal weight
that is greater than 0.
If no component managed by the GridBagLayout had <code>weightx</code> set, 
then when the components' container was made wider,
the components would stay clumped together in the center of the container,
like this:
<blockquote><IMG SRC="http://docs.rinet.ru/OLDui/figures/ui/13uigridbagnox30.gif" WIDTH="422" HEIGHT="178" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT=""></blockquote><p>

Another thing you'll notice as you enlarge the window
is that the last row is the only one that gets taller.
This is because only Button8 has <code>weighty</code>
greater than zero.
Button8 spans two rows,
and the GridBagLayout happens to allocate all Button8's
weight to the bottom-most row Button8 occupies.

</blockquote>
<p>
<hr size=4>
<p> 
<table width="100%">
<tr>
<td align=left>
<a href="gridbagconstraints.html"><img src="http://docs.rinet.ru/OLDui/images/PreviousArrow.gif" width=26 height=26 align=top border=0 alt="Previous | "></a><a
href="custom.html"><img src="http://docs.rinet.ru/OLDui/images/NextArrow.gif" width=26 height=26 align=top border=0 alt="Next | "></a><a
href="http://docs.rinet.ru:8080/OLDui/trailmap.html"><img src="http://docs.rinet.ru/OLDui/images/WayUpArrow.gif" width=26 height=26 align=top border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/OLDui/images/uiHeader.gif" width=26 height=26 align=top border=0 alt="Creating a User Interface (AWT Only) | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Laying Out Components within a Container</em></strong></a>
</td>
</tr>
</table>
</body>
</html>
