










<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<!--NewPage-->
<html>
<head>
<title>Laying Out Components within a Container</title>
</head>
<body BGCOLOR="#ffffff">








<table width="100%">
<tr>
<td align=left>
<a href="..\components\index.html"><img src="http://docs.rinet.ru/OLDui/images/PreviousArrow.gif" width=26 height=26 align=bottom border=0 alt="Previous | "></a><a
href="using.html"><img src="http://docs.rinet.ru/OLDui/images/NextArrow.gif" width=26 height=26 align=bottom border=0 alt="Next | "></a><a
href="http://docs.rinet.ru:8080/OLDui/trailmap.html"><img src="http://docs.rinet.ru/OLDui/images/WayUpArrow.gif" width=26 height=26 align=bottom border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/OLDui/images/uiHeader.gif" width=26 height=26 align=bottom border=0 alt="Creating a User Interface (AWT Only) | "></a>
</td>
<td align=right>
<a href="..\toc.html#layout"><strong><em>Contents</em></strong></a>
</td>
</tr>
</table>
<p>
<center>
<IMG SRC="http://docs.rinet.ru/OLDui/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
<IMG SRC="http://docs.rinet.ru/OLDui/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
</center>
<p>
<h1>
     Laying Out Components within a Container
</h1>
<p>
<blockquote>

<blockquote><IMG SRC="http://docs.rinet.ru/OLDui/figures/ui/13uigridlayout23.gif" WIDTH="309 " HEIGHT="98" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT=""></blockquote>
<blockquote><IMG SRC="http://docs.rinet.ru/OLDui/figures/ui/13uiflowlayout24.gif" WIDTH="410" HEIGHT="59" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT=""></blockquote>
Above are pictures of two programs,
each of which displays five buttons.
The Java code for both programs is almost identical.
So why do they look so different?
Because they use different <em>layout managers</em>
to control the layout of the buttons.

<p>

A layout manager is an object that 
controls the size and position of components in a container.
Layout managers adhere to the LayoutManager interface.
By default, every Container object has a LayoutManager object
that controls its layout.
For Panel objects, the default layout manager 
is an instance of the FlowLayout class.
For Window objects, the default layout manager
is an instance of the BorderLayout class.

<p>

This lesson tells you 
how to use the layout managers the AWT provides.
It also shows you how to write your own layout manager.
It even tells you how to do without a layout manager
by specifying components' absolute positions and sizes.
Finally, this lesson discusses some common layout problems
and their solutions.


<h4>
<a href=using.html>Using Layout Managers</a>
</h4>
<blockquote>
Here's where to learn how to use layout managers.
This section gives both general rules and
detailed instructions on using each of the layout managers the AWT provides.
</blockquote>

<h4>
<a href=custom.html>Creating a Custom Layout Manager</a>
</h4>
<blockquote>
Instead of using one of the AWT's layout managers,
you can write your own.
Layout managers must implement the LayoutManager interface,
which specifies the five methods every layout manager must define.
</blockquote>

<h4>
<a href=none.html>Doing Without a Layout Manager (Absolute Positioning)</a>
</h4>
<blockquote>
You can position components 
without using a layout manager.
Generally, this solution is used to specify absolute positions for components,
and only for applications that are executed on only one platform.
Absolute positioning is often <em>un</em>suitable
for applets and other platform-independent programs,
since the size of components can be different on different platforms.
</blockquote>

<h4>
<a href=problems.html>Common Layout Problems (and Their Solutions)</a>
</h4>
<blockquote>
Some of the most common layout problems 
are that components are displayed too small --
or not at all.
This section tells you how to fix these and
other common layout problems.
</blockquote>

</blockquote>
<p>
<hr size=4>
<p> 
<table width="100%">
<tr>
<td align=left>
<a href="..\components\index.html"><img src="http://docs.rinet.ru/OLDui/images/PreviousArrow.gif" width=26 height=26 align=top border=0 alt="Previous | "></a><a
href="using.html"><img src="http://docs.rinet.ru/OLDui/images/NextArrow.gif" width=26 height=26 align=top border=0 alt="Next | "></a><a
href="http://docs.rinet.ru:8080/OLDui/trailmap.html"><img src="http://docs.rinet.ru/OLDui/images/WayUpArrow.gif" width=26 height=26 align=top border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/OLDui/images/uiHeader.gif" width=26 height=26 align=top border=0 alt="Creating a User Interface (AWT Only) | "></a>
</td>
<td align=right>
<a href="..\toc.html#layout"><strong><em>Contents</em></strong></a>
</td>
</tr>
</table>
</body>
</html>
