










<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<!--NewPage-->
<html>
<head>
<title>Common Layout Problems (and Their Solutions)</title>
</head>
<body BGCOLOR="#ffffff">








<table width="100%">
<tr>
<td align=left>
<a href="none.html"><img src="http://docs.rinet.ru/OLDui/images/PreviousArrow.gif" width=26 height=26 align=bottom border=0 alt="Previous | "></a><a
href="..\drawing\index.html"><img src="http://docs.rinet.ru/OLDui/images/NextArrow.gif" width=26 height=26 align=bottom border=0 alt="Next | "></a><a
href="http://docs.rinet.ru:8080/OLDui/trailmap.html"><img src="http://docs.rinet.ru/OLDui/images/WayUpArrow.gif" width=26 height=26 align=bottom border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/OLDui/images/uiHeader.gif" width=26 height=26 align=bottom border=0 alt="Creating a User Interface (AWT Only) | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Laying Out Components within a Container</em></strong></a>
</td>
</tr>
</table>
<p>
<center>
<IMG SRC="http://docs.rinet.ru/OLDui/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
<IMG SRC="http://docs.rinet.ru/OLDui/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
</center>
<p> 

<h2>
    Common Layout Problems (and Their Solutions)
</h2>
<p>
<blockquote>

<strong>Problem:</strong>
How do I specify a component's exact size?
<ul>
<li>First, make sure that you really need to set the component's exact size.
    The standard components have different sizes,
    depending on the platform they're running on
    and the font they use,
    so it usually doesn't make sense
    to specify their exact size.
    <p>
    For custom components that have fixed-size contents (such as images),
    specifying the exact size makes sense.
    For custom components, 
    you need to override the Component
    <code>minimumSize()</code>
    and <code>preferredSize()</code> methods
    to return the correct size of the component.
    <p>
    To change the size of a component that's already been displayed,
    see the next problem.

<p>

<hr>
<strong>Note:</strong>
All component sizes are subject to layout manager approval.
The FlowLayout and GridBagLayout layout managers
use the component's natural size
(the latter depending on the constraints
that you set),
but BorderLayout and GridLayout usually don't.
Other options are writing or finding 
a custom layout manager
or using absolute positioning.
<hr>
</ul>

<strong>Problem:</strong>
How do I resize a component?
<ul>
<li>Once a component has been displayed,
    you can change its size using the Component <code>resize()</code> method.
    You then need to call the <code>validate()</code> method
    on the component's container 
    to make sure the container is laid out again.
</ul>

<strong>Problem:</strong>
My custom component is being sized too small.
<ul>
<li>Does the component implement the
    <code>preferredSize()</code> and <code>minimumSize()</code> methods?
    If so, do they return the right values?
<li>Are you using a layout manager
    that can use as much space as is available?
    See <a href=generalrules.html>General Rules for Using Layout Managers</a>
    for some tips on choosing a layout manager
    and specifying that it use the maximum available space
    for a particular component.
</ul>
<p>

If you don't see your problem in this list, see
<a target="_top" href="..\components\problems.html">Common Component Problems</a><a target="_top" href="..\components\problems.html"><img src="http://docs.rinet.ru/OLDui/images/uiIcon.gif" width=20 height=20 border=0 alt="(in the Creating a User Interface trail)"></a>.

</blockquote>
<p>
<hr size=4>
<p> 
<table width="100%">
<tr>
<td align=left>
<a href="none.html"><img src="http://docs.rinet.ru/OLDui/images/PreviousArrow.gif" width=26 height=26 align=top border=0 alt="Previous | "></a><a
href="..\drawing\index.html"><img src="http://docs.rinet.ru/OLDui/images/NextArrow.gif" width=26 height=26 align=top border=0 alt="Next | "></a><a
href="http://docs.rinet.ru:8080/OLDui/trailmap.html"><img src="http://docs.rinet.ru/OLDui/images/WayUpArrow.gif" width=26 height=26 align=top border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/OLDui/images/uiHeader.gif" width=26 height=26 align=top border=0 alt="Creating a User Interface (AWT Only) | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Laying Out Components within a Container</em></strong></a>
</td>
</tr>
</table>
</body>
</html>
