










<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<!--NewPage-->
<html>
<head>
<title>Using Layout Managers</title>
</head>
<body BGCOLOR="#ffffff">








<table width="100%">
<tr>
<td align=left>
<a href="index.html"><img src="http://docs.rinet.ru/OLDui/images/PreviousArrow.gif" width=26 height=26 align=bottom border=0 alt="Previous | "></a><a
href="generalrules.html"><img src="http://docs.rinet.ru/OLDui/images/NextArrow.gif" width=26 height=26 align=bottom border=0 alt="Next | "></a><a
href="http://docs.rinet.ru:8080/OLDui/trailmap.html"><img src="http://docs.rinet.ru/OLDui/images/WayUpArrow.gif" width=26 height=26 align=bottom border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/OLDui/images/uiHeader.gif" width=26 height=26 align=bottom border=0 alt="Creating a User Interface (AWT Only) | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Laying Out Components within a Container</em></strong></a>
</td>
</tr>
</table>
<p>
<center>
<IMG SRC="http://docs.rinet.ru/OLDui/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
<IMG SRC="http://docs.rinet.ru/OLDui/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
</center>
<p> 

<h2>
    Using Layout Managers
</h2>
<p>
<blockquote>

Every Container, by default, has a layout manager --
an object that implements the LayoutManager interface.
If a Container's default layout manager doesn't suit your needs,
you can easily replace it with another one.
The AWT supplies layout managers that range from the very simple
(<a href=#flow>FlowLayout</a> and
<a href=#grid>GridLayout</a>)
to the special purpose
(<a href=#border>BorderLayout</a> and
<a href=#card>CardLayout</a>)
to the ultra-flexible
(<a href=#gridbag>GridBagLayout</a>).
<p>

This lesson gives you some general rules for using layout managers,
gives you an overview of the layout managers the AWT provides, 
and then tells you how to use each of the AWT layout managers.
In these pages are applets illustrating layout management.
Each applet brings up a window
that you can resize to see how resizing affects the layout.

<h4>
<a href=generalrules.html>General Rules for Using Layout Managers</a>
</h4>
<blockquote>
This section answers some common questions about layout managers:
<ul>
<li> How do you choose a layout manager?
<li> How do you create a layout manager,
     associate it with a container,
     and tell it to start working?
<li> How does the layoout manager know what components it manages?
</ul>
</blockquote>

<h4>
<a name=border>
<a href=border.html>How to Use BorderLayout</a></a>
</h4>
<blockquote>
BorderLayout is the default layout manager for all Windows,
such as Frames and Dialogs.
It uses five areas to hold components:
north, south, east, west, and center.
All extra space is placed in the center area.
Here's an applet that puts one button in each area.
<p>
<applet code=AppletButton.class codebase=http://docs.rinet.ru:8080/OLDui/OLDui/layout/example width=350 height=60>
<param name=windowClass value=BorderWindow>
<param name=windowTitle value="BorderLayout">
<param name=buttonText value="Click here to see a BorderLayout in action">
<blockquote>
<hr>
<em>
Your browser can't run 1.0 Java applets,
so here's a picture of the window the program brings up:</em>
<blockquote><IMG SRC="http://docs.rinet.ru/OLDui/figures/ui/13uiborder25.gif" WIDTH="304" HEIGHT="117" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT=""></blockquote><hr>
</blockquote>
</applet>
</blockquote>

<h4>
<a name=card>
<a href=card.html>How to Use CardLayout</a></a>
</h4>
<blockquote>
Use the CardLayout class when you have an area
that can contain different components at different times.
CardLayouts are often controlled by Choices,
with the state of the Choice determining
which Panel (group of components)
the CardLayout displays.
Here's an applet that uses a Choice 
and CardLayout in this way.
<p>

<applet code=AppletButton.class codebase=http://docs.rinet.ru:8080/OLDui/OLDui/layout/example width=350 height=60>
<param name=windowClass value=CardWindow>
<param name=windowTitle value="CardLayout">
<param name=buttonText value="Click here to see a CardLayout in action">
<blockquote>
<hr>
<em>
Your browser can't run 1.0 Java applets,
so here are pictures of the window the program brings up:</em>
<blockquote><IMG SRC="http://docs.rinet.ru/OLDui/figures/ui/13uicard26.gif" WIDTH="428" HEIGHT="98" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT=""></blockquote>
<hr>
</blockquote>
</applet>
</blockquote>

<h4>
<a name=flow>
<a href=flow.html>How to Use FlowLayout</a></a>
</h4>
<blockquote>
FlowLayout is the default layout manager for all Panels.
It simply lays out components 
from left to right,
starting new rows if necessary.
Both Panels in the CardLayout figure <a href=#card>above</a> use FlowLayouts.
Here's another example of an applet that uses a FlowLayout.
<p>

<applet code=AppletButton.class codebase=http://docs.rinet.ru:8080/OLDui/OLDui/layout/example width=350 height=60>
<param name=windowClass value=FlowWindow>
<param name=windowTitle value="FlowLayout">
<param name=buttonText value="Click here to see a FlowLayout in action">
<blockquote>
<hr>
<em>
Your browser can't run 1.0 Java applets,
so here's a picture of the window the program brings up:</em>
<blockquote><IMG SRC="http://docs.rinet.ru/OLDui/figures/ui/13uiflowlayout24.gif" WIDTH="410" HEIGHT="59" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT=""></blockquote><hr>
</blockquote>
</applet>
</blockquote>

<h4>
<a name=grid>
<a href=grid.html>How to Use GridLayout</a></a>
</h4>
<blockquote>
GridLayouts simply make a bunch of Components have equal size,
displaying them in the requested number of rows and columns.
Here's an applet that uses a GridLayout
to control the display of five buttons.  
<p>
<applet code=AppletButton.class codebase=http://docs.rinet.ru:8080/OLDui/OLDui/layout/example width=350 height=60>
<param name=windowClass value=GridWindow>
<param name=windowTitle value="GridLayout">
<param name=buttonText value="Click here to see a GridLayout in action">

<blockquote>
<hr>
<em>
Your browser can't run 1.0 Java applets,
so here's a picture of the window the program brings up:</em>
<blockquote><IMG SRC="http://docs.rinet.ru/OLDui/figures/ui/13uigridlayout23.gif" WIDTH="309" HEIGHT="98" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT=""></blockquote><hr>
</blockquote>
</applet>
</blockquote>

<h4>
<a name=gridbag>
<a href=gridbag.html>How to Use GridBagLayout</a></a>
</h4>
<blockquote>
GridBagLayout is the most sophisticated, flexible layout manager
the AWT provides.
It aligns components by placing them within a grid of cells,
allowing some components to span more than one cell.
The rows in the grid aren't necessarily all the same height;
similarly, grid columns can have different widths.
Here's an applet that uses a GridBagLayout
to manage ten buttons in a panel.
<p>
<applet code=AppletButton.class codebase=http://docs.rinet.ru:8080/OLDui/OLDui/layout/example width=350 height=60>
<param name=windowClass value=GridBagWindow>
<param name=windowTitle value="GridBagLayout">
<param name=buttonText value="Click here to see a GridBagLayout in action">

<blockquote>
<hr>
<em>
Your browser can't run 1.0 Java applets,
so here's a picture of the window the program brings up:</em>
<blockquote><IMG SRC="http://docs.rinet.ru/OLDui/figures/ui/13uigridbag27.gif" WIDTH="258" HEIGHT="149" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT=""></blockquote><hr>
</blockquote>
</applet>
</blockquote>

</blockquote>
<p>
<hr size=4>
<p> 
<table width="100%">
<tr>
<td align=left>
<a href="index.html"><img src="http://docs.rinet.ru/OLDui/images/PreviousArrow.gif" width=26 height=26 align=top border=0 alt="Previous | "></a><a
href="generalrules.html"><img src="http://docs.rinet.ru/OLDui/images/NextArrow.gif" width=26 height=26 align=top border=0 alt="Next | "></a><a
href="http://docs.rinet.ru:8080/OLDui/trailmap.html"><img src="http://docs.rinet.ru/OLDui/images/WayUpArrow.gif" width=26 height=26 align=top border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/OLDui/images/uiHeader.gif" width=26 height=26 align=top border=0 alt="Creating a User Interface (AWT Only) | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Laying Out Components within a Container</em></strong></a>
</td>
</tr>
</table>
</body>
</html>
