<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/j2ee/dtds/web-app_2_3.dtd">

<web-app>

  <context-param>
    <param-name>FILENAME</param-name>
    <param-value>directory.db</param-value>
  </context-param>

  <context-param>
    <param-name>FILENAME_TWO</param-name>
    <param-value>directory2.db</param-value>
  </context-param>


  <listener>
    <listener-class>
      com.wrox.projsp.ch16.CounterListenerExample
    </listener-class>
  </listener>

  <listener>
    <listener-class>
      com.wrox.projsp.ch16.CounterListenerExample2
    </listener-class>
  </listener>

  <listener>
    <listener-class>
      com.wrox.projsp.ch16.FirstListenerExample
    </listener-class>
  </listener>

  <listener>
    <listener-class>
      com.wrox.projsp.ch16.SecondListenerExample
    </listener-class>
  </listener>


  <session-config>
    <session-timeout>
      1
    </session-timeout>
  </session-config>

</web-app>
