<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/j2ee/dtds/web-app_2_3.dtd">

<web-app>
  <context-param>
    <param-name>thisIsMyThirdParam</param-name>
    <param-value>3</param-value>
  </context-param>
  <context-param>
    <param-name>thisIsMyFourthParam</param-name>
    <param-value>4</param-value>
  </context-param>

  <servlet>
    <servlet-name>
      Time2
    </servlet-name>
    <servlet-class>
      com.wrox.projsp.ch03.time.controller.TimeServlet2
    </servlet-class>

    <init-param>
      <param-name>thisIsMyFirstparam</param-name>
      <param-value>1</param-value>
    </init-param>
    <init-param>
      <param-name>thisIsMySecondparam</param-name>
      <param-value>2</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>
      Time3
    </servlet-name>
    <servlet-class>
      com.wrox.projsp.ch03.time.controller.TimeServlet3
    </servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Time3</servlet-name>
    <url-pattern>/Time</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Time3</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>

</web-app>
