    .sidebar {
      font-family : Tahoma, Arial, Helvetica, sans-serif;
      font-size : 11px;
      background-color : navy;
      color : white;
    }
    .title {
      font-family : Tahoma, Arial, Helvetica, sans-serif;
      font-size : 20px;
      font-weight : bold;
    }
    .quote {
      font-family : Arial, Helvetica, sans-serif;
      font-size : 14px;
    }
    .normal {
      font-family : Tahoma;
      font-size : 16px;
    }
    .catalog_table {
      background-color : black;
    }
    .catalog_header {
      background-color : navy;
      color : white;
      font-size : 14px;
    }
    .catalog_items {
      background-color : white;
      color : black;
      font-size : 12px;
      text-align : center;
    }
