<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/j2ee/dtds/web-app_2_3.dtd">

<web-app>

  <filter>
    <filter-name>Wrox VisAudit Filter</filter-name>
    <filter-class>com.wrox.projsp.ch15.filters.VisAuditFilter</filter-class>
  </filter>

  <filter>
    <filter-name>Wrox Stop Games Filter</filter-name>
    <filter-class>com.wrox.projsp.ch15.filters.StopGamesFilter</filter-class>
    <init-param>
      <param-name>starthour</param-name>
      <param-value>8</param-value>
    </init-param>
    <init-param>
      <param-name>stophour</param-name>
      <param-value>10</param-value>
    </init-param>
  </filter>

  <filter>
    <filter-name>Wrox Legacy Adapter Filter</filter-name>
    <filter-class>com.wrox.projsp.ch15.filters.LegacyAdapterFilter</filter-class>
  </filter>

  <filter>
    <filter-name>Wrox AdHoc Authentication Filter</filter-name>
    <filter-class>com.wrox.projsp.ch15.filters.AdHocAuthenticateFilter</filter-class>
    <init-param>
      <param-name>adhocpassword</param-name>
      <param-value>bestofbreed</param-value>
    </init-param>
  </filter>

  <filter>
    <filter-name>Wrox Encrypt Compress Filter</filter-name>
    <filter-class>com.wrox.projsp.ch15.filters.KryptPressFilter</filter-class>
  </filter>

  <filter>
    <filter-name>Wrox XSLT Transform Filter</filter-name>
    <filter-class>com.wrox.projsp.ch15.filters.XSLTFilter</filter-class>
    <init-param>
      <param-name>xsltfile</param-name>
      <param-value>/xslt/cust.xsl</param-value>
    </init-param>
  </filter>

<!--
  <filter-mapping>
    <filter-name>Wrox AdHoc Authentication Filter</filter-name>
    <url-pattern>/jsp/*</url-pattern>
  </filter-mapping>
-->

<!--
  <filter-mapping>
    <filter-name>Wrox Legacy Adapter Filter</filter-name>
    <url-pattern>/jsp/FindProd.jsp</url-pattern>
  </filter-mapping> 
-->

<!--
  <filter-mapping>
    <filter-name>Wrox Encrypt Compress Filter</filter-name>
    <url-pattern>/servlet/*</url-pattern>
  </filter-mapping>
-->

<!--
  <filter-mapping>
    <filter-name>Wrox Legacy Adapter Filter</filter-name>
    <url-pattern>/servlet/*</url-pattern>
  </filter-mapping> 
-->

  <filter-mapping>
    <filter-name>Wrox VisAudit Filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

<!--
  <filter-mapping>
    <filter-name>Wrox Stop Games Filter</filter-name>
    <url-pattern>/games/*</url-pattern>
  </filter-mapping>
-->

<!--
  <filter-mapping>
    <filter-name>Wrox XSLT Transform Filter</filter-name>
    <url-pattern>/jsp/* </url-pattern>
  </filter-mapping>
-->

  <servlet>
    <servlet-name> findprod</servlet-name>
    <servlet-class>FindProd</servlet-class>
  </servlet>

</web-app>
