<html>
<body>










<img src="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/images/dukeWaveRed.gif" wdith="64" height="64">
This is an uneditable <code>JEditorPane</code>,
which has been initialized with HTML text from a URL.
As you can see,
an editor pane can handle images
and styled text:
<em>italic</em>,
<strong>bold</strong>,
<font size=-2">small</font>, and
<font size=+2">large</font>.
<p>
An editor pane uses specialized editor kits
to read, write, display, and edit text of
different formats.
The Swing text package includes editor kits
for plain text, HTML, and a custom text format.
You can also develop 
custom editor kits for other formats.
</body>
</html>
