




















<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<!--NewPage-->
<html>
<head>
<title>How to Make Applets</title>
</head>
<body BGCOLOR="#ffffff">










<table width="100%">
<tr>
<td align=left>
<a href="dialog.html"><img src="http://docs.rinet.ru/Jtuta/images/PreviousArrow.gif" width=26 height=26 align=bottom border=0 alt="Previous | "></a><a
href="intermediate.html"><img src="http://docs.rinet.ru/Jtuta/images/NextArrow.gif" width=26 height=26 align=bottom border=0 alt="Next | "></a><a
href="..\..\trailmap.html"><img src="http://docs.rinet.ru/Jtuta/images/WayUpArrow.gif" width=26 height=26 align=bottom border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/Jtuta/images/uiHeader.gif" width=26 height=26 align=bottom border=0 alt="Creating a GUI with JFC/Swing | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Swing Components</em></strong></a>
</td>
</tr>
</table>
<p>
<center>
<IMG SRC="http://docs.rinet.ru/Jtuta/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
<IMG SRC="http://docs.rinet.ru/Jtuta/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
</center>
<p> 

<h2>
    How to Make Applets
</h2>
<p>
<blockquote>

This page will cover the use of
<a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JApplet.html"><code>JApplet</code></a><a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JApplet.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a>.
For now, we provide a list of applet examples:

<ul>
<li>
<a target="_top" href="..\start\swingapplet.html">Running a Swing Applet</a><a target="_top" href="..\start\swingapplet.html"><img src="http://docs.rinet.ru/Jtuta/images/uiIcon.gif" width=20 height=20 border=0 alt="(in the Creating a User Interface trail)"></a>     shows you
     how to run Swing applets, specifically the
     <a href="http://docs.rinet.ru/Jtuta/uiswing/start/example-swing/HelloSwingApplet.java">
     <code>HelloSwingApplet.java</code></a> and
     <a href="http://docs.rinet.ru/Jtuta/uiswing/start/example-swing/AppletDemo.java">
     <code>AppletDemo.java</code></a> applets.
     The AppletDemo program is an applet version of the
     <a href="button.html">button</a> demo program.

<li> <a href="http://docs.rinet.ru/Jtuta/uiswing/misc/example-swing/IconDemoApplet.java">
     <code>IconDemoApplet.java</code></a>,
     pictured below,
     is featured in
<a target="_top" href="..\misc\icon.html">How to Use Icons</a><a target="_top" href="..\misc\icon.html"><img src="http://docs.rinet.ru/Jtuta/images/uiIcon.gif" width=20 height=20 border=0 alt="(in the Creating a User Interface trail)"></a>     .

<blockquote><IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/components/IconDemoApplet.gif" WIDTH="410" HEIGHT="441" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT=""></blockquote>
</ul>

<h4>
<a name="api">The Applet API</a>
</h4>
<blockquote>
[PENDING: Put tables here]
</blockquote>

</blockquote>
<p>
<hr size=4>
<p> 
<table width="100%">
<tr>
<td align=left>
<a href="dialog.html"><img src="http://docs.rinet.ru/Jtuta/images/PreviousArrow.gif" width=26 height=26 align=top border=0 alt="Previous | "></a><a
href="intermediate.html"><img src="http://docs.rinet.ru/Jtuta/images/NextArrow.gif" width=26 height=26 align=top border=0 alt="Next | "></a><a
href="..\..\trailmap.html"><img src="http://docs.rinet.ru/Jtuta/images/WayUpArrow.gif" width=26 height=26 align=top border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/Jtuta/images/uiHeader.gif" width=26 height=26 align=top border=0 alt="Creating a GUI with JFC/Swing | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Swing Components</em></strong></a>
</td>
</tr>
</table>
</body>
</html>
