




















<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<!--NewPage-->
<html>
<head>
<title>How to Use Buttons, Check Boxes, and Radio Buttons</title>
</head>
<body BGCOLOR="#ffffff">










<table width="100%">
<tr>
<td align=left>
<a href="widgets.html"><img src="http://docs.rinet.ru/Jtuta/images/PreviousArrow.gif" width=26 height=26 align=bottom border=0 alt="Previous | "></a><a
href="colorchooser.html"><img src="http://docs.rinet.ru/Jtuta/images/NextArrow.gif" width=26 height=26 align=bottom border=0 alt="Next | "></a><a
href="..\..\trailmap.html"><img src="http://docs.rinet.ru/Jtuta/images/WayUpArrow.gif" width=26 height=26 align=bottom border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/Jtuta/images/uiHeader.gif" width=26 height=26 align=bottom border=0 alt="Creating a GUI with JFC/Swing | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Swing Components</em></strong></a>
</td>
</tr>
</table>
<p>
<center>
<IMG SRC="http://docs.rinet.ru/Jtuta/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
<IMG SRC="http://docs.rinet.ru/Jtuta/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
</center>
<p> 

<h2>
    How to Use Buttons, Check Boxes, and Radio Buttons
</h2>
<p>
<blockquote>

To create a button,
you can instantiate one of the many subclasses of the
<a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/AbstractButton.html"><code>AbstractButton</code></a><a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/AbstractButton.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a> class.
First, this section explains the basic button API
that <code>AbstractButton</code> defines --
and thus all Swing buttons have in common.
Because the <code>JButton</code> subclass of <code>AbstractButton</code>
defines little additional public API,
this section uses it to show how buttons work.
Finally, this section shows you how to use
check boxes and radio buttons--specialized buttons
that inherit from <code>AbstractButton</code>.

<p>

The following table shows the Swing-defined
<code>AbstractButton</code> subclasses
that you might want to use:

<p>

<table border=1>
<tr>
<th>Class<th>Summary<th>Where Described

<tr>
<td>
<a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JButton.html"><code>JButton</code></a><a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JButton.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a><td> A common button.
<td> This section.

<tr>
<td>
<a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JCheckBox.html"><code>JCheckBox</code></a><a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JCheckBox.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a><td> A typical check box.
<td> <a href="#checkbox">How to Use Check Boxes</a>

<tr>
<td>
<a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JRadioButton.html"><code>JRadioButton</code></a><a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JRadioButton.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a><td> One of a group of radio buttons.
<td> <a href="#radiobutton">How to Use Radio Buttons</a>

<tr>
<td>
<a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JMenuItem.html"><code>JMenuItem</code></a><a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JMenuItem.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a><td> An item in a menu.
<td> <a href="menu.html">How to Use Menus</a>

<tr>
<td>
<a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JToggleButton.html"><code>JToggleButton</code></a><a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JToggleButton.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a><td> Implements toggle functionality
     inherited by 
     <code>JCheckBox</code> and 
     <code>JRadioButton</code>.
<td> Used to implement the crayon buttons in
     <a href="colorchooser.html">How to Use Color Choosers</a>,
     the <strong>cm</strong> button in
     <a href="scrollpane.html">How to Use Scroll Panes</a>, and
     <a href="http://docs.rinet.ru/Jtuta/together/bingo/example-swing/bingo/player/NumberButton.java"><code>NumberButton</code></a>
     in the 
<a target="_top" href="..\..\together\bingo\index.html">Bingo game</a><a target="_top" href="..\..\together\bingo\index.html"><img src="http://docs.rinet.ru/Jtuta/images/jdk1_1.gif" width=20 height=20 border=0 alt="(in Putting It Together trail)"></a>.

</table>

<blockquote>
<hr>
<strong>
Note:
</strong>
If you want to collect a group of buttons into a row or column,
then you should check out
<a href="toolbar.html">tool bars</a>.
<hr>
</blockquote>

<p>

Here is a picture of an application that displays three buttons:

<blockquote><IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/components/ButtonDemo.gif" WIDTH="531" HEIGHT="89" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT=""></blockquote>
<blockquote>
<hr>
<strong>Try this:</strong>
<ol>
<li> Compile and run the application.
     The source file is
     <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/ButtonDemo.java"><code>ButtonDemo.java</code></a>.
     <br>
     See <a href="..\start\index.html">Getting Started with Swing</a> if you need help.

<li> Click the left button.
     <br>
     It disables the middle button
     (and itself, since it's no longer useful)
     and enables the right button.
<li> Click the right button.
     <br>
     It enables the middle button
     and the left button,
     and disables itself.
</ol>
<hr>
</blockquote>

<p>


<p>

As the <code>ButtonDemo</code> example shows,
a Swing button can display both text and an image.
In <code>ButtonDemo</code>,
each button has its text in a different place,
relative to its image.
The underlined letter in each button's text
shows the <em>mnemonic</em> -- the keyboard alternative --
for each button.

<p>

When a button is disabled,
the look-and-feel automatically generates
the button's disabled appearance.
However, you could provide an image to be substituted for the normal image.
For example, you could provide 
gray versions of the images used in the left and right buttons.

<p>

How you implement event handling 
depends on the type of button you use 
and how you use it.
Generally, you implement an 
<a target="_top" href="..\events\actionlistener.html">action listener</a><a target="_top" href="..\events\actionlistener.html"><img src="http://docs.rinet.ru/Jtuta/images/uiIcon.gif" width=20 height=20 border=0 alt="(in the Creating a User Interface trail)"></a>,
which is notified every time the user clicks the button.
For <a href="#checkbox">check boxes</a>
you usually use an
<a target="_top" href="..\events\itemlistener.html">item listener</a><a target="_top" href="..\events\itemlistener.html"><img src="http://docs.rinet.ru/Jtuta/images/uiIcon.gif" width=20 height=20 border=0 alt="(in the Creating a User Interface trail)"></a>,
which is notified when the check box is selected or deselected.

<p>

Below is the code from 
<a href=http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/ButtonDemo.java><code>ButtonDemo.java</code></a>
that creates the buttons in the previous example
and reacts to button clicks.
The bold code is the code
that would remain if the buttons had no images.

<p>

<blockquote>
<pre>
<em>//In initialization code:</em>
    ImageIcon leftButtonIcon = new ImageIcon("images/right.gif");
    ImageIcon middleButtonIcon = new ImageIcon("images/middle.gif");
    ImageIcon rightButtonIcon = new ImageIcon("images/left.gif");

    <b>b1 = new JButton("Disable middle button"</b>, leftButtonIcon<b>);</b>
    b1.setVerticalTextPosition(AbstractButton.CENTER);
    b1.setHorizontalTextPosition(AbstractButton.LEFT);
    <b>b1.setMnemonic('d');</b>
    <b>b1.setActionCommand("disable");</b>

    <b>b2 = new JButton("Middle button"</b>, middleButtonIcon<b>);</b>
    b2.setVerticalTextPosition(AbstractButton.BOTTOM);
    b2.setHorizontalTextPosition(AbstractButton.CENTER);
    <b>b2.setMnemonic('m');</b>

    <b>b3 = new JButton("Enable middle button"</b>, rightButtonIcon<b>);</b>
    //Use the default text position of CENTER, RIGHT.
    <b>b3.setMnemonic('e');
    b3.setActionCommand("enable");
    b3.setEnabled(false);</b>

    //Listen for actions on buttons 1 and 3.
    <b>b1.addActionListener(this);
    b3.addActionListener(this);</b>
    . . .
}

<b>public void actionPerformed(java.awt.event.ActionEvent e) {
    if (e.getActionCommand().equals("disable")) {
        b2.setEnabled(false);
        b1.setEnabled(false);
        b3.setEnabled(true);
    } else { 
        b2.setEnabled(true);
        b1.setEnabled(true);
        b3.setEnabled(false);
    }
}</b>
</pre>
</blockquote>

<a name="checkbox">
<h4>How to Use Check Boxes</h4>
</a>
<blockquote>
The Swing release supports check box buttons with the
<a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JCheckBox.html"><code>JCheckBox</code></a><a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JCheckBox.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a> class.
Swing also supports check boxes in <a href="menu.html">menus</a>,
using the 
<a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JCheckBoxMenuItem.html"><code>JCheckBoxMenuItem</code></a><a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JCheckBoxMenuItem.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a> class.
Because 
<code>JCheckBox</code> 
and 
<code>JCheckBoxMenuItem</code> 
inherit from <code>AbstractButton</code>,
Swing check boxes have all the usual button characteristics,
as discussed earlier in this section.
For example, you can specify images
to be used in check boxes.

<p>

Check boxes are similar to <a href="#radiobutton">radio buttons</a>,
but their selection model is different, by convention.
Any number of check boxes in a group
-- none, some, or all --
can be selected.
A group of radio buttons, on the other hand, 
can have only one button selected.

<p>

Here is a picture of an application that uses four check boxes
to customize a cartoon:

<blockquote><IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/components/CheckBoxDemo.gif" WIDTH="215" HEIGHT="165" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT="NOT a tutorial reader!"></blockquote>
<p>

<blockquote>
<hr>
<strong>Try this:</strong>
<ol>
<li> Compile and run the application.
     The source file is
     <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/CheckBoxDemo.java"><code>CheckBoxDemo.java</code></a>.
     You will also need the 16 image files in the
     <code>example-swing/images</code>
     directory that begin with "<code>geek</code>".
     To get the image files, you can
     <a href="..\..\information\download.html#swingarchive">download</a>
     the swing lesson.
     <br>
     See <a href="..\start\index.html">Getting Started with Swing</a> if you need help.

<li> Click the Chin button or press Alt-c.
     <br>
     The Chin check box becomes unselected,
     and the chin disappears from the picture.
     The other check boxes remain selected.
     This application has one item listener
     that listens to all the check boxes.
     Each time the item listener receives an event,
     the application loads a new picture that reflects
     the current state of the check boxes.
</ol>
<hr>
</blockquote>

<p>

A check box generates one item event and one action event
per click.
Usually, you listen only for item events,
since they let you determine
whether the click selected or deselected the check box.
Below is the code from 
<a href=http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/CheckBoxDemo.java><code>CheckBoxDemo.java</code></a>
that creates the check boxes in the previous example
and reacts to clicks.

<blockquote>
<pre>
<em>//In initialization code:</em>
    chinButton = new JCheckBox("Chin");
    chinButton.setMnemonic('c'); 
    chinButton.setSelected(true);

    glassesButton = new JCheckBox("Glasses");
    glassesButton.setMnemonic('g'); 
    glassesButton.setSelected(true);

    hairButton = new JCheckBox("Hair");
    hairButton.setMnemonic('h'); 
    hairButton.setSelected(true);

    teethButton = new JCheckBox("Teeth");
    teethButton.setMnemonic('t'); 
    teethButton.setSelected(true);

    // Register a listener for the check boxes.
    CheckBoxListener myListener = new CheckBoxListener();
    chinButton.addItemListener(myListener);
    glassesButton.addItemListener(myListener);
    hairButton.addItemListener(myListener);
    teethButton.addItemListener(myListener);
...
class CheckBoxListener implements ItemListener {
    public void itemStateChanged(ItemEvent e) {
        ...
	Object source = e.getItemSelectable();

        if (source == chinButton) {
            <em>//...make a note of it...</em>
        } else if (source == glassesButton) {
            <em>//...make a note of it...</em>
        } else if (source == hairButton) {
            <em>//...make a note of it...</em>
        } else if (source == teethButton) {
            <em>//...make a note of it...</em>
        }

        if (e.getStateChange() == ItemEvent.DESELECTED)
            <em>//...make a note of it...</em>
        picture.setIcon(<em>/* new icon */</em>);
        ...
    }
}
</pre>
</blockquote>
</blockquote>

<a name="radiobutton">
<h4>How to Use Radio Buttons</h4>
</a>
<blockquote>
Radio buttons are groups of buttons
in which,
by convention,
only one button at a time can be selected.
The Swing release supports radio buttons with the
<a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JRadioButton.html"><code>JRadioButton</code></a><a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JRadioButton.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a> and
<a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/ButtonGroup.html"><code>ButtonGroup</code></a><a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/ButtonGroup.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a> classes.
To put a radio button in a 
<a href="menu.html">menu</a>, use the
<a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JRadioButtonMenuItem.html"><code>JRadioButtonMenuItem</code></a><a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JRadioButtonMenuItem.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a> class.
Other ways of displaying one-of-many choices are 
<a href="combobox.html">combo boxes</a> and
<a href="list.html">lists</a>.
Radio buttons look similar to
<a href="#checkbox">check boxes</a>,
but, by convention,
check boxes place no limits on how many items
can be selected at a time.

<p>

Because <code>JRadioButton</code> inherits from <code>AbstractButton</code>,
Swing radio buttons have all the usual button characteristics,
as discussed earlier in this section.
For example, 
you can specify the image displayed in a radio button.
<p>

Here is a picture of an application that uses five radio buttons
to let you choose which kind of pet is displayed:

<blockquote><IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/components/RadioButtonDemo.gif" WIDTH="300" HEIGHT="191" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT=""></blockquote>
<p>

<blockquote>
<hr>
<strong>Try this:</strong>
<ol>
<li> Compile and run the application.
     The source file is
     <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/RadioButtonDemo.java"><code>RadioButtonDemo.java</code></a>.
     You will also need 5 image files:
     <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/images/Bird.gif"><code>Bird.gif</code></a>,
     <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/images/Cat.gif"><code>Cat.gif</code></a>,
     <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/images/Dog.gif"><code>Dog.gif</code></a>,
     <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/images/Rabbit.gif"><code>Rabbit.gif</code></a>, and
     <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/images/Pig.gif"><code>Pig.gif</code></a>.
     <br>
     See <a href="..\start\index.html">Getting Started with Swing</a> if you need help.

<li> Click the Dog button or press Alt-d.
     <br>
     The Dog button becomes selected,
     which makes the Bird button become unselected.
     The picture switches from a bird to a dog.
     This application has one action listener 
     that listens to all the radio buttons.
     Each time the action listener receives an event,
     the application displays the picture
     for the radio button
     that was just clicked.
     
</ol>
<hr>
</blockquote>

<p>

Each time the user clicks a radio button
(even if it was already selected),
the button fires an
<a target="_top" href="..\events\actionlistener.html">action event </a><a target="_top" href="..\events\actionlistener.html"><img src="http://docs.rinet.ru/Jtuta/images/uiIcon.gif" width=20 height=20 border=0 alt="(in the Creating a User Interface trail)"></a>.
One or two 
<a target="_top" href="..\events\itemlistener.html">item events</a><a target="_top" href="..\events\itemlistener.html"><img src="http://docs.rinet.ru/Jtuta/images/uiIcon.gif" width=20 height=20 border=0 alt="(in the Creating a User Interface trail)"></a> also occur --
one from the button that was just selected,
and another from the button that lost the selection (if any).
Usually, you handle radio button clicks using an action listener.

<p>

Below is the code from 
<a href=http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/RadioButtonDemo.java><code>RadioButtonDemo.java</code></a>
that creates the radio buttons in the previous example
and reacts to clicks.

<blockquote>
<pre>
<em>//In initialization code:</em>
    // Create the radio buttons.
    JRadioButton birdButton = new JRadioButton(birdString);
    birdButton.setMnemonic('b');
    birdButton.setActionCommand(birdString);
    birdButton.setSelected(true);

    JRadioButton catButton = new JRadioButton(catString);
    catButton.setMnemonic('c');
    catButton.setActionCommand(catString);

    JRadioButton dogButton = new JRadioButton(dogString);
    dogButton.setMnemonic('d');
    dogButton.setActionCommand(dogString);

    JRadioButton rabbitButton = new JRadioButton(rabbitString);
    rabbitButton.setMnemonic('r');
    rabbitButton.setActionCommand(rabbitString);

    JRadioButton pigButton = new JRadioButton(pigString);
    pigButton.setMnemonic('t');
    pigButton.setActionCommand(pigString);

    // Group the radio buttons.
    ButtonGroup group = new ButtonGroup();
    group.add(birdButton);
    group.add(catButton);
    group.add(dogButton);
    group.add(rabbitButton);
    group.add(pigButton);

    // Register a listener for the radio buttons.
    RadioListener myListener = new RadioListener();
    birdButton.addActionListener(myListener);
    catButton.addActionListener(myListener);
    dogButton.addActionListener(myListener);
    rabbitButton.addActionListener(myListener);
    pigButton.addActionListener(myListener);
...
class RadioListener implements ActionListener ... {
    public void actionPerformed(ActionEvent e) {
        picture.setIcon(new ImageIcon("images/" 
                                      + e.getActionCommand() 
				      + ".gif"));
    }
}
</pre>
</blockquote>

<p>

For each group of radio buttons,
you need to create a <code>ButtonGroup</code> instance
and add each radio button to it.
The <code>ButtonGroup</code>
takes care of unselecting the previous selection
when the user selects another button in the group.

<p>

You should generally initialize a group of radio buttons
so that one is selected.
However, the API doesn't enforce this rule --
a group of radio buttons can have no initial selection.
Once the user makes a selection, 
there's currently no way to make all the radio buttons 
be unselected again.
[PENDING: Some people have requested API 
that lets them unselect all radio buttons programmatically.
We'll update this section if that API appears.]
</blockquote>

<h4>
<a name="api">The Button API</a>
</h4>
<blockquote>

The following tables list the commonly used
<code>AbstractButton</code> methods,
<code>JButton</code>, <code>JCheckBox</code>,
and <code>JRadioButton</code> constructors,
and <code>ButtonGroup</code> constructors and methods.
You can see most of this API in action
by playing with the Buttons, Radio Buttons,
and Check Boxes panes
in the <code>SwingSet</code> example
that's part of the Swing release.
See the release's top-level <code>README.txt</code>
for help finding and using <code>SwingSet</code>.

<p>

The API for using buttons falls into these categories:

<ul>
<li><a href="#contents">Setting or Getting the Button's Contents</a>
<li><a href="#looks">Fine Tuning the Button's Appearance</a>
<li><a href="#acts">Implementing the Button's Functionality</a>
<li><a href="#checkboxapi">Check Box Constructors</a>
<li><a href="#buttongroup">Commonly Used <code>ButtonGroup</code> Constructors/Methods</a>
<li><a href="#radiobuttonapi">Radio Button Constructors</a>

</ul>

<p>

<table border=1>
<caption><a name="contents">Setting or Getting the Button's Contents</a></caption>
<tr>
<th>Method or Constructor
<th>Purpose

<tr>
<td><font size=2><code>JButton(String, Icon)
    <br>
    JButton(String)
    <br>
    JButton(Icon)
    <br>
    JButton()</code></font>
<td>Create a <code>JButton</code> instance,
    initializing it to have the specified text/image.

<tr>
<td><font size=2><code>void setText(String)
    <br>
    String getText()</code></font>
<td>Set or get the text displayed by the button.

<tr>
<td><font size=2><code>void setIcon(Icon)
    <br>
    Icon getIcon()</code></font>
<td>Set or get the image displayed by the button
    when the button isn't selected or pressed.

<tr>
<td><font size=2><code>void setDisabledIcon(Icon)
    <br>
    Icon getDisabledIcon()</code></font>
<td>Set or get the image displayed by the button
    when it's disabled.
    If you don't specify a disabled image,
    then the look-and-feel creates one
    by manipulating the default image.

<tr>
<td><font size=2><code>void setPressedIcon(Icon)
    <br>
    Icon getPressedIcon()</code></font>
<td>Set or get the image displayed by the button
    when it's being pressed.

<tr>
<td><font size=2><code>void setSelectedIcon(Icon)
    <br>
    Icon getSelectedIcon()
    <br>
    void setDisabledSelectedIcon(Icon)
    <br>
    Icon getDisabledSelectedIcon()</code></font>
<td>Set or get the image displayed by the button
    when it's selected.
    If you don't specify a disabled selected image,
    then the look-and-feel creates one
    by manipulating the selected 
    image.

<tr>
<td><font size=2><code>
    setRolloverEnabled(boolean)
    <br>
    boolean getRolloverEnabled()
    <br>
    void setRolloverIcon(Icon)
    <br>
    Icon getRolloverIcon()
    <br>
    void setRolloverSelectedIcon(Icon)
    <br>
    Icon getRolloverSelectedIcon()</code></font>
<td>Use <code>setRolloverEnabled(true)</code> and
    <code>setRolloverIcon(someIcon)</code>
    to make the button display the specified icon
    when the cursor passes over it.

</table>

<p>

<table border=1>
<caption><a name="looks">Fine Tuning the Button's Appearance</a></caption>
<tr>
<th>Method or Constructor
<th>Purpose

<tr>
<td><font size=2><code>void setHorizontalAlignment(int)
    <br>
    void setVerticalAlignment(int)
    <br>
    int getHorizontalAlignment()
    <br>
    int getVerticalAlignment()</code></font>
<td>Set or get where in the button its contents should be placed.
    The <code>AbstractButton</code> class allows 
    any one of the following values
    for horizontal alignment:
    <code>LEFT</code>, 
    <code>CENTER</code> (the default), and
    <code>RIGHT</code>.
    For vertical alignment:
    <code>TOP</code>, 
    <code>CENTER</code> (the default), and
    <code>BOTTOM</code>.

<tr>
<td><font size=2><code>void setHorizontalTextPosition(int)
    <br>
    void setVerticalTextPosition(int)
    <br>
    int getHorizontalTextPosition()
    <br>
    int getVerticalTextPosition()
    </code></font>
<td>Set or get where the button's text should be placed,
    relative to the button's image.
    The <code>AbstractButton</code> class allows 
    any one of the following values
    for horizontal position:
    <code>LEFT</code>, 
    <code>CENTER</code>, and
    <code>RIGHT</code> (the default).
    For vertical position:
    <code>TOP</code>, 
    <code>CENTER</code> (the default), and
    <code>BOTTOM</code>.

<tr>
<td><font size=2><code>void setMargin(Insets)
    <br>
    Insets getMargin()</code></font>
<td>Set or get the number of pixels between 
    the button's border and its contents.

<tr>
<td><font size=2><code>void setFocusPainted(boolean)
    <br>
    boolean isFocusPainted()</code></font>
<td>Set or get whether the button
    should look different when it has the focus.

<tr>
<td><font size=2><code>void setBorderPainted(boolean)
    <br>
    boolean isBorderPainted()</code></font>
<td>Set or get whether the border of the button
    should be painted.

</table>

<p>

<table border=1>
<caption><a name="acts">Implementing the Button's Functionality</a></caption>
<tr>
<th>Method or Constructor
<th>Purpose

<tr>
<td><font size=2><code>void setMnemonic(char)
    <br>
    char getMnemonic()</code></font>
<td>Set or get the keyboard alternative to clicking the button.<br>
    <strong>Note:</strong>
    In Swing 1.0.2, buttons ignore their
    mnemonics (key accelerators).
    This bug is fixed in Swing 1.0.3.

<tr>
<td><font size=2><code>void setActionCommand(String)
    <br>
    String getActionCommand(void)</code></font>
<td>Set or get the name of the action performed by the button.

<tr>
<td><font size=2><code>void addActionListener(ActionListener)
    <br>
    ActionListener removeActionListener()</code></font>
<td>Add or remove an object that listens for action events
    fired by the button.

<tr>
<td><font size=2><code>void addItemListener(ItemListener)
    <br>
    ItemListener removeItemListener()</code></font>
<td>Add or remove an object that listens for item events
    fired by the button.

<tr>
<td><font size=2><code>void setSelected(boolean)
    <br>
    boolean isSelected()</code></font>
<td>Set or get whether the button is selected.
    Makes sense only for buttons that have on/off state,
    such as check boxes.


<tr>
<td><font size=2><code>void doClick()
    <br>
    void doClick(int)</code></font>
<td>Programmatically perform a "click".
    The optional argument specifies the amount of time
    (in milliseconds)
    that the button should look pressed.

</table>

<p>

<table border=1>
<caption><a name="checkboxapi">Check Box Constructors</a></caption>
<tr>
<th>Constructor
<th>Purpose

<tr>
<td><font size=2><code>
    JCheckBox(String)
    <br>
    JCheckBox(String, boolean)
    <br>
    JCheckBox(Icon)
    <br>
    JCheckBox(Icon, boolean)
    <br>
    JCheckBox(String, Icon)
    <br>
    JCheckBox(String, Icon, boolean)
    <br>
    JCheckBox()</code></font>

<td>Create a <code>JCheckBox</code> instance.
    The string argument specifies the text,
    if any, that the check box should display.
    Similarly, the <code>Icon</code> argument
    specifies the image that should be used
    instead of the look-and-feel's default check box image.
    Specifying the boolean argument as <code>true</code>
    initializes the check box to be selected.
    If the boolean argument is absent or <code>false</code>,
    then the check box is initially unselected.

<tr>
<td><font size=2><code>
    JCheckBoxMenuItem(String)
    <br>
    JCheckBoxMenuItem(String, boolean)
    <br>
    JCheckBoxMenuItem(Icon)
    <br>
    JCheckBoxMenuItem(String, Icon)
    <br>
    JCheckBoxMenuItem(String, Icon, boolean)
    <br>
    JCheckBoxMenuItem()</code></font>

<td>Create a <code>JCheckBoxMenuItem</code> instance.
    The arguments are interpreted in the same way as the arguments
    to the <code>JCheckBox</code> constructors.
</table>

<p>
<table border=1>
<caption><a name="buttongroup">Commonly Used <code>ButtonGroup</code> Constructors/Methods</a></caption>
<tr>
<th>Constructor or Method
<th>Purpose

<tr>
<td><font size=2><code>ButtonGroup()</code></font>
<td>Creates a <code>ButtonGroup</code> instance.

<tr>
<td><font size=2><code>void add(AbstractButton)
    <br>
    void remove(AbstractButton)</code></font>
<td>Adds a button to the group,
    or removes a button from the group.


</table>

<p>

<table border=1>
<caption><a name="radiobuttonapi">Radio Button Constructors</a></caption>
<tr>
<th>Constructor
<th>Purpose

<tr>
<td><font size=2><code>
    JRadioButton(String)
    <br>
    JRadioButton(String, boolean)
    <br>
    JRadioButton(Icon)
    <br>
    JRadioButton(Icon, boolean)
    <br>
    JRadioButton(String, Icon)
    <br>
    JRadioButton(String, Icon, boolean)
    <br>
    JRadioButton()</code></font>

<td>Creates a <code>JRadioButton</code> instance.
    The string argument specifies the text,
    if any, that the radio button should display.
    Similarly, the <code>Icon</code> argument
    specifies the image that should be used
    instead of the look-and-feel's default radio button image.
    Specifying the boolean argument as <code>true</code>
    initializes the radio button to be selected,
    subject to the approval of the <code>ButtonGroup</code> object.
    If the boolean argument is absent or <code>false</code>,
    then the radio button is initially unselected.

<tr>
<td><font size=2><code>
    JRadioButtonMenuItem(String)
    <br>
    JRadioButtonMenuItem(Icon)
    <br>
    JRadioButtonMenuItem(String, Icon)
    <br>
    JRadioButtonMenuItem()</code></font>

<td>Creates a <code>JRadioButtonMenuItem</code> instance.
    The arguments are interpreted in the same way as the arguments
    to the <code>JRadioButton</code> constructors.
</table>


</blockquote>

<h4>
<a name="eg">Examples that Use Buttons, Check Boxes, and Radio Buttons</a>
</h4>
<blockquote>

The following examples use <code>JButton</code>,
<code>JCheckBox</code>, or <code>JRadioButton</code> objects
either as buttons or as menu items.
For examples of using <code>MenuItem</code> objects
see the section for
<a href="menu.html">menus</a>.
Also see the <a href="toolbar.html">tool bar</a> section,
which describes adding <code>JButton</code> objects
to a <code>JToolBar</code>.

<p>

<table>
<tr>
<th align=left> Example
<th align=left> Where Described
<th align=left> Notes

<tr>
<td> <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/ButtonDemo.java"><code>ButtonDemo.java</code></a>
<td> This page.
<td> Uses mnemonics and icons.  Specifies the button text position,
     relative to the button icon.
     Uses action commands.

<tr>
<td> <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/AppletDemo.java"><code>AppletDemo.java</code></a>
<td> <a href="..\start\swingapplet.html">Running a Swing Applet</a>
<td> The same example as on this page,
     but implemented as an applet.

<tr>
<td> <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/ListDialog.java"><code>ListDialog.java</code></a>
<td> <a href="..\layout\box.html">How to Use BoxLayout</a>
<td> Implements a dialog with two buttons,
     one of which is the default button.
     [PENDING: should mention getRootPane().setDefaultButton(aButton)
     somewhere on this page.]

<tr>
<td> <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/DialogDemo.java"><code>DialogDemo.java</code></a>
<td> <a href="dialog.html">How to Make Dialogs</a>
<td> Has "Show it" buttons
     whose behavior is tied to the state
     of radio buttons.
     Uses sizable, though anonymous, inner classes
     to implement the action listeners.
     
<tr>
<td> <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/ProgressBarDemo.java"><code>ProgressBarDemo.java</code></a>
<td> <a href="progress.html">How to Monitor Progress</a>
<td> Implements the action listener with a named inner class.

<tr>
<td> <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/CheckBoxDemo.java"><code>CheckBoxDemo.java</code></a>
<td> This page.
<td> Uses check box buttons 
     to determine which of 16 images it should display.

<tr>
<td> <a href="http://docs.rinet.ru/Jtuta/uiswing/misc/example-swing/ActionDemo.java"><code>ActionDemo.java</code></a>
<td> <a href="..\misc\action.html">How to Use Actions</a>
<td> Uses check box menu items 
     to set the state of the program.

<tr>
<td> <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/RadioButtonDemo.java"><code>RadioButtonDemo.java</code></a>
<td> This page.
<td> Uses radio buttons 
     to determine which of five images it should display.

<tr>
<td> <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/DialogDemo.java"><code>DialogDemo.java</code></a>
<td> <a href="dialog.html">How to Make Dialogs</a>
<td> Contains several sets of radio buttons,
     which it uses to determine which dialog to bring up.

<tr>
<td> <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/MenuDemo.java"><code>MenuDemo.java</code></a>
<td> <a href="menu.html">How to Use Menus</a>
<td> Contains radio button menu items.
</table>

</blockquote>

</blockquote>
<p>
<hr size=4>
<p> 
<table width="100%">
<tr>
<td align=left>
<a href="widgets.html"><img src="http://docs.rinet.ru/Jtuta/images/PreviousArrow.gif" width=26 height=26 align=top border=0 alt="Previous | "></a><a
href="colorchooser.html"><img src="http://docs.rinet.ru/Jtuta/images/NextArrow.gif" width=26 height=26 align=top border=0 alt="Next | "></a><a
href="..\..\trailmap.html"><img src="http://docs.rinet.ru/Jtuta/images/WayUpArrow.gif" width=26 height=26 align=top border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/Jtuta/images/uiHeader.gif" width=26 height=26 align=top border=0 alt="Creating a GUI with JFC/Swing | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Swing Components</em></strong></a>
</td>
</tr>
</table>
</body>
</html>
