




















<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<!--NewPage-->
<html>
<head>
<title>How to Use Combo Boxes</title>
</head>
<body BGCOLOR="#ffffff">










<table width="100%">
<tr>
<td align=left>
<a href="colorchooser.html"><img src="http://docs.rinet.ru/Jtuta/images/PreviousArrow.gif" width=26 height=26 align=bottom border=0 alt="Previous | "></a><a
href="filechooser.html"><img src="http://docs.rinet.ru/Jtuta/images/NextArrow.gif" width=26 height=26 align=bottom border=0 alt="Next | "></a><a
href="..\..\trailmap.html"><img src="http://docs.rinet.ru/Jtuta/images/WayUpArrow.gif" width=26 height=26 align=bottom border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/Jtuta/images/uiHeader.gif" width=26 height=26 align=bottom border=0 alt="Creating a GUI with JFC/Swing | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Swing Components</em></strong></a>
</td>
</tr>
</table>
<p>
<center>
<IMG SRC="http://docs.rinet.ru/Jtuta/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
<IMG SRC="http://docs.rinet.ru/Jtuta/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
</center>
<p> 

<h2>
    How to Use Combo Boxes
</h2>
<p>
<blockquote>

A 
<a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JComboBox.html"><code>JComboBox</code></a><a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JComboBox.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a> comes in two forms: uneditable and editable.
An uneditable combo box is surprisingly different
from an editable one and should be considered separately.

<p>
A uneditable combo box is simply a popup menu:
It allows the user to select a value from a menu of choices.
Use an uneditable combo box instead of a group of
<a href="button.html#radiobutton">radio buttons</a>
or a <a href="list.html">list</a>
to display one-of-many choices
when space is limited,
when the number of choices is large,
or when the menu items are computed at run-time.

<p>
An editable <code>JComboBox</code>
 is a combination
<a href="button.html">button</a>,
<a href="menu.html">popup menu</a>, and
<a href="textfield.html">text field</a>.
The user can type in a value or choose the value from a menu.
An editable combo box saves data-entry time by
providing short-cuts to commonly entered values.
See <a href="#editable">Using an Editable Combo Box</a>
for an example.

<p>
Here's a picture of an application that uses an uneditable
combo box to let the user choose a pet picture from a popup menu:

<p>
<blockquote>
<table width="550" cellpadding=5>

<tr>
<td>
<IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/components/ComboBoxDemo.gif" WIDTH="228" HEIGHT="225" ALT="">
<td>
<hr>
<strong>Try this:</strong>
<ol>
<li> Compile and run the program:
     <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/ComboBoxDemo.java"><code>ComboBoxDemo.java</code></a>.
     You will also need 5 image files: 
     <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/images/Bird.gif"><code>Bird.gif</code></a>,
     <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/images/Cat.gif"><code>Cat.gif</code></a>,
     <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/images/Dog.gif"><code>Dog.gif</code></a>,
     <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/images/Rabbit.gif"><code>Rabbit.gif</code></a>, and
     <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/images/Pig.gif"><code>Pig.gif</code></a>.
<li> Choose a pet from the combo box to view its picture.
<li> <a href="button.html#radiobutton">How to Use Radio Buttons</a>
     provides a version of this program,
     <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/RadioButtonDemo.java"><code>RadioButtonDemo.java</code></a>,
     that uses a group of radio buttons
     instead of a combo box.
     Compile and run that program.
     Compare the source code, operation, and UI of the two programs.
</ol>
<hr>
</table>
</blockquote>

Below is the code from
<a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/ComboBoxDemo.java">ComboBoxDemo.java</a>
that creates and sets up the combo box:
<blockquote>
<pre>
...
//<em>in the ComboBoxDemo constructor</em>
String[] petStrings = { "Bird", "Cat", "Dog", "Rabbit", "Pig" };

// Create the combo box, select the pig
JComboBox petList = new JComboBox(petStrings);
petList.setSelectedIndex(4);
petList.addActionListener(this);
...
add(petList, BorderLayout.NORTH);
</pre>
</blockquote>
By default, a combo box is uneditable.
The example doesn't call <code>setEditable</code> to change it,
so the combo box created by this example is an uneditable combo box
(basically a popup menu).
<p>
The code uses the <code>JComboBox</code> constructor that
takes an array of objects.
The objects used by this example are strings.
However, the values can be any <code>Object</code>,
in which case the <code>Object</code>'s <code>toString</code>
method provides the text to display.
To put an image or other non-text value in the combo box's menu,
you must provide a custom cell renderer with <code>setRenderer</code>.
<p>
A combo box uses a model object, specifically a
<a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/ComboBoxModel.html"><code>ComboBoxModel</code></a><a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/ComboBoxModel.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a>, to contain and manage the items in its menu.
You can provide a combo box model object when you create
a combo box, in which case the combo box initializes
its menu from the items in the model, or you can provide
it later with <code>setModel</code>.
If you don't explicitly use a model,
the combo box creates one implicitly and you can access
it with <code>getModel</code>.
<p>
The code calls <code>setSelectedIndex</code>
on the combo box to select the pig.
Without this line of code the first item in the menu,
<strong>Bird</strong>, would be selected at startup.
Note that indices begin at 0.
<p>
The code also registers an action listener with the combo box.
The listener's <code>actionPerformed</code> method is as follows:
<blockquote>
<pre>
public void actionPerformed(ActionEvent e) {
    JComboBox cb = (JComboBox)e.getSource();
    String petName = (String)cb.getSelectedItem();
    picture.setIcon(new ImageIcon("images/" + petName + ".gif"));
}
</pre>
</blockquote>
The method calls <code>getSelectedItem</code>
to get the name of the pet chosen by the user,
computes the path to the image,
and loads the picture.

<p>
<blockquote>
<hr>
<strong>Warning</strong>:
A combo box is a compound component: it consists
of a button, a popup menu, and when editable, a text field.
The combo box fires high-level events such as action events.
Its subcomponents fire low-level events such as mouse,
key, and focus events.
Typically, for compound components such as the combo box,
you should provide listeners for high-level events
because the low-level events and the subcomponent that fires
them are system-dependent.
For information about events, including a discussion about
high- and low-level events, refer to:

<a target="_top" href="..\events\index.html">Writing Event Listeners</a><a target="_top" href="..\events\index.html"><img src="http://docs.rinet.ru/Jtuta/images/uiIcon.gif" width=20 height=20 border=0 alt="(in the Creating a User Interface trail)"></a>.
<hr>
</blockquote>

<a name="editable">
<h4>Using an Editable Combo Box</h4>
</a>
<blockquote>
Here's a picture of a demo application that
uses an editable combo box to enter a pattern
with which to format dates.

<p>
<blockquote>
<table width="550" cellpadding=5>

<tr>
<td>
<IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/components/ComboBoxDemo2.gif" WIDTH="279" HEIGHT="163" ALT="">
<td>
<hr>
<strong>Try this:</strong>
<ol>
<li> Compile and run the example:
     <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/ComboBoxDemo2.java"><code>ComboBoxDemo2.java</code></a>.
<li> Enter a new pattern by choosing one from the combo box's popup menu.
     The program reformats the current date and time.
<li> Enter a new pattern by typing one in and pressing Return.
     Again the program reformats the current date and time.
</ol>
<hr>
</table>
</blockquote>
<p>

Below is the code from 
<a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/ComboBoxDemo2.java"><code>ComboBoxDemo2.java</code></a>
that creates and sets up the combo box:
<blockquote>
<pre>
String[] patternExamples = {
	 "dd MMMMM yyyy",
	 "dd.MM.yy",
	 "MM/dd/yy",
	 "yyyy.MM.dd G 'at' hh:mm:ss z",
	 "EEE, MMM d, ''yy",
	 "h:mm a",
	 "H:mm:ss:SSS",
	 "K:mm a,z",
	 "yyyy.MMMMM.dd GGG hh:mm aaa"
};
. . .
JComboBox patternList = new JComboBox(patternExamples);
<strong>patternList.setEditable(true);</strong>
patternList.addActionListener(this);
. . .
</pre>
</blockquote>
This code is very similar to the previous example, but warrants
a few words of explanation.
The bold line of code explicitly turns on editing
to allow the user to type values in.
This is necessary because, by default, a combo box is not editable.
This particular example allows editing on the combo box because
its menu does not provide all possible date formatting patterns.
<p>
The action listener for an editable combo box is called when
the user chooses an item from the menu and when the user
types Return in the text field.

</blockquote>

<h4>
<a name="api">The Combo Box API</a>
</h4>
<blockquote>
The following tables list the commonly used
<code>JComboBox</code> constructors and methods.
Other methods you're likely to call
are defined by the
<a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JComponent.html"><code>JComponent</code></a><a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JComponent.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a> and
<a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.Component.html"><code>Component</code></a><a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.Component.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a> classes
and include
[PENDING: anything in particular for JComboBox?].
[Link to JComponent and Component discussions.]

<p>

The API for using combo boxes falls into two categories:

<ul>
<li><a href="#list">Setting or Getting the Items in the Combo Boxes's Popup Menu</a>
<li><a href="#configuring">Customizing the Combo Box's Operation</a>
</ul>

<p>

<table border=1>
<caption><a name="list">Setting or Getting the Items in the Combo Boxes's Popup Menu</a></caption>

<tr>
<th>Method
<th>Purpose

<tr>
<td><font size=2><code>JComboBox()
    <br>
    JComboBox(ComboBoxModel)
    <br>
    JComboBox(Object[])
    <br>
    JComboBox(Vector)
    </code></font>
<td>Create a combo box with the specified items in the popup menu.
    A combo box created with the default constructor has no
    items in the popup menu initially.
    Each of the other constructors initializes the popup menu
    from its argument: a model object,
    an array of objects, or a <code>Vector</code> of objects.

<tr>
<td><font size=2><code>void addItem(Object)
    <br>
    void insertItemAt(Object, int)
    </code></font>
<td>Add or insert the specified object into the popup menu.

<tr>
<td><font size=2><code>
    Object getItemAt(int)
    <br>
    Object getSelectedItem()
    </code></font>
<td>Get an item from the popup menu.

<tr>
<td><font size=2><code>
    void removeAllItems()
    <br>
    void removeItemAt(int)
    <br>
    void removeItem(Object)
    </code></font>
<td>Remove one or more items from the popup menu.

<tr>
<td><font size=2><code>int getItemCount()</code></font>
<td>Get the number of items in the popup menu.

<tr>
<td><font size=2><code>void setModel(ComboBoxModel)
    <br>
    ComboBoxModel getModel()
    </code></font>
<td>Set or get the data model that provides the items in the popup menu.

</table>

<p>

<table border=1>
<caption><a name="configuring">Customizing the Combo Box's Operation</a></caption>

<tr>
<th>Method
<th>Purpose

<tr>
<td><font size=2><code>void addActionListener(ActionListener)</code></font>
<td>Add an action listener to the combo box.
    The listener's <code>actionPerformed</code> method is called
    when the user selects an item from the combo box's menu
    or, in an editable combo box, when the user presses Return.

<tr>
<td><font size=2><code>void setEditable(boolean)
    <br>
    boolean isEditable()
    </code></font>
<td>Set or get whether the user can type in the combo box.

<tr>
<td><font size=2><code>void setRenderer(ListCellRenderer)
    <br>
    ListCellRenderer getRenderer()
    </code></font>
<td>Set or get the object responsible for painting
    the selected item in the combo box.
    The renderer is used only when the combo box is uneditable.
    If the combo box is editable, the editor is used to paint
    the selected item instead.

<tr>
<td><font size=2><code>void setEditor(ComboBoxEditor)
    <br>
    ComboBoxEditor getEditor()
    </code></font>
<td>Set or get the object responsible for painting and editing
    the selected item in the combo box.
    The editor is used only when the combo box is editable.
    If the combo box is uneditable, the renderer is used to paint
    the selected item instead.
</table>

</blockquote>

<h4>
<a name="eg">Examples that Use Combo Boxes</a>
</h4>
<blockquote>
This table shows the examples that use <code>JComboBox</code>
and where those examples are described.
<p>
<table>
<tr>
<th align=left> Example
<th align=left> Where Described
<th align=left> Notes

<tr>
<td> <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/ComboBoxDemo.java">ComboBoxDemo.java</a>
<td> This page.
<td> An uneditable combo box.

<tr>
<td> <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/ComboBoxDemo2.java">ComboBoxDemo2.java</a>
<td> This page.
<td> An editable combo box.

<tr>
<td><a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/TableRenderDemo.java">TableRenderDemo.java</a>
<td><a href="table.html#custom">How to Use Tables</a>
<td>Shows how to use a combo box as a table cell editor.
</table>

</blockquote>


</blockquote>
<p>
<hr size=4>
<p> 
<table width="100%">
<tr>
<td align=left>
<a href="colorchooser.html"><img src="http://docs.rinet.ru/Jtuta/images/PreviousArrow.gif" width=26 height=26 align=top border=0 alt="Previous | "></a><a
href="filechooser.html"><img src="http://docs.rinet.ru/Jtuta/images/NextArrow.gif" width=26 height=26 align=top border=0 alt="Next | "></a><a
href="..\..\trailmap.html"><img src="http://docs.rinet.ru/Jtuta/images/WayUpArrow.gif" width=26 height=26 align=top border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/Jtuta/images/uiHeader.gif" width=26 height=26 align=top border=0 alt="Creating a GUI with JFC/Swing | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Swing Components</em></strong></a>
</td>
</tr>
</table>
</body>
</html>
