




















<body bgcolor="#ffffff">












<h4>
<a name="window">
Top-Level Containers
</a>
</h4>
<table border="0">
    <tr align="CENTER" valign="BOTTOM"> 
	<td>[PENDING: JApplet pic]
        <td>
<IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/components/cg-optionpane.gif" WIDTH="137" HEIGHT="97" ALT=""></td>
	<td>[PENDING: JFrame pic]
    </tr>

    <tr align="CENTER" valign="BOTTOM"> 
        <td><a target="_top" href="applet.html">Applet</a></td>
        <td><a target="_top" href="dialog.html">Dialog</a></td>
        <td><a target="_top" href="frame.html">Frame</a></td>
    </tr>
</table>

<p>

<br>
<h4>
<a name="generalcontainer">
General-Purpose Containers
</a>
</h4>
<table border="0">
    <tr align="CENTER" valign="BOTTOM"> 
	<td>[PENDING: JPanel pic]
        <td>
<IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/components/cg-scrollpane.gif" WIDTH="143" HEIGHT="97" ALT="JScrollPane image"></td>
        <td>
<IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/components/cg-splitpane.gif" WIDTH="140" HEIGHT="101" ALT="JSplitPane image"></td>
    </tr>
    <tr align="CENTER" valign="BOTTOM"> 
        <td><a target="_top" href="panel.html">Panel</a></td>
        <td><a target="_top" href="scrollpane.html">Scroll pane</a></td>
        <td><a target="_top" href="splitpane.html">Split pane</a></td>
    </tr>
    <tr align="CENTER" valign="BOTTOM"> 
        <td>
<IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/components/cg-tabbedpane.gif" WIDTH="134" HEIGHT="100" ALT="JTabbedPane image">
</td>
    </tr>

    <tr align="CENTER" valign="BOTTOM"> 
        <td><a target="_top" href="tabbedpane.html">Tabbed pane</a></td>
    </tr>
</table>

<br>
<h4>
<a name="specialcontainer">
Special-Purpose Containers
</a>
</h4>
<table border="0">
    <tr align="CENTER" valign="BOTTOM"> 
	<td>[PENDING: JInternalFrame pic]
	<td>[PENDING: JLayeredPane pic]
    </tr>

    <tr align="CENTER" valign="BOTTOM"> 
        <td><a target="_top" href="internalframe.html">Internal frame</a></td>
        <td><a target="_top" href="layeredpane.html">Layered pane</a></td>
    </tr>
    <tr align="CENTER" valign="BOTTOM"> 
	<td>[PENDING: JRootPane pic]
        <td>
<IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/components/cg-toolbar.gif" WIDTH="138" HEIGHT="42" ALT="JToolBar image">
</td>
    <tr align="CENTER" valign="BOTTOM"> 
        <td><a target="_top" href="rootpane.html">Root pane</a></td>
        <td><a target="_top" href="toolbar.html">Tool bar</a></td>
    </tr>
</table>

<br>
<h4>
<a name="basic">
Basic Controls
</a>
</h4>

<table border="0">
    <tr align="CENTER" valign="BOTTOM"> 
        <td>
<IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/components/cg-buttons.gif" WIDTH="131" HEIGHT="113" ALT="JButton image">
</td>
        <td>
<IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/components/cg-combobox.gif" WIDTH="138" HEIGHT="110" ALT="JComboBox image"></td>
        <td>
<IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/components/cg-list.gif" WIDTH="109" HEIGHT="79" ALT="JList image"></td>
    </tr>

    <tr align="CENTER" valign="BOTTOM"> 
        <td><a target="_top" href="button.html">Buttons</a></td>
        <td><a target="_top" href="combobox.html">Combo box</a></td>
        <td><a target="_top" href="list.html">List</a></td>

    <tr align="CENTER" valign="BOTTOM"> 
        <td>
<IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/components/cg-menu.gif" WIDTH="132" HEIGHT="80" ALT="JMenu image"></td>
        <td>
<IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/components/cg-slider.gif" WIDTH="100" HEIGHT="53" ALT="JSlider image"></td>
        <td>
<IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/components/cg-textfield.gif" WIDTH="124" HEIGHT="100" ALT="JTextField image">
</td>
    </tr>
    <tr align="CENTER" valign="BOTTOM"> 
        <td><a target="_top" href="menu.html">Menu</a></td>
        <td><a target="_top" href="slider.html">Slider</a></td>
        <td>
<a target="_top" href="textfield.html">Text fields</a>
    </tr>
</table>

<br>
<h4>
<a name="display">
Uneditable Information Displays
</a>
</h4>
<table border="0">
    <tr align="CENTER" valign="BOTTOM"> 
        <td>
<IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/components/cg-label.gif" WIDTH="139" HEIGHT="91" ALT="JLabel image"></td>
        <td>
<IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/components/cg-progressbar.gif" WIDTH="121" HEIGHT="24" ALT="JProgressBar image"></td>
        <td align="CENTER" valign="BOTTOM">
<IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/components/cg-tooltip.gif" WIDTH="75" HEIGHT="100" ALT="JToolTip image">
</td>
    </tr>
    <tr align="CENTER" valign="BOTTOM"> 
        <td><a target="_top" href="label.html">Label</a></td>
        <td><a target="_top" href="progress.html">Progress bar</a></td>
        <td><a target="_top" href="tooltip.html">Tool tip</a></td>
    </tr>
</table>


<br>
<h4>
<a name="complex">
Editable Displays of Formatted Information
</a>
</h4>
<table border="0">
    <tr align="CENTER" valign="BOTTOM">
	<td>[PENDING: color chooser pic goes here]
	<td>[PENDING: file chooser pic goes here]
        <td>
<IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/components/cg-table.gif" WIDTH="132" HEIGHT="94" ALT="JTable image"></td>
    </tr>
    <tr align="CENTER" valign="BOTTOM"> 
        <td><a target="_top" href="colorchooser.html">Color chooser</a></td>
        <td><a target="_top" href="filechooser.html">File chooser</a></td>
        <td><a target="_top" href="table.html">Table</a></td>
    </tr>
    <tr align="CENTER" valign="BOTTOM"> 
        <td>
<IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/components/cg-textarea.gif" WIDTH="143" HEIGHT="96" ALT="JTextArea image"></td>
        <td>
<IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/components/cg-tree.gif" WIDTH="133" HEIGHT="88" ALT="JTree image"></td>
    </tr>
    <tr align="CENTER" valign="BOTTOM"> 
        <td><a target="_top" href="text.html">Text</a>
        <td><a target="_top" href="tree.html">Tree</a></td>
    </tr>
</table>
<p>

[PENDING:
Update all figures to use Java L&F, our examples.  
Make sure text area/pane use formatted text.]
</body>
