




















<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<!--NewPage-->
<html>
<head>
<title>How to Make Dialogs</title>
</head>
<body BGCOLOR="#ffffff">










<table width="100%">
<tr>
<td align=left>
<a href="frame.html"><img src="http://docs.rinet.ru/Jtuta/images/PreviousArrow.gif" width=26 height=26 align=bottom border=0 alt="Previous | "></a><a
href="applet.html"><img src="http://docs.rinet.ru/Jtuta/images/NextArrow.gif" width=26 height=26 align=bottom border=0 alt="Next | "></a><a
href="..\..\trailmap.html"><img src="http://docs.rinet.ru/Jtuta/images/WayUpArrow.gif" width=26 height=26 align=bottom border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/Jtuta/images/uiHeader.gif" width=26 height=26 align=bottom border=0 alt="Creating a GUI with JFC/Swing | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Swing Components</em></strong></a>
</td>
</tr>
</table>
<p>
<center>
<IMG SRC="http://docs.rinet.ru/Jtuta/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
<IMG SRC="http://docs.rinet.ru/Jtuta/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
</center>
<p> 

<h2>
    How to Make Dialogs
</h2>
<p>
<blockquote>


Several Swing classes support <em>dialogs</em> --
windows that are more limited than 
<a href="frame.html">frames</a>.
To create simple, standard dialogs,
you use
<a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JOptionPane.html"><code>JOptionPane</code></a><a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JOptionPane.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a>. 
To create custom dialogs,
use the 
<a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JDialog.html"><code>JDialog</code></a><a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JDialog.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a> class directly.
The <a href="progress.html"><code>ProgressMonitor</code></a>
class
can put up a dialog that shows the progress of an operation.
Two other classes,
<a href="colorchooser.html"><code>JColorChooser</code></a> and
<a href="filechooser.html"><code>JFileChooser</code></a>,
also supply standard dialogs.
To bring up a print dialog,
you use the <code>getPrintJob</code> method
method defined in the
<a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.Toolkit.html"><code>Toolkit</code></a><a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.Toolkit.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a> class [PENDING: check].

<p>

The code for simple dialogs can be minimal.
For example, here's an informational dialog:

<blockquote><IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/components/DD-OK.gif" WIDTH="307" HEIGHT="119" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT=""></blockquote>
Here is the code
that creates and shows it:

<p>
<blockquote>
<pre>
JOptionPane.showMessageDialog(frame, "Eggs aren't supposed to be green.");
</pre>
</blockquote>

The rest of this section covers the following topics:

<ul>
<li> <a href="#overview">An overview of dialogs</a>
<li> <a href="#features"><code>JOptionPane</code> features</a>
<li> <a href="#dialogdemo">The DialogDemo example</a>
<li> <a href="#button">Customizing button text in a standard dialog</a>
<li> <a href="#input">Getting the user's input from a dialog</a>
<li> <a href="#stayup">Stopping automatic dialog dismissal</a>
<li> <a href="#api">The dialog API</a>
<li> <a href="#eg">Examples that use dialogs</a>
</ul>

<h4>
<a name="overview">An Overview of Dialogs</a>
</h4>
<blockquote>

Every dialog is dependent on a frame.
When that frame is destroyed,
so are its dependent dialogs.
When the frame is iconified,
its dependent dialogs disappear from the screen.
When the frame is deiconified,
its dependent dialogs return to the screen.
The AWT automatically provides this behavior.

<p>

A dialog can be <em>modal</em>.
When a modal dialog is visible,
it blocks user input to all other windows
in the program.
All the dialogs that <code>JOptionPane</code> provides are modal.
To create a non-modal dialog, 
you must use the 
<code>JDialog</code> class directly.

<p>

The <code>JDialog</code> class is a subclass of the AWT
<a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.Dialog.html"><code>java.awt.Dialog</code></a><a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.Dialog.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a> class.
It adds to <code>Dialog</code> a
<a href="rootpane.html">root pane</a>
and support for a default close operation.
These are the same features that <code>JFrame</code> has,
and using <code>JDialog</code> directly
is very similar to using <code>JFrame</code> directly.
See <a href="frame.html">How to Make Frames</a>
for information about how to add components
to a window
and how to implement any window listeners.
[PENDING: restructure Frame to cover these
in a separate section.]

<p>

Even if you use <code>JOptionPane</code> to implement a dialog,
you're still using a <code>JDialog</code> behind the scenes.
The reason is that <code>JOptionPane</code> is simply a container
that can automatically 
create a <code>JDialog</code>
and add itself to the <code>JDialog</code>'s content pane.


</blockquote>
<h4>
<a name="features">JOptionPane Features</a>
</h4>
<blockquote>

Using <code>JOptionPane</code>, 
you can create many dialogs.
Here's a sampling,
all produced by 
<a href="#dialogdemo">the DialogDemo example</a>.

<p>

<IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/components/DD-OK-half.gif" WIDTH="153" HEIGHT="59" ALT="">
<IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/components/DD-warning-half.gif" WIDTH="153" HEIGHT="60" ALT="">
<IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/components/DD-error-half.gif" WIDTH="153" HEIGHT="59" ALT="">
<IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/components/DD-plain-half.gif" WIDTH="137" HEIGHT="59" ALT="">
<IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/components/DD-YN-half.gif" WIDTH="163" HEIGHT="59" ALT="">
<IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/components/DD-YNC-half.gif" WIDTH="220" HEIGHT="59" ALT="">
<IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/components/DD-custom-half.gif" WIDTH="136" HEIGHT="71" ALT="">
<IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/components/DD-validate-half.gif" WIDTH="166" HEIGHT="69" ALT="">
<p>

As you might guess from the preceding pictures,
<code>JOptionPane</code> provides support
for laying out standard dialogs,
providing icons,
specifying the dialog's title and text,
and customizing the button text.
Other features 
allow you to customize
the components the dialog displays
and specify where the dialog should appear on-screen.
You can even specify that option pane put itself into 
an <a href="internalframe.html">internal frame</a>
(<code>JInternalFrame</code>)
instead of a <code>JDialog</code>.


<p>

When you create a <code>JOptionPane</code>,
look-and-feel-specific code adds components
to the <code>JOptionPane</code>
and determines the layout of those components.
The following figure shows 
how the common look and feels lay out a <code>JOptionPane</code>:

<blockquote>
<table cellspacing=6 cellpadding=4 border=0>
<tr>
<td bgcolor=#ffe0d0 
>
<center>icon
<br>
<em>(if any)</em>
</center>
<td bgcolor=#ffe0d0 height=60 width=150>
<center>
message
</center>
<tr>
<td bgcolor=#ffe0d0 colspan=2>
<center>
buttons
</center>
</table>
</blockquote>

For most simple modal dialogs,
you create and show the dialog using one of <code>JOptionPane</code>'s
<code>show<em>Xxx</em>Dialog</code> methods.
For examples of using each of the following methods,
look at <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/DialogDemo.java"><code>DialogDemo.java</code></a>.
If your dialog should be an 
<a href="internalframe.html">internal frame</a>,
then add <code>Internal</code> after <code>show</code> --
for example, <code>showInternalMessageDialog</code>.


<dl>
<dt> <strong><code>showMessageDialog</code></strong>
<dd> Displays a modal dialog with one button, which is labeled "OK"
     (or the localized equivalent [PENDING: l10n not implemented yet]).
     You can easily specify the message, icon, and title
     that the dialog displays.

<dt> <strong><code>showConfirmDialog</code></strong>
<dd> Displays a modal dialog with two buttons, 
     labeled "Yes" and "No"
     (or the localized equivalent [PENDING: l10n not implemented yet]).
     Those labels aren't always terribly descriptive
     of whatever program-specific actions they cause.
     As a result, we generally use option dialogs instead.
<dt> <strong><code>showInputDialog</code></strong>
<dd> Displays a modal dialog that gets a string from the user.
     An input dialog either displays a text field for the user
     to type into,
     or it displays an uneditable combo box,
     from which the user can choose one of several strings.
     [PENDING: Input dialogs aren't very useful right now,
     since the text field doesn't let you perform validation
     before the dialog goes away,
     and the combo box uses a lightweight menu and
     thus can't display more than 2 or 3 choices.]

<dt> <strong><code>showOptionDialog</code></strong>
<dd> Displays a modal dialog with the specified buttons, 
     icons, message, title, and so on.
     With this method, 
     you can change the text that appears on the buttons of 
     standard dialogs.
     You can also perform many other kinds of 
     customization.
</dl>

<p>

<code>JOptionPane</code>'s icon support
lets you easily specify
which icon the dialog displays.
You can use a custom icon, no icon at all,
or any one of four standard <code>JOptionPane</code> icons
(question, information, warning, and error).
Each look and feel has its own versions of the four standard icons.
The following figure shows the icons used
in the Java Look and Feel (nicknamed Metal).

<blockquote>
<table>
<caption><strong>Icons provided by JOptionPane
<br>(Java Look and Feel shown)</strong></caption>
<tr>
<td align="center" width="75">
<IMG SRC="..\..\figures\uiswing\components\metal-question.gif" WIDTH="32" HEIGHT="32" ALT="The Metal icon for dialogs that ask questions"><td align="center" width="75">
<IMG SRC="..\..\figures\uiswing\components\metal-inform.gif" WIDTH="32" HEIGHT="32" ALT="The Metal icon for informational dialogs"><td align="center" width="75">
<IMG SRC="..\..\figures\uiswing\components\metal-warn.gif" WIDTH="32" HEIGHT="32" ALT="The Metal icon for warning dialogs"><td align="center" width="75">
<IMG SRC="..\..\figures\uiswing\components\metal-error.gif" WIDTH="32" HEIGHT="32" ALT="The Metal icon for error dialogs"><tr>
<td align="center">
question
<td align="center">
information
<td align="center">
warning
<td align="center">
error
</table>
</blockquote>

<p>

By default, a dialog created with <code>showMessageDialog</code>
displays the information icon,
and a dialog created with <code>showConfirmDialog</code>
or <code>showInputDialog</code>
displays the question icon.
To specify that a dialog has either no icon or another standard icon,
you add a parameter that specifies the message type.
The value of the message type can be any of the following constants:
<code>PLAIN_MESSAGE</code> (no icon),
<code>QUESTION_MESSAGE</code>,
<code>INFORMATION_MESSAGE</code>,
<code>WARNING_MESSAGE</code>, or
<code>ERROR_MESSAGE</code>.
If you specify a non-null <code>Icon</code> object,
then the dialog displays that icon,
no matter what the message type is.
Here's an example of creating a simple dialog
that displays an error message:

<blockquote>
<pre>
JOptionPane.showMessageDialog(frame,
                              "Eggs aren't supposed to be green.",
                              "Inane error",
                              JOptionPane.ERROR_MESSAGE);
</pre>
</blockquote>

<p>

Normally, the message area of an option pane
has a single line of text,
such as "Eggs aren't supposed to be green."
You can split the message over several lines
by putting newline (<code>\n</code>) characters 
inside the message string.
For example:

<blockquote>
<pre>
"Complete the sentence:\n"
+ "\"Green eggs and...\""
</pre>
</blockquote>

<p>


You can specify the text displayed
by the option pane's buttons.
An example of doing so is in
<a href="#button">Customizing Button Text in Standard Dialogs</a>.

When the user clicks any of the option pane's buttons,
the dialog is automatically dismissed.
If you don't want the dialog to be dismissed automatically --
for example, if you want to make sure 
that the user's input was valid before dismissing the dialog --
you need to follow the steps described in
<a href="#stayup">Stopping Automatic Dialog Dismissal</a>.

<p>

When you invoke any of the <code>JOptionPane</code>
<code>show<em>Xxx</em>Dialog</code> methods,
the first argument 
specifies a component.
This component determines both the on-screen location of the dialog
and the frame upon which the dialog depends.
Specifically, 
the dialog is dependent on the frame that contains the component,
and the dialog is centered over the component.
If you specify <code>null</code> for the component, 
then the dialog is independent of any visible frames,
and it appears in the middle of the screen.
The following figure shows what happens
when you specify a <code>JFrame</code> 
as the first argument.

<blockquote><IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/components/DD-OKoverWindow.gif" WIDTH="440" HEIGHT="252" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT="a dialog centered over a window"></blockquote>
</blockquote>
<h4>
<a name="dialogdemo">The DialogDemo Example</a>
</h4>
<blockquote>
<p>

Here's a picture of an application
that displays dialogs.

<blockquote><IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/components/DialogDemo.gif" WIDTH="426" HEIGHT="252" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT=""></blockquote>
<blockquote>
<hr>
<strong>Try this:</strong>
<ol>
<li> Compile and run the application.
     The source file is
     <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/DialogDemo.java"><code>DialogDemo.java</code></a>.
     <br>
     See <a href="..\start\index.html">Getting Started with Swing</a> if you need help.

<li> Click the Show it! button.
     <br>
     A modal dialog will appear.  
     Until you dismiss it, the application will be unresponsive,
     although it will repaint itself if necessary.
     You can dismiss the dialog either
     by clicking a button in the dialog
     or explicitly, 
     such as by using the dialog's window decorations.
<li> Iconify the DialogDemo window while a dialog is showing.
     <br>
     The dialog will disappear from the screen
     until you deiconify the DialogDemo window.
<li> In the More Dialogs pane, 
     click the bottom radio button 
     and then the Show it! button.
     A non-modal dialog will appear.
     Note that the DialogDemo window
     remains fully functional
     while the non-modal dialog is up.
</ol>
<hr>
</blockquote>


</blockquote>
<h4>
<a name="button">Customizing Button Text in Standard Dialogs</a>
</h4>
<blockquote>


When you use <code>JOptionPane</code> to create a standard dialog,
you can choose either to use the standard button text
(which might vary by look and feel 
or to specify different text.

<p>

The following code, taken from 
     <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/DialogDemo.java"><code>DialogDemo.java</code></a>,
creates two Yes/No dialogs.
The first dialog
uses the look-and-feel's wording
for the two buttons.
The second dialog customizes the wording.
With the exception of wording changes,
the dialogs are identical.
To customize the wording,
the code that creates the second dialog
uses <code>showOptionDialog</code>,
instead of <code>showConfirmDialog</code>.

<blockquote><IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/components/DD-YN.gif" WIDTH="327" HEIGHT="119" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT="A yes/no dialog"></blockquote>
<p>

<blockquote>
<pre>
<em>...//create the yes/no dialog:</em>
int n = JOptionPane.showConfirmDialog(
	frame, "Would you like green eggs and ham?",
	"An Inane Question",
	JOptionPane.YES_NO_OPTION);
if (n == JOptionPane.YES_OPTION) {
    setLabel("Ewww!");
} else if (n == JOptionPane.NO_OPTION) {
    setLabel("Me neither!");
} else {
    setLabel("Come on -- tell me!");
}
</pre>
</blockquote>

<blockquote><IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/components/DD-YN2.gif" WIDTH="327" HEIGHT="119" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT="A yes/no dialog -- in other words"></blockquote>
<blockquote>
<pre>
<em>...//create the yes/no (but in other words) dialog:</em>
String string1 = "Yes, please";
String string2 = "No way!";
Object[] options = {string1, string2};
int n = JOptionPane.showOptionDialog(frame,
		"Would you like green eggs and ham?",
		"A Silly Question",
		JOptionPane.YES_NO_OPTION,
		JOptionPane.QUESTION_MESSAGE,
		null,     //don't use a custom Icon
		options,  //the titles of buttons
		string1); //the title of the default button
if (n == JOptionPane.YES_OPTION) {
    setLabel("You're kidding!");
} else if (n == JOptionPane.NO_OPTION) {
    setLabel("I don't like them, either.");
} else {
    setLabel("Come on -- 'fess up!");
}
</pre>
</blockquote>

</blockquote>
<h4>
<a name="input">Getting the User's Input from a Dialog</a>
</h4>
<blockquote>

As the previous example showed,
the <code>JOptionPane</code> <code>show<em>Xxx</em>Dialog</code> methods
return a value 
indicating the user's choice.
If you're designing a custom dialog,
on the other hand, 
then you need to design your dialog's API 
so that you can query the dialog about what the user chose.

<p>

For the simple, standard <code>JOptionPane</code> dialogs, the
<code>show<em>Xxx</em>Dialog</code> methods return an integer.
The default values for this integer are
<code>YES_OPTION</code>,
<code>NO_OPTION</code>,
<code>CANCEL_OPTION</code>,
<code>OK_OPTION</code>, and
<code>CLOSED_OPTION</code>.
Except for <code>CLOSED_OPTION</code>,
each option corresponds to the button the user pressed.
When <code>CLOSED_OPTION</code> is returned,
it indicates that the user closed the dialog window explicitly,
rather than by choosing a button in the window.

<p>

Even if you 
change the strings that the standard dialog buttons display
(as the previous example shows),
the return value is still one of the pre-defined integers.
For example,
a <code>YES_NO_OPTION</code> dialog
always returns one of the following values:
<code>YES_OPTION</code>,
<code>NO_OPTION</code>, or
<code>CLOSED_OPTION</code>.

<p>


<p>

[Add an example of getting input from a custom dialog.]


</blockquote>
<h4>
<a name="stayup">Stopping Automatic Dialog Dismissal</a>
</h4>
<blockquote>

By default, when the user clicks a <code>JOptionPane</code>-created button
or explicitly closes its window,
the dialog is dismissed.
But what if you want to check the user's answer
before closing the window?
In this case, 
you must implement your own property change listener
so that when the user clicks a button,
the dialog doesn't automatically dismiss.

<p>

<code>DialogDemo</code> contains two dialogs
that implement a property change listener.
One of these dialogs is a custom modal dialog,
implemented in 
<a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/CustomDialog.java"><code>CustomDialog.java</code></a>,
that uses <code>JOptionPane</code>
both to get the standard icon
and to get layout assistance.
The other dialog, whose code is below,
uses a standard Yes/No <code>JOptionPane</code>,
Though this dialog is rather useless as written,
its code is simple enough
that you can use it as a template
for more complex dialogs.

<p>

Besides setting the property change listener,
the following code also calls
the <code>JDialog</code>'s <code>setDefaultCloseOperation</code> method
and implements a window listener
that handles the window close attempt properly.
If you don't care to be notified
when the user closes the window explicitly,
then ignore the nonbold code.

<blockquote>
<pre>
<b>
final JOptionPane optionPane = new JOptionPane(
		"The only way to close this dialog is by\n"
		+ "pressing one of the following buttons.\n"
		+ "Do you understand?",
		JOptionPane.QUESTION_MESSAGE,
		JOptionPane.YES_NO_OPTION);

final JDialog dialog = new JDialog(frame, 
			     "Click a button",
			     true);
dialog.setContentPane(optionPane);</b>
dialog.setDefaultCloseOperation(
    JDialog.DO_NOTHING_ON_CLOSE);
dialog.addWindowListener(new WindowAdapter() {
    public void windowClosing(WindowEvent we) {
	setLabel("Thwarted user attempt to close window.");
    }
});
<b>optionPane.addPropertyChangeListener(
    new PropertyChangeListener() {
	public void propertyChange(PropertyChangeEvent e) {
	    String prop = e.getPropertyName();

	    if (dialog.isVisible() 
	     && (e.getSource() == optionPane)
	     && (prop.equals(JOptionPane.VALUE_PROPERTY) ||
		 prop.equals(JOptionPane.INPUT_VALUE_PROPERTY))) {
		//If you were going to check something
		//before closing the window, you'd do
		//it here.
		dialog.setVisible(false);
	    }
	}
    });
dialog.pack();
dialog.show();

int value = ((Integer)optionPane.getValue()).intValue();
if (value == JOptionPane.YES_OPTION) {
    setLabel("Good.");
} else if (value == JOptionPane.NO_OPTION) {
    setLabel("Try using the window decorations "
	     + "to close the non-auto-closing dialog. "
	     + "You can't!");
}</b>
</pre>
</blockquote>


</blockquote>
<h4>
<a name="api">The Dialog API</a>
</h4>
<blockquote>

The following tables list the commonly used
<code>JOptionPane</code> and <code>JDialog</code> 
constructors and methods.
Other methods you're likely to call
are defined by the
<a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JComponent.html"><code>JComponent</code></a><a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JComponent.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a> and
<a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.Component.html"><code>Component</code></a><a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.Component.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a> classes
and include
[PENDING: anything in particular for dialogs?
Make clear that JDialog doesn't extend JComponent].
[Link to JComponent and Component discussions.]


<p>

The API is listed as follows:
<ul>
<li> <a href="#showapi">Showing Standard Modal Dialogs (using <code>JOptionPane</code> Class Methods</a>
<li> <a href="#joptionpaneapi">Methods for Using <code>JOptionPane</code>s
Directly</a>
<li> <a href="#joptionpaneapi2">Other <code>JOptionPane</code> Constructors and Methods</a>
<li> <a href="#jdialogapi">Frequently Used <code>JDialog</code> Constructors and Methods</a>
</ul>

<p>

<table border=1>
<caption><a name="showapi">Showing Standard Modal Dialogs (Using <code>JOptionPane</code> Class Methods)</a></caption>
<tr>
<th align=left>Method
<th align=left>Purpose

<tr>
<td><font size=2><code>int showMessageDialog(Component, Object)
    <br>
    int showMessageDialog(Component, Object, String, int)
    <br>
    int showMessageDialog(Component, Object, String, int, Icon)</code></font>
<td>Show a one-button modal dialog.
    See [PENDING: somewhere] for a discussion of the parameters and
    their effects.

<tr>
<td><font size=2><code>int showOptionDialog(Component, Object, String, int, int, Icon, Object[], Object)</code></font>
<td>Show a dialog.
    See [PENDING: somewhere] for a discussion of the parameters and
    their effects.

<tr>
<td><font size=2><code>int showConfirmDialog(Component, Object)
    <br>
    int showConfirmDialog(Component, Object, String, int)
    <br>
    int showConfirmDialog(Component, Object, String, int, int)
    <br>
    int showConfirmDialog(Component, Object, String, int, int, Icon)</code></font>
<td>Show a modal dialog that [PENDING: elaborate].
    See [PENDING: somewhere] for a discussion of the parameters and
    their effects.

<tr>
<td><font size=2><code>String showInputDialog(Object)
    <br>
    String showInputDialog(Component, Object)
    <br>
    String showInputDialog(Component, Object, String, int)
    <br>
    String showInputDialog(Component, Object, String, int, Icon, Object[],
    Object)</code></font>
<td>Show an input dialog.
    See [PENDING: somewhere] for a discussion of the parameters and
    their effects.

<tr>
<td><font size=2><code>int showInternalMessageDialog(...)
    <br>
    int showInternalOptionDialog(...)
    <br>
    int showInternalConfirmDialog(...)
    <br>
    String showInternalInputDialog(...)</code></font>
<td>Implement a standard dialog as an internal frame.
    See [PENDING: somewhere] for a discussion of ....
</table>

<p>

<table border=1>
<caption><a name="joptionpaneapi">Methods for Using <code>JOptionPane</code>s Directly</a></caption>
<tr>
<th align=left>Method or Constructor
<th align=left>Purpose

<tr>
<td><font size=2><code>JOptionPane()
    <br>
    JOptionPane(Object)
    <br>
    JOptionPane(Object, int)
    <br>
    JOptionPane(Object, int, int)
    <br>
    JOptionPane(Object, int, int, Icon)
    <br>
    JOptionPane(Object, int, int, Icon, Object[])
    <br>
    JOptionPane(Object, int, int, Icon, Object[], Object)</code></font>
<td>Creates a <code>JOptionPane</code> instance.
    [PENDING: explain the parameters]

<tr>
<td><font size=2><code>Frame getFrameForComponent(Component)
    <br>
    JDesktopPane getDesktopPaneForComponent(Component)</code></font>
<td>Handy <code>JOptionPane</code> class methods 
    that find the 
    <a href="frame.html">frame</a>
    or <a href="internalframe.html">desktop pane</a>,
    respectively, that the specified component is in.
</table>


<p>

<table border=1>
<caption><a name="joptionpaneapi2">Other <code>JOptionPane</code>
Constructors and Methods</a></caption>
<tr>
<th align=left>Method or Constructor
<th align=left>Purpose

<tr>
<td><font size=2><code>JOptionPane()
    <br>
    JOptionPane(Object)
    <br>
    JOptionPane(Object, int)
    <br>
    JOptionPane(Object, int, int)
    <br>
    JOptionPane(Object, int, int, Icon)
    <br>
    JOptionPane(Object, int, int, Icon, Object[])
    <br>
    JOptionPane(Object, int, int, Icon, Object[], Object)</code></font>
<td>Creates a <code>JOptionPane</code> instance.
    [PENDING: explain the parameters]

</table>


<p>

<table border=1>
<caption><a name="jdialogapi">Frequently Used <code>JDialog</code> Constructors
and Methods</a></caption>
<tr>
<th align=left>Method/Constructor
<th align=left>Purpose
</tr>

<tr>
<td><font size=2><code>JDialog()
    <br>
    JDialog(Frame)
    <br>
    JDialog(Frame, boolean)
    <br>
    JDialog(Frame, String)
    <br>
    JDialog(Frame, String, boolean)</code></font>
<td>Creates a <code>JDialog</code> instance.
    The <code>Frame</code> argument, if any,
    is the frame
    (usually a <code>JFrame</code> object)
    that the dialog depends on.
    Make the boolean argument <code>true</code>
    to specify a modal dialog,
    <code>false</code> or absent to specify a non-modal dialog.
    You can also specify the title of the dialog,
    using a string argument.
</tr>

<tr>
<td><font size=2><code>Container getContentPane()
    <br>
    setContentPane(Container)</code></font>
<td>Get and set the content pane,
    which is usually the container
    of all the dialog's components.
    See [PENDING: where?] for more information.
</tr>

<tr>
<td><font size=2><code>int getDefaultCloseOperation()
    <br>
    setDefaultCloseOperation(int)</code></font>
<td>Get and set what happens
    when the user tries to close the dialog.
    Possible values:
    <code>DISPOSE_ON_CLOSE</code>,
    <code>DO_NOTHING_ON_CLOSE</code>,
    <code>HIDE_ON_CLOSE</code> (the default).
    See [PENDING: where?] for more information.
</tr>

<tr>
<td><font size=2><code>void setLocationRelativeTo(Component)
<td>Centers the dialog over the specified component.
</tr>

</table>


</blockquote>
<h4>
<a name="eg">Examples that Use Dialogs</a>
</h4>
<blockquote>
This table lists examples that use dialogs
and where those examples are described.
<p>
<table>
<tr>
<th align=left> Example
<th align=left> Where Described
<th align=left> Notes

<tr>
<td> <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/DialogDemo.java"><code>DialogDemo.java</code></a>,
     <br>
     <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/CustomDialog.java"><code>CustomDialog.java</code></a>
<td> This page
<td> Creates many kinds of dialogs,
     using <code>JOptionPane</code> and <code>JDialog</code>.

<tr>
<td> <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/Framework.java"><code>Framework.java</code></a>
<td> Nowhere yet.
<td> Brings up a confirmation dialog when the user selects
     the Quit menu item.
    

<tr>
<td> <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/ListDialog.java"><code>ListDialog.java</code></a>
<td> <a href="..\layout\box.html">How to Use BoxLayout</a>
<td> Implements a modal dialog containing a scrolling list
     and two buttons.

<tr>
<td> <a href="http://docs.rinet.ru/Jtuta/uiswing/misc/example-swing/PasswordDemo.java"><code>PasswordDemo.java</code></a>
<td> <a href="..\misc\threads.html">How to Use Threads</a>
<td> Uses a dialog to prompt the user for a password. [PENDING: check]

<tr>
<td> <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/TableDemo.java"><code>TableDemo.java</code></a>
<td> <a href="table.html">How to Use Tables</a>
<td> Brings up a warning dialog 
     when the user types a non-number entry 
     into a cell that must contain a number.
<tr>
<td colspan=3> [PENDING: Bingo?  Other demos?]
</table>


</blockquote>

</blockquote>
<p>
<hr size=4>
<p> 
<table width="100%">
<tr>
<td align=left>
<a href="frame.html"><img src="http://docs.rinet.ru/Jtuta/images/PreviousArrow.gif" width=26 height=26 align=top border=0 alt="Previous | "></a><a
href="applet.html"><img src="http://docs.rinet.ru/Jtuta/images/NextArrow.gif" width=26 height=26 align=top border=0 alt="Next | "></a><a
href="..\..\trailmap.html"><img src="http://docs.rinet.ru/Jtuta/images/WayUpArrow.gif" width=26 height=26 align=top border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/Jtuta/images/uiHeader.gif" width=26 height=26 align=top border=0 alt="Creating a GUI with JFC/Swing | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Swing Components</em></strong></a>
</td>
</tr>
</table>
</body>
</html>
