




















<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<!--NewPage-->
<html>
<head>
<title>How to Use File Choosers</title>
</head>
<body BGCOLOR="#ffffff">










<table width="100%">
<tr>
<td align=left>
<a href="combobox.html"><img src="http://docs.rinet.ru/Jtuta/images/PreviousArrow.gif" width=26 height=26 align=bottom border=0 alt="Previous | "></a><a
href="label.html"><img src="http://docs.rinet.ru/Jtuta/images/NextArrow.gif" width=26 height=26 align=bottom border=0 alt="Next | "></a><a
href="..\..\trailmap.html"><img src="http://docs.rinet.ru/Jtuta/images/WayUpArrow.gif" width=26 height=26 align=bottom border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/Jtuta/images/uiHeader.gif" width=26 height=26 align=bottom border=0 alt="Creating a GUI with JFC/Swing | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Swing Components</em></strong></a>
</td>
</tr>
</table>
<p>
<center>
<IMG SRC="http://docs.rinet.ru/Jtuta/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
<IMG SRC="http://docs.rinet.ru/Jtuta/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
</center>
<p> 

<h2>
    How to Use File Choosers
</h2>
<p>
<blockquote>

The
<a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JFileChooser.html"><code>JFileChooser</code></a><a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JFileChooser.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a> class provides a UI for choosing a file from a list.
A file chooser is a component that you can place
anywhere within your program's GUI.
However, programs typically display file choosers in modal
<a href="dialog.html">dialogs</a>
because file operations can be sensitive to changes within the program. 
The <code>JFileChooser</code> class makes it easy
to bring up a modal dialog that contains a file chooser.
<p>
File choosers are most commonly used for two purposes:
<ul>
<li> to present a list of files
     that can be <em>opened</em> by the application.
<li> to allow the user to select or enter the name
     of a file to be <em>saved</em>.
</ul>
<p>

Note that the file chooser doesn't itself open or save files.
It presents a GUI for choosing a file from a list.
The program is responsible for then doing something with
the file, such as opening or saving it.
<p>
Because most programmers want an open file chooser
or a save file chooser,
the <code>JFileChooser</code> class provides
convenience methods for displaying
these types of file choosers in a dialog:
<code>showOpenDialog</code> and <code>showSaveDialog</code>.
Our first example,
<a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/FileChooserDemo.java">
<code>FileChooserDemo.java</code></a>,
illustrates the use of both:

<blockquote><IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/components/FileChooserDemo.gif" WIDTH="254" HEIGHT="140" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT=""></blockquote>
When you click the <strong>Open</strong> button
the program brings up an <em>open file chooser</em>.
When you click the <strong>Save</strong> button
the program brings up a <em>save file chooser</em>.
Here's a picture of the the open file chooser:

<blockquote><IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/components/FileChooserOpen.gif" WIDTH="510" HEIGHT="330" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT=""></blockquote>
In the Java Look and Feel, the only difference
between the open file chooser and the save file chooser
is the title on the dialog window
and the label on the "accept" button.
<p>
You need only two lines of code to create and show an open file chooser:
<blockquote>
<pre>
//<em>where member variables are declared</em>
private JFileChooser fc = new JFileChooser();
...
//<em>in the ActionPerformed method of the Open button's action listener</em>
    int returnVal = fc.showOpenDialog(FileChooserDemo.this);
</pre>
</blockquote>
By default,
a file chooser that hasn't been shown before
displays all files in the user's home directory.
You can specify the file chooser's initial directory
using one of <code>JFileChooser</code>'s other constructors,
or you can set the directory
with the <code>setCurrentDirectory</code> method.
<p>
The example program uses the same
instance of <code>JFileChooser</code>
to display the save file chooser.
Here's the <code>actionPerformed</code> method for
the <strong>Save</strong> button's listener:
<blockquote>
<pre>
public void actionPerformed(ActionEvent e) {
    int returnVal = fc.showSaveDialog(FileChooserDemo.this);

    if (returnVal == JFileChooser.APPROVE_OPTION) {
	File file = fc.getSelectedFile();
	log.append("Saving: " + file.getName() + "." + newline);
    } else {
	log.append("Save command cancelled by user." + newline);
    }
}
</pre>
</blockquote>
By using the same file chooser for its open and save file chooser,
the program reaps these benefits:
<ul>
<li> The chooser remembers the current directory between
     uses so the open and save dialogs automatically share the
     same current directory.
<li> You have to customize only one file chooser, and your
     customizations apply to both the open and save versions of it.
</ul>

As you can see from the previous code snippets,
the <code>showOpenDialog</code> and <code>showSaveDialog</code>
methods return an integer
that indicates whether the user selected a file.
You can use the return value to determine whether
to perform the required operation.
<p>
If the user chooses a file,
the example calls <code>getSelectedFile</code> on the
file chooser to get an instance of
<a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.io.File.html"><code>File</code></a><a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.io.File.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a>, which represents the chosen file.
The example gets the name of the file and
uses it in the log message.
You can call other methods on the <code>File</code> object,
such as <code>getPath</code>,
<code>isDirectory</code>, or <code>exists</code>
to get information about the file.
You can also call other methods such as
<code>delete</code> and <code>rename</code>
to change the file in some way.
Of course, you might also want to open or save the
file using one of the reader or writer classes
provided by the JDK.
See
<a target="_top" href="..\..\essential\io\index.html">Reading and Writing</a><a href="..\..\essential\io\index.html"><img src="http://docs.rinet.ru/Jtuta/images/coreIcon.gif" width=20 height=20 border=0 alt="(in the Essential Java Classes trail)"></a> for information about using readers and writers to
read and write data to the file system.
<p>
If you want to create a file chooser for a task other
than opening or saving,
or if you want to customize the file chooser,
keep reading.
These topics about the file chooser follow:

<ul>
<li> <a href="#advancedexample">FileChooserDemo: Take 2</a>
<li> <a href="#customtask">Using a File Chooser for a Custom Task</a>
<li> <a href="#filters">Filtering the List of Files</a>
<li> <a href="#fileview">Customizing the File View</a>
<li> <a href="#accessory">Providing an Accessory Component</a>
<li> <a href="#api">The File Chooser API</a>
<li> <a href="#eg">Examples that Use File Choosers</a>
</ul>

<a name="advancedexample">
<h4>FileChooserDemo: Take 2</h4>
</a>
<blockquote>
Now let's look at
<a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/FileChooserDemo2.java">
<code>FileChooserDemo2.java</code></a>,
a modified version of the previous demo program that
uses more of the <code>JFileChooser</code> API.
This example uses a file chooser that has been
customized in several ways.
Like the original example, the user invokes
a file chooser with the push of a button.
Here's a picture of the file chooser:
 
<blockquote><IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/components/FileChooserDemo2.gif" WIDTH="510" HEIGHT="330" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT=""></blockquote>
[PENDING: add callouts to figure to point out file view,
accessory, user-choosable filter, etc]
<p>
You need these source files to run this example:
<a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/FileChooserDemo2.java">
<code>FileChooserDemo2.java</code></a>,
<a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/ImageFilter.java">
<code>ImageFilter.java</code></a>,
<a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/ImageFileView.java">
<code>ImageFileView.java</code></a>, and
<a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/ImagePreview.java">
<code>ImagePreview.java</code></a>.
<p>
As the figure shows, this file chooser
has been customized for a special task (attaching),
provides a user-choosable file filter,
uses a special file view for image files,
and has an accessory component
that displays a thumbnail sketch of the currently selected
image file.
<p>
The remainder of this section shows you the code
that creates and customizes this file chooser.
</blockquote>

<a name="customtask">
<h4>Using a File Chooser for a Custom Task</h4>
</a>
<blockquote>
As you've seen, <code>JFileChooser</code>
provides <code>showOpenDialog</code> for displaying an open file chooser
and <code>showOpenDialog</code> for displaying a save file chooser.
In the Java Look and Feel, the only difference
between the two choosers is the title on the dialog
window and the label on the "accept" button.
<p>
The class has another method, <code>showDialog</code>,
for displaying a file chooser for a custom task in a dialog.
Again, the only difference between this file chooser
and the others is the title on the dialog window
and the label on the "accept" button.
Here's the code from <code>FileChooserDemo2</code>
that brings up the file chooser dialog for the
<strong>Attach</strong> task.
<blockquote>
<pre>
//<em>where member variables are declared</em>
private JFileChooser fc = new JFileChooser();
...
//<em>in the ActionPerformed method of the Attach button's action listener</em>
int returnVal = fc.showDialog(FileChooserDemo2.this, "Attach");
</pre>
</blockquote>
The first argument to the <code>showDialog</code> method
is the parent component for the dialog.
The second argument is a <code>String</code> that
provides both the title for the dialog window
and the label for the accept button.
<p>
Once again, the file chooser doesn't do anything with
the selected file.
The program is responsible for implementing the custom task
for which the file chooser was created.
</blockquote>

<a name="filters">
<h4>Filtering the List of Files</h4>
</a>
<blockquote>
By default, a file chooser displays all of the files
and directories that it detects.
A program can apply one or more <em>file filters</em>
to a file chooser so that the chooser shows only some files.
The file chooser calls the filter's <code>accept</code> method
for each file to determine whether it should be displayed.
A file filter accepts or rejects a file based
on some criteria such as file type, size, ownership, and so on.
Filters affect the list of files displayed by the file chooser.
The user can enter the name of any file even if it's not displayed.
<p>
<code>JFileChooser</code> supports three different kinds of filtering.
The filters are checked in the order listed here.
So a filter of the second type can filter only
those files accepted by the first and so on.

<dl>
<dt> <strong>Built-in filtering</strong>
<dd> Filtering is set up through specific method calls on a file chooser.
     Currently the only built-in filter available is for hidden files,
     such as those that begin with period (.) on UNIX systems.
     By default, hidden files are not shown.
     Call <code>setFileHidingEnabled(false)</code> to show
     hidden files.

<dt> <strong>Application-controlled filtering</strong>
<dd> The application determines which files are shown.
     Create a custom subclass of 
<a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/filechooser/FileFilter.html"><code>FileFilter</code></a><a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/filechooser/FileFilter.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a>,    instantiate it, and use the instance as an argument to
     <code>setFileFilter</code>. The file chooser shows only
     those files that the filter accepts.

<dt> <strong>User-choosable filtering</strong>
<dd> The file chooser GUI provides a list of filters that the user
     can choose from. When the user chooses a filter, the file
     chooser shows only those file accepted by that filter.
     <code>FileChooserDemo2</code> adds a custom file filter
     to its file chooser's list of user-choosable filters:
<blockquote>
<pre>
fc.addChoosableFileFilter(new ImageFilter());
</pre>
</blockquote>
     The custom file filter is implemented in
     <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/ImageFilter.java"><code>ImageFilter.java</code></a>,
     as a subclass of <code>FileFilter</code>.
     The <code>ImageFilter</code> class
     implements the <code>getDescription</code> method
     to return a string
     to put in the list of user-choosable filters.
     As the following code shows,
     <code>ImageFilter</code> implements the <code>accept</code> method
     to accept all directories
     and any file that has a ".jpg", ".jpeg", ".gif", ".tif", or ".tiff"
     filename extension.
<blockquote>
<pre>
public boolean accept(File f) {

    <strong>if (f.isDirectory()) {
	return true;
    }</strong>

    String s = f.getName();
    int i = s.lastIndexOf('.');

    if (i > 0 &&  i < s.length() - 1) {
	String extension = s.substring(i+1).toLowerCase();
	if (tiff.equals(extension) ||
	    tif.equals(extension) ||
	    gif.equals(extension) ||
	    jpeg.equals(extension) ||
	    jpg.equals(extension)) {
	        return true;
	} else {
	    return false;
	}
    }

    return false;
}
</pre>
</blockquote>
By accepting all directories, this filter allows the
user to navigate around the file system.
If the bold lines were omitted from this method,
the user would be limited to the directory with
which the chooser was initialized.
</dl>
</blockquote>

<a name="fileview">
<h4>Customizing the File View</h4>
</a>
<blockquote>
File choosers present a list of files to choose from.
In the Java Look and Feel, the chooser's list shows
each file's name and displays
a small icon that represents whether the file is a true file
or a directory.
You can customize the list's <em>file view</em> by 
creating a custom subclass of
<a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/filechooser/FileView.html"><code>FileView</code></a><a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/filechooser/FileView.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a> and using an instance of the class as an argument to 
<code>setFileView</code>.
The example uses an instance of
<a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/ImageFileView.java"><code>ImageFileView</code></a>
as the file chooser's file view:
<blockquote>
<pre>
fc.setFileView(new ImageFileView());
</pre>
</blockquote>
<code>ImageFileView</code> shows a
different icon for each type of image
accepted by the image filter described previously.
<p>
The <code>ImageFileView</code> class 
overrides the five abstract methods defined in <code>FileView</code> as
follows.
Note that some of these methods call
<a href="#getextension"><code>getExtension</code></a>,
which is a private method to <code>ImageFileView</code>.

<dl>

<dt> <strong><code>String getTypeDescription(File f)</code></strong>
<dd> Returns a description of the file type.
     This is not yet used by any current Look and Feel.
     The intent is to provide information about the file's type.
     Here is <code>ImageFileView</code>'s implementation of this method:
<blockquote>
<pre>
public String getTypeDescription(File f) {
    String extension = getExtension(f);
    String type = null;

    if (extension != null) {
        if (extension.equals("jpeg")) {
            type = "JPEG Image";
        } else if (extension.equals("gif")){
            type = "GIF Image";
        } else if (extension.equals("tiff")) {
            type = "TIFF Image";
        }
    }
    return type;
}
</pre>
</blockquote>

<dt> <strong><code>Icon getIcon(File f)</code></strong>
<dd> Returns an icon representing the file or its type.
     Here is <code>ImageFileView</code>'s implementation of this method:
<blockquote>
<pre>
public Icon getIcon(File f) {
    String extension = getExtension(f);
    Icon icon = null;
    if (extension != null) {
        if (extension.equals("jpeg")) {
            icon = jpgIcon;
        } else if (extension.equals("gif")) {
            icon = gifIcon;
        } else if (extension.equals("tiff")) {
            icon = tiffIcon;
        }
    }
    return icon;
}
</pre>
</blockquote>

<dt> <strong><code>String getName(File f)</code></strong>
<dd> Returns the name of the file.
     Most implementations of this method should return
     <code>null</code> to indicate that the Look and Feel
     should figure it out.
     Another common implementation returns <code>f.getName()</code>.

<p>
<dt> <strong><code>String getDescription(File f)</code></strong>
<dd> Returns a description of the file.
     This is not yet used by any current Look and Feel.
     The intent is to describe individual files more specifically.
     A common implementation of this method returns
     <code>null</code> to indicate that the Look and Feel
     should figure it out.

<p>
<dt> <strong><code>Boolean isTraversable(File f)</code></strong>
<dd> Returns whether a directory is traversable or not.
     Most implementations of this method should return
     <code>null</code> to indicate that the Look and Feel
     should figure it out.
     Some applications might want to prevent users from descending
     into a certain type of directory because it represents a compound document.
     An implementor of <code>isTraversable</code>
     should never return <code>true</code> for a non-directory.

</dl>

<a name="getextension">
The <code>ImageFileView</code> implementation
of both the 
<code>getTypeDescription</code> and <code>getIcon</code> methods
uses a custom method called <code>getExtension</code> implemented
as follows:
<blockquote>
<pre>
private String getExtension(File f) {
    String ext = null;
    String s = f.getName();
    int i = s.lastIndexOf('.');

    if (i > 0 &&  i < s.length() - 1) {
        ext = s.substring(i+1).toLowerCase();
    }
    return ext;
}
</pre>
</blockquote>
</a>
</blockquote>

<a name="accessory">
<h4>Providing an Accessory Component</h4>
</a>
<blockquote>
The customized file chooser in
<code>FileChooserDemo2</code>
has an accessory component.
If the currently selected item is a
JPEG, TIFF, or GIF image, the accessory component
displays a thumbnail sketch of the image.
Otherwise, the accessory component is empty.
Aside from a previewer,
probably the most common use for the accessory component
is a panel with more controls on it
(say, checkboxes that toggle some features).
<p>
The example calls the <code>setAccessory</code>
method to establish an instance of
<a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/ImagePreview.java"><code>ImagePreview</code></a>
as the chooser's accessory component:
<blockquote>
<pre>
fc.setAccessory(new ImagePreview(fc));
</pre>
</blockquote>
Any object that inherits from <code>JComponent</code>
can be an accessory component.
The component should implement either <code>paint</code> or
<code>paintComponent</code> and
have a preferred size that looks good in the file chooser.
<p>
The file chooser fires a property change event when the
user selects an item in the list.
So, a program with
an accessory component must register to receive these events
to update the accessory component whenever the selection changes.
In the example, the <code>ImagePreview</code> object itself
registers for these events.
This keeps all the code related to the accessory component
together in one class.
<p>
Here is the example's implementation of the
<code>propertyChange</code> method, which is
the method called when a property change event is fired:
<blockquote>
<pre>
//<em>where member variables are declared</em>
File f = null;
...
public void propertyChange(PropertyChangeEvent e) {
    String prop = e.getPropertyName();
    if (prop.equals(JFileChooser.SELECTED_FILE_CHANGED_PROPERTY)) {
        f = (File) e.getNewValue();
        if (isShowing()) {
            loadImage();
            repaint();
        }
    }
}
</pre>
</blockquote>
If <code>SELECTED_FILE_CHANGED_PROPERTY</code> is the property
that changed,
this method gets a <code>File</code> object from the file chooser.
The <code>loadImage</code> and <code>repaint</code> methods
use the <code>File</code> to load the image
and repaint the accessory component.
</blockquote>

<h4>
<a name="api">The File Chooser API</a>
</h4>
<blockquote>
The API for using file choosers falls into these categories:

<ul>
<li><a href="#show">Creating and Showing a File Chooser</a>
<li><a href="#navigation">Navigating the File Chooser's List</a>
<li><a href="#customization">Customizing the File Chooser</a>
<li><a href="#selection">Selecting Files and Directories</a>
</ul>

<p>

<table border=1>
<caption><a name="show">Creating and Showing a File Chooser</a></caption>
<tr>
<th align=left>Method
<th align=left>Purpose

<tr>
<td><font size=2><code>JFileChooser()
    <br>
    JFileChooser(File)
    <br>
    JFileChooser(String)
    </code></font>
<td>Create a file chooser instance.
    The <code>File</code> and <code>String</code> arguments, when present,
    provide the initial directory.

<tr> 
<td><font size=2><code>int showOpenDialog(Component)
    <br>
    int showSaveDialog(Component)
    <br>
    int showDialog(Component, String)
    </code></font>
<td>Show a modal dialog containing the file chooser.
 
</table>

<p>
 
<table border=1> 
<caption><a name="navigation">Navigating the File Chooser's List</a></caption>
<tr>
<th align=left>Method
<th align=left>Purpose

<tr> 
<td><font size=2><code>void ensureFileIsVisible(File)</code></font>
<td>Force the indicated file to be visible in the file chooser's list.

<tr>
<td><font size=2><code>void setCurrentDirectory(File)
    <br>
    File getCurrentDirectory
    </code></font>
<td>Set or get the directory whose files are displayed
    in the file chooser's list.

<tr>
<td><font size=2><code>void changeToParentDirectory()</code></font>
<td>Change the list to display the current directory's parent.

<tr>
<td><font size=2><code>void rescanCurrentDirectory()</code></font>
<td>Check the file system and update the chooser's list.
 
</table>

<p>

<table border=1>
<caption><a name="customization">Customizing the File Chooser</a></caption>
<tr>
<th align=left>Method
<th align=left>Purpose

<tr>
<td><font size=2><code>JComponent getAccessory()
    <br>
    void setAccessory(JComponent)
    </code></font>
<td>Set or get the file chooser's accessory component.

<tr>
<td><font size=2><code> void setFileFilter(FileFilter)
    <br>
    FileFilter getFileFilter()
    </code></font>
<td>Set or get the file chooser's primary file filter.

<tr>
<td><font size=2><code> void setFileView(FileView)
    <br>
    FileView getFileView()
    </code></font>
<td>Set or get the chooser's file view.

<tr>
<td><font size=2><code>FileFilter[] getChoosableFileFilters()
    <br>
    void setChoosableFileFilters(FileFilter[])
    <br>
    void addChoosableFileFilter(FileFilter)
    <br>
    boolean removeChoosableFileFilter(FileFilter)
    <br>
    void resetChoosable(FileFilter)
    <br>
    FileFilter getAcceptAllFileFilter()
    </code></font>
<td>Set, get, or modify the list of user-choosable file filters.

<tr>
<td><font size=2><code>void setFileHidingEnabled(boolean)
    <br>
    boolean isFileHidingEnabled()
    </code></font>
<td>Set or get whether hidden files are displayed.

</table>

<p>

<table border=1>
<caption><a name="selection">Selecting Files and Directories</a></caption>
<tr>
<th align=left>Method
<th align=left>Purpose

<tr>
<td><font size=2><code>void setFileSelectionMode(int)
    <br>
    int getFileSelectionMode()
    <br>
    boolean isDirectorySelectionEnabled()
    <br>
    boolean isFileSelectionEnabled()
    </code></font>
<td>Set the file selection mode. Acceptable values are
    <code>FILES_ONLY</code>,
    <code>DIRECTORIES_ONLY</code>, and
    <code>FILES_AND_DIRECTORIES</code>.

<tr>
<td><font size=2><code> void setMultiSelectionEnabled(boolean)
    <br>
    boolean isMultiSelectionEnabled()
    </code></font>
<td>Set or get whether multiple files can be selected at once.

<tr>
<td><font size=2><code>void setSelectedFile(File)
    <br>
    File getSelectedFile()
    </code></font>
<td>Set or get the currently selected file.

<tr>
<td><font size=2><code>void setSelectedFiles(File[])
    <br>
    File[] getSelectedFiles()
    </code></font>
<td>Set or get the currently selected files.

</table>

</blockquote>

<h4>
<a name="eg">Examples that Use File Choosers</a>
</h4>
<blockquote>
This table shows the examples that use <code>JFileChooser</code>
and where those examples are described.
<p> <table>
<tr>
<th align=left> Example
<th align=left> Where Described
<th align=left> Notes

<tr>
<td> <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/FileChooserDemo.java"><code>FileChooserDemo.java</code></a>
<td> This page
<td> Invokes an open file chooser and a save file chooser.

<tr>
<td> <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/FileChooserDemo2.java"><code>FileChooserDemo2.java</code></a>
<td> This page
<td> Uses a file chooser with custom filtering,
     a custom file view, and an accessory component.

</table>

</blockquote>



</blockquote>
<p>
<hr size=4>
<p> 
<table width="100%">
<tr>
<td align=left>
<a href="combobox.html"><img src="http://docs.rinet.ru/Jtuta/images/PreviousArrow.gif" width=26 height=26 align=top border=0 alt="Previous | "></a><a
href="label.html"><img src="http://docs.rinet.ru/Jtuta/images/NextArrow.gif" width=26 height=26 align=top border=0 alt="Next | "></a><a
href="..\..\trailmap.html"><img src="http://docs.rinet.ru/Jtuta/images/WayUpArrow.gif" width=26 height=26 align=top border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/Jtuta/images/uiHeader.gif" width=26 height=26 align=top border=0 alt="Creating a GUI with JFC/Swing | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Swing Components</em></strong></a>
</td>
</tr>
</table>
</body>
</html>
