




















<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<!--NewPage-->
<html>
<head>
<title>How to Make Frames (Main Windows)</title>
</head>
<body BGCOLOR="#ffffff">










<table width="100%">
<tr>
<td align=left>
<a href="toplevel.html"><img src="http://docs.rinet.ru/Jtuta/images/PreviousArrow.gif" width=26 height=26 align=bottom border=0 alt="Previous | "></a><a
href="dialog.html"><img src="http://docs.rinet.ru/Jtuta/images/NextArrow.gif" width=26 height=26 align=bottom border=0 alt="Next | "></a><a
href="..\..\trailmap.html"><img src="http://docs.rinet.ru/Jtuta/images/WayUpArrow.gif" width=26 height=26 align=bottom border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/Jtuta/images/uiHeader.gif" width=26 height=26 align=bottom border=0 alt="Creating a GUI with JFC/Swing | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Swing Components</em></strong></a>
</td>
</tr>
</table>
<p>
<center>
<IMG SRC="http://docs.rinet.ru/Jtuta/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
<IMG SRC="http://docs.rinet.ru/Jtuta/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
</center>
<p> 

<h2>
    How to Make Frames (Main Windows)
</h2>
<p>
<blockquote>

Most Swing applications present their primary GUIs within a
<a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JFrame.html"><code>JFrame</code></a><a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JFrame.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a> -- a window that is a top-level Swing container
for applets and applications.
A frame has decorations such as a border, a title,
and buttons for closing and iconifying the frame.
A typical program simply creates a frame,
adds components to its content pane,
and perhaps adds a menu bar.
However, through its <a href="rootpane.html">root pane</a>,
<code>JFrame</code> provides support for
further customization.

<p>
To make a window that's dependent on another window --
disappearing when the other window is iconified, for example --
use a <a href="dialog.html">dialog</a>
instead of a frame.
To make a window that appears within another window,
use an <a href="internalframe.html">internal frame</a>.

<p>
Here are two pictures of the same program,
<a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/FrameDemo.java">FrameDemo.java</a>,
running on different platforms.
The program brings up a frame that contains a picture to look at.

<table cellpadding=5>
<tr>
<th>Solaris</th><th>Windows</th>
<tr>
<td>
<blockquote><IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/components/framedemo.gif" WIDTH="212" HEIGHT="198" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT=""></blockquote></td>

<td>
[PENDING: run this on<br>
Windows and get a snapshot]
</td>
</tr>
</table>

<blockquote>
<hr>
<strong>Note</strong>:
The specific decorations on a frame are system-dependent.
You cannot change the decorations on a frame.
<hr>
</blockquote>

<p>

Below is the entire <code>main</code> method from
<a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/FrameDemo.java"><code>FrameDemo.java</code></a>.

<blockquote>
<pre>
public static void main(String s[]) {
    JFrame frame = new JFrame("A Basic Frame");

    frame.addWindowListener(new WindowAdapter() {
        public void windowClosing(WindowEvent e) {System.exit(0);}
    });

    <em>JLabel label = new JLabel("Something to look at",
			       new ImageIcon("images/beach.gif"),
			       JLabel.CENTER);
    label.setVerticalTextPosition(JLabel.TOP);
    label.setHorizontalTextPosition(JLabel.CENTER);</em>
    <strong>frame.getContentPane().add(label, BorderLayout.CENTER);</strong>

    frame.pack();
    frame.setVisible(true);
}
</pre>
</blockquote>
The code creates a frame with the title <strong>A Basic Frame</strong>
and adds a window listener to it that exits the program when
the user closes the frame.
<p>
The italic lines of code create the label
that displays the text and image in the frame,
which is essentially this program's GUI.
You can use this program as a framework for your own programs--
just replace the italicized code with statements
to create the components that make up your program's GUI.
<p>
The bold line adds the label to the frame's content pane.
Refer to <a href="#contentpane">Adding Components to a Frame</a>
for further details and examples.

<p>
For a frame to appear on the screen,
a program must either call <code>setSize</code> or
<code>pack</code>, and then call <code>setVisible(true)</code>
or its equivalent, <code>show</code>.
This program packs the frame and uses <code>setVisible</code>.
Note that if any of the GUI is already visible,
you should invoke <code>setVisible</code> from the event
dispatching thread.
Refer to the <a href="..\misc\threads.html">Threads and Swing</a> page.
<p>
This code is typical of many programs and is
the framework we used to create many of
the examples for this lesson (including
<a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/GlassPaneDemo.java"><code>GlassPaneDemo.java</code></a>).
Some examples in this lesson, such as
<a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/TextFieldDemo.java"><code>TextFieldDemo.java</code></a>
and
<a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/TableDemo.java"><code>TableDemo.java</code></a>,
subclass <code>JFrame</code> and
instantiate the frame subclass instead of <code>JFrame</code>.
In these programs, the GUI is created in the
constructor for the subclass.
You might do this in your programs if you need to
subclass <code>JFrame</code> for some reason.

<p>
<code>JFrame</code> itself is a subclass of 
<a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.Frame.html"><code>java.awt.Frame</code></a><a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.Frame.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a> to which it adds support for interposing input and painting behavior
in front of the frame's children, placing children on different "layers",
and for Swing menu bars.
Generally speaking, you should use a <code>JFrame</code> instead of
a <code>Frame</code>, for these reasons:
<ul>
<li> To take advantage of new features provided by its
     <a href="rootpane.html">root pane</a> such as the
     <a href="rootpane.html#glasspane">glass pane</a>
     and the <a href="layeredpane.html">layered pane</a>.
<li> <code>JFrame</code> lets you customize window closing behavior
     by calling the <code>setDefaultCloseOperation</code> method
     instead of writing a window listener.
<li> <code>JFrame</code> supports 
     the <code>revalidate</code> method. 
     [PENDING: link to where revalidate is discussed]
<li> Swing menus work best in a <code>JFrame</code>
     due to its <code>setJMenuBar</code> method.
<li> You must use a <code>JFrame</code> in an applet
     if the applet uses Swing components.
     Also, we recommend that you use a <code>JFrame</code>
     in an application that uses Swing components,
     although it's not required.
</ul>

<a name="contentpane">
<h4>Adding Components to a Frame</h4>
</a>
<blockquote>
As you saw in <code>FrameDemo.java</code>,
to add components to a <code>JFrame</code>,
you add them to the frame's content pane.
Two common techniques are used
to provide the components for a frame's content pane:
<ul>
<li> Create an opaque container such as a <code>JPanel</code>
     or <code>JDesktopPane</code>,
     add components to it, then use the <code>setContentPane</code> method
     to make it the frame's content pane.
     <p>
     <hr>
     <strong>Note:</strong>
     Don't use non-opaque containers such as
     <code>JScrollPane</code>, <code>JSplitPane</code>, 
     and <code>JTabbedPane</code>
     as content panes.
     A non-opaque container results in messy repaints.
     <hr>
     <p>
     <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/ListDialog.java"><code>ListDialog.java</code></a>
     uses this technique. The code creates a bordered 
     <code>JPanel</code> to use
     as the frame's content pane. 
     The panel contains two labels and a button.
<blockquote>
<pre>
public static void main(String[] args) {
    JFrame f = new JFrame("Name That Baby");
    //...<em>create the labels and the button</em>...
    JPanel contentPane = new JPanel();
    <strong>f.setContentPane(contentPane);</strong>
    contentPane.setLayout(new BoxLayout(contentPane, BoxLayout.Y_AXIS));
    contentPane.setBorder(BorderFactory.createEmptyBorder(20,20,20,20));

    contentPane.add(intro);
    contentPane.add(name);
    contentPane.add(Box.createRigidArea(new Dimension(0,10)));
    contentPane.add(button);
    ...
}
</pre>
</blockquote>
<li> Use <code>getContentPane</code> to get the frame's content
     pane. Add components to the object returned.
     <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/TableDemo.java">
     <code>TableDemo.java</code></a> uses this technique
     as shown here:
<blockquote>
<pre>
public class TableDemo extends JFrame {
    ...
    public TableDemo() {
	super("TableDemo");

	...
	JTable table = new JTable(myModel);
	...
	JScrollPane scrollPane = new JScrollPane(table);

	<b>getContentPane().add(scrollPane, BorderLayout.CENTER);</b>
	...
    }
    ...
}
</pre>
</blockquote>

The default layout manager for a frame's content pane
is <code>BorderLayout</code>.
You can invoke the <code>setLayout</code> method on the content pane
to change its layout manager.

</ul>
</blockquote>

<h4>
<a name="api">The Frame API</a>
</h4>
<blockquote>
The following tables list the commonly used
<code>JFrame</code> constructors and methods.
Other methods you're likely to call are defined by the
<a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.Frame.html"><code>Frame</code></a><a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.Frame.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a> and
<a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.Window.html"><code>Window</code></a><a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.Window.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a> classes and include
<code>pack</code>,
<code>setSize</code>,
<code>show</code>,
<code>hide</code>,
<code>setVisible</code>,
<code>setTitle</code>, and
<code>getTitle</code>.

<p>


Much of the operation of a frame is managed by other objects.
For example, the interior of a frame is managed by its root pane,
and the content pane contains the frame's GUI.
Most of the API for using frames is related to
<a href="#helpers">Setting and Getting the Frame's Helper Objects</a>.

<p>
The API for using frames falls into two categories:

<ul>
<li><a href="#creating">Creating and Setting Up a Frame</a>
<li><a href="#helpers">Setting or Getting the Frame's Helper Objects</a>
</ul>

<p>
<table border=1> 
<caption><a name="creating">Creating and Setting Up a Frame</a></caption>
<tr>
<th align=left>Method
<th align=left>Purpose
 
<tr>
<td><font size=2><code>JFrame()
    <br>
    JFrame(String)</code></font>
<td>Create a frame.
    The <code>String</code> argument provides a title for the frame.

<tr>
<td><font size=2><code>void setDefaultCloseOperation(int)
    <br>
    int getDefaultCloseOperation()
    </code></font>
<td>Set or get the operation that occurs when the user pushes
    the close button on this frame. Possible choices are:
    <ul>
    <li><code>DO_NOTHING_ON_CLOSE</code>
    <li><code>HIDE_ON_CLOSE</code> (the default)
    <li><code>DISPOSE_ON_CLOSE</code>
    </ul>
    These constants are defined in the 
<a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/WindowConstants.html"><code>WindowConstants</code></a><a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/WindowConstants.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a>    interface.
</table>

<p>

<table border=1>
<caption><a name="helpers">Setting and Getting the Frame's Helper Objects</a></caption>
<tr>
<th align=left>Method
<th align=left>Purpose

<tr>
<td><font size=2><code>void setContentPane(Container)
    <br>
    Container getContentPane()</code></font>
<td>Set or get the frame's content pane.
    You can also set or get this through the frame's root pane.

<tr>
<td><font size=2><code>JRootPane createRootPane()
    <br>
    void setRootPane(JRootPane)
    <br>
    JRootPane getRootPane()
    </code></font>
<td>Create, set, or get the frame's root pane. The root pane
    manages the interior of the frame including the content pane,
    the glass pane, and so on.

<tr>
<td><font size=2><code>void setJMenuBar(JMenuBar)
    <br>
    JMenuBar getJMenuBar()</code></font>
<td>Set or get the frame's menu bar.
    You can also set or get this through the frame's root pane.

<tr>
<td><font size=2><code>void setGlassPane(Component)
    <br>
    Component getGlassPane()</code></font>
<td>Set or get the frame's glass pane.
    You can also set or get this through the frame's root pane.

<tr>
<td><font size=2><code>void setLayeredPane(JLayeredPane)
    <br>
    JLayeredPane getLayeredPane()</code></font>
<td>Set or get the frame's layered pane.
    You can also set or get this through the frame's root pane.
</table>

</blockquote>

<h4>
<a name="eg">Examples that Use Frames</a>
</h4>
<blockquote>
This table lists examples that use <code>JFrame</code>
and where those examples are described.
<p>
<table>
<tr>
<th align=left> Example
<th align=left> Where Described
<th align=left> Notes

<tr>
<td> <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/FrameDemo.java"><code>FrameDemo.java</code></a>
<td> This page.
<td> A basic frame with one component.

<tr>
<td> <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/TextFieldDemo.java"><code>TextFieldDemo.java</code></a>
<td> <a href="textfield.html">How to Use Text Fields</a>
<td> A subclass of <code>JFrame</code>.

<tr>
<td> <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/TableDemo.java"><code>TableDemo.java</code></a>
<td> <a href="table.html">How to Use Tables</a>
<td> A subclass of <code>JFrame</code> that sets the frame's content pane.

<tr>
<td> <a href="http://docs.rinet.ru/Jtuta/uiswing/misc/example-swing/IconDemoApplet.java">
     <code>IconDemoApplet.java</code></a>
<td> <a href="..\misc\icon.html">How to Use Icons</a>
<td> Adds many components to the default content pane.

<tr>
<td> <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/LayeredPaneDemo.java"><code>LayeredPaneDemo.java</code></a>
<td> <a href="layeredpane.html">How to Use Layered Panes</a>
<td> Illustrates the use of a frame's layered pane.
 
<tr>
<td> <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/GlassPaneDemo.java"><code>GlassPaneDemo.java</code></a>
<td> <a href="rootpane.html#glasspane">The Glass Pane</a>
<td> Illustrates the use of a frame's glass pane.
 
<tr>
<td> <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/MenuDemo.java"><code>MenuDemo.java</code></a>
<td> <a href="menu.html">How to Use Menus</a>
<td> Shows how to put a <code>JMenuBar</code> in a <code>JFrame</code>.

</table>


</blockquote>

</blockquote>
<p>
<hr size=4>
<p> 
<table width="100%">
<tr>
<td align=left>
<a href="toplevel.html"><img src="http://docs.rinet.ru/Jtuta/images/PreviousArrow.gif" width=26 height=26 align=top border=0 alt="Previous | "></a><a
href="dialog.html"><img src="http://docs.rinet.ru/Jtuta/images/NextArrow.gif" width=26 height=26 align=top border=0 alt="Next | "></a><a
href="..\..\trailmap.html"><img src="http://docs.rinet.ru/Jtuta/images/WayUpArrow.gif" width=26 height=26 align=top border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/Jtuta/images/uiHeader.gif" width=26 height=26 align=top border=0 alt="Creating a GUI with JFC/Swing | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Swing Components</em></strong></a>
</td>
</tr>
</table>
</body>
</html>
