




















<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<!--NewPage-->
<html>
<head>
<title>Using Intermediate Swing Containers</title>
</head>
<body BGCOLOR="#ffffff">










<table width="100%">
<tr>
<td align=left>
<a href="applet.html"><img src="http://docs.rinet.ru/Jtuta/images/PreviousArrow.gif" width=26 height=26 align=bottom border=0 alt="Previous | "></a><a
href="panel.html"><img src="http://docs.rinet.ru/Jtuta/images/NextArrow.gif" width=26 height=26 align=bottom border=0 alt="Next | "></a><a
href="..\..\trailmap.html"><img src="http://docs.rinet.ru/Jtuta/images/WayUpArrow.gif" width=26 height=26 align=bottom border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/Jtuta/images/uiHeader.gif" width=26 height=26 align=bottom border=0 alt="Creating a GUI with JFC/Swing | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Swing Components</em></strong></a>
</td>
</tr>
</table>
<p>
<center>
<IMG SRC="http://docs.rinet.ru/Jtuta/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
<IMG SRC="http://docs.rinet.ru/Jtuta/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
</center>
<p> 

<h2>
    Using Intermediate Swing Containers
</h2>
<p>
<blockquote>

This section describes the Swing components
that exist solely to contain
other components.
Technically, menu bars fall into this category,
but those are discussed elsewhere,
in the <a href="menu.html">How to Use Menus</a> section.
To use intermediate containers,
you should understand the concepts presented in
<a target="_top" href="..\overview\hierarchy.html">Swing Components and the Containment Hierarchy</a><a target="_top" href="..\overview\hierarchy.html"><img src="http://docs.rinet.ru/Jtuta/images/uiIcon.gif" width=20 height=20 border=0 alt="(in the Creating a User Interface trail)"></a>.

<p>
[PENDING: discuss layout managers and add() somewhere?]
<p>

<a href="panel.html">Panels</a>
are the most general purpose,
frequently used intermediate containers.
Implemented with the <code>JPanel</code> class,
panels add almost no functionality
beyond what all <code>JComponent</code> objects have.
They're often used to group components,
whether because the components are related
or just because grouping them makes layout easier.
A panel can use any layout manager,
and you can easily give it a border.

<p>

Four other Swing containers --
scroll panes, split panes, tabbed panes, and tool bars --
provide more functionality.
A <a href="scrollpane.html">scroll pane</a>
provides scroll bars around a single component.
A <a href="splitpane.html">split pane</a>
lets the user customize the relative amount of space
devoted to each of two components.
A <a href="tabbedpane.html">tabbed pane</a>
shows just one component at a time,
letting you easily switch
between components.
A <a href="toolbar.html">tool bar</a>
holds a group of components
(usually buttons)
in a row or column,
and optionally allows the user to drag the tool bar
into different locations.

<p>

The rest of the Swing intermediate containers
are even more specialized.
<a href="internalframe.html">Internal frames</a>
look like frames and have much the same API,
but unlike frames
they must appear within other windows.
<a href="rootpane.html">Root panes</a>
provide behind-the-scenes support
to top-level containers.
<a href="layeredpane.html">Layered panes</a>
exist to support Z ordering of components.


</blockquote>
<p>
<hr size=4>
<p> 
<table width="100%">
<tr>
<td align=left>
<a href="applet.html"><img src="http://docs.rinet.ru/Jtuta/images/PreviousArrow.gif" width=26 height=26 align=top border=0 alt="Previous | "></a><a
href="panel.html"><img src="http://docs.rinet.ru/Jtuta/images/NextArrow.gif" width=26 height=26 align=top border=0 alt="Next | "></a><a
href="..\..\trailmap.html"><img src="http://docs.rinet.ru/Jtuta/images/WayUpArrow.gif" width=26 height=26 align=top border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/Jtuta/images/uiHeader.gif" width=26 height=26 align=top border=0 alt="Creating a GUI with JFC/Swing | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Swing Components</em></strong></a>
</td>
</tr>
</table>
</body>
</html>
