




















<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<!--NewPage-->
<html>
<head>
<title>How to Use Internal Frames</title>
</head>
<body BGCOLOR="#ffffff">










<table width="100%">
<tr>
<td align=left>
<a href="toolbar.html"><img src="http://docs.rinet.ru/Jtuta/images/PreviousArrow.gif" width=26 height=26 align=bottom border=0 alt="Previous | "></a><a
href="layeredpane.html"><img src="http://docs.rinet.ru/Jtuta/images/NextArrow.gif" width=26 height=26 align=bottom border=0 alt="Next | "></a><a
href="..\..\trailmap.html"><img src="http://docs.rinet.ru/Jtuta/images/WayUpArrow.gif" width=26 height=26 align=bottom border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/Jtuta/images/uiHeader.gif" width=26 height=26 align=bottom border=0 alt="Creating a GUI with JFC/Swing | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Swing Components</em></strong></a>
</td>
</tr>
</table>
<p>
<center>
<IMG SRC="http://docs.rinet.ru/Jtuta/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
<IMG SRC="http://docs.rinet.ru/Jtuta/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
</center>
<p> 

<h2>
    How to Use Internal Frames
</h2>
<p>
<blockquote>


With the 
<a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JInternalFrame.html"><code>JInternalFrame</code></a><a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JInternalFrame.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a> class,
you can display a 
<a href="frame.html"><code>JFrame</code></a>-like window
within another window.
To create an internal frame that looks like a simple dialog,
you can use the <code>JOptionPane</code>
<code>showInternal<em>Xxx</em>Dialog</code> methods,
as discussed in <a href="dialog.html">How to Make Dialogs</a>.

<p>

Usually, you display internal frames
within a 
<a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JDesktopPane.html"><code>JDesktopPane</code></a><a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JDesktopPane.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a>.
<code>JDesktopPane</code> is a subclass of <code>JLayeredPane</code>
that has added API for managing multiple overlapping internal frames.
Generally, you put the desktop pane
into the content pane of a <code>JFrame</code>.
For information about using the API that <code>JDesktopPane</code>
inherits from <code>JLayeredPane</code>,
see <a href="layeredpane.html">How to Use Layered Panes</a>.

<p>


Here's a picture of an application
that has two internal frames inside a regular frame.

<blockquote><IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/components/InternalFrameDemo.gif" WIDTH="592" HEIGHT="156" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT=""></blockquote>[PENDING: Update the screen shot to reflect the final example.]

<p>

As the figure shows, 
the internal frames use the window decorations
for the Metal look and feel.
However, the window that contains them
has the decorations for the native look and feel
(in this case, Motif).

<blockquote>
<hr>
<strong>Try this:</strong>
<ol>
<li> Compile and run the application.
     The source files are
     <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/InternalFrameDemo.java"><code>InternalFrameDemo.java</code></a> and
     <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/MyInternalFrame.java"><code>MyInternalFrame.java</code></a>.
     <br>
     See <a href="..\start\index.html">Getting Started with Swing</a> if you need help.

<li> Create new internal frames
     using the Create item in the Document menu.
     <br>
     Each internal frame comes up 30 pixels lower and to the right of
     the place where the previous internal frame first appeared.
     This functionality is implemented in the 
     <code>MyInternalFrame</code> class,
     which is the custom subclass of <code>JInternalFrame</code>.
</ol>
<hr>
</blockquote>

<p>

The following code,
taken from
<a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/InternalFrameDemo.java"><code>InternalFrameDemo.java</code></a>,
creates the desktop and internal frames in the previous example.

<blockquote>
<pre>
<em>...//In the constructor of InternalFrameDemo, a JFrame subclass:</em>
    desktop = new JDesktopPane(); //a specialized layered pane
    createFrame(); //Create first window
    setContentPane(desktop);
...
protected void createFrame() {
    MyInternalFrame frame = new MyInternalFrame();
    desktop.add(frame);
    try {
        frame.setSelected(true);
    } catch (java.beans.PropertyVetoException e2) {}
}

<em>...//In the constructor of MyInternalFrame, a JInternalFrame subclass:</em>
static int openFrameCount = 0;
static final int xOffset = 30, yOffset = 30;

public MyInternalFrame() {
    super("Internal Frame #" + (++openFrameCount), 
          true, //resizable
          true, //closable
          true, //maximizable
          true);//iconifiable
    //...Create the GUI and put it in the window...
    //...Then set the window size or call pack...
    ...
    //Set the window's location.
    setLocation(xOffset*openFrameCount, yOffset*openFrameCount);
}
</pre>
</blockquote>

<h4>
<a name="frame">
Internal Frames vs. Regular Frames
</a>
</h4>
<blockquote>

The code for using internal frames
is similar in many ways to the code for using regular Swing frames.
Because internal frames have root panes,
setting up the GUI for a <code>JInternalFrame</code>
is very similar to setting up the GUI for a <code>JFrame</code>.
<code>JInternalFrame</code> also provides
other API,
such as <code>pack</code>,
that makes it similar to <code>JFrame</code>.

<p>

Because internal frames aren't windows, however,
they're different from frames in some ways.
For example, you must add an internal frame 
to a container (usually a <code>JDesktopPane</code>).
And internal frames don't generate window events;
instead, the user actions that would
cause a frame to fire window events
cause an internal frame to fire internal frame events.

<p>

Because internal frames are implemented with platform-independent code,
they add some features that frames can't give you.
One such feature is that 
internal frames give you more control over
their state and capabilities than frames do.
You can programatically iconify or maximize an internal frame.
You can also specify what icon goes in the internal frame's
title bar.
You can even specify whether the internal frame
has the window decorations
to support resizing, iconifying, closing, and maximizing.

<p>

Another feature is that internal frames
are designed to work within layered panes.
The <code>JInternalFrame</code> API 
contains methods such as <code>moveToFront</code>
that work only if the internal frame's container
is a layered pane.

</blockquote>
<h4>
<a name="rules">
Rules of Using Internal Frames
</a>
</h4>
<blockquote>

If you've built any programs using <code>JFrame</code>
and the other Swing components,
then you already know a lot
about how to use internal frames.
The following list 
summarizes the rules for using internal frames.
For additional information,
see [PENDING: the frame add/show discussion]
and [PENDING: the JComponent discussion].

<dl>
<dt> <strong>You must set the size of the internal frame.</strong>
<dd> If you don't set the size of the internal frame,
     it will have zero size
     and thus never be visible.
     You can set the size using one of the following methods:
     <code>setSize</code>,
     <code>pack</code>,
     or <code>setBounds</code>.

<dt> <strong>As a rule, you should set the location
     of the internal frame.</strong>
<dd> If you don't set the location of the internal frame,
     it will come up at 0,0 (the upper left of its container).
     You can use the <code>setLocation</code> or <code>setBounds</code>
     method to specify the upper left point of the internal frame,
     relative to its container.

<dt> <strong>To add components to an internal frame,
     you add them to the internal frame's content pane.</strong>
<dd> This is exactly like the <code>JFrame</code> situation.
     See <a href="frame.html#contentpane">Adding Components to a Frame</a>
     for details.

<dt> <strong>Dialogs that are internal frames
     should be implemented using 
     <code>JOptionPane</code> or
     <code>JInternalFrame</code>, 
     not <code>JDialog</code>.</strong>
<dd> To create a simple dialog,
     you can use the <code>JOptionPane</code> 
     <code>showInternal<em>Xxx</em>Dialog</code> methods,
     as described in
     <a href="dialog.html">How to Make Dialogs</a>.
     Note that internal frame dialogs are <em>not</em> modal.

<dt> <strong>You must add an internal frame to a container.</strong>
<dd> If you don't add the internal frame to a container
     (usually a <code>JDesktopPane</code>),
     the internal frame won't appear.
<dt> <strong>You don't usually need to call <code>show</code>
     or <code>setVisible</code> on internal frames.</strong>
<dd> Like a button, an internal frame automatically is shown
     either when it's added to a visible container
     or when its previously invisible container is made visible.

<dt> <strong>Internal frames fire internal frame events,
     not window events.</strong>
<dd> Handling internal frame events is almost identical 
     to handling window events.
     See <a href="..\events\internalframelistener.html">How
     to Write an Internal Frame Listener</a> for more information.
</ul>

<blockquote>
<hr>
<strong>Note:</strong>
Due to a bug (#4128975),
once an internal frame has appeared and then been hidden,
the internal frame can't appear again.
If you want to show the internal frame again, 
you must recreate it,
as <a href="http://docs.rinet.ru/Jtuta/uiswing/events/example-swing/InternalFrameEventDemo.java"><code>InternalFrameEventDemo.java</code></a> does.
<hr>
</blockquote>

<p>

</blockquote>
<h4>
<a name="api">The Internal Frame API</a>
</h4>
<blockquote>

The following tables list the commonly used
<code>JInternalFrame</code> constructors and methods.
The API for using internal frames falls into these categories:

<ul>
<li><a href="#construct">Creating the internal frame</a>
<li><a href="#add">Adding components to the internal frame</a>
<li><a href="#layout">Specifying the internal frame's size and location</a>
<li><a href="#window">Performing window operations on the internal frame</a>
<li><a href="#decorate">Controlling window decorations and capabilities</a>
<li><a href="#JDesktopPane">Using the <code>JDesktopPane</code> API</a>
</ul>

<p>
Besides the API listed below, 
<code>JInternalFrame</code> inherits useful API from
<code>JComponent</code>, <code>Container</code>,
and <code>Component</code>.
<code>JInternalFrame</code> also provides methods
for getting and setting additional objects in its root pane.
See <a href="rootpane.html">How to Use Root Panes</a> 
for details.


<p>

<table border=1>
<caption><a name="construct">Creating the Internal Frame</a></caption>
<tr>
<th>Constructor
<th>Purpose

<tr>
<td><font size=2><code>JInternalFrame()
    <br>
    JInternalFrame(String)
    <br>
    JInternalFrame(String, boolean)
    <br>
    JInternalFrame(String, boolean, boolean)
    <br>
    JInternalFrame(String, boolean, boolean, boolean)
    <br>
    JInternalFrame(String, boolean, boolean, boolean, boolean)</code></font>
<td>Create a <code>JInternalFrame</code> instance.
    The first argument specifies the title (if any)
    to be displayed by the internal frame.
    The rest of the arguments specify 
    whether the internal frame should contain decorations allowing
    the user to 
    resize, close, maximize, and iconify the internal frame
    (specified in that order).
    The default value for each boolean argument is <code>false</code>,
    which means that the operation
    is not allowed.
<tr>
<td><font size=2><code>JOptionPane</code> class methods:<code>
    <ul>
    <li>
    showInternalConfirmDialog
    <li>
    showInternalInputDialog
    <li>
    showInternalMessageDialog
    <li>
    showInternalOptionDialog
    </ul></code></font>
<td>Create a <code>JInternalFrame</code> 
    that simulates a dialog.
    See <a href="dialog.html">How to Make Dialogs</a> for details.
</table>

<p>

<table border=1>
<caption><a name="add">Adding Components to the Internal Frame</a></caption>
<tr>
<th align=left>Method
<th align=left>Purpose

<tr>
<td><font size=2><code>void setContentPane(Container)
    <br>
    Container getContentPane()</code></font>
<td>Set or get the internal frame's content pane,
    which generally contains all of the internal frame's GUI,
    with the exception of the menu bar and window decorations.


<tr>
<td><font size=2><code>void setMenuBar(JMenuBar)
    <br>
    JMenuBar getMenuBar()</code></font>
<td>Set or get the internal frame's menu bar.
    Note that these method names contain no "J",
    unlike the equivalent <code>JFrame</code> methods.
    In the next Swing and JDK 1.2 releases,
    <code>JInternalFrame</code> will add
    <code>setJMenuBar</code> and <code>getJMenuBar</code>,
    which you should use instead of the existing methods.

</table>

<p>

<table border=1>
<caption><a name="layout">Specifying the Internal Frame's Size and Location</a>
<tr>
<th align=left>Method
<th align=left>Purpose

<tr>
<td><font size=2><code>void pack()</code></font>
<td>Size the internal frame so that 
    its components are at their preferred sizes.

<tr>
<td><font size=2><code>void setLocation(Point)
    <br>
    void setLocation(int, int)</code></font>
<td>Set the position of the internal frame.
    (Inherited from <code>Component</code>).

<tr>
<td><font size=2><code>void setBounds(Rectangle)
    <br>
    void setBounds(int, int, int, int)</code></font>
<td>Explicitly set the size and location of the internal frame.
    (Inherited from <code>Component</code>).

<tr>
<td><font size=2><code>void setSize(Dimension)
    <br>
    void setSize(int, int)</code></font>
<td>Explicitly set the size of the internal frame.
    (Inherited from <code>Component</code>).

</table>

<p>

<table border=1>
<caption><a name="window">Performing Window Operations
on the Internal Frame</a></caption>
<tr>
<th align=left>Method
<th align=left>Purpose

<tr>
<td><font size=2><code>void setDefaultCloseOperation(int)
    <br>
    int getDefaultCloseOperation()</code></font>
<td>Set or get what the internal frame does
    when the user attempts to "close" the internal frame.
    The default value is <code>HIDE_ON_CLOSE</code>.
    Other possible values are <code>DO_NOTHING_ON_CLOSE</code>
    and <code>DISPOSE_ON_CLOSE</code>.
    See [PENDING: discussion in <a href="frame.html">How to Make Frames</a>]
    for details.

<tr>
<td><font size=2><code>void addInternalFrameListener( 
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;InternalFrameListener)
    <br>
    <br>
    void removeInternalFrameListener(
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;InternalFrameListener)
    </code></font>
<td>Add or remove an internal frame listener
    (<code>JInternalFrame</code>'s equivalent of a window listener).
    See <a href="..\events\internalframelistener.html">How
    to Write an Internal Frame Listener</a> for more information.

<tr>
<td><font size=2><code>void moveToFront()
    <br>
    void moveToBack()</code></font>
<td>If the internal frame's parent is a layered pane,
    moves the internal frame to the front or back (respectively)
    of its layer.

<tr>
<td><font size=2><code>void setClosed(boolean)
    <br>
    boolean isClosed()</code></font>
<td>Set or get whether the internal frame is currently closed.

<tr>
<td><font size=2><code>void setIcon(boolean)
    <br>
    boolean isIcon()</code></font>
<td>Iconify or deiconify the internal frame,
    or determine whether it's currently iconified.

<tr>
<td><font size=2><code>void setMaximum(boolean)
    <br>
    boolean isMaximum()</code></font>
<td>Maximize or restore the internal frame,
    or determine whether it's maximized.

<tr>
<td><font size=2><code>void setSelected(boolean)
    <br>
    boolean isSelected()</code></font>
<td>Set or get whether the internal frame 
    is the currently "selected" (activated) internal frame.

</table>

<p>

<table border=1>
<caption><a name="decorate">Controlling Window Decorations and Capabilities</a></caption>
<tr>
<th align=left>Method
<th align=left>Purpose

<tr>
<td><font size=2><code>void setFrameIcon(Icon)
    <br>
    Icon getFrameIcon()</code></font>
<td>Set or get the icon displayed in the title bar of the
    internal frame (usually in the top-left corner).

<tr>
<td><font size=2><code>void setClosable(boolean)
    <br>
    boolean isClosable()</code></font>
<td>Set or get whether the user can close the internal frame.

<tr>
<td><font size=2><code>void setIconifiable(boolean)
    <br>
    boolean isIconifiable()</code></font>
<td>Set or get whether the internal frame 
    can be iconified.

<tr>
<td><font size=2><code>void setMaximizable(boolean)
    <br>
    boolean isMaximizable()</code></font>
<td>Set or get whether the user can 
    maximize this internal frame.

<tr>
<td><font size=2><code>void setResizable(boolean)
    <br>
    boolean isResizable()</code></font>
<td>Set or get whether the internal frame 
    can be resized.

<tr>
<td><font size=2><code>void setTitle(String)
    <br>
    String getTitle()</code></font>
<td>Set or get the window title.

<tr>
<td><font size=2><code>void setWarningString(String)
    <br>
    String getWarningString()</code></font>
<td>Set or get any warning string displayed by the window.

</table>


<p>

<table border=1>
<caption><a name="JDesktopPane">Using the <code>JDesktopPane</code> API</a></caption>
<tr>
<th align=left>Constructor or Method
<th align=left>Purpose

<tr>
<td><font size=2><code>JDesktopPane()</code></font>
<td>Creates a new instance of <code>JDesktopPane</code>.

<tr>
<td><font size=2><code>JInternalFrame[] getAllFrames()</code></font>
<td>Returns all <code>JInternalFrame</code> objects
    that the desktop contains.

<tr>
<td><font size=2><code>JInternalFrame[] getAllFramesInLayer(int)</code></font>
<td>Returns all <code>JInternalFrame</code> objects
    that the desktop contains that are in the specified layer.
    See <a href="layeredpane.html">How to Use Layered Panes</a>
    for information about layers.

</table>

</blockquote>
<h4>
<a name="eg">Examples that Use Internal Frames</a>
</h4>
<blockquote>

The following examples use internal frames.
Because internal frames are similar to regular frames,
you should also look at 
<a href="frame.html#eg">Examples that Use Frames</a>.

<p>

<table>
<tr>
<th align=left> Example
<th align=left> Where Described
<th align=left> Notes

<tr>
<td> <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/MyInternalFrame.java"><code>MyInternalFrame.java</code></a>
<td> This page.
<td> Implements an internal frame 
     that appears at an offset to the previously created
     internal frame.

<tr>
<td> <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/InternalFrameDemo.java"><code>InternalFrameDemo.java</code></a>
<td> This page.
<td> Lets you create internal frames 
     (instances of <code>MyInternalFrame</code>)
     that go into the application's <code>JDesktopPane</code>.

<tr>
<td> <a href="http://docs.rinet.ru/Jtuta/uiswing/events/example-swing/InternalFrameEventDemo.java"><code>InternalFrameEventDemo.java</code></a>
<td> <a href="..\events\internalframelistener.html">How to Write
     an Internal Frame Listener</a>
<td> Demonstrates listening for internal frame events.
     Also demonstrates positioning internal frames within a desktop pane.

<tr>
<td> <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/LayeredPaneDemo.java"><code>LayeredPaneDemo.java</code></a>
<td> <a href="layeredpane.html">How to Use
     Layered Panes</a>
<td> Demonstrates putting internal frames into
     various layers of a layered pane.

</table>

</blockquote>
</blockquote>
<p>
<hr size=4>
<p> 
<table width="100%">
<tr>
<td align=left>
<a href="toolbar.html"><img src="http://docs.rinet.ru/Jtuta/images/PreviousArrow.gif" width=26 height=26 align=top border=0 alt="Previous | "></a><a
href="layeredpane.html"><img src="http://docs.rinet.ru/Jtuta/images/NextArrow.gif" width=26 height=26 align=top border=0 alt="Next | "></a><a
href="..\..\trailmap.html"><img src="http://docs.rinet.ru/Jtuta/images/WayUpArrow.gif" width=26 height=26 align=top border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/Jtuta/images/uiHeader.gif" width=26 height=26 align=top border=0 alt="Creating a GUI with JFC/Swing | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Swing Components</em></strong></a>
</td>
</tr>
</table>
</body>
</html>
