




















<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<!--NewPage-->
<html>
<head>
<title>The JComponent Class</title>
</head>
<body BGCOLOR="#ffffff">










<table width="100%">
<tr>
<td align=left>
<a href="components.html"><img src="http://docs.rinet.ru/Jtuta/images/PreviousArrow.gif" width=26 height=26 align=bottom border=0 alt="Previous | "></a><a
href="toplevel.html"><img src="http://docs.rinet.ru/Jtuta/images/NextArrow.gif" width=26 height=26 align=bottom border=0 alt="Next | "></a><a
href="..\..\trailmap.html"><img src="http://docs.rinet.ru/Jtuta/images/WayUpArrow.gif" width=26 height=26 align=bottom border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/Jtuta/images/uiHeader.gif" width=26 height=26 align=bottom border=0 alt="Creating a GUI with JFC/Swing | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Swing Components</em></strong></a>
</td>
</tr>
</table>
<p>
<center>
<IMG SRC="http://docs.rinet.ru/Jtuta/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
<IMG SRC="http://docs.rinet.ru/Jtuta/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
</center>
<p> 

<h2>
    The JComponent Class
</h2>
<p>
<blockquote>

Most Swing components 
are implemented as subclasses of the 
<a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JComponent.html"><code>JComponent</code></a><a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JComponent.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a> class,
which inherits from the 
<a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.Container.html"><code>Container</code></a><a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.Container.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a> class.
From <code>JComponent</code>, 
Swing components inherit the following functionality:

<ul>
<li> <a href="#borders">Borders</a>
<li> <a href="#buffer">Double buffering</a>
<li> <a href="#tooltips">Tool tips</a>
<li> <a href="#keyboardAction">Keyboard-generated actions</a>
<li> <a href="#properties">Properties</a>
<li> <a href="#plug">Application-wide pluggable look and feel</a>
<li> <a href="#layout">Support for layout</a>
</ul>

<dl>
<dt> <a name="borders"><strong>Borders.</strong></a>
<dd> Using the <code>setBorder</code> method,
     you can specify the border 
     that a component displays around its edges.
     You can specify that a component have extra space
     around its edges
     using an <code>EmptyBorder</code> instance.
     See the
<a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/BorderFactory.html"><code>BorderFactory</code></a><a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/BorderFactory.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a>    specification
    and 
    <a href="http://java.sun.com/products/jfc/swingdoc-current/borders.html">Understanding Borders</a> 
    (an article in The Swing Connection) for more information.
<p>
<dt> <a name="buffer"><strong>Double buffering.</strong></a>
<dd> Double buffering can improve the appearance
     of a frequently changing component.
     Now you don't have to write the double buffering code --
     Swing provides it for you.
     By default, Swing components are double buffered.
     By invoking <code>setDoubleBuffered(false)</code> on a component,
     you turn off its double buffering.
<p>
<dt> <a name="tooltips"><strong>Tool tips.</strong></a>
<dd> By specifying a string
     with the <code>setToolTipText</code> method,
     you can provide help to users of a component.
     When the cursor pauses over the component,
     the specified string is displayed in a small window
     that appears near the component.
     See <a href="tooltip.html">How to Use Tool Tips</a>
     for more information.
<p>
<dt> <a name="keyboardAction"><strong>Keyboard navigation.</strong></a>
<dd> Using the <code>registerKeyboardAction</code> method, 
     you can enable the user
     to use the keyboard, instead of the mouse,
     to maneuver through the GUI

     <blockquote>
     <hr>
     <strong>Note:</strong>
     Some classes provide convenience methods for keyboard actions.
     For example, <code>AbstractButton</code> provides 
     <code>setMnemonic</code>,
     which lets you specify the character that,
     in combination with a look-and-feel-specific modifier key,
     causes the button's action to be performed.
     See <a href="button.html">How to Use Buttons, Check Boxes, and Radio Buttons</a>
     for an example of using mnemonics in buttons.
     <hr>
     </blockquote>

     The combination of character and modifier keys
     that the user must press to start an action
     is represented by a
<a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/KeyStroke.html"><code>KeyStroke</code></a><a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/KeyStroke.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a>     object.
     The resulting action event
     is handled by an
<a target="_top" href="..\events\actionlistener.html"><code>ActionListener</code></a><a target="_top" href="..\events\actionlistener.html"><img src="http://docs.rinet.ru/Jtuta/images/uiIcon.gif" width=20 height=20 border=0 alt="(in the Creating a User Interface trail)"></a>     object.
     Each keyboard action works under exactly one of two
     conditions:
     either when the actual component has the focus
     or when any component in its containing window has the focus.
<p>
<dt> <a name="properties"><strong>Properties.</strong></a>
<dd> With the <code>putProperty</code> method,
     you can associate one or more properties
     (name/object pairs)
     with any <code>JComponent</code>.
     For example, 
     a layout manager might use properties
     to associate a constraints object
     with each <code>JComponent</code> it manages.
     You put and get properties using the 
     <code>putClientProperty</code> and
     <code>getClientProperty</code> methods.
<p>
<dt> <a name="plug"><strong>Application-wide pluggable look and feel.</strong></a>
<dd> Behind the scenes, each <code>JComponent</code> object
     has a corresponding <code>ComponentUI</code> object
     that performs all the drawing, event handling, size determination,
     and so on for that <code>JComponent</code>.
     Exactly which <code>ComponentUI</code> object is used
     depends on the current look and feel,
     which you can set using the <code>UIManager.setLookAndFeel</code>
     method.
     <p>
<dt> <a name="layout"><strong>Support for layout.</strong></a>
<dd> With methods such as
     <code>setPreferredSize</code>,
     <code>setMinimumSize</code>, 
     <code>setMaximumSize</code>,
     <code>setAlignmentX</code>, and
     <code>setAlignmentY</code>,
     you can specify layout constraints
     without having to write your own component.
<p>
<dt> <a name="access"><strong>Support for accessibility.</strong></a>
<dd> [PENDING: describe]
<p>
<dt> <a name="l10n"><strong>Support for localization.</strong></a>
<dd> [PENDING: describe]
</dl>


</blockquote>

<p>


</blockquote>
<p>
<hr size=4>
<p> 
<table width="100%">
<tr>
<td align=left>
<a href="components.html"><img src="http://docs.rinet.ru/Jtuta/images/PreviousArrow.gif" width=26 height=26 align=top border=0 alt="Previous | "></a><a
href="toplevel.html"><img src="http://docs.rinet.ru/Jtuta/images/NextArrow.gif" width=26 height=26 align=top border=0 alt="Next | "></a><a
href="..\..\trailmap.html"><img src="http://docs.rinet.ru/Jtuta/images/WayUpArrow.gif" width=26 height=26 align=top border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/Jtuta/images/uiHeader.gif" width=26 height=26 align=top border=0 alt="Creating a GUI with JFC/Swing | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Swing Components</em></strong></a>
</td>
</tr>
</table>
</body>
</html>
