




















<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<!--NewPage-->
<html>
<head>
<title>How to Use Layered Panes</title>
</head>
<body BGCOLOR="#ffffff">










<table width="100%">
<tr>
<td align=left>
<a href="internalframe.html"><img src="http://docs.rinet.ru/Jtuta/images/PreviousArrow.gif" width=26 height=26 align=bottom border=0 alt="Previous | "></a><a
href="rootpane.html"><img src="http://docs.rinet.ru/Jtuta/images/NextArrow.gif" width=26 height=26 align=bottom border=0 alt="Next | "></a><a
href="..\..\trailmap.html"><img src="http://docs.rinet.ru/Jtuta/images/WayUpArrow.gif" width=26 height=26 align=bottom border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/Jtuta/images/uiHeader.gif" width=26 height=26 align=bottom border=0 alt="Creating a GUI with JFC/Swing | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Swing Components</em></strong></a>
</td>
</tr>
</table>
<p>
<center>
<IMG SRC="http://docs.rinet.ru/Jtuta/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
<IMG SRC="http://docs.rinet.ru/Jtuta/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
</center>
<p> 

<h2>
    How to Use Layered Panes
</h2>
<p>
<blockquote>

A layered pane
is a Swing container that provides a third dimension 
for positioning components: <em>depth</em>,
also known as <em>Z order</em>.
When adding a component to a layered pane,
you specify its depth.
Components at a higher depth overlap components at a lower depth and 
components at a lower depth are under components at a higher depth.
The relationship between components at the same depth
is determined by their positions within the depth.
For convenience,
layered pane defines several <em>layer</em>s
within the possible range of depths for specific functions.
For example, you can put a component on the highest layer,
the drag layer, when dragging components.

<p>
Swing provides two layered pane classes.
The first, 
<a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JLayeredPane.html"><code>JLayeredPane</code></a><a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JLayeredPane.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a>, is the class that root panes use.
The second,
<code>JDesktopPane</code>,
is a <code>JLayeredPane</code> subclass
that's specialized for the task of holding internal frames.
The example in this section uses an instance of <code>JLayeredPane</code>.
For examples of using <code>JDesktopPane</code>,
see <a href="internalframe.html">How to Use Internal Frames</a>.

<blockquote>
<hr>
<strong>Note</strong>:
[PENDING: mention that layered panes don't work with internal
frames in some releases of Swing?]
<hr>
</blockquote>

<p>
Every Swing container that has a 
<a href="rootpane.html">root pane</a> --
such as 
<a href="frame.html"><code>JFrame</code></a>,
<code>JApplet</code>,
<a href="dialog.html"><code>JDialog</code></a>, and
<a href="internalframe.html"><code>JInternalFrame</code></a> --
automatically has a layered pane,
although many programs don't explicitly
use the layered pane.
[PENDING: link to high-level discussion of this]
You can also create your own layered pane
and use it anywhere you can use a regular Swing container.

<p>
Here's a picture of a demo application that
uses a layered pane to place colored
<a href="label.html">labels</a> on different layers:

<blockquote><IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/components/LayeredPaneDemo.gif" WIDTH="311" HEIGHT="416" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT=""></blockquote>
<blockquote>
<hr>
<strong>Try this:</strong>
<ol>
<li> Compile and run the application.
     The source file is
     <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/LayeredPaneDemo.java">
     <code>LayeredPaneDemo.java</code></a>.
     You will also need the
     <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/images/dukeWaveRed.gif">
     <code>dukeWaveRed.gif</code></a> image file.
     <br>
     See <a href="..\start\index.html">Getting Started with Swing</a> if you need help.

<li> Move the mouse around in the lower part of the window.
     The image of Duke drags behind
     the <strong>Drag Layer</strong> and <strong>Popup layer</strong> labels
     and in front of the labels on the other three layers.
<li> Use the combo box at the top of the window to change Duke's layer.
     Use the check box to set whether Duke is in position 0 within
     the current layer.
</ol>
<hr>
</blockquote>

Here's the code that creates and sets up the layered pane:
<blockquote>
<pre>
//Create the dragging area at the bottom of the window
Dimension layeredPaneSize = new Dimension(300, 310);
layeredPane = new JLayeredPane();
layeredPane.setPreferredSize(layeredPaneSize);
layeredPane.setBorder(BorderFactory.createTitledBorder(
				 "Move the Mouse to Move Duke"));
layeredPane.addMouseMotionListener(new MouseMotionAdapter() {
    public void mouseEntered(MouseEvent e) {
	dragLabel.setBounds(e.getX()-15, e.getY()-10,
			    iconWidth, iconHeight);
    }
    public void mouseMoved(MouseEvent e) {
	dragLabel.setBounds(e.getX()-15, e.getY()-10,
			    iconWidth, iconHeight);
    }
});    
</pre>
</blockquote>
This code creates a layered pane,
gives it a preferred size and a border,
and adds a mouse motion listener to it.
Now let's look at the code
that adds the colored labels to the layered pane at different depths.
<blockquote>
<pre>
//This is the origin of the default layer's label
//and the size of all the layers' labels.
Point origin = new Point(10, 20);
Dimension size = new Dimension(140, 140);

//For each layer, add a colored label overlapping the last
for (int i = 0 ; i < layerValues.length; i++) {

    //Create and set up colored label
    JLabel label = new JLabel(/*<em>text for label</em>*/);
    ...

    //Position and size it the hard way
    <strong>label.setBounds(origin.x, origin.y, size.width, size.height);</strong>

    //Add it to the layered pane
    <strong>layeredPane.add(label, /*<em>depth</em>*/);</strong>

    //Adjust origin for next layer
    origin.x += 35;
    origin.y += 35;
}
</pre>
</blockquote>
Two statements are shown in bold font.
The first sets the bounds of the label,
which includes the label's x and y position
as well as its width and height.
You have to set each components x and y position explicitly
because by default layered panes don't have a layout manager.
You can set a layered pane's layout manager,
but the layout manager will arrange the components
as if they were all on one layer.
Most programs use an intermediate container to
contain and position components on the same layer,
but use
<a target="_top" href="..\layout\none.html">absolute positioning</a><a target="_top" href="..\layout\none.html"><img src="http://docs.rinet.ru/Jtuta/images/uiIcon.gif" width=20 height=20 border=0 alt="(in the Creating a User Interface trail)"></a> to layout components on different layers.
<p>
The second bold statement adds the label
to the layered pane and sets its depth.
In this example, each colored label
is added to a different layer.
The <code>add</code> method used in this program takes two arguments:
The first is the component to add;
the second is an <code>Integer</code> indicating
the depth at which to put the component.
You can use any <code>Integer</code> to specify depth.
However, this example and most other programs use one of those
defined by the <code>JLayeredPane</code> class:
<p>
<table cellpadding=5>
<tr>
<th rowspan=7>
<IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/components/layeredPaneLayers.gif" WIDTH="239" HEIGHT="169" ALT=""><th>Layer Name<th>Value<th>Description
<tr>
<td><code>FRAME_CONTENT_LAYER</code> <td> <code>new Integer(-30000)</code>
<td> This layer is used to position the frame's content pane and menu bar.
     Most programs won't use this.
<tr>
<td><code>DEFAULT_LAYER</code> <td> <code>new Integer(0)</code>
<td> Most components go in this layer.
<tr>
<td><code>PALETTE_LAYER</code> <td> <code>new Integer(100)</code>
<td> This layer is useful for floating toolbars and palettes.

<tr>
<td><code>MODAL_LAYER</code> <td> <code>new Integer(200)</code>
<td> Modal dialogs, such as those provided by 
     <a href="dialog.html"><code>JOptionPane</code></a>,
     belong in this layer.
<tr>
<td><code>POPUP_LAYER</code> <td> <code>new Integer(300)</code>
<td> Popups go in this layer because they need to appear
	above just about everything.
<tr>
<td><code>DRAG_LAYER</code> <td> <code>new Integer(400)</code>
<td> Move a component to this layer when dragging.
     Return the component to its regular layer when dropped.
</table>

Here's the code that creates the label with Duke's image
and adds it to the layered pane:
<blockquote>
<pre>
//Create and add the drag label (duke image) to the layered pane
dragLabel = new JLabel(icon);
dragLabel.setBounds(15, 225, iconWidth, iconHeight);
layeredPane.add(dragLabel, JLayeredPane.MODAL_LAYER, 0);
</pre>
</blockquote>
Note that this code uses a three argument version of the
<code>add</code> method. The third argument specifies
the Duke label's <em>position</em> within its layer
which determines its relationship with
other components at the same depth.
Positions are specified with an <code>int</code> between -1 and (N-1),
where N is the number of components at the depth.
Unlike layer numbers,
the lower the position number,
the higher the component within its depth.
Using -1 is the same as using N-1;
it indicates the bottom-most position.
Using 0 specifies that the component should be
in the top-most position within its depth.
As the following figure shows, 
with the exception of -1, 
a lower position number indicates a higher position within a depth.

<blockquote><IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/components/positions.gif" WIDTH="251" HEIGHT="91" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT=""></blockquote>
Both a component's layer and its
relative position within its layer can change.
In the example, the combo box changes Duke's
layer and the check box
changes Duke's position within the layer.
The check box and the combo box share the same
action listener,
which has this <code>actionPerformed</code> method:
<blockquote>
<pre>
public void actionPerformed(ActionEvent e) {

    //event came from the combo box...change Duke's layer
    if (e.getSource().equals(layerList))
        layeredPane.setLayer(dragLabel,
	          layerValues[layerList.getSelectedIndex()].intValue(),
	          onTop.isSelected()?0:1);

    //event came from the combo box...change Duke's layer
    else {
        if (onTop.isSelected())
	    layeredPane.moveToFront(dragLabel);
        else
	    layeredPane.moveToBack(dragLabel);
    }
}
</pre>
</blockquote>
When the user chooses a new layer with the combo box,
the code changes Duke's layer by using the <code>setLayer</code> method.
This version of <code>setLayer</code> requires a position as well.
The code computes the position value based on the check box's selected state.
<code>JLayeredPane</code> provides a two-argument version
of <code>setLayer</code> that requires only the component and layer.
Use that method if you want the components to be positioned based on
the order in which they were added to the layered pane
(last on top, first on bottom).
When the user selects the check box,
the <code>moveToFront</code> method moves Duke to the front (position 0).
And when the user deselects check box,
Duke gets moved to the back with the <code>moveToBack</code> method.

<p>
<blockquote>
<hr>
<strong>A Note of Caution:</strong>
When adding a component to a layered pane you specify
the layer with an <code>Integer</code>.
When using <code>setLayer</code> to change a component's
layer, you use an <code>int</code>.
Use the API tables below to check the types of the
arguments and return values for other methods in this
class that deal with layers.
<hr>
</blockquote>

<h4>
<a name="api">The Layered Pane API</a>
</h4>
<blockquote>
The following tables list the commonly used
<code>JLayeredPane</code> constructors and methods.
Other methods you're likely to call
are defined by the
<a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JComponent.html"><code>JComponent</code></a><a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JComponent.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a> and
<a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.Component.html"><code>Component</code></a><a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.Component.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a> classes
and include
[PENDING: anything in particular for JLayeredPane?].
[Link to JComponent and Component discussions.]

<p>

The API for using layered pane falls into these categories:

<ul>
<li><a href="#creating">Creating or Getting a Layered Pane</a>
<li><a href="#layers">Layering Components</a>
<li><a href="#positions">Setting Components's Intra-Layer Positions</a>
</ul>

<p>

<table border=1>
<caption><a name="creating">Creating or Getting a Layered Pane</a></caption>
<tr>
<th align=left>Method
<th align=left>Purpose

<tr>
<td><font size=2><code>JLayeredPane()</code></font>
<td>Create a layered pane.

<tr>
<td><font size=2><code>JLayeredPane getLayeredPane()</code></font>
    <br>
    <em>(in <code>JApplet</code>, <code>JDialog</code>,
	<code>JFrame</code>, and
	<code>JInternalFrame</code>)
<td>Get the layered pane in an applet, dialog, frame, or internal frame.

</table>

<p>

<table border=1>
<caption><a name="layers">Layering Components</a></caption>
<tr>
<th align=left>Method
<th align=left>Purpose

<tr>
<td><font size=2><code>void add(Component, Integer)
    <br>
    void add(Component, Integer, int)</code></font>
<td>Add the specified component to the layered pane.
    The second argument indicates the layer.
    The third argument, when present,
    indicates the component's position within its layer.

<tr>
<td><font size=2><code>void setLayer(Component, int)
    <br>
    void setLayer(Component, int, int)</code></font>
<td>Change the component's layer.
    The second argument indicates the layer.
    The third argument, when present,
    indicates the component's position within its layer.

<tr>
<td><font size=2><code>int getLayer(Component)
    <br>
    int getLayer(JComponent)</code></font>
<td>Get the layer for the specified component.

<tr>
<td><font size=2><code>int getComponentCountInLayer(int)</code></font>
<td>Get the number of components in the specified layer.
    The value returned by this method can be useful for
    computing position values.

<tr>
<td><font size=2><code>Component[] getComponentsInLayer(int)</code></font>
<td>Get an array of all the components in the specified layer.

<tr>
<td><font size=2><code>int highestLayer()
    <br>
    int lowestLayer()</code></font>
<td>Compute the highest or lowest layer currently in use.

</table>

<p>

<table border=1>
<caption><a name="positions">Setting Components' Intra-Layer Positions</a></caption>
<tr>
<th align=left>Method
<th align=left>Purpose

<tr>
<td><font size=2><code>void setPosition(Component, int)
    <br>
    int getPosition(Component)</code></font>
<td>Set or get the position for the specified component within its layer.

<tr>
<td><font size=2><code>void moveToFront(Component)
    <br>
    void moveToBack(Component)</code></font>
<td>Move the specified component to the front or back of its layer.

</table>

</blockquote>

<h4>
<a name="eg">Examples that Use Layered Panes</a>
</h4>
<blockquote>
This table shows the examples that use <code>JLayeredPane</code>
and where those examples are described.
<p>
<table>
<tr>
<th align=left> Example
<th align=left> Where Described
<th align=left> Notes

<tr>
<td> <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/LayeredPaneDemo.java"><code>LayeredPaneDemo.java</code></a>
<td> This page.
<td> Illustrates layers and intra-layer positions
     of a <code>JLayeredPane</code>.

<tr>
<td> <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/InternalFrameDemo.java"><code>InternalFrameDemo.java</code></a>
<td> <a href="internalframe.html">How to Use Internal Frames</a>
<td> Uses a <code>JDesktopFrame</code> to manage internal frames.

</table>

</blockquote>


</blockquote>
<p>
<hr size=4>
<p> 
<table width="100%">
<tr>
<td align=left>
<a href="internalframe.html"><img src="http://docs.rinet.ru/Jtuta/images/PreviousArrow.gif" width=26 height=26 align=top border=0 alt="Previous | "></a><a
href="rootpane.html"><img src="http://docs.rinet.ru/Jtuta/images/NextArrow.gif" width=26 height=26 align=top border=0 alt="Next | "></a><a
href="..\..\trailmap.html"><img src="http://docs.rinet.ru/Jtuta/images/WayUpArrow.gif" width=26 height=26 align=top border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/Jtuta/images/uiHeader.gif" width=26 height=26 align=top border=0 alt="Creating a GUI with JFC/Swing | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Swing Components</em></strong></a>
</td>
</tr>
</table>
</body>
</html>
