




















<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<!--NewPage-->
<html>
<head>
<title>How to Use Lists</title>
</head>
<body BGCOLOR="#ffffff">










<table width="100%">
<tr>
<td align=left>
<a href="label.html"><img src="http://docs.rinet.ru/Jtuta/images/PreviousArrow.gif" width=26 height=26 align=bottom border=0 alt="Previous | "></a><a
href="menu.html"><img src="http://docs.rinet.ru/Jtuta/images/NextArrow.gif" width=26 height=26 align=bottom border=0 alt="Next | "></a><a
href="..\..\trailmap.html"><img src="http://docs.rinet.ru/Jtuta/images/WayUpArrow.gif" width=26 height=26 align=bottom border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/Jtuta/images/uiHeader.gif" width=26 height=26 align=bottom border=0 alt="Creating a GUI with JFC/Swing | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Swing Components</em></strong></a>
</td>
</tr>
</table>
<p>
<center>
<IMG SRC="http://docs.rinet.ru/Jtuta/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
<IMG SRC="http://docs.rinet.ru/Jtuta/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
</center>
<p> 

<h2>
    How to Use Lists
</h2>
<p>
<blockquote>

A
<a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JList.html"><code>JList</code></a><a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JList.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a> presents the user with a group of items to choose from.
A list can have many items
or can grow to have many items,
so lists are often used in a scroll pane.
Because of this, <code>JList</code> is a
<a href="scrollpane.html#scrollable">scroll-savvy</a> class.

<p>

In addition to lists,
the following Swing components present
multiple selectable items to the user:
<a href="combobox.html">combo boxes</a>,
<a href="menu.html">menus</a>, 
<a href="table.html">tables</a>,
and
groups of <a href="button.html#checkbox">check boxes</a> or
<a href="button.html#radiobutton">radio buttons</a>,
Only tables, lists, and groups of check boxes allow
multiple items to be selected at the same time.

<p>
This application 
uses a <code>JList</code> to display a list of image names.
When the user clicks on an image name,
the application displays the image.

<blockquote><IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/components/ListDemoSwing.gif" WIDTH="411" HEIGHT="230" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT=""></blockquote>
<blockquote>
<hr>
<strong>Try this:</strong>
<ol>
<li> Compile and run the application.
     The main source file is
     <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/SplitPaneDemo.java"><code>SplitPaneDemo.java</code></a>.
     <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/imagenames.properties"><code>imagenames.properties</code></a>
     provides the image names to put in the <code>JList</code>.
     You can <a href="..\..\information\download.html#swingarchive">download</a>
     the entire swing lesson to get the image files used
     or you can modify the properties file to use images you already have.
<li> Choose an image from the list.
     Use the scroll bar to see more names.
<li> Refer to <a href="splitpane.html">How to Use Split Panes</a>
     to find out about this demo's use of a split pane.
</ol>
<hr>
</blockquote>

Below is the code from
<a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/SplitPaneDemo.java"><code>SplitPaneDemo.java</code></a>
that creates and sets up the list:
<blockquote>
<pre>
...<em>where member variables are declared</em>
   <em>this Vector is initialized from a properties file</em>...
static Vector imageList;
...<em>where the GUI is created</em>...
// Create the list of images and put it in a scroll pane
JList list = new JList(imageList);
list.setSelectionMode(ListSelectionModel.SINGLE_SELECTION);
list.setSelectedIndex(0);
list.addListSelectionListener(this);
JScrollPane listScrollPane = new JScrollPane(list);
</pre>
</blockquote>
The example initializes the list
with a <code>Vector</code> filled with strings
that were read in from a properties file.
<p>
After a list has been created and initialized,
you can replace the entire set of items in the list
with either the <code>setModel</code>
or <code>setListData</code> methods.
However, the <code>JList</code> class itself does not provide
API for adding, removing, or changing individual items
in a list.
To individually modify the items in a list,
you modify the list's <em>list model</em> object.
<p>
A list manages its items using an object that
adheres to the
<a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/ListModel.html"><code>ListModel</code></a><a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/ListModel.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a> interface.
The constructor used in the previous example
implicitly creates a list model,
which you can retrieve with <code>getModel</code>.
The model created by this constructor is immutable--its
items cannot be changed individually.
To create a list whose items can be changed individually,
set the list's model to an instance of a mutable list model class--
such as an instance of
<a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/DefaultListModel.html"><code>DefaultListModel</code></a><a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/DefaultListModel.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a>.
You can set a list's model two ways:
<ul>
<li> Use the <code>JList(ListModel)</code> constructor when you
     create the list.
<li> Call the <code>setModel</code> method.
</ul>
See
<a href="#mutable">Modifying a List</a>
for an example.

<p>
The <code>SplitPaneDemo</code> example
fills the list with <code>String</code> objects.
However, the values in the list can be any <code>Object</code>,
in which case the <code>Object</code>'s <code>toString</code>
method provides the text to display.
To display an item as an image or other non-text value,
you must provide a custom cell renderer with <code>setCellRenderer</code>.
The tutorial does not provide an example of a list
with a custom cell renderer.
You can find an example in the SwingSet application shipped with Swing.
[PENDING: check the following]
A list's cell renderer is similar to
a table's cell renderer. For a custom table
cell renderer example, see [PENDING: table cell renderer].

<h4>Selecting Items in a List</h4>
<blockquote>
A list uses an instance of
<a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/ListSelectionModel.html"><code>ListSelectionModel</code></a><a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/ListSelectionModel.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a> to manage its selection.
By default, a list selection model allows any combination of items
to be selected at a time.
You can specify a different selection mode by calling the
<code>setSelectionMode</code> method on the list.
For example, <code>SplitPaneDemo</code>
sets the selection mode to <code>SINGLE_SELECTION</code>
(a constant defined by <code>ListSelectionModel</code>)
so that only one item in the list can be selected.
The following table describes the three list selection modes:
<p>

<table>
<tr>
<th>Mode<th>Description<th>Example
<tr>
<td valign=top><code>SINGLE_SELECTION</code>
<td valign=top>Only one item can be selected at a time.
    When the user selects an item,
    any previously selected item is deselected first.
<td>
<IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/components/SingleSelection.gif" WIDTH="80" HEIGHT="82" ALT=""><tr>
<td valign=top><code>SINGLE_INTERVAL_SELECTION</code>
<td valign=top>Multiple, contiguous items can be selected.
    When the user begins a new selection,
    any previously selected items are deselected first.
<td>
<IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/components/SingleIntervalSelection.gif" WIDTH="80" HEIGHT="82" ALT=""><tr>
<td valign=top><code>MULTIPLE_INTERVAL_SELECTION</code>
<td valign=top>The default. Any combination of items can be selected.
    The user must explicitly deselect items.
<td>
<IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/components/MultipleIntervalSelection.gif" WIDTH="80" HEIGHT="82" ALT=""></table>
<p>
No matter which selection mode your list uses,
the list fires list selection events whenever the selection changes.
You can process these events by adding a 
<a href="..\events\listselectionlistener.html">
list selection listener</a> 
to the list with the <code>addListSelectionListener</code> method.
A list selection listener must implement one method: <code>valueChanged</code>.
Here's the <code>valueChanged</code> method for
the listener in <code>SplitPaneDemo</code>:
<blockquote>
<pre>
public void valueChanged(ListSelectionEvent e) {
    if (e.getValueIsAdjusting())
        return;

    JList theList = (JList)e.getSource();
    if (theList.isSelectionEmpty()) {
        picture.setIcon(null);
    } else {
        int index = theList.getSelectedIndex();
        ImageIcon newImage = new ImageIcon("images/" +
                                 (String)imageList.elementAt(index));
        picture.setIcon(newImage);
        picture.setPreferredSize(new Dimension(newImage.getIconWidth(),
                                               newImage.getIconHeight() ));
        picture.revalidate();
    }
}
</pre>
</blockquote>
Many list selection events can be
generated from a single user action such as a mouse click.
The <code>getValueIsAdjusting</code> method returns <code>true</code>
if the user is still manipulating the selection.
This particular program is interested only in the final result
of the user's action,
so the <code>valueChanged</code> method
updates the image only if <code>getValueIsAdjusting</code> returns
<code>false</code>.
<p>
Because the list is in single selection mode,
this code can use <code>getSelectedIndex</code> to
get the index of the just-selected item.
<code>JList</code> provides other methods for
<a href="#selection">setting or getting the selection</a>
when the selection mode allows more than one item to be selected.
Alternatively, you can listen for events on the
list's list selection model
rather than on the list itself.
<a href="..\events\listselectionlistener.html#eg">
Examples of Handling List Selection Events</a>
provides an example that
shows how to listen for list selection events on the list selection model
and let's you change the selection mode of a list dynamically
</blockquote>

<a name="mutable">
<h4>Modifying a List</h4>
</a>
<blockquote>
Here's an application that
lets a user modify
a list of employees
by hiring and firing them:

<blockquote><IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/components/ListDemo.gif" WIDTH="274" HEIGHT="222" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT=""></blockquote>

<blockquote>
<hr>
<strong>Try this:</strong>
<ol>
<li> Compile and run the application.
     The source file is
     <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/ListDemo.java"><code>ListDemo.java</code></a>.
<li> Select a name from the list and click the <strong>Fire</strong> button.
<li> Type in a new name and click the <strong>Hire</strong> button.
</ol>
<hr>
</blockquote>

Here's the code from <code>ListDemo</code>
that creates a mutable list model object,
puts the initial items in it,
and uses the list model to create a list:
<blockquote>
<pre>
listModel = new DefaultListModel();
listModel.addElement("Alison Huml");
listModel.addElement("Kathy Walrath");
listModel.addElement("Lisa Friendly");
listModel.addElement("Mary Campione");

list = new JList(listModel);
</pre>
</blockquote>
This particular program uses an instance
of <code>DefaultListModel</code>,
a class provided by Swing.
In spite of its name, a list does not have a
<code>DefaultListModel</code> unless your
program explicitly make it so.
If this class doesn't suit your needs,
you can write a custom list model,
which must adhere to the <code>ListModel</code> interface.

<p>
Here's the <code>actionPerformed</code> method
for the action listener registered on 
the <strong>Fire</strong> button:
<blockquote>
<pre>
public void actionPerformed(ActionEvent e) {
    int index = list.getSelectedIndex();
    <strong>listModel.remove(index);</strong>

    int size = listModel.getSize();

    //Nobody's left, disable firing
    if (size == 0) {
	fireButton.setEnabled(false);

    //Adjust the selection
    } else {
	if (index == listModel.getSize())//removed item in last position                    index--;
	list.setSelectedIndex(index);   //otherwise select same index
    }
}
</pre>
</blockquote>
The bold line of code removes the selected item in the list.
The remaining lines in the method
disable the fire button if the list is now empty,
and make another selection.

<p>
Here's the <code>actionPerformed</code> method
for the action listener shared by the <strong>Hire</strong>
button and the text field:
<blockquote>
<pre>
public void actionPerformed(ActionEvent e) {
    //User didn't type in a name...
    if (employeeName.getText().equals("")) {
	Toolkit.getDefaultToolkit().beep();
	return;
    }

    int index = list.getSelectedIndex();
    int size = listModel.getSize();

    //If no selection or if item in last position is selected,
    //add the new hire to end of list, and select new hire
    if (index == -1 || (index+1 == size)) {
	<strong>listModel.addElement(employeeName.getText());</strong>
	list.setSelectedIndex(size);

    //Otherwise insert the new hire after the current selection,
    //and select new hire
    } else {
	<strong>listModel.insertElementAt(employeeName.getText(), index+1);</strong>
	list.setSelectedIndex(index+1);
    }
}
</pre>
</blockquote>
This code uses the list model's <strong>addElement</strong>
method to add the new name to the end of the list if
the last item in the list is selected or if there's no selection.
Otherwise, the code calls <strong>insertElementAt</strong>
to insert the new name after the current selection.
</blockquote>

<h4>
<a name="api">The List API</a>
</h4>
<blockquote>
The following tables list the commonly used
<code>JList</code> constructors and methods.
Other methods you're likely to call
are defined by the
<a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JComponent.html"><code>JComponent</code></a><a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JComponent.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a> and
<a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.Component.html"><code>Component</code></a><a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.Component.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a> classes
and include
[PENDING: anything in particular for JList?].
[Link to JComponent and Component discussions.]

<p>

Much of the operation of a list is managed by other objects.
For example,
the items in the list are managed by a list model object,
the selection is managed by a list selection model object,
and most programs put a list in a scroll pane to handle scrolling.
For the most part, you don't need to worry about these helper objects
because <code>JList</code> creates them as necessary and
you interact with them implicitly with <code>JList</code>'s convenience methods.

<P>

That said, the API for using lists falls into these categories:

<ul>
<li><a href="#items">Setting the Items in the List</a>
<li><a href="#selection">Managing the List's Selection</a>
<li><a href="#scrolling">Working with a Scroll Pane</a>
</ul>

<p>

<table border=1>
<caption><a name="items">Setting the Items in the List</a></caption>
<tr>
<th>Method
<th>Purpose

<tr>
<td><font size=2>
    <br>
    <code>JList(ListModel)
    <br>
    JList(Object[])
    <br>
    JList(Vector)</code></font>
<td>Create a list with the initial list items specified.
    The second and third constructors implicitly
    create an immutable <code>ListModel</code>.

<tr>
<td><font size=2><code>void setModel(ListModel)
    <br>
    ListModel getModel()
    </code></font>
<td>Set or get the model that contains the contents of the list.

<tr>
<td><font size=2><code>void setListData(Object[])
    <br>
    void setListData(Vector)
    </code></font>
<td>Set the items in the list.
    These methods implicitly create an immutable <code>ListModel</code>.

</table>

<p>

<table border=1>
<caption><a name="selection">Managing the List's Selection</a></caption>
<tr>
<th>Method
<th>Purpose

<tr>
<td><font size=2><code>void addListSelectionListener(
<br>ListSelectionListener)</code></font>
<td>Register to receive notification of selection changes.

<tr>
<td><font size=2><code>void setSelectedIndex(int)
    <br>
    void setSelectedIndices(int[])
    <br>
    void setSelectedValue(Object, boolean)
    <br>
    void setSelectedInterval(int, int)</code></font>
<td>Set the current selection as indicated. 
    Use <code>setSelectionMode</code>
    to set what ranges of selections are acceptable.
    The boolean argument
    specifies whether the list 
    should attempt to scroll itself
    so that the selected item is visible.

<tr>
<td><font size=2><code>int getSelectedIndex()
    <br>
    int getMinSelectionIndex()
    <br>
    int getMaxSelectionIndex()
    <br>
    int[] getSelectedIndices()
    <br>
    Object getSelectedValue()
    <br>
    Object[] getSelectedValues()</code></font>
<td>Get information about the current selection as indicated.

<tr>
<td><font size=2><code>void setSelectionMode(int)
    <br>
    int getSelectionMode()</code></font>
<td>Set or get the selection mode. Acceptable values are:
    <code>SINGLE_SELECTION</code>,
    <code>SINGLE_INTERVAL_SELECTION</code>,
    or <code>MULTIPLE_INTERVAL_SELECTION</code>,
    which are defined in <code>ListSelectionModel</code>.

<tr>
<td><font size=2><code>void clearSelection()
    <br>
    boolean isSelectionEmpty()</code></font>
<td>Set or get whether any items are selected.

<tr>
<td><font size=2><code>boolean isSelectedIndex(int)</code></font>
<td>Determine whether the specified index is selected.
</table>

<p>

<table border=1>
<caption><a name="scrolling">Working with a Scroll Pane</a></caption>
<tr>
<th>Method
<th>Purpose

<tr>
<td><font size=2><code>void ensureIndexIsVisible(int)</code></font>
<td>Scroll so that the specified index is visible within the viewport
    that this list is in.

<tr>
<td><font size=2><code>int getFirstVisibleIndex()
    <br>
    int getLastVisibleIndex()</code></font>
<td>Get the index of the first or last visible item.

<tr>
<td><font size=2><code>void setVisibleRowCount(int)
    <br>
    int getVisibleRowCount()</code></font>
<td>Set or get how many rows of the list are visible.

</table>

</blockquote>

<h4>
<a name="eg">Examples that Use Lists</a>
</h4>
<blockquote>
This table shows the examples that use <code>JList</code>
and where those examples are described.
<p>
<table>
<tr>
<th align=left> Example
<th align=left> Where Described
<th align=left> Notes

<tr>
<td> <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/SplitPaneDemo.java"><code>SplitPaneDemo.java</code></a>
<td> This page and <br>
     <a href="splitpane.html">How to Use Split Panes</a>
<td> Contains a single selection, immutable list.

<tr>
<td> <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/ListDemo.java"><code>ListDemo.java</code></a>
<td> This page
<td> Demonstrates how to add and remove items from a list at runtime.

<tr>
<td> <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/ListDialog.java"><code>ListDialog.java</code></a>
<td> <a href="..\layout\box.html">How to Use BoxLayout</a>
<td> Implements a modal dialog with a single selection list.

<tr>
<td> <a href="http://docs.rinet.ru/Jtuta/uiswing/events/example-swing/ListSelectionDemo.java"><code>ListSelectionDemo.java</code></a>
<td> <a href="..\events\listselectionlistener.html">
     How to Write a List Selection Listener</a>
<td> Contains a list
     and a table that share
     the same selection model.
     You can dynamically choose the selection mode.

<tr>
<td> <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/SharedModelDemo.java"><code>SharedModelDemo.java</code></a>
<td> Nowhere yet
<td> Modifies <code>ListSelectionDemo</code>
     so that the list and table share the same data model.

</table>

</blockquote>


</blockquote>
<p>
<hr size=4>
<p> 
<table width="100%">
<tr>
<td align=left>
<a href="label.html"><img src="http://docs.rinet.ru/Jtuta/images/PreviousArrow.gif" width=26 height=26 align=top border=0 alt="Previous | "></a><a
href="menu.html"><img src="http://docs.rinet.ru/Jtuta/images/NextArrow.gif" width=26 height=26 align=top border=0 alt="Next | "></a><a
href="..\..\trailmap.html"><img src="http://docs.rinet.ru/Jtuta/images/WayUpArrow.gif" width=26 height=26 align=top border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/Jtuta/images/uiHeader.gif" width=26 height=26 align=top border=0 alt="Creating a GUI with JFC/Swing | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Swing Components</em></strong></a>
</td>
</tr>
</table>
</body>
</html>
