




















<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<!--NewPage-->
<html>
<head>
<title>How to Use Menus</title>
</head>
<body BGCOLOR="#ffffff">










<table width="100%">
<tr>
<td align=left>
<a href="list.html"><img src="http://docs.rinet.ru/Jtuta/images/PreviousArrow.gif" width=26 height=26 align=bottom border=0 alt="Previous | "></a><a
href="progress.html"><img src="http://docs.rinet.ru/Jtuta/images/NextArrow.gif" width=26 height=26 align=bottom border=0 alt="Next | "></a><a
href="..\..\trailmap.html"><img src="http://docs.rinet.ru/Jtuta/images/WayUpArrow.gif" width=26 height=26 align=bottom border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/Jtuta/images/uiHeader.gif" width=26 height=26 align=bottom border=0 alt="Creating a GUI with JFC/Swing | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Swing Components</em></strong></a>
</td>
</tr>
</table>
<p>
<center>
<IMG SRC="http://docs.rinet.ru/Jtuta/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
<IMG SRC="http://docs.rinet.ru/Jtuta/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
</center>
<p> 

<h2>
    How to Use Menus
</h2>
<p>
<blockquote>


A menu provides a space-saving way to let the user
choose one of several options.
Other components with which the user can make a one-of-many choice
include
<a href="combobox.html">combo boxes</a>,
<a href="list.html">lists</a>,
<a href="button.html#radiobutton">radio buttons</a>, and
<a href="toolbar.html">tool bars</a>.
If any of your menu items performs an action that is duplicated
by another menu item or by a tool-bar button,
then in addition to this section you should read
<a href="..\misc\action.html">How to Use Actions</a>.

<p>

Menus are unique in that, by convention,
they aren't placed with the other components in the UI.
Instead, a menu usually appears either in a <em>menu bar</em>
or as a <em>popup menu</em>.
A menu bar contains one or more menus 
and has a customary, platform-dependent location --
usually along the top of a window.
A popup menu is a menu that is invisible
until the user makes a platform-specific mouse action,
such as pressing the right mouse button, 
over a popup-enabled component.
The popup menu then appears under the cursor.

<p>

The following figure shows the Swing components
that implement each part of the menu system.

<blockquote><IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/components/MenuLookDemo.gif" WIDTH="450" HEIGHT="260" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT=""></blockquote>
[PENDING: Labels to add: 
<a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JMenuBar.html"><code>JMenuBar</code></a><a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JMenuBar.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a>,
<a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JMenu.html"><code>JMenu</code></a><a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JMenu.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a>,
<a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JMenuItem.html"><code>JMenuItem</code></a><a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JMenuItem.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a>,
<a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JCheckBoxMenuItem.html"><code>JCheckBoxMenuItem</code></a><a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JCheckBoxMenuItem.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a>,
<a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JRadioButtonMenuItem.html"><code>JRadioButtonMenuItem</code></a><a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JRadioButtonMenuItem.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a>, and
<a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JSeparator.html"><code>JSeparator</code></a><a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JSeparator.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a>.
Leave out <code>JPopupMenu</code>.]


<p>

The rest of this section teaches you about the menu components
and tells you how to use
various menu features:

<ul>
<li> <a href="#hierarchy">The menu component hierarchy</a>
<li> <a href="#create">Creating menus</a>
<li> <a href="#event">Handling events from menu items</a>
<li> <a href="#popup">Bringing up a popup menu</a>
<li> <a href="#custom">Customizing menu layout</a>
<li> <a href="#api">The Menu API</a>
<li> <a href="#eg">Examples that use menus</a>
</ul>

<p>


<h4>
<a name="hierarchy">The Menu Component Hierarchy</a>
</h4>
<blockquote>

Here is a picture of the inheritance hierarchy for the menu-related classes:

<blockquote><IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/components/object.gif" WIDTH="444" HEIGHT="239" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT=""></blockquote>
As the figure shows, menu items (including menus) are simply 
<a href="button.html">buttons</a>.
You might be wondering how a menu,
if it's only a button, shows its menu items.
The answer is that when a menu is activated,
it automatically brings up a popup menu
that displays the menu items.



</blockquote>
<h4>
<a name="create">Creating Menus</a>
</h4>
<blockquote>

[PENDING: Show action code and point to 
<a href="..\misc\action.html">action page</a>.]
<p>
Here is the code 
that created the menus shown near the beginning of this menu section.
You can find the entire program in 
<a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/MenuLookDemo.java"><code>MenuLookDemo.java</code></a>.
To run the program, you need to have the following image file: 
<a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/images/middle.gif"><code>images/middle.gif</code></a>
image file.
Because this code has no event handling,
the menus do nothing useful
except look like they should.
If you run the example,
you'll notice that despite the lack of custom event handling, 
menus and submenus appear when they should, 
and the check boxes and radio buttons
respond appropriately when the user chooses them.


<blockquote>
<pre>
<em>//in the constructor for a JFrame subclass:</em>
JMenuBar menuBar;
JMenu menu, submenu;
JMenuItem menuItem;
JCheckBoxMenuItem cbMenuItem;
JRadioButtonMenuItem rbMenuItem;
...
//Create the menu bar.
menuBar = new JMenuBar();
setJMenuBar(menuBar);

//Build the first menu.
menu = new JMenu("A Menu");
menuBar.add(menu);

//a group of JMenuItems
menuItem = new JMenuItem("A text-only menu item");
menu.add(menuItem);
menuItem = new JMenuItem("Both text and icon", 
new ImageIcon("images/middle.gif"));
menu.add(menuItem);
menuItem = new JMenuItem(new ImageIcon("images/middle.gif"));
menu.add(menuItem);

//a group of radio button menu items
menu.addSeparator();
ButtonGroup group = new ButtonGroup();
rbMenuItem = new JRadioButtonMenuItem("A radio button menu item");
rbMenuItem.setSelected(true);
group.add(rbMenuItem);
menu.add(rbMenuItem);
rbMenuItem = new JRadioButtonMenuItem("Another one");
group.add(rbMenuItem);
menu.add(rbMenuItem);

//a group of check box menu items
menu.addSeparator();
cbMenuItem = new JCheckBoxMenuItem("A check box menu item");
menu.add(cbMenuItem);
cbMenuItem = new JCheckBoxMenuItem("Another one");
menu.add(cbMenuItem);

//a submenu
menu.addSeparator();
submenu = new JMenu("A submenu");
menuItem = new JMenuItem("An item in the submenu");
submenu.add(menuItem);
menuItem = new JMenuItem("Another item");
submenu.add(menuItem);
menu.add(submenu);

//Build second menu in the menu bar.
menu = new JMenu("Another Menu");
menuBar.add(menu);
</pre>
</blockquote>
<p>

As the code shows,
to set the menu bar for a <code>JFrame</code>, 
you use the <code>setJMenuBar</code> method.
To add a <code>JMenu</code> to a <code>JMenuBar</code>,
you use the <code>add(JMenu)</code> method.
To add menu items and submenus to a <code>JMenu</code>,
you use the <code>add(JMenuItem)</code> method.
These methods and more 
are listed in 
<a href="#api">The Menu API</a>.

<p>

</blockquote>
<h4>
<a name="event">Handling Events from Menu Items</a>
</h4>
<blockquote>

To detect when the user selects a <code>JMenuItem</code>,
you can listen for action events
(just as you would for a 
<a href="button.html"><code>JButton</code></a>).
To detect when the user selects a <code>JRadioButtonMenuItem</code>,
you can listen for either action events or
item events,
as described in 
<a href="button.html#radiobutton">How to Use Radio Buttons</a>.
For <code>JCheckBoxMenuItem</code>s,
you generally listen for item events,
as described in 
<a href="button.html#checkbox">How to Use Check Boxes</a>.

<p>

The following picture shows a program
that adds event detection to the preceding example.
The program's code is in
<a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/MenuDemo.java"><code>MenuDemo.java</code></a>.
Like MenuLookDemo, MenuDemo uses the 
<a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/images/middle.gif"><code>images/middle.gif</code></a>
image file.

<blockquote><IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/components/MenuDemo.gif" WIDTH="450" HEIGHT="260" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT=""></blockquote>
Here is the code that implements
the event handling:

<blockquote>
<pre>
public class MenuDemo ... implements ActionListener, ItemListener {
    ...
    public MenuDemo() {
        <em>...//for each JMenuItem instance:</em>
        menuItem.addActionListener(this);

        <em>...//for each JRadioButtonMenuItem: </em>
        rbMenuItem.addActionListener(this);

        <em>...//for each JCheckBoxMenuItem: </em>
        cbMenuItem.addItemListener(this);
        ...
    }

    public void actionPerformed(ActionEvent e) {
        <em>...//Get information from the action event...
        ...//Display it in the text area...</em>
    }

    public void itemStateChanged(ItemEvent e) {
        <em>...//Get information from the item event...
        ...//Display it in the text area...</em>
    }
</pre>
</blockquote>

For examples of handling action and item events,
see the <a href="button.html">button</a>, 
<a href="button.html#radiobutton">radio button</a>, and
<a href="button.html#checkbox">check box</a> sections,
as well as the <a href="#eg">list of examples</a>
at the end of this section.


</blockquote>
<h4>
<a name="popup">Bringing Up a Popup Menu</a>
</h4>
<blockquote>
To bring up a popup menu
(
<a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JPopupMenu.html"><code>JPopupMenu</code></a><a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JPopupMenu.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a>), you must register a mouse listener
on each component 
that the popup menu should be associated with.
The mouse listener must detect
user requests that the popup menu be brought up.
For Windows and Motif platforms, 
the user brings up a popup menu 
by pressing the right mouse button 
while the cursor is over a component
that has a popup menu.

<p>

The mouse listener 
brings up the popup menu 
by invoking <code>setVisible(true)</code>
on the appropriate <code>JPopupMenu</code> instance.
The following code,
taken from 
<a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/PopupMenuDemo.java"><code>PopupMenuDemo.java</code></a>,
shows how to create and show popup menus:
[PENDING: Check.  This is the same mouse-press-detecting code 
as was used for 1.1 AWT popup menus.
Is it appropriate to use the same code for all L&Fs?]

<blockquote>
<pre>
<em>...//where instance variables are declared:</em>
JPopupMenu popup; 

    <em>...//where the GUI is constructed:</em>
    //Create the popup menu.
    popup = new JPopupMenu();
    menuItem = new JMenuItem("A popup menu item");
    menuItem.addActionListener(this);
    popup.add(menuItem);
    menuItem = new JMenuItem("Another popup menu item");
    menuItem.addActionListener(this);
    popup.add(menuItem);

    //Add listener to components that can bring up popup menus.
    MouseListener popupListener = new PopupListener();
    output.addMouseListener(popupListener);
    menuBar.addMouseListener(popupListener);
...
class PopupListener extends MouseAdapter {
    public void mousePressed(MouseEvent e) {
        maybeShowPopup(e);
    }

    public void mouseReleased(MouseEvent e) {
        maybeShowPopup(e);
    }

    private void maybeShowPopup(MouseEvent e) {
        if (e.isPopupTrigger()) {
            popup.show(e.getComponent(),
                       e.getX(), e.getY());
        }
    }
}
</pre>
</blockquote>
<p>

Popup menus have a few 
interesting implementation details.
One is that 
every menu has an associated popup menu.
When the menu
is activated, 
it uses its associated popup menu
to show its menu items.

<p>

Another detail is that a popup menu itself
uses another component
to implement the window containing the menu items.
Depending on the circumstances under which
the popup menu is displayed,
the popup menu might implement its "window" using
a lightweight component (such as a <code>JPanel</code>),
a "mediumweight" component (such as a 
<a target="_top" href="panel.html"><code>Panel</code></a><a target="_top" href="panel.html"><img src="http://docs.rinet.ru/Jtuta/images/uiIcon.gif" width=20 height=20 border=0 alt="(in the Creating a User Interface trail)"></a>),
or a heavyweight window (
<a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.Window.html"><code>Window</code></a><a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.Window.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a>).

<p>

Lightweight popup windows are more efficient than
heavyweight windows, but they don't work well
if you have any heavyweight components
inside your GUI.
Specifically, when the lightweight popup's display area
intersects the heavyweight component's display area,
then the heavyweight component is drawn on top.
This is one of the reasons we recommend against
mixing heavyweight and lightweight components.
If you absolutely need to use a heavyweight component in your GUI,
then you can use the <code>JPopupMenu</code>
<code>setLightWeightPopupEnabled</code> method
to disable lightweight popup windows.
For details, see 
<a href="http://java.sun.com/products/jfc/tsc/swingdoc-archive/mixing.html">Mixing
Heavy and Light Components</a>, an article in
<a href="http://java.sun.com/products/jfc/tsc/">The
Swing Connection</a>.



<p>


</blockquote>
<h4>
<a name="custom">Customizing Menu Layout</a>
</h4>
<blockquote>

Because menus are made up of ordinary Swing components,
you can easily customize them.
For example, 
you can add any lightweight component 
to a <code>JMenu</code> or <code>JMenuBar</code>.
And because <code>JMenuBar</code> uses 
<a href="..\layout\box.html"><code>BoxLayout</code></a>,
you can customize a menu bar's layout 
just by adding invisible components to it.
Here is an example
of adding a <a href="..\layout\box.html#filler">glue</a> component to a menu bar,
so that 
the last menu is at the right edge of the menu bar:

<p>

<blockquote>
<pre>
<em>...//create and add some menus...</em>
menuBar.add(Box.createHorizontalGlue());
<em>...//create the rightmost menu...</em>
menuBar.add(rightMenu);
</pre>
</blockquote>

Here is a picture of the result,
which you can duplicate by compiling and running
<a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/MenuGlueDemo.java"><code>MenuGlueDemo.java</code></a>:

<blockquote><IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/components/MenuGlueDemo.gif" WIDTH="363" HEIGHT="50" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT=""></blockquote>
<p>

Another way of changing the look of menus
is to change the layout managers used to control them.
For example, you can change a menu bar's layout manager
from the default left-to-right <code>BoxLayout</code>
to something such as <code>GridLayout</code>.
You can also change how an activated menu or other popup menu
lays out its items, as
<a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/MenuLayoutDemo.java"><code>MenuLayoutDemo.java</code></a>
demonstrates.
Here's a picture of the menu layout that MenuLayoutDemo creates:

<blockquote><IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/components/MenuLayoutDemo.gif" WIDTH="680" HEIGHT="90" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT=""></blockquote><p>


</blockquote>
<h4>
<a name="api">The Menu API</a>
</h4>
<blockquote>

The following tables list the commonly used
menu constructors and methods.
The API for using menus falls into these categories:

<ul>
<li><a href="#menubarapi">Creating and Setting Up Menu Bars</a>
<li><a href="#menuapi">Creating and Populating Menus</a>
<li><a href="#popupapi">Creating, Populating, and Controlling Popup Menus</a>
<li><a href="#itemapi">Implementing Menu Items</a>
</ul>

<p>
<table border=1> 
<caption><a name="menubarapi">Creating and Setting Up Menu Bars</a></caption>
<tr>
<th align=left>Constructor or Method 
<th align=left>Purpose
 
<tr>
<td><font size=2><code>JMenuBar()</code></font>
<td>Creates a menu bar.

<tr>
<td><font size=2><code>void setJMenuBar(JMenuBar)
    <br>
    JMenuBar getJMenuBar()</code></font>
    <br>
    <em>(in
    <code>JApplet</code>,
    <code>JDialog</code>,
    <code>JFrame</code>, 
    <code>JRootPane</code>)</em>
<td>Sets or gets the menu bar of an 
    <a href="applet.html">applet</a>,
    <a href="dialog.html">dialog</a>,
    <a href="frame.html">frame</a>, or
    <a href="rootpane.html">root pane</a>.
    In the next Swing and JDK 1.2 releases,
    <a href="internalframe.html">internal frames</a>
    will support these methods.

<tr>
<td><font size=2><code>void setMenuBar(JMenuBar)
    <br>
    JMenuBar getMenuBar()</code></font>
    <br>
    <em>(in <code>JInternalFrame</code>)</em>
<td>Sets or gets the menu bar of an
    <a href="internalframe.html"><code>internal frame</code></a>.
    In the next Swing and JDK 1.2 releases,
    these methods will be deprecated,
    and you should use <code>setJMenuBar</code>/<code>getJMenuBar</code>
    instead.
</table>

<p>

<table border=1> 
<caption><a name="menuapi">Creating and Populating Menus</a></caption>
<tr>
<th align=left>Constructor or Method 
<th align=left>Purpose
 
<tr>
<td><font size=2><code>JMenu()</code></font>
<td>Creates a menu.

<tr>
<td><font size=2><code>JMenuItem add(JMenuItem)
    <br>
    JMenuItem add(Action)
    <br>
    void add(String)</code></font>
<td>Adds a menu item to the end of the menu.
    If the argument is an <code>Action</code> object,
    then the menu creates a menu item as described in
    <a href="..\misc\action.html">How to Use Actions</a>.
    If the argument is a string,
    then the menu automatically creates a <code>JMenuItem</code> object
    that displays the specified text.

<tr>
<td><font size=2><code>void addSeparator()</code></font>
<td>Adds a separator to the end of the menu.

<tr>
<td><font size=2><code>JMenuItem insert(JMenuItem, int)
    <br>
    JMenuItem insert(Action, int)
    <br>
    void insert(String, int)
    <br>
    void insertSeparator(int)</code></font>
<td>Inserts a menu item or separator into the menu
    at the specified position.
    The first menu item is at position 0,
    the second at position 1, and so on.
    The <code>JMenuItem</code>, <code>Action</code>,
    and <code>String</code> arguments are treated the same
    as in the corresponding <code>add</code> methods.

<tr>
<td><font size=2><code>void remove(JMenuItem)
    <br>
    void remove(int)
    <br>
    void removeAll()</code></font>
<td>Removes the specified item(s) from the menu.
    If the argument is an integer,
    then it specifies the position of the menu item to be removed.

</table>

<p>

<table border=1> 
<caption><a name="popupapi">Creating and Populating Popup Menus</a></caption>
<tr>
<th align=left>Constructor or Method 
<th align=left>Purpose
 
<tr>
<td><font size=2><code>JPopupMenu()
    <br>
    JPopupMenu(String)</code></font>
<td>Creates a popup menu.
    The optional string argument specifies the title
    that a look and feel might 
    display as part of the popup window.
    [PENDING: check]

<tr>
<td><font size=2><code>JMenuItem add(JMenuItem)
    <br>
    JMenuItem add(Action)</code></font>
<td>Adds a menu item to the end of the popup menu.
    If the argument is an <code>Action</code> object,
    then the popup menu creates a menu item as described in
    <a href="..\misc\action.html">How to Use Actions</a>.


<tr>
<td><font size=2><code>void addSeparator()</code></font>
<td>Adds a separator to the end of the popup menu.

<tr>
<td><font size=2><code>void insert(Component, int)
    <br>
    JMenuItem insert(Action, int)</code></font>
<td>Inserts a menu item into the menu
    at the specified position.
    The first menu item is at position 0,
    the second at position 1, and so on.
    The <code>Component</code> argument specifies
    the menu item to add.
    The <code>Action</code> argument is treated the same
    as in the corresponding <code>add</code> method.


<tr>
<td><font size=2><code>void remove(JMenuItem)
    <br>
    void remove(int)
    <br>
    void removeAll()</code></font>
<td>Removes the specified item(s) from the menu.
    If the argument is an integer,
    then it specifies the position of the menu item to be removed.

<tr>
<td><font size=2><code>static void setDefaultLightWeightPopupEnabled(boolean)</code></font>
<td>By default, Swing implements a menu's window
    using a lightweight component.
    This can cause problems if you use any heavyweight components
    in your Swing program,
    as described in <a href="#popup">Bringing Up a Popup Menu</a>.
    (This is one of several reasons to avoid using heavyweight components.)
    As a workaround, invoke
    <code>JPopupMenu.setDefaultLightWeightPopupEnabled(false)</code>.

<tr>
<td><font size=2><code>void show(Component, int, int)</code></font>
<td>Display the popup menu at the specified X,Y position
    (specified in that order by the integer arguments)
    in the coordinate system of the specified component.
    

</table>

<p>

<table border=1> 
<caption><a name="itemapi">Implementing Menu Items</a></caption>
<tr>
<th align=left>Constructor or Method 
<th align=left>Purpose
 
<tr>
<td><font size=2><code>JMenuItem()
    <br>
    JMenuItem(Icon)
    <br>
    JMenuItem(String)
    <br>
    JMenuItem(String, Icon)
    <br>
    JMenuItem(String, int)</code></font>
<td>Creates an ordinary menu item.
    The icon argument, if present,
    specifies the icon that the menu item should display.
    Similarly, the string argument
    specifies the text that the menu item should display.
    The integer argument specifies the keyboard mnemonic
    to use.  You can specify any of the relevant VK
    constants defined in the 
<a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.event.KeyEvent.html"><code>KeyEvent</code></a><a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.event.KeyEvent.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a>    class.
    For example, to specify 'a' as the constant,
    you can use <code>KeyEvent.VK_A</code>.

<tr>
<td><font size=2><code>JCheckBoxMenuItem()
    <br>
    JCheckBoxMenuItem(Icon)
    <br>
    JCheckBoxMenuItem(String)
    <br>
    JCheckBoxMenuItem(String, Icon)
    <br>
    JCheckBoxMenuItem(String, boolean)
    <br>
    JCheckBoxMenuItem(String, Icon, boolean)</code></font>
<td>Creates a menu item that looks and acts like a check box. 
    If you specify an icon, 
    then the menu item uses that icon instead of 
    the default check box icons. [PENDING: CHECK]
    The string argument, if any, specifies
    the text that the menu item should display.
    If you specify <code>true</code> for the boolean argument,
    then the menu item is initially selected (checked).
    Otherwise, the menu item is initially unselected.

<tr>
<td><font size=2><code>JRadioButtonMenuItem()
    <br>
    JRadioButtonMenuItem(Icon)
    <br>
    JRadioButtonMenuItem(String)
    <br>
    JRadioButtonMenuItem(String, Icon)</code></font>
<td>Creates a menu item that looks and acts like a radio button.
    If you specify an icon, 
    then the menu item uses that icon instead of 
    the default radio button icons. [PENDING: CHECK]
    The string argument, if any, specifies
    the text that the menu item should display.
    The menu item is initially unselected.

<tr>
<td><font size=2><code>void setState(boolean)
    <br>
    boolean getState()</code></font>
<td>Set or get the selection state of a menu item.

<tr>
<td><font size=2><code>void setEnabled(boolean)</code></font>
<td>If the argument is true, enable the menu item.
    Otherwise, disable the menu item.

<tr>
<td><font size=2><code>void setMnemonic(char)</code></font>
<td>Set the keyboard alternative to 
    choosing the menu item with the mouse.

<tr>
<td><font size=2><code>void setActionCommand(String)</code></font>
<td>Set the name of the action
    performed by the menu item.

<tr>
<td><font size=2><code>void addActionListener(ActionListener)
    <br>
    void addItemListener(ItemListener)</code></font>
<td>Add an event listener to the menu item.
    See <a href="#event">Handling Events from Menu Items</a>
    for details.

<tr>
<td colspan=2>
    Many of the preceding methods are inherited from
    <code>AbstractButton</code>.
    See <a href="button.html#api">The Button API</a>
    for information about other useful methods
    that <code>AbstractButton</code> provides.

</table>

<p>

</blockquote>
<h4>
<a name="eg">Examples that Use Menus</a>
</h4>
<blockquote>
Menus are used in a few Swing examples.
<p>
<table>
<tr>
<th align=left> Example
<th align=left> Where Described
<th align=left> Notes

<tr>
<td> <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/MenuLookDemo.java"><code>MenuLookDemo.java</code></a>
<td> This section (<a href="#create">Creating Menus</a>)
<td> A simple example that creates all kinds of menus except popup menus,
     but doesn't handle events from the menu items.

<tr>
<td> <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/MenuDemo.java"><code>MenuDemo.java</code></a>
<td> This section (<a href="#event">Handling Events from Menu Items</a>)
<td> Adds event handling to MenuLookDemo.

<tr>
<td> <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/MenuGlueDemo.java"><code>MenuGlueDemo.java</code></a>
<td> This section (<a href="#custom">Customizing Menu Layout</a>)
<td> Demonstrates affecting menu layout by adding an invisible components
     to the menu bar.

<tr>
<td> <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/MenuLayoutDemo.java"><code>MenuLayoutDemo.java</code></a>
<td> This section (<a href="#custom">Customizing Menu Layout</a>)
<td> Implements sideways-opening menus arranged in a vertical menu bar.

<tr>
<td> <a href="http://docs.rinet.ru/Jtuta/uiswing/misc/example-swing/ActionDemo.java"><code>ActionDemo.java</code></a>
<td> <a href="..\misc\action.html">How to Use Actions</a>
<td> Uses <code>Action</code> objects to implement menu items
     that duplicate functionality provided by tool bar buttons.

<tr>
<td> <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/Framework.java"><code>Framework.java</code></a>
<td> [PENDING: nowhere yet; may go away]
<td> 

<tr>
<td> <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/InternalFrameDemo.java"><code>InternalFrameDemo.java</code></a>
<td> <a href="internalframe.html">How to Use Internal Frames</a>
<td> Uses a menu item to create windows.

</table>


</blockquote>
</blockquote>
<p>
<hr size=4>
<p> 
<table width="100%">
<tr>
<td align=left>
<a href="list.html"><img src="http://docs.rinet.ru/Jtuta/images/PreviousArrow.gif" width=26 height=26 align=top border=0 alt="Previous | "></a><a
href="progress.html"><img src="http://docs.rinet.ru/Jtuta/images/NextArrow.gif" width=26 height=26 align=top border=0 alt="Next | "></a><a
href="..\..\trailmap.html"><img src="http://docs.rinet.ru/Jtuta/images/WayUpArrow.gif" width=26 height=26 align=top border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/Jtuta/images/uiHeader.gif" width=26 height=26 align=top border=0 alt="Creating a GUI with JFC/Swing | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Swing Components</em></strong></a>
</td>
</tr>
</table>
</body>
</html>
