




















<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<!--NewPage-->
<html>
<head>
<title>How to Use Panels</title>
</head>
<body BGCOLOR="#ffffff">










<table width="100%">
<tr>
<td align=left>
<a href="intermediate.html"><img src="http://docs.rinet.ru/Jtuta/images/PreviousArrow.gif" width=26 height=26 align=bottom border=0 alt="Previous | "></a><a
href="scrollpane.html"><img src="http://docs.rinet.ru/Jtuta/images/NextArrow.gif" width=26 height=26 align=bottom border=0 alt="Next | "></a><a
href="..\..\trailmap.html"><img src="http://docs.rinet.ru/Jtuta/images/WayUpArrow.gif" width=26 height=26 align=bottom border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/Jtuta/images/uiHeader.gif" width=26 height=26 align=bottom border=0 alt="Creating a GUI with JFC/Swing | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Swing Components</em></strong></a>
</td>
</tr>
</table>
<p>
<center>
<IMG SRC="http://docs.rinet.ru/Jtuta/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
<IMG SRC="http://docs.rinet.ru/Jtuta/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
</center>
<p> 

<h2>
    How to Use Panels
</h2>
<p>
<blockquote>

<a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JPanel.html"><code>JPanel</code></a><a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JPanel.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a> is a general-purpose container for lightweight components.
Like other containers, it uses a
<a target="_top" href="..\layout\index.html">layout manager</a><a target="_top" href="..\layout\index.html"><img src="http://docs.rinet.ru/Jtuta/images/uiIcon.gif" width=20 height=20 border=0 alt="(in the Creating a User Interface trail)"></a> to position and size its components.
Like all Swing components,
a <code>JPanel</code> allows you to 
add borders to itself
and to determine whether it
uses double buffering to enhance painting performance.

<p>

The application pictured here uses a panel
and its default layout manager,
<a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.FlowLayout.html"><code>FlowLayout</code></a><a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.FlowLayout.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a>, to display three buttons:

<blockquote><IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/components/ButtonDemo.gif" WIDTH="531" HEIGHT="89 " ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT=""></blockquote>
The main class for this application is
<a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/ButtonDemo.java"><code>ButtonDemo</code></a>,
which is a subclass of <code>JPanel</code>.
Here's the code from <code>ButtonDemo</code>'s constructor
that adds the three buttons to the panel:
<blockquote>
<pre>
public ButtonDemo() {
    super();
    ...
    <em>create the three buttons</em>
    ...
    //Add Components to this container, using the default FlowLayout.
    add(b1);
    add(b2);
    add(b3);
}
</pre>
</blockquote>
This code does not explicitly set the layout manager for
the panel, so it uses the default layout manager.
This layout manager, <code>FlowLayout</code>,
places components in a row at their preferred sizes.
If you want to use a different layout manager,
you can either specify a layout manager when
you create the <code>JPanel</code> object
or use the <code>setLayout</code> method later.
The AWT provides a collection of useful layout managers,
and Swing adds another general-purpose layout manager,
<a href="..\layout\box.html"><code>BoxLayout</code></a>.
For general information about layout 
and about the AWT layout managers, in particular,
see 
<a target="_top" href="..\layout\index.html">Laying Out Components within a Container</a><a target="_top" href="..\layout\index.html"><img src="http://docs.rinet.ru/Jtuta/images/uiIcon.gif" width=20 height=20 border=0 alt="(in the Creating a User Interface trail)"></a>.
For a list of <code>JPanel</code> examples
that use a variety of layout managers,
see <a href="#eg">Examples that Use Panels</a>.

<p>

The preceding code snippet uses an <code>add</code> method inherited from
<a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.Container.html"><code>java.awt.Container</code></a><a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.Container.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a> that requires a single argument: the component to be added.
Like other <code>Container</code> subclasses, <code>JPanel</code>
inherits other <code>add</code> methods that allow you to specify
constraints and positioning information when adding the component.
Choose the appropriate <code>add</code> method for the layout
manager you're using.

<h4>Other Containers</h4>
<blockquote>
<code>JPanel</code> is just one of several container-providing classes
that you might use.
Here are some special-purpose containers you might consider
using in place of a <code>JPanel</code>:

<p>

<table cellpadding=5 border=0>
<tr>
<td valign=top> <a href="..\layout\box.html"><code>Box</code></a>
<td> Automatically uses a 
     <code>BoxLayout</code>
     to lay out its components.
     The advantage of <code>Box</code>
     is that it's super lightweight, 
     since it extends the <code>Container</code> class directly.
     The disadvantage of <code>Box</code>
     is that it isn't a true Swing component --
     it doesn't inherit the API that supports features
     such as borders on the box and easy setting 
     of the box's minimum, preferred, and maximum sizes.
     For this reason, 
     our examples often use <code>JPanel</code>
     with <code>BoxLayout</code>,
     instead of using <code>Box</code>.

<tr>
<td valign=top> <a href="layeredpane.html"><code>JLayeredPane</code></a>
<td> Provides a third dimension, depth, for positioning components.
     Layered panes do not have layout managers
     but can be used to layer components laid out in <code>JPanel</code>s.
     One type of layered pane,
     <a href="internalframe.html"><code>JDesktopPane</code></a>,
     is designed primarily to contain and manage internal frames.

<tr>
<td valign=top> <a href="scrollpane.html"><code>JScrollPane</code></a>
<td> Provides a scrollable view of a large or growable component.

<tr>
<td valign=top> <a href="splitpane.html"><code>JSplitPane</code></a>
<td> Displays two components whose relative size can
     be manipulated by the user.

<tr>
<td valign=top> <a href="tabbedpane.html"><code>JTabbedPane</code></a>
<td> Allows multiple components, usually <code>JPanel</code>
     objects, to share the same space.

</table>

<p>

Another container you might use 
is the default content pane of an
<a href="applet.html">applet</a>,
<a href="frame.html">frame</a>,
<a href="internalframe.html">internal frame</a>,
or 
<a href="dialog.html">dialog</a>.
The content pane is a <code>Container</code>
that, as a rule, holds all of a window's non-menu components.
You find the content pane using a method called <code>getContentPane</code>.
Similarly, you can set the content pane --
perhaps to be a <code>JPanel</code> that you created --
using <code>setContentPane</code>.
See <a href="frame.html">How to Make Frames</a>
for more information about content panes.

</blockquote>

<h4>
<a name="api">The Panel API</a>
</h4>
<blockquote>
The API in the <code>JPanel</code> class itself is minimal.
The methods you are most likely to invoke on
a <code>JPanel</code> object are those it inherits from its superclasses --
<a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JComponent.html"><code>JComponent</code></a><a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JComponent.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a>, 
<a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.Container.html"><code>Container</code></a><a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.Container.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a>, and
<a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.Component.html"><code>Component</code></a><a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.Component.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a>.
The following tables list the API
you're most likely to use.
[Link to JComponent, Container, and Component discussions.]

<p>


<ul>
<li><a href="#creating">Creating a <code>JPanel</code></a>
<li><a href="#contents">Managing a Container's Components</a>
<li><a href="#layout">Setting/Getting the Layout Manager</a>
</ul>

<table border=1>
<caption><a name="creating">Creating a <code>JPanel</code></a></caption>
<tr>
<th align=left>Method
<th align=left>Purpose

<tr>
<td><font size=2><code>JPanel()
    <br>
    JPanel(boolean)
    <br>
    JPanel(LayoutManager)
    <br>
    JPanel(LayoutManager, boolean)</code></font>
<td>Create a panel.
    When present, the <code>boolean</code> parameter
    determines the panel's buffering strategy. A value
    of <code>true</code> indicates double buffered.
    The <code>LayoutManager</code> parameter provides a
    layout manager for the new panel.
    If left unspecified a panel uses <code>FlowLayout</code>
    to layout its components.
</table>

<p>
<table border=1> 
<caption><a name="contents">Managing a Container's Components</a></caption>
<tr>
<th align=left>Method
<th align=left>Purpose

<tr>
<td><font size=2><code>void add(Component)
    <br>
    void add(Component, int)
    <br>
    void add(Component, Object)
    <br>
    void add(Component, Object, int)
    <br>
    void add(String, Component)</code></font>
<td>Add the specified component to the panel.
    When present, the <code>int</code>
    parameter is the position or index of the component
    within the container.
    The <code>Object</code> parameter 
    is layout manager dependent and typically provides
    information to the layout manager regarding positioning
    and other layout constraints for the added component.
    The <code>String</code> parameter provides a name for the component.

<tr>
<td><font size=2><code>int getComponentCount()</code></font>
<td>Get the number of components in this panel.

<tr>
<td><font size=2><code>Component getComponent(int)
    <br>
    Component getComponentAt(int, int)
    <br>
    Component getComponentAt(Point)
    <br>
    Component[] getComponents()</code></font>
<td>Get the specified component or components.
    You can get a component based on its index or x, y position.

<tr>
<td><font size=2><code>void remove(Component)
    <br>
    void remove(int)
    <br>
    void removeAll()</code></font>
<td>Remove the specified component(s).

</table>

<p>
<table border=1>
<caption><a name="layout">Setting/Getting the Layout Manager</a></caption>
<tr>
<th align=left>Method
<th align=left>Purpose

<tr>
<td><font size=2><code>void setLayout(LayoutManager)
    <br>
    LayoutManager getLayout()</code></font>
<td>Set or get the layout manager for this panel.
    The layout manager is responsible for positioning the
    panel's components within the panel's bounds according
    to some philosophy.
</table>

</blockquote>

<h4>
<a name="eg">Examples that Use Panels</a>
</h4>
<blockquote>
Many examples contained in this lesson use <code>JPanel</code> objects.
The following table lists a few:

<p>

<table>
<tr>
<th align=left> Example
<th align=left> Where Described
<th align=left> Notes

<tr>
<td> <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/ButtonDemo.java"><code>ButtonDemo.java</code></a>
<td> <a href="button.html">How to Use Buttons, Check Boxes, and Radio Buttons</a>
<td> A subclass of <code>JPanel</code>.
     Uses <code>FlowLayout</code>,
     the default layout manager of a panel.

<tr>
<td> <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/ToolBarDemo.java"><code>ToolBarDemo.java</code></a>
<td> <a href="toolbar.html">How to Use Toolbar</a>
<td> Shows a panel with three components laid out by <code>BorderLayout</code>.

<tr>
<td> <a href="http://docs.rinet.ru/Jtuta/uiswing/misc/example-swing/BorderDemo.java"><code>BorderDemo.java</code></a>
<td> <a href="..\misc\border.html">How to Use Borders</a>
<td> Contains several panels that use <code>BoxLayout</code>.
     Contains many more panels that have
     various kinds of borders.

<tr>
<td> <a href="http://docs.rinet.ru/Jtuta/uiswing/layout/example-swing/BoxLayoutDemo.java"><code>BoxLayoutDemo.java</code></a>
<td> <a href="..\layout\box.html">How to Use BoxLayout</a>
<td> Illustrates the use of a panel with
     Swing's <code>BoxLayout</code> manager.

<tr>
<td> <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/LabelDemo.java"><code>LabelDemo.java</code></a>
<td> <a href="label.html">How to Use Labels</a>
<td> Uses a panel whose three components are
     laid out in a grid by <code>GridLayout</code>.

<tr>
<td> <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/TabbedPaneDemo.java"><code>TabbedPaneDemo.java</code></a>
<td> <a href="tabbedpane.html">How to Use Tabbed Panes</a>
<td> A subclass of <code>JPanel</code> that creates its GUI
	in its constructor and uses a <code>GridLayout</code>.

</table>
</blockquote>

</blockquote>
<p>
<hr size=4>
<p> 
<table width="100%">
<tr>
<td align=left>
<a href="intermediate.html"><img src="http://docs.rinet.ru/Jtuta/images/PreviousArrow.gif" width=26 height=26 align=top border=0 alt="Previous | "></a><a
href="scrollpane.html"><img src="http://docs.rinet.ru/Jtuta/images/NextArrow.gif" width=26 height=26 align=top border=0 alt="Next | "></a><a
href="..\..\trailmap.html"><img src="http://docs.rinet.ru/Jtuta/images/WayUpArrow.gif" width=26 height=26 align=top border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/Jtuta/images/uiHeader.gif" width=26 height=26 align=top border=0 alt="Creating a GUI with JFC/Swing | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Swing Components</em></strong></a>
</td>
</tr>
</table>
</body>
</html>
