




















<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<!--NewPage-->
<html>
<head>
<title>An Example of Using Each Text Component</title>
</head>
<body BGCOLOR="#ffffff">










<table width="100%">
<tr>
<td align=left>
<a href="text.html"><img src="http://docs.rinet.ru/Jtuta/images/PreviousArrow.gif" width=26 height=26 align=bottom border=0 alt="Previous | "></a><a
href="generaltext.html"><img src="http://docs.rinet.ru/Jtuta/images/NextArrow.gif" width=26 height=26 align=bottom border=0 alt="Next | "></a><a
href="..\..\trailmap.html"><img src="http://docs.rinet.ru/Jtuta/images/WayUpArrow.gif" width=26 height=26 align=bottom border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/Jtuta/images/uiHeader.gif" width=26 height=26 align=bottom border=0 alt="Creating a GUI with JFC/Swing | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Swing Components</em></strong></a>
</td>
</tr>
</table>
<p>
<center>
<IMG SRC="http://docs.rinet.ru/Jtuta/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
<IMG SRC="http://docs.rinet.ru/Jtuta/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
</center>
<p> 

<h2>
    An Example of Using Each Text Component
</h2>
<p>
<blockquote>

Here's a picture of an application that shows
one of each of Swing's text components.
 
<blockquote><IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/components/TextSamplerDemo.gif" WIDTH="558" HEIGHT="386" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT=""></blockquote>
<blockquote>
<hr>
<strong>Try this:</strong>
<ol>
<li> Compile and run the application.
     The source code is in
     <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/TextSamplerDemo.java">
     <code>TextSamplerDemo.java</code></a>.
     You will also need
     <a href="example-swing\textsamplerdemohelp.html">
     <code>TextSamplerDemoHelp.html</code></a>,
     <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/images/Pig.gif"><code>Pig.gif</code></a>,
     <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/images/dukeWaveRed.gif">
     <code>dukeWaveRed.gif</code></a>, and
     <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/images/sound.gif"><code>sound.gif</code></a>.
     <br>
     See <a href="..\start\index.html">Getting Started with Swing</a> if you need help.

<li> Type text in the text field and press Return.
     Do the same with the password field.

<li> Select and edit text in the text area and the text pane.
     Use special keyboard keys to cut, copy, and paste text.

<li> Try to edit the text in the editor pane,
     which has been made uneditable with a call to <code>setEditable</code>.

<li> Scroll the text pane to find an example
     of an embedded component.

</ol>
<hr>
</blockquote>

The <code>TextSamplerDemo</code> program is fairly basic
in how it uses the text components:
It simply creates each one, configures it,
and adds it to the application's frame.

<p>

This section shows you the code used in
<code>TextSamplerDemo</code> to create each text component.
With the information in this short section alone,
you can quickly learn everything necessary
to include the various text components
in a program and interact with them on a
basic level.
For information regarding more complex uses
of the various text components, continue
with the next section,
<a href="generaltext.html">General Rules for Using Text Components</a>.

<p>
This section has five parts:
<ul>
<li> <a href="#textfield">An Example of Using a Text Field</a>
<li> <a href="#passwordfield">An Example of Using a Password Field</a>
<li> <a href="#textarea">Using a Text Area</a>
<li> <a href="#editorpane">Using an Editor Pane to Display Text from a URL</a>
<li> <a href="#textpane">An Example of Using a Text Pane</a>
</ul>

<a name="textfield">
<h4>An Example of Using a Text Field</h4>
</a>
<blockquote>
<code>TextSamplerDemo</code> contains a text field
in the upper left corner of the main frame.
Here's the code
that creates the <code>JTextField</code>.
<blockquote>
<pre>
JTextField textField = new JTextField(10);
textField.setActionCommand(textFieldString);
textField.addActionListener(this);
</pre>
</blockquote>
As with buttons,
you can set an action command
and register an action listener on a text field.
Here's the <code>actionPerformed</code> method
implemented by the text field's action listener,
which is shared with the program's password field.
The <code>actionPerformed</code> method
simply copies the text field's contents to a label.
<blockquote>
<pre>
public void actionPerformed(ActionEvent e) {
    String prefix = "You typed \"";
    if (e.getActionCommand().equals(textFieldString)) {
        JTextField source = (JTextField)e.getSource();
        actionLabel.setText(prefix + source.getText() + "\"");
    } else {
        JPasswordField source = (JPasswordField)e.getSource();
        actionLabel.setText(prefix + new String(source.getPassword())
			    + "\"");
    }
}
</pre>
</blockquote>
For descriptions of the <code>JTextField</code>
constructor and the <code>getText</code> method
used by this demo, refer to
<a href="textfield.html">How to Use Text Fields</a>.
That section also includes
information and examples
of customized text fields,
including how to write a validated field.
</blockquote>

<a name="passwordfield">
<h4>An Example of Using a Password Field</h4>
</a>
<blockquote>
<code>JPasswordField</code> is a subclass of <code>JTextField</code>
that, instead of showing the actual character the user types,
shows another character such as an asterisk '*'.
This type of field is useful for prompting users to enter
passwords when logging in or validating their identity.
Here's the code from <code>TextSamplerDemo</code>
that creates the password field and
registers an action listener on it:
<blockquote>
<pre>
JPasswordField passwordField = new JPasswordField(10);
passwordField.setActionCommand(passwordFieldString);
passwordField.addActionListener(this);
</pre>
</blockquote>
This code is the similar to that used
to create the text field.
The password field shares the text field's action listener,
which uses these three lines of code to copy the password
field's content to a label:
<blockquote>
<pre>
String prefix = "You typed \"";
...
JPasswordField source = (JPasswordField)e.getSource();
actionLabel.setText(prefix + new String(source.getPassword())
		    + "\"");
</pre>
</blockquote>
Notice that this code uses the <code>getPassword</code> method
to get the contents of the password field
instead of <code>getText</code>.
<a href="textfield.html#password">Providing a Password Field</a>
explains why and provides additional information about password fields.
Remember that password fields are text fields,
so the information covered in 
<a href="textfield.html">How to Use Text Fields</a>
pertains to password fields as well.
</blockquote>

<a name="textarea">
<h4>Using a Text Area</h4>
</a>
<blockquote>
A text area displays multiple lines of text
and allows the user to edit the text with
the keyboard and mouse.
Here's <code>TextSamplerDemo</code>'s code
that creates its <code>JTextArea</code>:
<blockquote>
<pre>
JTextArea textArea = new JTextArea(5, 10);
textArea.setFont(new Font("Serif", Font.ITALIC, 16));
textArea.setText(
    "This is an editable JTextArea " +
    "that has been initialized with the setText method. " +
    "A text area is a \"plain\" text component, " +
    "which means that although it can display text " +
    "in any font, all of the text is in the same font."
);
textArea.setLineWrap(true);
textArea.setWrapStyleWord(true);
JScrollPane areaScrollPane = new JScrollPane(textArea);
areaScrollPane.setVerticalScrollBarPolicy(
		JScrollPane.VERTICAL_SCROLLBAR_ALWAYS);
areaScrollPane.setPreferredSize(new Dimension(250, 250));
areaScrollPane.setBorder(<em>/*...create border...*/</em>);
</pre>
</blockquote>
The constructor used in this example
to create the text area is similar
to those used to create the text field and password field.
The text area constructor requires two integer arguments:
the number of rows and the number of columns in the text area.
These numbers are used to calculate
the text area's preferred size.
As with the column parameter for fields,
think of these numbers as hints.
<p>
Next the code set the text area's font
followed by the text area's initial text.
As the text area's initial text says,
that although
a text area can display text in any font,
all of the text is in the same font.
<p>
The next two statements deal with line wrapping.
The first is a call to <code>setLineWrap</code>,
which turns line wrapping on.
By default, a text area doesn't wrap lines.
Instead it shows all the text on one line,
and if the text area is within a
<a href="scrollpane.html">scroll pane</a>,
allows itself to be scrolled horizontally.
The second is a call to <code>setWrapStyleWord</code>,
which tells the text area to wrap lines between words.
<p>
The next bit of code creates a scroll pane,
puts the text area in it,
sets the scroll pane's preferred size,
and establishes the scroll pane's borders.
A text area is typically managed by a scroll pane.
If you put a text area in a scroll pane,
be sure to set the scroll pane's preferred size,
rather than the text area's preferred size.
[PENDING: why is this so?]
<p>
This section is the only section about using
a text area provided by this tutorial because
<code>JTextArea</code> is a straightforward
class to use.
If you are interested in customizing a text area,
you can apply what you learn in
<a href="generaltext.html">General Rules about Using Text Components</a>.
Be sure to check the
<a href="textapi.html">Summary of Text</a>
section for relevant API and other examples that use
<code>JTextArea</code>.
</blockquote>

<a name="editorpane">
<h4>Using an Editor Pane to Display Text from a URL</h4>
</a>
<blockquote>
<code>JEditorPane</code> is the foundation
for Swing's styled text components.
<code>TextSamplerDemo</code> uses an
editor pane like many programs do:
to display uneditable help information
initialized from a URL that points to an HTML file,
<a href="example-swing\textsamplerdemohelp.html">
<code>TextSamplerDemoHelp.html</code></a>.
<p>
Here's the code that creates the editor pane
in <code>TextSamplerDemo</code>:
<blockquote>
<pre>
JEditorPane editorPane = new JEditorPane();
editorPane.setEditable(false);
...<em>create a URL object for the TextSamplerDemoHelp.html file</em>...
try {
    editorPane.setPage(url);
} catch (IOException e) {
    System.err.println("Attempted to read a bad URL: " + url);
}
</pre>
</blockquote>
The code uses the default constructor to create the
editor pane, then calls <code>setEditable(false)</code>
so the user cannot edit the text.
Next, the code creates the <code>URL</code> object,
and calls the <code>setPage</code> method with it.
The <code>setPage</code> method opens the resource
pointed to by the URL and
figures out the format of the text
(which in the example is HTML).
If the text format is known,
the editor pane initializes itself
with the text found at the URL.
<p>
The code that creates the URL is missing from the 
above code sample and is interesting in and of itself.
Here it is:
<blockquote>
<pre>
String s = null;
try {
    s = "file:"
	+ System.getProperty("user.dir")
	+ System.getProperty("file.separator")
	+ "TextSamplerDemoHelp.html";
    URL helpURL = new URL(s);
    /* ... <em> use the URL to initialize the editor pane </em> ... */
} catch (Exception e) {
    System.err.println("Couldn't create help URL: " + s);
}
</pre>
</blockquote>
This code uses system properties to compute
a <code>file</code> URL for the help file.
Because of the security restrictions implemented by most browsers,
this code won't work in applets.
Instead, use the applets codebase
to compute an <code>http</code> URL.
<p>
Like text areas, editor panes are typically
managed by a scroll pane:
<blockquote>
<pre>
JScrollPane editorScrollPane = new JScrollPane(editorPane);
editorScrollPane.setVerticalScrollBarPolicy(
		JScrollPane.VERTICAL_SCROLLBAR_ALWAYS);
editorScrollPane.setPreferredSize(new Dimension(250, 150));
</pre>
</blockquote>
Note that the scroll pane's preferred size is set,
not the editor pane's.
<p>
This short section shows a typical and basic use of editor panes.
However, many programs need to use editor panes in more
sophisticated ways.
To learn more, first read the next section,
<a href="generaltext.html">General Rules for Using Text Components</a>,
then proceed to 
<a href="editorpane.html">How to Use Editor Panes and Text Panes</a>.
</blockquote>

<a name="textpane">
<h4>An Example of Using a Text Pane</h4>
</a>
<blockquote>
The final text component in our basics tour
is <code>JTextPane</code>, which is a
<code>JEditorPane</code> subclass.
Here's code from <code>TextSamplerDemo</code>
that creates and initializes a text pane.
<blockquote>
<pre>
JTextPane textPane = new JTextPane();
String[] initString =
	{ /* ... <em> fill array with initial text </em> ... */ };

String[] initStyles =
	{ /* ... <em> fill array with names of styles </em> ... */ };

//Create the styles we need
initStylesForTextPane(textPane);

Document doc = textPane.getDocument();

//Load the text pane with styled text
try {
    for (int i=0; i < initString.length; i++) {
	textPane.setCaretPosition(doc.getLength());
	doc.insertString(doc.getLength(), initString[i],
			 textPane.getStyle(initStyles[i]));
	textPane.setLogicalStyle(textPane.getStyle(initStyles[i]));
    }
} catch (BadLocationException ble) {
    System.err.println("Couldn't insert initial text.");
}
</pre>
</blockquote>
Briefly, this code hard-codes the initial text into an array
and creates and hard-codes several <em>styles</em>--objects that
represent different paragraph and character formats--into another array.
Next, the code loops over the arrays, inserts the text
into the text pane, and specifies the style to use for the inserted text.
<p>
Although this makes for an interesting example
and concisely shows off several features of <code>JTextPane</code>,
"real-world" programs aren't likely to initialize
a <code>JTextPane</code> this way.
Instead, a production-quality program
would apply a bootstrapping process,
whereby a basic <code>JTextPane</code> would be used to
create and save a document, which could then be
read into the <code>JTextPane</code> as the program is developed.
<p>
This section showed the code used
by <code>TextSamplerDemo</code>
to create its text pane,
but doesn't describe anything.
For details about text panes and useful
information about when to use a text pane versus when
to use an editor pane, read
<a href="editorpane.html">How to Use Editor Panes and Text Panes</a>.
(But only after you're comfortable with the information in
<a href="generaltext.html">General Rules for Using Text Components</a>.)

</blockquote>

</blockquote>
<p>
<hr size=4>
<p> 
<table width="100%">
<tr>
<td align=left>
<a href="text.html"><img src="http://docs.rinet.ru/Jtuta/images/PreviousArrow.gif" width=26 height=26 align=top border=0 alt="Previous | "></a><a
href="generaltext.html"><img src="http://docs.rinet.ru/Jtuta/images/NextArrow.gif" width=26 height=26 align=top border=0 alt="Next | "></a><a
href="..\..\trailmap.html"><img src="http://docs.rinet.ru/Jtuta/images/WayUpArrow.gif" width=26 height=26 align=top border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/Jtuta/images/uiHeader.gif" width=26 height=26 align=top border=0 alt="Creating a GUI with JFC/Swing | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Swing Components</em></strong></a>
</td>
</tr>
</table>
</body>
</html>
