




















<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<!--NewPage-->
<html>
<head>
<title>How to Use Sliders</title>
</head>
<body BGCOLOR="#ffffff">










<table width="100%">
<tr>
<td align=left>
<a href="progress.html"><img src="http://docs.rinet.ru/Jtuta/images/PreviousArrow.gif" width=26 height=26 align=bottom border=0 alt="Previous | "></a><a
href="table.html"><img src="http://docs.rinet.ru/Jtuta/images/NextArrow.gif" width=26 height=26 align=bottom border=0 alt="Next | "></a><a
href="..\..\trailmap.html"><img src="http://docs.rinet.ru/Jtuta/images/WayUpArrow.gif" width=26 height=26 align=bottom border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/Jtuta/images/uiHeader.gif" width=26 height=26 align=bottom border=0 alt="Creating a GUI with JFC/Swing | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Swing Components</em></strong></a>
</td>
</tr>
</table>
<p>
<center>
<IMG SRC="http://docs.rinet.ru/Jtuta/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
<IMG SRC="http://docs.rinet.ru/Jtuta/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
</center>
<p> 

<h2>
    How to Use Sliders
</h2>
<p>
<blockquote>

Use a
<a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JSlider.html"><code>JSlider</code></a><a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JSlider.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a> to let the user enter a numeric value bounded
by a minimum and maximum value.
By using a slider instead of a <a href="textfield.html">text field</a>,
you eliminate input errors.

<p>
Here's a picture of an application that uses
a slider to control animation speed:

<blockquote><IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/components/SliderDemo.gif" WIDTH="271" HEIGHT="283" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT=""></blockquote>
<blockquote>
<hr>
<strong>Try this:</strong>
<ol>
<li> Compile and run the application.
     The source file is
     <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/SliderDemo.java"><code>SliderDemo.java</code></a>.
     You will also need the 14 image files in the
     <code>example-swing/images/doggy</code> directory.
     To get the image files, you need to
     <a href="..\..\information\download.html#swingarchive">download</a>
     the entire swing lesson.
     <br>
     See <a href="..\start\index.html">Getting Started with Swing</a> if you need help.

<li> Use the slider to adjust the animation speed.
<li> Push the slider to 0 to stop the animation.
</ol>
<hr>
</blockquote>

Below is the code from
     <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/SliderDemo.java"><code>SliderDemo.java</code></a>
that creates the slider in the previous example.
<blockquote>
<pre>
JSlider framesPerSecond = new JSlider(JSlider.HORIZONTAL, 0, 30, FPS_INIT);
framesPerSecond.addChangeListener(new SliderListener());
framesPerSecond.setMajorTickSpacing(10);
framesPerSecond.setMinorTickSpacing(1);
framesPerSecond.setPaintTicks(true);
framesPerSecond.setPaintLabels(true);
framesPerSecond.setBorder(BorderFactory.createEmptyBorder(0,0,10,0));
. . .
//<em>add the slider to the content pane</em>
contentPane.add(framesPerSecond);
</pre>
</blockquote>
By default, spacing for major and minor ticks is zero.
To see tick marks, you must explicitly set the spacing for either
major or minor ticks (or both) to a non-zero value
and call <code>setPaintTicks(true)</code> (just calling
<code>setPaintTicks(true)</code> is not enough).
To display standard, numeric labels at major tick mark locations
set the major tick spacing, then call <code>setPaintLabels(true)</code>.
The example program provides the labels for its slider this way.
However, slider labels are highly configurable.
See <a href="#labels">Providing Labels for Sliders</a>
for an example.
<p>
When you move the slider, the <code>stateChanged</code> method of the
slider's <code>ChangeListener</code> is called, thereby changing the
speed of animation:
<blockquote>
<pre>
class SliderListener implements ChangeListener {
    public void stateChanged(ChangeEvent e) {
        JSlider source = (JSlider)e.getSource();
        if (!source.getValueIsAdjusting()) {
	    int fps = (int)((JSlider)e.getSource()).getValue();
	    if (fps == 0) {
	        if (!frozen) stopAnimation();
	    } else {
	        delay = 1000 / fps;
	        timer.setDelay(delay);
	        timer.setInitialDelay(delay * 4);
	        if (frozen) startAnimation();
	    }
        }
    }
}
</pre>
</blockquote>
If you move the slider to zero, the animation stops.
<p>
Notice that the <code>stateChanged</code> method 
only changes the animation speed if <code>getValueIsAdjusting</code>
returns <code>false</code>.
Many change events are fired
as the user moves the slider knob.
This program is only interested
in the final result of the user's action.
For information about change listeners,
refer to <a href="..\events\changelistener.html">
How to Write a Change Listener</a>.

<h4>
<a name="labels">
Providing Labels for Sliders
</a>
</h4>
<blockquote>
To display labels on a slider, you must call
<code>setPaintLabels(true)</code> and
provide a set of labels that indicates the position and value
for each label.
A slider's labels can be specified using one
of the following two techniques:
<ol>
<li> Call <code>setMajorTickSpacing</code> with a non-zero value.
	Done in this manner,
	the labels identify the value at each major tick mark.
	This is the technique used by <code>SliderDemo.java</code>.

<li> Create a <code>Hashtable</code> containing the value for each label
	and its position.
	Provide the hash table as an argument to <code>setLabelTable</code>.
<a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/SliderDemo2.java"><code>SliderDemo2.java</code></a>,
shown below, uses this technique:

<blockquote><IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/components/SliderDemo2.gif" WIDTH="342" HEIGHT="250" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT=""></blockquote>
<p>
	Here's the code from <code>SliderDemo2.java</code>
	that creates the slider in the program:
<blockquote>
<pre>
//Create the slider
JSlider framesPerSecond = new JSlider(JSlider.VERTICAL, 0, 30, FPS_INIT);
framesPerSecond.addChangeListener(new SliderListener());
framesPerSecond.setMajorTickSpacing(10);
framesPerSecond.setPaintTicks(true);

//Create the label table
Dictionary labelTable = new Hashtable();
labelTable.put( new Integer( 0 ), new JLabel("Stop") );
labelTable.put( new Integer( 3 ), new JLabel("Slow") );
labelTable.put( new Integer( 30 ), new JLabel("Fast") );
framesPerSecond.setLabelTable( labelTable );

framesPerSecond.setPaintLabels(true);
framesPerSecond.setBorder(BorderFactory.createEmptyBorder(0,0,0,10));
</pre>
</blockquote>
	This code explicitly creates a <code>Hashtable</code>
	and populates it with positions and label values.
	Each label position must be an <code>Integer</code>.
	Each label value must be a <code>Component</code> and,
	in this program, are simply text labels.
	You can also use labels with icons for label values.
	If you want a set of numeric labels positioned at a specific
	interval, you can use <code>JSlider</code>'s 
	<code>createStandardLabels</code> method to
	create the <code>Hashtable</code> for you. You can
	also modify the table returned by <code>createStandardLabels</code>
	to then customize it.
</ol>
</blockquote>

<h4>
<a name="api">The Slider API</a>
</h4>
<blockquote>
The following tables list the commonly used
<code>JSlider</code> constructors and methods.
Other methods you're likely to call
are defined by the
<a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JComponent.html"><code>JComponent</code></a><a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JComponent.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a> and
<a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.Component.html"><code>Component</code></a><a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.Component.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a> classes
and include
[PENDING: anything in particular for JSlider?].
[Link to JComponent and Component discussions.]

<p>

The API for using sliders falls into these categories:
<ul>
<li>
<a href="#creating">Creating a Slider</a>
<li>
<a href="#looks">Fine Tuning the Slider's Appearance</a>
<li>
<a href="#operation">Watching the Slider Operate</a>
</ul>

<p>

<table border=1>
<caption><a name="creating">Creating a Slider</a></caption>
<tr>
<th>Constructor
<th>Purpose

<tr>
<td><font size=2><code>JSlider()</code></font>
<td>Creates a horizontal slider with
    the range 0 to 100 and an initial value of 50.

<tr>
<td><font size=2><code>JSlider(int min, int max)
    <br>
    JSlider(int min, int max, int value)
    </code></font>
<td>Creates a horizontal slider with
    the specified minimum and maximum values.
    The third <code>int</code> argument, when present,
    specifies the slider's initial value.

<tr>
<td><font size=2><code>JSlider(int orientation)
    <br>
    JSlider(int orientation, int min, int max, int value)
    </code></font>
<td>Creates a slider with the specified orientation, which
    must be either <code>JSlider.HORIZONTAL</code> or
    <code>JSlider.VERTICAL</code>.
    The last three <code>int</code> arguments, when present,
    specify the slider's minimum, maximum, and initial values, respectively.

<tr>
<td><font size=2><code>JSlider(
<a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/BoundedRangeModel.html">BoundedRangeModel</a><a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/BoundedRangeModel.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a>)</code></font>
<td>Creates a horizontal slider with the specified model, which
    manages the slider's minimum, maximum, and current values
    and their relationship.

</table>

<p>

<table border=1>
<caption><a name="looks">Fine Tuning the Slider's Appearance</a></caption>
<tr>
<th>Method
<th>Purpose

<tr>
<td><font size=2><code>void setValue(int)
    <br>
    int getValue()</code></font>
<td>Set or get the slider's current value.
    This method also positions the slider's knob.

<tr>
<td><font size=2><code>void setOrientation(int)
    <br>
    int getOrientation()</code></font>
<td>Set or get the orientation of the slider. Possible values
    are <code>JSlider.HORIZONTAL</code> or <code>JSlider.VERTICAL</code>.

<tr>
<td><font size=2><code>void setInverted(boolean)
    <br>
    boolean getInverted()</code></font>
<td>Set or get whether the maximum is shown at the left of a horizontal slider
    or at the bottom of a vertical one, thereby inverting the slider's range.

<tr>
<td><font size=2><code>void setMinimum(int)
    <br>
    int getMinimum()
    <br>
    void setMaximum(int)
    <br>
    int getMaximum()
    </code></font>
<td>Set or get the minimum or maximum values of the slider. Together,
    these methods set or get the slider's <em>range</em>.

<tr>
<td><font size=2><code>void setMajorTickSpacing(int)
    <br>
    int getMajorTickSpacing()
    <br>
    void setMinorTickSpacing(int)
    <br>
    int getMinorTickSpacing()
    </code></font>
<td>Set or get the range between major and minor ticks. You must
    call <code>setPaintTicks(true)</code> for the tick marks to appear.

<tr>
<td><font size=2><code>void setPaintTicks(boolean)
    <br>
    boolean getPaintTicks()
    </code></font>
<td>Set or get whether tick marks are painted on the slider.

<tr>
<td><font size=2><code>void setLabelTable(Dictionary)
    <br>
    Dictionary getLabelTable()
    </code></font>
<td>Set or get the labels for the slider.
    You must call <code>setPaintLabels(true)</code> for the labels to appear.
    <code>createStandardLabels</code> is a convenient method for creating
    a standard set of labels.

<tr>
<td><font size=2><code>void setPaintLabels(boolean)
    <br>
    boolean getPaintLabels()
    </code></font>
<td>Set or get whether labels are painted on the slider.
    You set the labels with <code>setLabelTable</code> or
    by setting major tick spacing.

</table>

<p>

<table border=1>
<caption><a name="operation">Watching the Slider Operate</a></caption>
<tr>
<th>Method
<th>Purpose

<tr>
<td><font size=2><code>void addChangeListener(ChangeListener)</code></font>
<td>[PENDING]

<tr>
<td><font size=2><code>boolean getValueIsAdjusting()</code></font>
<td>[PENDING]

</table>

</blockquote>

<h4>
<a name="eg">Examples that Use Sliders</a>
</h4>
<blockquote>
This table shows the examples that use <code>JSlider</code>
and where those examples are described.
<p>
<table>
<tr>
<th align=left> Example
<th align=left> Where Described
<th align=left> Notes 

<tr>
<td> <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/SliderDemo.java"><code>SliderDemo.java</code></a>
<td> This page
<td> Shows a slider with labels at major tick marks.

<tr>
<td> <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/SliderDemo2.java"><code>SliderDemo2.java</code></a>
<td> This page
<td> Shows a vertical slider with custom labels.

<tr>
<td> <a href="http://docs.rinet.ru/Jtuta/uiswing/overview/example-swing/Converter.java"><code>Converter.java</code></a>
<td> <a href="..\overview\anatomy.html">The Anatomy of a Swing-Based Program</a>
<td> Uses two sliders that share data and
     have a custom <code>BoundedRangeModel</code>.

</table>

</blockquote>


</blockquote>
<p>
<hr size=4>
<p> 
<table width="100%">
<tr>
<td align=left>
<a href="progress.html"><img src="http://docs.rinet.ru/Jtuta/images/PreviousArrow.gif" width=26 height=26 align=top border=0 alt="Previous | "></a><a
href="table.html"><img src="http://docs.rinet.ru/Jtuta/images/NextArrow.gif" width=26 height=26 align=top border=0 alt="Next | "></a><a
href="..\..\trailmap.html"><img src="http://docs.rinet.ru/Jtuta/images/WayUpArrow.gif" width=26 height=26 align=top border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/Jtuta/images/uiHeader.gif" width=26 height=26 align=top border=0 alt="Creating a GUI with JFC/Swing | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Swing Components</em></strong></a>
</td>
</tr>
</table>
</body>
</html>
