




















<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<!--NewPage-->
<html>
<head>
<title>How to Use Split Panes</title>
</head>
<body BGCOLOR="#ffffff">










<table width="100%">
<tr>
<td align=left>
<a href="scrollpane.html"><img src="http://docs.rinet.ru/Jtuta/images/PreviousArrow.gif" width=26 height=26 align=bottom border=0 alt="Previous | "></a><a
href="tabbedpane.html"><img src="http://docs.rinet.ru/Jtuta/images/NextArrow.gif" width=26 height=26 align=bottom border=0 alt="Next | "></a><a
href="..\..\trailmap.html"><img src="http://docs.rinet.ru/Jtuta/images/WayUpArrow.gif" width=26 height=26 align=bottom border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/Jtuta/images/uiHeader.gif" width=26 height=26 align=bottom border=0 alt="Creating a GUI with JFC/Swing | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Swing Components</em></strong></a>
</td>
</tr>
</table>
<p>
<center>
<IMG SRC="http://docs.rinet.ru/Jtuta/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
<IMG SRC="http://docs.rinet.ru/Jtuta/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
</center>
<p> 

<h2>
    How to Use Split Panes
</h2>
<p>
<blockquote>

A 
<a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JSplitPane.html"><code>JSplitPane</code></a><a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JSplitPane.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a> contains two components (and only two),
separated by a divider.
By dragging the divider,
the user can specify 
how much area goes to each component.
Use a split pane when two components 
contain related information and you want
the user to be able to change the components'
sizes in relation to one another.
One common use of a split pane is to contain a
list of choices and a view of the current choice.
An example of this is a mailer program that displays
a list of mail messages and the contents of the
currently selected message.
<p>
If you want to put more than two components in a
split pane, then consider using nested split panes.
That is, put one split pane inside another.
<a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/SplitPaneDemo2.java">
<code>SplitPaneDemo2</code></a>
is an example of this.

<p>
Here's a picture of an application that
uses a split pane to display a list
and an image side by side:

<blockquote><IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/components/SplitPaneDemo.gif" WIDTH="411" HEIGHT="230" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT=""></blockquote>
<blockquote>
<hr>
<strong>Try this:</strong>
<ol>
<li> Compile and run the application.
     The main source file is
     <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/SplitPaneDemo.java"><code>SplitPaneDemo.java</code></a>.
     <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/imagenames.properties"><code>imagenames.properties</code></a>
     provides the image names to put in the <code>JList</code>.
     You can <a href="..\..\information\download.html#swingarchive">download</a>
     the entire swing lesson to get the image files listed,
     or you can modify the properties file to list images you already have.
     <br>
     See <a href="..\start\index.html">Getting Started with Swing</a> if you need help.

<li> Drag the dimpled line that divides the list
     and the image to the left or right. Try to drag the divider
     all the way to the window's edge.
<li> Use the arrows on the divider to hide the left or right component.
<li> Check out <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/SplitPaneDemo2.java"><code>
     SplitPaneDemo2.java</code></a>. It puts an instance of
     <code>SplitPaneDemo</code> within another split pane
     to split the area of a frame three ways.
</ol>
<hr>
</blockquote>
<p>
The main class in the split pane demo program is called
<a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/SplitPaneDemo.java"><code>SplitPaneDemo</code></a>.
Below is the code from <code>SplitPaneDemo</code>'s constructor
that creates and sets up the split pane:
<blockquote>
<pre>
public SplitPaneDemo() {

    //Create the list of images and put it in a scroll pane.
    ...
    //Set up the picture label and put it in a scroll pane.
    ...
    //Create a split pane with the two scroll panes in it.
    <strong>splitPane = new JSplitPane(JSplitPane.HORIZONTAL_SPLIT);</strong>
    splitPane.setLeftComponent(listScrollPane);
    splitPane.setRightComponent(pictureScrollPane);
    splitPane.setOneTouchExpandable(true);
 
    //Provide minimum sizes for the two components in the split pane
    Dimension minimumSize = new Dimension(100, 50);
    listScrollPane.setMinimumSize(minimumSize);
    pictureScrollPane.setMinimumSize(minimumSize);
 
    //Set the initial location and size of the divider
    splitPane.setDividerLocation(150);
    splitPane.setDividerSize(10);
 
    //Provide a preferred size for the split pane
    splitPane.setPreferredSize(new Dimension(400, 200));
}
</pre>
</blockquote>
The bold line creates a split pane that is divided horizontally,
thereby putting the two components side by side. Split pane
provides one other option, <code>VERTICAL_SPLIT</code>, that
places the two components one above the other. You can change
the split direction after the split pane has been created with
the <code>setOrientation</code> method.
<p>
The constructor uses <code>setLeftComponent</code>
and <code>setRightComponent</code> to place the list
and the image label in the split pane. If the split
pane was oriented vertically, you might choose to use
<code>setTopComponent</code> and <code>setBottomComponent</code> instead.
However, each of the <code>set<em>Xxxx</em>Component</code> methods works
regardless of the split pane's orientation.
Top and left are equivalent, and bottom and right are equivalent.
Alternatively, you can use the <code>add</code> method,
which puts the first component in the left or top position.
<p>
Next the code sets "one touch expandable" to <code>true</code>.
With this option turned on,
the split pane displays controls 
that allow the user to hide one of the components
and allocate all of the split pane's space to the other.

<p>
You might have noticed that the preceding code
makes a fuss about the minimum
sizes of the two components contained by the split pane.
The reason is that a split pane uses its components' minimum sizes to determine
where the user can position the divider.
A split pane does not allow the user to make either of
the components smaller than the component's minimum size
by dragging the divider.
The user can use the one touch expandable buttons
to hide one component.
If this example did not explicitly set the minimum size
for at least one of split pane's components,
the divider would be immovable because each component
in the split pane would already be smaller than its minimum size.

<h4>
<a name="api">The Split Pane API</a>
</h4>
<blockquote>
The following tables list the commonly used
<code>JSplitPane</code> constructors and methods.
Other methods you're likely to call
are defined by the
<a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JComponent.html"><code>JComponent</code></a><a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JComponent.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a>,
<a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.Container.html"><code>Container</code></a><a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.Container.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a>, and
<a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.Component.html"><code>Component</code></a><a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.Component.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a> classes
and include
[PENDING: anything in particular for JSplitPane?].
[Link to JComponent and Component discussions.]

The API for using lists falls into these categories:

<ul>
<li><a href="#settingup">Setting up the Split Pane</a>
<li><a href="#contents">Managing the Split Pane's Contents</a>
<li><a href="#divider">Positioning the Divider</a>
</ul>

<p>
<table border=1>
<caption><a name="settingup">Setting Up the Split Pane</a></caption>
<tr>
<th>Method
<th>Purpose

<tr>
<td><font size=2><code>JSplitPane()
    <br>
    JSplitPane(int)
    <br>
    JSplitPane(int, boolean)
    <br>
    JSplitPane(int, Component, Component)
    <br>
    JSplitPane(int, boolean, Component, Component)</code></font>
<td>Create a split pane.
    When present, the <code>int</code> parameter indicates
    the split pane's orientation, either <code>HORIZONTAL_SPLIT</code>
    or <code>VERTICAL_SPLIT</code>.
    The <code>boolean</code> parameter sets whether the
    components continually repaint as the user drags the split pane.
    The <code>Component</code> parameters set the initial
    left and right, or top and bottom components, respectively.

<tr>
<td><font size=2><code>void setOrientation(int)
    <br>
    int getOrientation()</code></font>
<td>Set or get the split pane's orientation. Use either
    <code>HORIZONTAL_SPLIT</code> or <code>VERTICAL_SPLIT</code>
    defined in <code>JSplitPane</code>.

<tr>
<td><font size=2><code>void setDividerSize(int)
    <br>
    int getDividerSize()</code></font>
<td>Set or get the size of the divider in pixels.

<tr>
<td><font size=2><code>void setContinuousLayout(boolean)
    <br>
    boolean getContinuousLayout()</code></font>
<td>Set or get whether the split pane's components
    are continually layed out and painted while the user
    is dragging the divider.

<tr>
<td><font size=2><code>void setOneTouchExpandable(boolean)
    <br>
    boolean getOneTouchExpandable()</code></font>
<td>Set or get whether the split pane displays the one touch
    expandable controls.
</table>
 
<p>
<table border=1>
<caption><a name="contents">Managing the Split Pane's Contents</a></caption>
<tr>
<th>Method
<th>Purpose

<tr>
<td><font size=2><code>void setTopComponent(Component)
    <br>
    void setBottomComponent(Component)
    <br>
    void setLeftComponent(Component)
    <br>
    void setRightComponent(Component)
    <br>
    Component getTopComponent()
    <br>
    Component getBottomComponent()
    <br>
    Component getLeftComponent()
    <br>
    Component getRightComponent()</code></font>
<td>Set or get the indicated component.
    Each method works regardless of the split pane's orientation.
    Top and left are equivalent, and bottom and right are equivalent.

<tr>
<td><font size=2><code>void remove(Component)
    <br>
    void removeAll()</code></font>
<td>Remove the indicated component from the split pane.

<tr>
<td><font size=2><code>void add(Component)</code></font>
<td>Add the component to the split pane. You can add only
    two components to a split pane.
    The first component added is the top/left component.
    The second component added is the bottom/right component.
</table>
<p>

<p>
<table border=1>
<caption><a name="divider">Positioning the Divider</a></caption>
<tr>
<th>Method
<th>Purpose

<tr>
<td><font size=2><code>void setDividerLocation(double)
    <br>
    void setDividerLocation(int)
    <br>
    int getDividerLocation()</code></font>
<td>Set or get the current divider location.
    When setting the divider location, 
    you can specify the new location as a percentage
    (<code>double</code>) or a pixel location (<code>int</code>).<br>

<tr>
<td><font size=2><code>void setLastDividerLocation(int)
    <br> 
    int getLastDividerLocation()</code></font>
<td>Set or get the previous position of the divider.
	
<tr>
<td><font size=2><code>int getMaximumDividerLocation()
    <br> 
    int getMinimumDividerLocation()</code></font>
<td>Get the minimum and maximum locations for the divider.
    These are set implicitly by setting the minimum sizes
    of the split pane's two components.

</table>

</blockquote>

<h4>
<a name="eg">Examples that Use Split Panes</a>
</h4>
<blockquote>
This table shows the examples that use <code>JSplitPane</code>
and where those examples are described.
<p>
<table>
<tr>
<th align=left> Example
<th align=left> Where Described
<th align=left> Notes
 
<tr>
<td> <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/SplitPaneDemo.java"><code>SplitPaneDemo.java</code></a>
<td> This page and
     <a href="list.html">How to Use Lists</a>.
<td> Shows a split pane with a horizontal split.
 
<tr>
<td> <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/TreeDemo.java"><code>TreeDemo.java</code></a>
<td> <a href="tree.html">How to Use Trees</a>
<td> Uses a split pane with a vertical split and with
     one touch expandable turned <em>off</em>.
 
<tr>
<td> <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/SplitPaneDemo2.java"><code>SplitPaneDemo2.java</code></a>
<td> This page
<td> Puts a split pane within a split pane to create a three-way split.
 
</table>
 
</blockquote>

</blockquote>
<p>
<hr size=4>
<p> 
<table width="100%">
<tr>
<td align=left>
<a href="scrollpane.html"><img src="http://docs.rinet.ru/Jtuta/images/PreviousArrow.gif" width=26 height=26 align=top border=0 alt="Previous | "></a><a
href="tabbedpane.html"><img src="http://docs.rinet.ru/Jtuta/images/NextArrow.gif" width=26 height=26 align=top border=0 alt="Next | "></a><a
href="..\..\trailmap.html"><img src="http://docs.rinet.ru/Jtuta/images/WayUpArrow.gif" width=26 height=26 align=top border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/Jtuta/images/uiHeader.gif" width=26 height=26 align=top border=0 alt="Creating a GUI with JFC/Swing | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Swing Components</em></strong></a>
</td>
</tr>
</table>
</body>
</html>
