




















<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<!--NewPage-->
<html>
<head>
<title>Using Swing's Text Components</title>
</head>
<body BGCOLOR="#ffffff">










<table width="100%">
<tr>
<td align=left>
<a href="table.html"><img src="http://docs.rinet.ru/Jtuta/images/PreviousArrow.gif" width=26 height=26 align=bottom border=0 alt="Previous | "></a><a
href="simpletext.html"><img src="http://docs.rinet.ru/Jtuta/images/NextArrow.gif" width=26 height=26 align=bottom border=0 alt="Next | "></a><a
href="..\..\trailmap.html"><img src="http://docs.rinet.ru/Jtuta/images/WayUpArrow.gif" width=26 height=26 align=bottom border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/Jtuta/images/uiHeader.gif" width=26 height=26 align=bottom border=0 alt="Creating a GUI with JFC/Swing | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Swing Components</em></strong></a>
</td>
</tr>
</table>
<p>
<center>
<IMG SRC="http://docs.rinet.ru/Jtuta/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
<IMG SRC="http://docs.rinet.ru/Jtuta/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
</center>
<p> 

<h2>
    Using Swing's Text Components
</h2>
<p>
<blockquote>

Swing's text components display text and optionally
allow the user to edit the text.
Programs need text components for tasks
ranging from the straightforward
(enter a word and press Return)
to the complex
(display and edit styled text with
embedded images in an Asian language).
<p>
Swing provides five text components
and their supporting classes and interfaces,
which meet even the most complex text requirements.
In spite of their different uses and capabilities,
all of Swing's text components inherit from
the same superclass,
<a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/text/JTextComponent.html"><code>JTextComponent</code></a><a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/text/JTextComponent.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a>, which provides a highly-configurable
and powerful foundation for text manipulation.

<p>
The following figure shows the <code>JTextComponent</code> hierarchy
and places each text component class into one of three groups:

<blockquote><IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/components/TextHierarchy.gif" WIDTH="484" HEIGHT="182" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT=""></blockquote>
The following paragraphs describe the three
groups of text components.

<p>
<table cellpadding=5 border=1>
<tr>
<th> Group
<th> Description
<th> Swing Classes

<tr>
<th> Text Controls
<td>
Also known simply as text fields,
text controls
can display and edit only one line of text
and are action-based like buttons.
Use them to get a small amount
of textual information from the user
and take some action after the text entry is complete.
<td>
<a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JTextField.html"><code>JTextField</code></a><a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JTextField.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a><br>
 and its subclass
<br>
<a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JPasswordField.html"><code>JPasswordField</code></a><a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JPasswordField.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a>
<tr>
<th> Plain Text Areas
<td>
<code>JTextArea</code>,
Swing's only plain text component,
can display and edit multiple lines of text.
Although a text area can display text in any font,
all of the text is in the same font.
All editing of plain text components 
can be accomplished through direct manipulation
of the text with the keyboard and mouse, thus
plain text components are typically easier
to set up and use than styled text components.
Also, if the length of the text is less than
a few pages long, you can easily use <code>setText</code>
and <code>getText</code> to modify or retrieve the
component's content in a single method call.
<td>
<a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JTextArea.html"><code>JTextArea</code></a><a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JTextArea.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a>
<tr>
<th> Styled Text Areas
<td>
A styled text component
can display and edit text using more than one font.
Some styled text components allow embedded images
and even embedded components.
These text components are powerful and multi-faceted
components suitable for high-end needs.
You typically have to do more programming
up front to set up and use styled text components
because much of their functionality is not available
through direct manipulation with the mouse and keyboard.
For example, to support text style editing,
you normally have to create a user interface.
One handy, easy-to-use feature
provided by <code>JEditorPane</code>
makes editor panes and text panes particularly useful
for displaying uneditable help information:
they can be loaded with
formatted text from a URL.
<td>
<a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JEditorPane.html"><code>JEditorPane</code></a><a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JEditorPane.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a><br>
 and its subclass
<br>
<a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JTextPane.html"><code>JTextPane</code></a><a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JTextPane.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a></table>

<p>
The next section,
<a href="simpletext.html">An Example of Using Each Text Component</a>,
shows an application that creates one of each of
Swing's text components
and describes the application's code.
By studying this example you can learn the
basics of creating and using each text component.
Many programmers and programs will be served with
this basic information.
However, you will have scratched only the surface
of Swing's text API.
The remaining sections about the text components
are here to help you navigate the waters.

<ul>
<li> <a href="simpletext.html">An Example of Using Each Text Component</a>
<li> <a href="generaltext.html">General Rules for Using Text Components</a>
<li> <a href="textfield.html">How to Use Text Fields</a>
<li> <a href="editorpane.html">How to Use Editor Panes and Text Panes</a>
<li> <a href="textapi.html">Summary of Text</a>
</ul>

</blockquote>
<p>
<hr size=4>
<p> 
<table width="100%">
<tr>
<td align=left>
<a href="table.html"><img src="http://docs.rinet.ru/Jtuta/images/PreviousArrow.gif" width=26 height=26 align=top border=0 alt="Previous | "></a><a
href="simpletext.html"><img src="http://docs.rinet.ru/Jtuta/images/NextArrow.gif" width=26 height=26 align=top border=0 alt="Next | "></a><a
href="..\..\trailmap.html"><img src="http://docs.rinet.ru/Jtuta/images/WayUpArrow.gif" width=26 height=26 align=top border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/Jtuta/images/uiHeader.gif" width=26 height=26 align=top border=0 alt="Creating a GUI with JFC/Swing | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Swing Components</em></strong></a>
</td>
</tr>
</table>
</body>
</html>
