




















<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<!--NewPage-->
<html>
<head>
<title>How to Use Tool Bars</title>
</head>
<body BGCOLOR="#ffffff">










<table width="100%">
<tr>
<td align=left>
<a href="tabbedpane.html"><img src="http://docs.rinet.ru/Jtuta/images/PreviousArrow.gif" width=26 height=26 align=bottom border=0 alt="Previous | "></a><a
href="internalframe.html"><img src="http://docs.rinet.ru/Jtuta/images/NextArrow.gif" width=26 height=26 align=bottom border=0 alt="Next | "></a><a
href="..\..\trailmap.html"><img src="http://docs.rinet.ru/Jtuta/images/WayUpArrow.gif" width=26 height=26 align=bottom border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/Jtuta/images/uiHeader.gif" width=26 height=26 align=bottom border=0 alt="Creating a GUI with JFC/Swing | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Swing Components</em></strong></a>
</td>
</tr>
</table>
<p>
<center>
<IMG SRC="http://docs.rinet.ru/Jtuta/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
<IMG SRC="http://docs.rinet.ru/Jtuta/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
</center>
<p> 

<h2>
    How to Use Tool Bars
</h2>
<p>
<blockquote>


A
<a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JToolBar.html"><code>JToolBar</code></a><a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JToolBar.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a> is a container that groups several components --
usually <a href="button.html">buttons</a> with icons -- 
into a row or column.
Often, tool bars provide
easy access to functionality that is also in 
<a href="menu.html">menus</a>.
If this is the case, 
then in addition to this section,
you should read
<a href="..\misc\action.html">How to Use Actions</a>.


<p>

The following pictures show an application
that contains a tool bar above a text area.

<blockquote><IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/components/ToolBarDemo.gif" WIDTH="411" HEIGHT="129" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT=""></blockquote>
By default,
the user can drag the tool bar to a different edge of its container
or out into a window of its own.
The next figure shows how the application looks
after the user has dragged the tool bar 
to the right edge of its container.
To make the drag-out behavior work correctly,
the tool bar should be in a container 
that uses <code>BorderLayout</code>,
and the container should have only one other component,
which should be in the center.

<blockquote><IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/components/ToolBarDemo-2.gif" WIDTH="411" HEIGHT="129" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT=""></blockquote>
The next figure shows how the application looks
after the user has dragged the tool bar
outside its window.

<blockquote><IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/components/ToolBarDemo-3.gif" WIDTH="524" HEIGHT="129" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT=""></blockquote>
<p>

The following code implements the tool bar.
You can find the entire program in
<a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/ToolBarDemo.java"><code>ToolBarDemo.java</code></a>.
It relies on these images:
<a href="example-swing\images\left.gif"><code>left.gif</code></a>,
<a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/images/middle.gif"><code>middle.gif</code></a>, and
<a href="example-swing\images\right.gif"><code>right.gif</code></a>.

<blockquote>
<hr>
<strong>Note:</strong>
If any buttons in your tool bar duplicate functionality
of other components, such as menu items,
then you should probably create and add the tool-bar buttons
as described in 
<a href="..\misc\action.html">How to Use Actions</a>.
<hr>
</blockquote>

<blockquote>
<pre>
public ToolBarDemo() {
    ...
    JToolBar toolBar = new JToolBar();
    addButtons(toolBar);
    ...
    JPanel contentPane = new JPanel();
    contentPane.setLayout(new BorderLayout());
    ...
    contentPane.add(toolBar, BorderLayout.NORTH);
    contentPane.add(scrollPane, BorderLayout.CENTER);
    ...
}

protected void addButtons(JToolBar toolBar) {
    JButton button = null;

    //first button
    button = new JButton(new ImageIcon("images/left.gif"));
    ...
    toolBar.add(button);

    //second button
    button = new JButton(new ImageIcon("images/middle.gif"));
    ...
    toolBar.add(button);

    //third button
    button = new JButton(new ImageIcon("images/right.gif"));
    ...
    toolBar.add(button);
}
</pre>
</blockquote>
<p>

By adding a few lines of code to the preceding example,
we can demonstrate some more tool bar features:
<ul>
<li> Using the <code>setFloatable</code> method
     to make a tool bar immovable.
<li> Adding a separator to a tool bar.
<li> Adding a non-button component to a tool bar.
</ul>

Here is a picture of the new UI,
which is implemented in 
<a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/ToolBarDemo2.java"><code>ToolBarDemo2.java</code></a>:

<blockquote><IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/components/ToolBarDemo2.gif" WIDTH="411" HEIGHT="129" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT=""></blockquote>
Because the tool bar can no longer be dragged,
it no longer has bumps at its left edge.
Here's the code that turns off dragging:

<blockquote>
<pre>
toolBar.setFloatable(false);
</pre>
</blockquote>

The biggest visible difference
is that the tool bar contains two new components,
which are preceded by a blank space -- a <em>separator</em>.
Here is the code that adds the separator:

<blockquote>
<pre>
toolBar.addSeparator();
</pre>
</blockquote>

Here is the code that adds the new components:

<blockquote>
<pre>
<em>...//add to where the first button is initialized:</em>
button.setAlignmentY(CENTER_ALIGNMENT);
<em>...//add to where the second button is initialized:</em>
button.setAlignmentY(CENTER_ALIGNMENT);
<em>...//add to where the third button is initialized:</em>
button.setAlignmentY(CENTER_ALIGNMENT);
...
//fourth button
button = new JButton("Another button");
...
button.setAlignmentY(CENTER_ALIGNMENT);
toolBar.add(button);

//fifth component is NOT a button!
JTextField textField = new JTextField("A text field");
...
textField.setAlignmentY(CENTER_ALIGNMENT);
toolBar.add(textField);
</pre>
</blockquote>

The <code>setAlignmentY</code> calls are necessary
to make the tool bar's components 
align nicely.  
If the code doesn't set the alignment, 
then the text field
is positioned too high.
This is the result of <code>JToolBar</code>
using <code>BoxLayout</code> 
as its layout manager,
and of buttons and text fields having different default Y alignments.
If you encounter layout problems in a tool bar, 
see <a href="..\layout\box.html">How to Use BoxLayout</a>
for help.


<h4>
<a name="api">The Tool Bar API</a>
</h4>
<blockquote>
The following table lists the commonly used
<a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JToolBar.html"><code>JToolBar</code></a><a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JToolBar.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a>constructors and methods.
Other methods you might call
are defined by the
<a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JComponent.html"><code>JComponent</code></a><a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JComponent.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a>,
<a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.Container.html"><code>Container</code></a><a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.Container.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a>, and
<a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.Component.html"><code>Component</code></a><a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.Component.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a> classes.

<p>

<table border=1> 
<tr>
<th align=left>Method
<th align=left>Purpose
 
<tr>
<td><font size=2><code>JToolBar()</code></font>
<td>Create a tool bar.

<tr>
<td><font size=2><code>JButton add(Action)
    <br>
    Component add(Component)
    void addSeparator()</code></font>
<td>Add a component (usually a button)
    to the tool bar.
    If the argument to <code>add</code> is an <code>Action</code> object,
    then the tool bar automatically creates a <code>JButton</code>
    and adds it.

<tr>
<td><font size=2><code>void addSeparator()</code></font>
<td>Add a separator to the end of the tool bar.

<tr>
<td><font size=2><code>void setFloatable(boolean)
    <br>
    boolean isFloatable()</code></font>
<td>The floatable property is true by default,
    to indicate that the user can drag the tool bar
    out into a separate window.
    To turn off tool bar dragging,
    use <code>toolbar.setFloatable(false)</code>.

</table>


</blockquote>
<h4>
<a name="eg">Examples that Use Tool Bars</a>
</h4>
<blockquote>
This table lists examples that use <code>JToolBar</code>
and where those examples are described.
<p>
<table>
<tr>
<th align=left> Example
<th align=left> Where Described
<th align=left> Notes

<tr>
<td> <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/ToolBarDemo.java"><code>ToolBarDemo.java</code></a>
<td> This page.
<td> A basic tool bar with icon-only buttons.

<tr>
<td> <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/ToolBarDemo2.java"><code>ToolBarDemo2.java</code></a>
<td> This page
<td> Demonstrates a non-floatable tool bar containing a separator
     and non-button components.

<tr>
<td> <a href="http://docs.rinet.ru/Jtuta/uiswing/misc/example-swing/ActionDemo.java"><code>ActionDemo.java</code></a>
<td> <a href="..\misc\action.html">How to Use Actions</a>
<td> Implements a tool bar using <code>Action</code> objects.

</table>


</blockquote>

</blockquote>
<p>
<hr size=4>
<p> 
<table width="100%">
<tr>
<td align=left>
<a href="tabbedpane.html"><img src="http://docs.rinet.ru/Jtuta/images/PreviousArrow.gif" width=26 height=26 align=top border=0 alt="Previous | "></a><a
href="internalframe.html"><img src="http://docs.rinet.ru/Jtuta/images/NextArrow.gif" width=26 height=26 align=top border=0 alt="Next | "></a><a
href="..\..\trailmap.html"><img src="http://docs.rinet.ru/Jtuta/images/WayUpArrow.gif" width=26 height=26 align=top border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/Jtuta/images/uiHeader.gif" width=26 height=26 align=top border=0 alt="Creating a GUI with JFC/Swing | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Swing Components</em></strong></a>
</td>
</tr>
</table>
</body>
</html>
