




















<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<!--NewPage-->
<html>
<head>
<title>How to Use Tool Tips</title>
</head>
<body BGCOLOR="#ffffff">










<table width="100%">
<tr>
<td align=left>
<a href="textapi.html"><img src="http://docs.rinet.ru/Jtuta/images/PreviousArrow.gif" width=26 height=26 align=bottom border=0 alt="Previous | "></a><a
href="tree.html"><img src="http://docs.rinet.ru/Jtuta/images/NextArrow.gif" width=26 height=26 align=bottom border=0 alt="Next | "></a><a
href="..\..\trailmap.html"><img src="http://docs.rinet.ru/Jtuta/images/WayUpArrow.gif" width=26 height=26 align=bottom border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/Jtuta/images/uiHeader.gif" width=26 height=26 align=bottom border=0 alt="Creating a GUI with JFC/Swing | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Swing Components</em></strong></a>
</td>
</tr>
</table>
<p>
<center>
<IMG SRC="http://docs.rinet.ru/Jtuta/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
<IMG SRC="http://docs.rinet.ru/Jtuta/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
</center>
<p> 

<h2>
    How to Use Tool Tips
</h2>
<p>
<blockquote>

Creating a tool tip for any <code>JComponent</code>
is easy.
You just use the <code>setToolTipText</code> method
to set up a tool tip for the component.
For example, to add tool tips to three buttons,
you add only three lines of code:

<blockquote>
<pre>
b1.setToolTipText("Click this button to disable the middle button.");
b2.setToolTipText("This middle button does nothing when you click it.");
b3.setToolTipText("Click this button to enable the middle button.");
</pre>
</blockquote>

When the user of the program 
pauses with the cursor over any of the program's buttons,
the tool tip for the button comes up.
You can see this by running the <code>ButtonDemo</code> example,
which is explained in
<a href="button.html">How to Use Buttons, Check Boxes, and Radio Buttons</a>.
Here's a picture of the tool tip 
that appears when the cursor pauses over the left button
in <code>ButtonDemo</code>:

<blockquote><IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/components/ButtonDemo-TT.gif" WIDTH="531" HEIGHT="89" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT=""></blockquote>
[Please imagine a cursor over the left button.  Thank you.]


</blockquote>
<h4>
<a name="api">The Tool Tip API</a>
</h4>
<blockquote>

Most of the API you need to set up tool tips
is in the 
<a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JComponent.html"><code>JComponent</code></a><a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JComponent.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a>, and thus is inherited by every Swing component
(except for top-level containers).
This API is covered a 
<a href="#JComponent">table</a> later in this section.

<p>

More tool-tip API is in individual classes
such as <code>JTabbedPane</code>.
Each component's page has information
on its tool-tip API, if any.

<p>

If you want to bypass or customize the default handling of tool tips,
then you'll probably need to deal directly with
<a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JToolTip.html"><code>JToolTip</code></a><a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JToolTip.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a> or
<a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/ToolTipManager.html"><code>ToolTipManager</code></a><a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/ToolTipManager.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a>.
[PENDING: should I say more?]

<p>

<table border=1>
<caption><a name="JComponent">Tool Tip API in <code>JComponent</code></a></caption>
<tr>
<th>Method
<th>Purpose

<tr>
<td><font size=2><code>setToolTipText(String)</code>
    <br>
    (in <code>JComponent</code>)</font>
<td>If the specified string is non-null,
    then this method registers the component
    as having a tool tip
    and makes the tool tip (when displayed)
    have the specified text.
    If the argument is null,
    then this method turns off tool tips for this component.

<tr>
<td><font size=2><code>String getToolTipText()</code>
    <br>
    (in <code>JComponent</code>)</font>
<td>Returns the string
    that was previously specified with <code>setToolTipText</code>.

<tr>
<td><font size=2><code>String getToolTipText(MouseEvent)</code>
    <br>
    (in <code>JComponent</code>)</font>
<td>By default, returns the same value returned by
    <code>getToolTipText()</code>.
    Multi-part components such as 
    <a href="tabbedpane.html"><code>JTabbedPane</code></a>,
    <a href="table.html"><code>JTable</code></a>,
    and <a href="tree.html"><code>JTree</code></a>
    override this method to return a string
    associated with the mouse event location.
    For example, each tab in a tabbed pane
    can have different tool-tip text.

<tr>
<td><font size=2><code>setToolTipLocation(Point)
    <br>
    Point getToolTipLocation()</code>
    <br>
    (in <code>JComponent</code>)</font>
<td>Set or get the location (in the receiving component's coordinate system)
    where the upper left corner of the component's tool tip will appear.
    The default value is null,
    which tells the Swing system to choose a location.

</table>

<p>

</blockquote>
<h4>
<a name="eg">Examples that Use Tool Tips</a>
</h4>
<blockquote>
This table shows the examples that use tool tips
and where those examples are described.
<p>
<table>
<tr>
<th align=left> Example
<th align=left> Where Described
<th align=left> Notes

<tr>
<td> <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/ButtonDemo.java"><code>ButtonDemo.java</code></a>
<td> This page and
     <a href="button.html">How to Use Buttons, Check Boxes, and Radio Buttons</a>
<td> Uses a tool tip to provide instructions for a button.

<tr>
<td> <a href="http://docs.rinet.ru/Jtuta/uiswing/misc/example-swing/IconDemoApplet.java">
     <code>IconDemoApplet.java</code></a>
<td> <a href="..\misc\icon.html">How to Use Icons</a>
<td> Uses a tool tip to provide name and size information on an image.

<tr>
<td> <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/TabbedPaneDemo.java">
     <code>TabbedPaneDemo.java</code></a>
<td> <a href="tabbedpane.html">How to Use Tabbed Panes</a>
<td> Specifies tool tip text for each tab.

<tr>
<td> <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/TableRenderDemo.java">
     <code>TableRenderDemo.java</code></a>
<td> <a href="table.html#custom">How to Use Tables</a>
<td> Adds tool tips using custom renderers and editors. 

<tr>
<td> <a href="http://docs.rinet.ru/Jtuta/uiswing/misc/example-swing/ActionDemo.java">
     <code>ActionDemo.java</code></a>
<td> <a href="..\misc\action.html">How to Use Actions</a>
<td> Adds tool tips to buttons created using Actions.

<tr>
<td colspan=3> [PENDING: tree?  list?  anything else?]

</table>

</blockquote>
</blockquote>
<p>
<hr size=4>
<p> 
<table width="100%">
<tr>
<td align=left>
<a href="textapi.html"><img src="http://docs.rinet.ru/Jtuta/images/PreviousArrow.gif" width=26 height=26 align=top border=0 alt="Previous | "></a><a
href="tree.html"><img src="http://docs.rinet.ru/Jtuta/images/NextArrow.gif" width=26 height=26 align=top border=0 alt="Next | "></a><a
href="..\..\trailmap.html"><img src="http://docs.rinet.ru/Jtuta/images/WayUpArrow.gif" width=26 height=26 align=top border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/Jtuta/images/uiHeader.gif" width=26 height=26 align=top border=0 alt="Creating a GUI with JFC/Swing | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Swing Components</em></strong></a>
</td>
</tr>
</table>
</body>
</html>
