




















<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<!--NewPage-->
<html>
<head>
<title>Making Top-Level Containers</title>
</head>
<body BGCOLOR="#ffffff">










<table width="100%">
<tr>
<td align=left>
<a href="jcomponent.html"><img src="http://docs.rinet.ru/Jtuta/images/PreviousArrow.gif" width=26 height=26 align=bottom border=0 alt="Previous | "></a><a
href="frame.html"><img src="http://docs.rinet.ru/Jtuta/images/NextArrow.gif" width=26 height=26 align=bottom border=0 alt="Next | "></a><a
href="..\..\trailmap.html"><img src="http://docs.rinet.ru/Jtuta/images/WayUpArrow.gif" width=26 height=26 align=bottom border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/Jtuta/images/uiHeader.gif" width=26 height=26 align=bottom border=0 alt="Creating a GUI with JFC/Swing | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Swing Components</em></strong></a>
</td>
</tr>
</table>
<p>
<center>
<IMG SRC="http://docs.rinet.ru/Jtuta/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
<IMG SRC="http://docs.rinet.ru/Jtuta/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
</center>
<p> 

<h2>
    Making Top-Level Containers
</h2>
<p>
<blockquote>

Before you attempt to use a top-level container,
you should read and understand
<a target="_top" href="..\overview\hierarchy.html">Swing Components and the Containment Hierarchy</a><a target="_top" href="..\overview\hierarchy.html"><img src="http://docs.rinet.ru/Jtuta/images/uiIcon.gif" width=20 height=20 border=0 alt="(in the Creating a User Interface trail)"></a>.
As that section says,
programs that use Swing components
put the components in containment hierarchies,
and each containment hierarchy
has a top-level container as its root.

<p>

In general, each application has at least one containment hierarchy
headed by a 
<a href="frame.html">frame</a> (<code>JFrame</code> object).
Each 
<a href="applet.html">applet</a> must have a containment hierarchy headed by a
<code>JApplet</code> object.
Every additional window in an application or applet
has its own containment hierarchy, 
headed by a frame or <a href="dialog.html">dialog</a>
(<code>JDialog</code>/<code>JOptionPane</code>).

<blockquote>
<hr>
<strong>Note:</strong>
We don't cover another top-level container,
<code>JWindow</code>,
because it isn't generally useful.
It's simply the Swing version of the AWT
<code>Window</code> class,
which provides a window with no controls or title
that is always on top of every other window.
<hr>
</blockquote>

<p>

The content pane that's in every top-level container
is provided by a reclusive container called the
<a href="rootpane.html">root pane</a>.
You generally don't need to know about the root pane
to use Swing components.



</blockquote>
<p>
<hr size=4>
<p> 
<table width="100%">
<tr>
<td align=left>
<a href="jcomponent.html"><img src="http://docs.rinet.ru/Jtuta/images/PreviousArrow.gif" width=26 height=26 align=top border=0 alt="Previous | "></a><a
href="frame.html"><img src="http://docs.rinet.ru/Jtuta/images/NextArrow.gif" width=26 height=26 align=top border=0 alt="Next | "></a><a
href="..\..\trailmap.html"><img src="http://docs.rinet.ru/Jtuta/images/WayUpArrow.gif" width=26 height=26 align=top border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/Jtuta/images/uiHeader.gif" width=26 height=26 align=top border=0 alt="Creating a GUI with JFC/Swing | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Swing Components</em></strong></a>
</td>
</tr>
</table>
</body>
</html>
