




















<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<!--NewPage-->
<html>
<head>
<title>How to Use Trees</title>
</head>
<body BGCOLOR="#ffffff">










<table width="100%">
<tr>
<td align=left>
<a href="tooltip.html"><img src="http://docs.rinet.ru/Jtuta/images/PreviousArrow.gif" width=26 height=26 align=bottom border=0 alt="Previous | "></a><a
href="problems.html"><img src="http://docs.rinet.ru/Jtuta/images/NextArrow.gif" width=26 height=26 align=bottom border=0 alt="Next | "></a><a
href="..\..\trailmap.html"><img src="http://docs.rinet.ru/Jtuta/images/WayUpArrow.gif" width=26 height=26 align=bottom border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/Jtuta/images/uiHeader.gif" width=26 height=26 align=bottom border=0 alt="Creating a GUI with JFC/Swing | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Swing Components</em></strong></a>
</td>
</tr>
</table>
<p>
<center>
<IMG SRC="http://docs.rinet.ru/Jtuta/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
<IMG SRC="http://docs.rinet.ru/Jtuta/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
</center>
<p> 

<h2>
    How to Use Trees
</h2>
<p>
<blockquote>

With the
<a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JTree.html"><code>JTree</code></a><a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/JTree.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a> class,
you can display hierarchical data.
<code>JTree</code> doesn't actually contain your data;
it's simply a view of the data.
Here's a picture of a tree:

<blockquote><IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/components/tree.gif" WIDTH="128" HEIGHT="113" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT=""></blockquote>
As the preceding figure shows, 
<code>JTree</code> displays its data vertically.  
Each row contains exactly one item of data
(called a <em>node</em>).
Every tree has a <em>root</em> node
(called Root in the above figure)
from which all nodes descend.
Nodes that can't have children
are called <em>leaf</em> nodes.
In the above figure, 
the look-and-feel marks leaf nodes with a circle.

<p>

Non-leaf nodes can have any number of children,
or even no children.
In the above figure,
the look-and-feel marks non-leaf nodes by drawing a folder.
Typically,
the user can <em>expand</em> and unexpand non-leaf nodes --
making their children visible or invisible --
by clicking them.
By default, non-leaf nodes start out unexpanded.

<p>


When you initialize a tree,
you create a 
<a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/tree/TreeNode.html"><code>TreeNode</code></a><a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/tree/TreeNode.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a> instance for each node in the tree,
including the root.
Each node that has no children
is automatically made a leaf.
To make a childless node a non-leaf,
you can invoke <code>setAllowsChildren(true)</code> on it.

<p>

The rest of this page discusses the following topics:

<ul>
<li> <a href="#select">Creating a tree that reacts to selections</a>
<li> <a href="#display">Customizing the display of the tree</a>
<li> <a href="#dynamic">Dynamically changing a tree</a>
<li> <a href="#data">Creating a data model</a>
<li> <a href="#api">The tree API</a>
<li> <a href="#eg">Examples that use trees</a>
</ul>


<h4>
<a name="select">
Creating a Tree that Reacts to Selections
</a>
</h4>
<blockquote>

Here is a picture of an application, 
the top half of which displays a tree
in a scroll pane.

<blockquote><IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/components/TreeDemo.gif" WIDTH="511" HEIGHT="322" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT=""></blockquote>
<blockquote>
<hr>
<strong>Try this:</strong>
<ol>
<li> Compile and run the application.
     The source file is
     <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/TreeDemo.java"><code>TreeDemo.java</code></a>.
     <br>
     See <a href="..\start\index.html">Getting Started with Swing</a> if you need help.

<li> Expand a node.
     <br>
     You can do this by clicking the circle
     to the left of the item.
<li> Select a node.
     <br>
     You do this by clicking the text for the node
     or the icon just to the left.
     The file displayed by the lower half of the window
     displays a file that reflects the currently selected node.
</ol>
<hr>
</blockquote>

<p>


<p>

Below is the code from 
<a href=http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/TreeDemo.java><code>TreeDemo.java</code></a>
that implements the tree in the preceding example.

<blockquote>
<pre>
public TreeDemo() {
    ...
    //Create the nodes.
    DefaultMutableTreeNode top = new DefaultMutableTreeNode("The Java Series");
    createNodes(top);

    //Create a tree that allows one selection at a time.
    JTree tree = new JTree(top);
    tree.getSelectionModel().setSelectionMode
            (TreeSelectionModel.SINGLE_TREE_SELECTION);

    //Listen for when the selection changes.
    tree.addTreeSelectionListener(new TreeSelectionListener() {
        public void valueChanged(TreeSelectionEvent e) {
            DefaultMutableTreeNode node = (DefaultMutableTreeNode)
                               (e.getPath().getLastPathComponent());
            Object nodeInfo = node.getUserObject();
            if (node.isLeaf()) {
                BookInfo book = (BookInfo)nodeInfo;
                displayURL(book.bookURL);
            } else {
                displayURL(helpURL); 
            }
        }
    });

    //Create the scroll pane and add the tree to it. 
    JScrollPane treeView = new JScrollPane(tree);
    ...
    //Add the scroll panes to a split pane.
    JSplitPane splitPane = new JSplitPane(JSplitPane.VERTICAL_SPLIT,
                                          treeView, htmlView);
    ...
}

private class BookInfo {
    public String bookName;
    public URL bookURL;

    public BookInfo(String book, String filename) {
        bookName = book;
        <em>...//Set bookURL...</em>
    }

    //This is what will be shown in the tree
    public String toString() {
        return bookName;
    }
}
...
private void createNodes(DefaultMutableTreeNode top) {
    DefaultMutableTreeNode category = null;
    DefaultMutableTreeNode book = null;

    category = new DefaultMutableTreeNode("Books for Java Programmers");
    top.add(category);

    //Tutorial
    book = new DefaultMutableTreeNode(new BookInfo
        ("The Java Tutorial: Object-Oriented Programming for the Internet",
        "tutorial.html"));
    category.add(book);
    ...
    category = new DefaultMutableTreeNode("Books for Java Implementers");
    top.add(category);

    //VM
    book = new DefaultMutableTreeNode(new BookInfo
        ("The Java Virtual Machine Specification",
         "vm.html"));
    category.add(book);

    //Language Spec
    book = new DefaultMutableTreeNode(new BookInfo
        ("The Java Language Specification",
         "jls.html"));
    category.add(book);
}
</pre>
</blockquote>

</blockquote>
<h4>
<a name="display">
Customizing the Display of the Tree
</a>
</h4>
<blockquote>

A tree uses a single <em>renderer</em>
to draw all of its nodes.
By default, this renderer is an instance of
<a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/tree/DefaultTreeCellRenderer.html"><code>DefaultTreeCellRenderer</code></a><a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/tree/DefaultTreeCellRenderer.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a>.


<p>

You can easily customize the way <code>DefaultTreeCellRenderer</code> 
displays the tree's nodes.
For example, it contains methods
that let you set the icons used for the tree's nodes.
To customize the renderer,
just create an instance of <code>DefaultTreeCellRenderer</code>,
invoke one or more of its <code>set<em>Xxx</em></code> methods,
and then make the instance the tree's renderer.
The following figure shows an application
that changes the renderer 
so that it uses a custom leaf icon.

<blockquote><IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/components/TreeIconDemo.gif" WIDTH="511" HEIGHT="322" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT=""></blockquote>
<p>

Here's the code that sets the icon
(the whole program is 
<a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/TreeIconDemo.java"><code>TreeIconDemo.java</code></a>):

<blockquote>
<pre>
DefaultTreeCellRenderer renderer = new DefaultTreeCellRenderer();
renderer.setLeafIcon(new ImageIcon("images/middle.gif"));
tree.setCellRenderer(renderer);
</pre>
</blockquote>

</blockquote>
<h4>
<a name="dynamic">
Dynamically Changing a Tree
</a>
</h4>
<blockquote>

The following figure shows an application
that allows you to dynamically add nodes to a tree.
You can also edit the text in each node.

<blockquote><IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/components/DynamicTreeDemo.gif" WIDTH="400" HEIGHT="179" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT="DynamicTreeDemo"></blockquote>
The application is based on an example provided by
tutorial reader Richard Stanford.
You can find the source code in
<a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/DynamicTreeDemo.java"><code>DynamicTreeDemo.java</code></a>
and 
<a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/DynamicTree.java"><code>DynamicTree.java</code></a>.

<p>

[PENDING: explain the example]

</blockquote>
<h4>
<a name="data">
Creating a Data Model
</a>
</h4>
<blockquote>

[PENDING: write and explain an example.
Does anyone have an easy-to-understand example they'd like to share? 
It should include basic searching.
If you'd like to help, please e-mail
<a href="mailto:tutorial@java.sun.com">tutorial@java.sun.com</a>.
Thanks!]

</blockquote>
<h4>
<a name="api">The Tree API</a>
</h4>
<blockquote>
[PENDING: API discussion to follow.]

</blockquote>
<h4>
<a name="eg">Examples that Use Trees</a>
</h4>
<blockquote>
[PENDING: List any examples]



</blockquote>
</blockquote>
<p>
<hr size=4>
<p> 
<table width="100%">
<tr>
<td align=left>
<a href="tooltip.html"><img src="http://docs.rinet.ru/Jtuta/images/PreviousArrow.gif" width=26 height=26 align=top border=0 alt="Previous | "></a><a
href="problems.html"><img src="http://docs.rinet.ru/Jtuta/images/NextArrow.gif" width=26 height=26 align=top border=0 alt="Next | "></a><a
href="..\..\trailmap.html"><img src="http://docs.rinet.ru/Jtuta/images/WayUpArrow.gif" width=26 height=26 align=top border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/Jtuta/images/uiHeader.gif" width=26 height=26 align=top border=0 alt="Creating a GUI with JFC/Swing | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Swing Components</em></strong></a>
</td>
</tr>
</table>
</body>
</html>
