<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
    "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">

<web-app>

	<servlet>
		<servlet-name>enter</servlet-name>
		<servlet-class>BookStoreServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>catalog</servlet-name>
		<servlet-class>CatalogServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>banner</servlet-name>
		<servlet-class>BannerServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>bookdetails</servlet-name>
		<servlet-class>BookDetailServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>showcart</servlet-name>
		<servlet-class>ShowCartServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>cashier</servlet-name>
		<servlet-class>CashierServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>receipt</servlet-name>
		<servlet-class>ReceiptServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>enter</servlet-name>
		<url-pattern>/enter</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>receipt</servlet-name>
		<url-pattern>/receipt</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>cashier</servlet-name>
		<url-pattern>/cashier</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>showcart</servlet-name>
		<url-pattern>/showcart</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>bookdetails</servlet-name>
		<url-pattern>/bookdetails</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>catalog</servlet-name>
		<url-pattern>/catalog</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>banner</servlet-name>
		<url-pattern>/banner</url-pattern>
	</servlet-mapping>

</web-app>


