<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
    "http://java.sun.com/j2ee/dtds/web-app_2.2.dtd">

<web-app>
  
  <description>
  Example web application illustrating the use of tags in the
  "xsl" custom tag library, from the JAKARTA-TAGLIBS project.
  </description>

  <taglib>
    <taglib-uri>/profanityfiltertags.tld</taglib-uri>
    <taglib-location>/WEB-INF/profanityfiltertags.tld</taglib-location>
  </taglib>

  <taglib>
    <taglib-uri>/calltrace1tags.tld</taglib-uri>
    <taglib-location>/WEB-INF/calltrace1tags.tld</taglib-location>
  </taglib>

  <taglib>
    <taglib-uri>/calltrace2tags.tld</taglib-uri>
    <taglib-location>/WEB-INF/calltrace2tags.tld</taglib-location>
  </taglib>

  <taglib>
    <taglib-uri>/cooperatingtags.tld</taglib-uri>
    <taglib-location>/WEB-INF/cooperatingtags.tld</taglib-location>
  </taglib>

  <taglib>
    <taglib-uri>/exceptionhandlingtags.tld</taglib-uri>
    <taglib-location>/WEB-INF/exceptionhandlingtags.tld</taglib-location>
  </taglib>

  <taglib>
    <taglib-uri>/validationfailure1tags.tld</taglib-uri>
    <taglib-location>/WEB-INF/validationfailure1tags.tld</taglib-location>
  </taglib>

  <taglib>
    <taglib-uri>/validationfailure2tags.tld</taglib-uri>
    <taglib-location>/WEB-INF/validationfailure2tags.tld</taglib-location>
  </taglib>

  <taglib>
    <taglib-uri>/validationfailure3tags.tld</taglib-uri>
    <taglib-location>/WEB-INF/validationfailure3tags.tld</taglib-location>
  </taglib>

</web-app>
