




















<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<!--NewPage-->
<html>
<head>
<title>How to Use BorderLayout</title>
</head>
<body BGCOLOR="#ffffff">










<table width="100%">
<tr>
<td align=left>
<a href="generalrules.html"><img src="http://docs.rinet.ru/Jtuta/images/PreviousArrow.gif" width=26 height=26 align=bottom border=0 alt="Previous | "></a><a
href="box.html"><img src="http://docs.rinet.ru/Jtuta/images/NextArrow.gif" width=26 height=26 align=bottom border=0 alt="Next | "></a><a
href="..\..\trailmap.html"><img src="http://docs.rinet.ru/Jtuta/images/WayUpArrow.gif" width=26 height=26 align=bottom border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/Jtuta/images/uiHeader.gif" width=26 height=26 align=bottom border=0 alt="Creating a GUI with JFC/Swing | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Laying Out Components Within a Container</em></strong></a>
</td>
</tr>
</table>
<p>
<center>
<IMG SRC="http://docs.rinet.ru/Jtuta/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
<IMG SRC="http://docs.rinet.ru/Jtuta/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
</center>
<p> 

<h2>
    How to Use BorderLayout
</h2>
<p>
<blockquote>

Here's an applet that shows a 
<a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.BorderLayout.html"><code>BorderLayout</code></a><a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.BorderLayout.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a> in action.

<p>

<blockquote><a href="borderdemo.html" target="_blank"><IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/layout/borderlayout.gif" WIDTH="470" HEIGHT="154" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT="Click this figure to run the applet."></a><br><em>This is a picture of the applet's GUI.  To run the applet, click the picture.  The applet will appear in a new browser window.</em></blockquote>
<p>

As the preceding applet shows, 
a <code>BorderLayout</code> has five areas:
north, south, east, west, and center.
If you enlarge the window,
the center area
gets as much of the available space as possible.
The other areas expand only as much as necessary
to fill all available space.

<p>

The following code
creates the <code>BorderLayout</code> and the components it manages.
Here's <a href="http://docs.rinet.ru/Jtuta/uiswing/layout/example-swing/BorderWindow.java">the whole program</a>.
The program runs either within an applet,
with the help of
<a href="http://docs.rinet.ru/Jtuta/uiswing/layout/example-swing/AppletButton.java"><code>AppletButton</code></a>,
or as an application.

<blockquote>
<pre>
Container contentPane = getContentPane();
//Use the content pane's default BorderLayout.
//contentPane.setLayout(new BorderLayout()); //unnecessary
   
contentPane.add(new JButton("Button 1 (NORTH)"),
                BorderLayout.NORTH);
contentPane.add(new JButton("2 (CENTER)"),
                BorderLayout.CENTER);
contentPane.add(new JButton("Button 3 (WEST)"),
                BorderLayout.WEST);
contentPane.add(new JButton("Long-Named Button 4 (SOUTH)"),
                BorderLayout.SOUTH);
contentPane.add(new JButton("Button 5 (EAST)"),
                BorderLayout.EAST);
</pre>
</blockquote>
<p>

<blockquote>
<hr>
<strong>Important:</strong>
When adding a component to a container that uses <code>BorderLayout</code>,
specify the component's location
as one of the arguments to the <code>add</code> method.
Do not rely on the component
being added to the center, by default.
If you find that a component is missing
from a container controlled by a <code>BorderLayout</code>,
make sure that you specified the component's location
and that you didn't put another component
in the same location.
<hr>
</blockquote>

<p>

All our examples that use <code>BorderLayout</code>
specify the component as the first argument to the
<code>add</code> method.
For example:
<blockquote>
<pre>
add(component, BorderLayout.CENTER)  //we prefer this form
</pre>
</blockquote>

However, you might see code in other programs
that specifies the component second.
For example, the following are alternate ways
of writing the preceding code:

<blockquote>
<pre>
add(BorderLayout.CENTER, component)  //valid but old-fashioned
    <em>or</em>
add("Center", component)             //valid but error prone
</pre>
</blockquote>

<p>

By default, a <code>BorderLayout</code>
puts no gap between the components it manages.
In the preceding applet, any apparent gaps are the result
of the <code>JButton</code>s
reserving extra space around their apparent display area.
You can specify gaps (in pixels) using the following constructor:

<blockquote>
<pre>
public BorderLayout(int <em>horizontalGap</em>, int <em>verticalGap</em>)
</pre>
</blockquote>

<h4>
<a name="eg">Examples that Use BorderLayout</a>
</h4>
<blockquote>

The following table lists some of the many
examples that use <code>BorderLayout</code>.

<p>

<table>
<tr>
<th align=left> Example
<th align=left> Where Described
<th align=left> Notes

<tr>
<td> <a href="http://docs.rinet.ru/Jtuta/uiswing/layout/example-swing/BorderWindow.java"><code>BorderWindow.java</code></a>
<td> This page
<td> Puts a component in each of the five possible locations.

<tr>
<td> <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/TabbedPaneDemo.java"><code>TabbedPaneDemo.java</code></a>
<td> 
<a target="_top" href="..\components\tabbedpane.html">How to Use Tabbed Panes</a><a target="_top" href="..\components\tabbedpane.html"><img src="http://docs.rinet.ru/Jtuta/images/uiIcon.gif" width=20 height=20 border=0 alt="(in the Creating a User Interface trail)"></a><td> One of many examples that
     puts a single component in the center
     of a content pane,
     so that the component is as large as possible.

<tr>
<td> <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/CheckBoxDemo.java"><code>CheckBoxDemo.java</code></a>
<td> 
<a target="_top" href="..\components\button.html#checkbox">How to Use Check Boxes</a><a target="_top" href="..\components\button.html#checkbox"><img src="http://docs.rinet.ru/Jtuta/images/uiIcon.gif" width=20 height=20 border=0 alt="(in the Creating a User Interface trail)"></a><td> Creates a <code>JPanel</code> that uses a <code>BorderLayout</code>
     Puts components into the west and center locations.

<tr>
<td> <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/ComboBoxDemo.java"><code>ComboBoxDemo.java</code></a>
<td> 
<a target="_top" href="..\components\combobox.html">How to Use Combo Boxes</a><a target="_top" href="..\components\combobox.html"><img src="http://docs.rinet.ru/Jtuta/images/uiIcon.gif" width=20 height=20 border=0 alt="(in the Creating a User Interface trail)"></a><td> Puts components into the north and south locations
     of a content pane, 
     leaving the center empty.

</table>

</blockquote>
</blockquote>

</blockquote>
<p>
<hr size=4>
<p> 
<table width="100%">
<tr>
<td align=left>
<a href="generalrules.html"><img src="http://docs.rinet.ru/Jtuta/images/PreviousArrow.gif" width=26 height=26 align=top border=0 alt="Previous | "></a><a
href="box.html"><img src="http://docs.rinet.ru/Jtuta/images/NextArrow.gif" width=26 height=26 align=top border=0 alt="Next | "></a><a
href="..\..\trailmap.html"><img src="http://docs.rinet.ru/Jtuta/images/WayUpArrow.gif" width=26 height=26 align=top border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/Jtuta/images/uiHeader.gif" width=26 height=26 align=top border=0 alt="Creating a GUI with JFC/Swing | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Laying Out Components Within a Container</em></strong></a>
</td>
</tr>
</table>
</body>
</html>
