




















<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<!--NewPage-->
<html>
<head>
<title>How to Use BoxLayout</title>
</head>
<body BGCOLOR="#ffffff">










<table width="100%">
<tr>
<td align=left>
<a href="border.html"><img src="http://docs.rinet.ru/Jtuta/images/PreviousArrow.gif" width=26 height=26 align=bottom border=0 alt="Previous | "></a><a
href="card.html"><img src="http://docs.rinet.ru/Jtuta/images/NextArrow.gif" width=26 height=26 align=bottom border=0 alt="Next | "></a><a
href="..\..\trailmap.html"><img src="http://docs.rinet.ru/Jtuta/images/WayUpArrow.gif" width=26 height=26 align=bottom border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/Jtuta/images/uiHeader.gif" width=26 height=26 align=bottom border=0 alt="Creating a GUI with JFC/Swing | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Laying Out Components Within a Container</em></strong></a>
</td>
</tr>
</table>
<p>
<center>
<IMG SRC="http://docs.rinet.ru/Jtuta/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
<IMG SRC="http://docs.rinet.ru/Jtuta/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
</center>
<p> 

<h2>
    How to Use BoxLayout
</h2>
<p>
<blockquote>


The Swing packages include a general purpose layout manager named
<a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/BoxLayout.html"><code>BoxLayout</code></a><a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/BoxLayout.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a>.  <code>BoxLayout</code>
either stacks its components
on top of each other
(with the first component at the top)
or places them in a tight row from left to right --
your choice.
You might think of it as a more full-featured version of
<a href="flow.html"><code>FlowLayout</code></a>.
Here is an applet that demonstrates using <code>BoxLayout</code>
to display a centered column of components:

<p>
<blockquote><a href="boxdemo.html" target="_blank"><IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/layout/boxlayout.gif" WIDTH="194" HEIGHT="154" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT="Click this figure to run the applet."></a><br><em>This is a picture of the applet's GUI.  To run the applet, click the picture.  The applet will appear in a new browser window.</em></blockquote>
<p>

By creating one or more lightweight containers
that use <code>BoxLayout</code>,
you can achieve some layouts 
for which the more complex 
<a href="gridbag.html"><code>GridBagLayout</code></a>
is often used.
<code>BoxLayout</code> is also useful in some situations
where you might consider using 
<a href="grid.html"><code>GridLayout</code></a> or
<a href="border.html"><code>BorderLayout</code></a>.
One big difference between <code>BoxLayout</code>
and the existing AWT layout managers 
is that <code>BoxLayout</code> respects
each component's maximum size and X/Y alignment. 
We'll discuss that later.

<p>

The following figure shows a GUI
that uses two instances of <code>BoxLayout</code>.
In the top part of the GUI,
a top-to-bottom box layout
places a label above a scroll pane.
In the bottom part of the GUI,
a left-to-right box layout
places two buttons next to each other.
A <code>BorderLayout</code>
combines the two parts of the GUI 
and ensures that any excess space
is given to the scroll pane.

<blockquote><IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/layout/ListDialog.gif" WIDTH="280" HEIGHT="183" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT="Uses both X-axis and Y-axis box layouts"></blockquote>
The following code,
taken from 
<a target="_top" href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/ListDialog.java"><code>ListDialog.java</code></a></a><a target="_top" href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/ListDialog.java"><img src="http://docs.rinet.ru/Jtuta/images/uiIcon.gif" width=20 height=20 border=0 alt="(in the Creating a User Interface trail)"></a>, lays out the GUI.
This code is in the constructor for the dialog,
which is implemented as a <code>JDialog</code> subclass.
The bold lines of code
set up the box layouts
and add components to them.

<p>
<blockquote>
<pre>
JScrollPane listScroller = new JScrollPane(list);
listScroller.setPreferredSize(new Dimension(250, 80));
listScroller.setMinimumSize(new Dimension(250, 80));
listScroller.setAlignmentX(LEFT_ALIGNMENT);
...
//Lay out the label and scroll pane from top to bottom.
JPanel listPane = new JPanel();
<b>listPane.setLayout(new BoxLayout(listPane, BoxLayout.Y_AXIS));</b>
JLabel label = new JLabel(labelText);
<b>listPane.add(label);</b>
<b>listPane.add(Box.createRigidArea(new Dimension(0,5)));</b>
<b>listPane.add(listScroller);</b>
listPane.setBorder(BorderFactory.createEmptyBorder(10,10,10,10));

//Lay out the buttons from left to right.
JPanel buttonPane = new JPanel();
<b>buttonPane.setLayout(new BoxLayout(buttonPane, BoxLayout.X_AXIS));</b>
buttonPane.setBorder(BorderFactory.createEmptyBorder(0, 10, 10, 10));
<b>buttonPane.add(Box.createHorizontalGlue());</b>
<b>buttonPane.add(cancelButton);</b>
<b>buttonPane.add(Box.createRigidArea(new Dimension(10, 0)));</b>
<b>buttonPane.add(setButton);</b>

//Put everything together, using the content pane's BorderLayout.
Container contentPane = getContentPane();
contentPane.add(listPane, BorderLayout.CENTER);
contentPane.add(buttonPane, BorderLayout.SOUTH);
</pre>
</blockquote>
<p>

The first bold line creates a top-to-bottom box layout
and sets it up as the layout manager for <code>listPane</code>.
The two arguments to the <code>BoxLayout</code> constructor
are the container that it manages
and the axis along with the components will be laid out.
The next three bold lines
add the label and scroll pane to the container,
separating them with a <em>rigid area</em> --
an invisible lightweight component used
to add space between components.
In this case, the rigid area has no width
and puts exactly 5 pixels between the label and scroll pane.
Rigid areas are discussed later, in
<a href="#filler">Using Invisible Components as Filler</a>.

<p>

The next chunk of bold code
creates a left-to-right box layout
and sets it up for the <code>buttonPane</code> container.
Then the code adds two buttons to the container,
using a rigid area to put 10 pixels 
between the buttons.
To make the buttons be placed at the right side of their container,
the first component added to the container is <em>glue</em>.
This glue is an invisible lightweight component
that grows as necessary to absorb any extra space in its container.
Glue is discussed in
<a href="#filler">Using Invisible Components as Filler</a>.

<p>

As an alternative to using invisible components, 
you can sometimes use empty borders to create space around components.
For example, the preceding code snippet uses
empty borders to put 10 pixels
between all sides of the dialog and its contents,
and between the two parts of the contents.
Borders are completely independent of layout managers.
They're simply how Swing components draw their edges.
See <a href="border.html">How to Use Borders</a>
for more information.

<p>

The following sections discuss <code>BoxLayout</code>
in more detail:

<ul>
<li> <a href="#features">Box layout features</a>
<li> <a href="#filler">Using invisible components as filler</a>
<li> <a href="#alignment">Fixing alignment problems</a>
<li> <a href="#size">Specifying component sizes</a>
<li> <a href="#api">The box layout API</a>
<li> <a href="#eg">Examples that use box layouts</a>
</ul>

Don't let the length of the <code>BoxLayout</code> discussion
scare you!
You can probably use <code>BoxLayout</code>
with the information you already have.
If you run into trouble or you want to take advantage of
<code>BoxLayout</code>'s power,
read on.

<h4>
<a name="features">
Box Layout Features
</a>
</h4>
<blockquote>

As we said before, 
a <code>BoxLayout</code> arranges components either 
from top to bottom or
from left to right.
As it arranges components, 
the box layout takes the components'
alignments and minimum, preferred, and maximum sizes into account.
In this section, we'll talk about top-to-bottom (Y axis) layout.
The same concepts apply to left-to-right layout.
You simply substitute X for Y,
height for width, and so on.

<p>

When a <code>BoxLayout</code> lays out components
from top to bottom,
it tries to size each component at the component's preferred height.
If the amount of vertical space is not ideal,
the box layout tries to adjust each components' height
so that the components fill
the available amount of space.
However, the components might not fit exactly,
since <code>BoxLayout</code> 
respects each component's requested minimum and maximum heights.
Any extra space appears at the bottom of the container.

<p>

A top-to-bottom box layout
tries to make all of its container's components equally wide --
as wide as the largest preferred width.
If the container is forced to be wider than that,
then the box layout tries to make all the components
as wide as the container.
If the components aren't all the same width
(due to restricted maximum size
or to any of them having strict left or right alignment),
then X alignment comes into play.

<p>

The X alignments affect not only the components' positions
relative to each other,
but also the location of the components (as a group)
within their container.
The following figures illustrate alignment
of components that have restricted maximum widths.


<dl>
<dd>
<IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/layout/BoxLayoutDemo-left.gif" WIDTH="110 " HEIGHT="174 " ALT="Three left-aligned components">&nbsp;
<IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/layout/BoxLayoutDemo-center.gif" WIDTH="110 " HEIGHT="174 " ALT="Three center-aligned components">&nbsp;
<IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/layout/BoxLayoutDemo-right.gif" WIDTH="110 " HEIGHT="174 " ALT="Three right-aligned components"></dl>

In the first figure, all three components have an X alignment
of 0.0 (<code>Component.LEFT_ALIGNMENT</code>).
This means that the components' left sides 
should be aligned.
Furthermore, it means that all three components are positioned
as far left in their container as possible.

<p>

In the second figure, 
all three components have an X alignment
of 0.5 (<code>Component.CENTER_ALIGNMENT</code>).
This means that the components' centers
should be aligned,
and that the components should be positioned
in the horizontal center of their container.

<p>

In the third figure,
the components have an X alignment
of 1.0 (<code>Component.RIGHT_ALIGNMENT</code>).
You can guess what that means for the components'
alignment and position relative to their container.

<p>

You might be wondering what happens 
when the components have both restricted maximum sizes
and different X alignments.
The next figure shows an example of this:

<blockquote><IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/layout/BoxLayoutDemo-wacky.gif" WIDTH="307 " HEIGHT="174 " ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT="Three components with mixed X alignments"></blockquote>
As you can see, the left side of the component
with an X alignment of 0.0 
(<code>Component.LEFT_ALIGNMENT</code>)
is aligned with the center of the component
that has the 0.5 X alignment
(<code>Component.CENTER_ALIGNMENT</code>),
which is aligned with 
the right side of the component
that has an X alignment of 1.0 
(<code>Component.RIGHT_ALIGNMENT</code>).
Mixed alignments like this are further discussed in
<a href="#align">Fixing Alignment Problems</a>.

<p>

What if none of the components has a maximum width?
Well, if all the components have identical X alignment,
then all components are made as wide as their container.
If the X alignments are different,
then any component with an X alignment of 0.0 (left)
or 1.0 (right) will be smaller.
All components with an intermediate X alignment (such as center)
will be as wide as their container.
Here are two examples:

<dl>
<dd>
<IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/layout/BoxLayoutDemo-left2.gif" WIDTH="189 " HEIGHT="174 " ALT="Three components with mixed X alignments and no maximum size">&nbsp;
<IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/layout/BoxLayoutDemo-wacky2.gif" WIDTH="189 " HEIGHT="174 " ALT="Three components with mixed X alignments and no maximum size"></dd>
</dl>

To get to know BoxLayout better, 
you can run your own experiments with BoxLayoutDemo.

<blockquote>
<hr>
<strong>Try this:</strong>
<ol>
<li> Compile and run BoxLayoutDemo.
     The source files are
     <a href="http://docs.rinet.ru/Jtuta/uiswing/layout/example-swing/BoxLayoutDemo.java"><code>BoxLayoutDemo.java</code></a> and
     <a href="http://docs.rinet.ru/Jtuta/uiswing/layout/example-swing/BLDComponent.java"><code>BLDComponent.java</code></a>.
     <br>
     See <a href="..\start\index.html">Getting Started with Swing</a> if you need help.
     You'll see a window like the one above that contains three 
     rectangles.  Each rectangle is an instance of <code>BLDComponent</code>,
     which is a <code>JComponent</code> subclass.

<li> Click inside one of the rectangles.
     <br>
     This is how you change the rectangle's X alignment.

<li> Click the check box at the bottom of the window.
     <br>
     This turns off restricted sizing for all the rectangles.

<li> Make the window taller.
     <br>
     This makes the rectangles' container 
     larger than the sum of the rectangles' preferred sizes.
     The container is a <code>JPanel</code> that has 
     a red outline, so that you can tell where the container's
     edges are.
</ol>
<hr>
</blockquote>

<p>

</blockquote>
<h4>
<a name="filler">
Using Invisible Components as Filler
</a>
</h4>
<blockquote>

Each component controlled by a box layout 
butts up against its neighboring components.
If you want to have space between components,
you can either add an empty 
<a href="border.html">border</a> to one or both components,
or insert invisible components to provide the space.
You can create invisible components
with the help of the <code>Box</code> class.

<p>

The
<a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/Box.html"><code>Box</code></a><a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/Box.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a> class provides an inner class,
<a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/Box.Filler.html"><code>Box.Filler</code></a><a target="_top" href="http://java.sun.com/products/jfc/swingdoc-api/javax/swing/Box.Filler.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a> that provides invisible components.
The <code>Box</code> class
provides convenience methods
to help you create common kinds of filler.
The following table gives details about 
creating invisible components with <code>Box</code> and
<code>Box.Filler</code>.

<p>

[PENDING: Convert the figures in the following table and beyond
from the magical world of ASCII
to something presentable.]

<table border=1>
<tr>
<th colspan = 2>Type
<th>Size Constraints
<th>How to Create
</tr>

<tr><td colspan=2><a href="#rigidarea">rigid area</a></td>
<td><pre>  XXXXX
  XXXXX
  XXXXX</pre></td>
<td><pre>Box.createRigidArea(size)</pre></td></tr>


<tr>
<td rowspan=2><a href="#glue">glue</a>
<td> horizontal
<td>
<pre>
<- . -></pre>
<td>
<pre>
Box.createHorizontalGlue()
</pre>

<tr>
<td> vertical
<td>
<pre>
   ^
   |

   .

   |
   v</pre>
<td>
<pre>
Box.createVerticalGlue()
</pre>

<tr>
<td colspan=2><a href="#box.filler">custom <code>Box.Filler</code></a></td>
<td><em>(as specified)</em></td>
<td> <pre>new Box.Filler(minSize, prefSize, maxSize)</pre></td>


</table>

<p>

Here's how you generally use each type of filler:
<dl>
<dt> <a name="rigidarea"><strong>Rigid area</strong></a>
<dd> Use this when you want a fixed-size space between two components.
     For example, to put 5 pixels between two components
     in a left-to-right box,
     you can use this code:
<blockquote>
<pre>
container.add(firstComponent);
container.add(Box.createRigidArea(new Dimension(5,0)));
container.add(secondComponent);

Without rigid area:        With rigid area:
-------------------        -------------------
|XXXXYYY          |        |XXXX     YYY     |
|XXXXYYY          |        |XXXX<--->YYY     |
|XXXXYYY          |        |XXXX     YYY     |
-------------------        -------------------</pre> </blockquote>

<p>
<hr>
<strong>Note:</strong>
The <code>Box</code> class provides another kind of filler
for putting fixed space between components: a 
vertical or horizontal strut.
Unfortunately, struts have unlimited maximum heights or widths
(for horizontal and vertical struts, respectively).
This means that if you use a horizontal box within a vertical box,
for example,
the horizontal box can sometimes become too tall.
For this reason,
we recommend that you use rigid areas instead of struts.
<hr>
<p>

<dt> <a name="glue"><strong>Glue</strong></a>
<dd> Use this to specify where excess space in a layout 
     should go.
     Think of it as semi-wet glue --
     stretchy and expandable, yet taking up no space
     unless you pull apart the components that it's sticking to.
     For example, by putting horizontal glue 
     between two components in a left-to-right box,
     you make any extra space go between those components,
     instead of to the right of all the components.
     Here's an example of making the space in a left-to-right box
     go between two components, 
     instead of to the right of the components:
     <blockquote>
     <pre>
container.add(firstComponent);
container.add(Box.createHorizontalGlue());
container.add(secondComponent);

Without glue:              With glue:
-------------------        -------------------
|XXXXYYY          |        |XXXX          YYY|
|XXXXYYY          |        |XXXX<-------->YYY|
|XXXXYYY          |        |XXXX          YYY|
-------------------        ------------------- </pre> </blockquote>

<p>

<dt> <a name="box.filler"><strong>Custom <code>Box.Filler</code></strong></a>
<dd> Use this to specify a component
     with whatever minimum, preferred, and maximum
     sizes you want.  For example,
     to create some filler in a left-to-right layout that puts
     at least 5 pixels between two components
     and ensures that the container has a minimum height of 100 pixels,
     you could use this code:
<blockquote>
<pre>
container.add(firstComponent);
Dimension minSize = new Dimension(5, 100);
Dimension prefSize = new Dimension(5, 100);
Dimension maxSize = new Dimension(Short.MAX_VALUE, 100);
container.add(new Box.Filler(minSize, prefSize, maxSize));
container.add(secondComponent);

Without filler:            With filler:
-------------------        -------------------
|XXXXYYY          |        |        ^        |
|XXXXYYY          |        |XXXX    |     YYY|
|XXXXYYY          |        |XXXX<-------->YYY|
-------------------        |XXXX    |     YYY|
                           |        v        |
                           ------------------- </pre> </blockquote>

</dl>

<p>



</blockquote>
<h4>
<a name="alignment">
Fixing Alignment Problems
</a>
</h4>
<blockquote>

Two types of alignment problems sometimes occur with <code>BoxLayout</code>:

<ul>
<li> A group of components all have the same alignment, 
     but you want to change their alignment
     to make them look better.
     For example, instead of having the tops of
     a group of left-to-right buttons all in a line,
     you might want the bottoms of the buttons to be aligned.
     Here's an example:

<p>
<IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/layout/AlignmentDemo-0.gif" WIDTH="535" HEIGHT="176" ALT="Customizing alignment"><p>

<li> Two or more components controlled
     by a <code>BoxLayout</code> have different default alignments,
     which causes them to be mis-aligned.
     For example, as the following shows,
     if a label and a container
     are in a top-to-bottom box layout,
     the label's left edge is, by default,
     aligned with the center of the container.

<p>
<IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/layout/AlignmentDemo-1.gif" WIDTH="535" HEIGHT="211" ALT="X alignment mismatch"><p>
     Similarly,
     if a button and a container
     are in a left-to-right box layout,
     the button's top edge is, by default,
     aligned with the center of the container.
<p>
<IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/layout/AlignmentDemo-2.gif" WIDTH="510" HEIGHT="211" ALT="Y alignment mismatch"></ul>

<p>

In general, all the components
controlled by a top-to-bottom <code>BoxLayout</code> object
should have the same X alignment.
Similarly,
all the components controlled by a left-to-right <code>Boxlayout</code>
should generally have the same Y alignment.
You can set a Swing component's X alignment 
by invoking its <code>setAlignmentX</code> method.
An alternative is to override the
<code>getAlignmentX</code> method
in a custom subclass of the component class.
Similarly, you set the Y alignment of a component
by invoking the <code>setAlignmentY</code> method
or by overriding <code>getAlignmentY</code>.

<p>

Here is an example, taken from 
<a href="http://docs.rinet.ru/Jtuta/uiswing/layout/example-swing/AlignmentDemo.java"><code>AlignmentDemo.java</code></a>,
of changing the Y alignments of two buttons
so that the buttons' bottoms are aligned:

<blockquote>
<pre>
button1.setAlignmentY(Component.BOTTOM_ALIGNMENT);
button2.setAlignmentY(Component.BOTTOM_ALIGNMENT);
</pre>
</blockquote>

As the following table shows,
Swing buttons, labels, and menu items have a different default X alignment value
from all other components.
Similarly, buttons, menu items, and tool bars
have a different Y alignment from all other components.

<p>
<table>
<tr>
<th ALIGN=left> Swing Component
<th ALIGN=left> Default X Alignment
<th ALIGN=left> Default Y Alignment

<tr> 
<td> Buttons, menu items
<td> <code>LEFT_ALIGNMENT</code>
<td> <code>TOP_ALIGNMENT</code>

<tr>
<td> Labels
<td> <code>LEFT_ALIGNMENT</code>
<td> <code>CENTER_ALIGNMENT</code>

<tr> 
<td> Tool bars
<td> <code>CENTER_ALIGNMENT</code>
<td> <code>TOP_ALIGNMENT</code>

<tr>
<td> All other Swing components
<td> <code>CENTER_ALIGNMENT</code>
<td> <code>CENTER_ALIGNMENT</code>
</table>

<p>

The <a href="http://docs.rinet.ru/Jtuta/uiswing/layout/example-swing/AlignmentDemo.java"><code>AlignmentDemo.java</code></a>
program gives examples of fixing mismatched alignment problems.
Usually, it's as simple 
as making the offending button or label
be center aligned.  For example:
<blockquote>
<pre>
label.setAlignmentX(Component.CENTER_ALIGNMENT);
...
button.setAlignmentY(Component.CENTER_ALIGNMENT);
</pre>
</blockquote>

<p>

</blockquote>
<h4>
<a name="size">
Specifying Component Sizes
</a>
</h4>
<blockquote>


As we mentioned before,
<code>BoxLayout</code> pays attention
to a component's requested minimum, preferred, and maximum sizes.
While you're fine tuning the layout,
you might need to adjust these sizes.

<p>

Sometimes the need to adjust the size is obvious.
For example, a Swing button's maximum size
is the same as its preferred size.
If you want the button
to be drawn wider
when additional space is available,
then you obviously need to change its maximum size.

<p>

Sometimes, however, the need to adjust size is not so obvious.
You might be getting unexpected results with a box layout,
and you might not know why.
In this case, it's usually best
to treat the problem as an 
<a href="#alignment">alignment problem</a> first.
If adjusting the alignments doesn't help,
then you might have a size problem.
We'll discuss this further a bit later.

<blockquote>
<hr>
<strong>Note:</strong>
Although <code>BoxLayout</code> pays attention to 
a component's maximum size,
most layout managers do not.
For example, if you put a button 
in the SOUTH part of a <code>BorderLayout</code>,
the button will probably be wider than its preferred width.
<code>BoxLayout</code>, on the other hand,
never makes a button wider than its preferred width
unless you specifically change the button's maximum size.
<hr>
</blockquote>

<p>

You can change the minimum, preferred, and maximum sizes
in two ways:

<ul>
<li> By invoking the appropriate <code>set<em>Xxx</em>Size</code> method
     (which is defined by the <code>JComponent</code> class).
     For example:
<blockquote>
<pre>
comp.setMinimumSize(new Dimension(50, 25)); 
comp.setPreferredSize(new Dimension(50, 25)); 
comp.setMaximumSize(new Dimension(Short.MAX_VALUE, 
                                  Short.MAX_VALUE)); 
</pre>
</blockquote>
<li> By overriding the appropriate <code>get<em>Xxx</em>Size</code> method.
     For example:
<blockquote>
<pre>
<em>...//in a subclass of a Swing component class:</em>
public void getMaximumSize() {
    size = getPreferredSize();
    size.width = Short.MAX_VALUE; //[PENDING: specify Short or Integer?]
    return size;
}
</pre>
</blockquote>
</ul>

<p>


<p>

If you're running into trouble with a box layout
and you've ruled out alignment problems,
then the trouble might well be size-related.
For example, if the container controlled by the box layout
is taking up too much space,
then one or more of the components in the container 
probably needs to have its maximum size restricted.

<p>

<blockquote>
<hr>
<strong>Help!</strong>
Please
<a href="mailto:tutorial@java.sun.com">send us mail</a>
(with "swing" in the subject)
if you discover other common box layout problems,
especially those that are size related.
<hr>
</blockquote>


You can use two techniques to track down size trouble
in a box layout:

<ul>
<li> Add a garish line <a href="border.html">border</a>
     to the outside of the Swing components in question.
     This lets you see what size they really are.
     For example:
<blockquote>
<pre>
comp.setBorder(BorderFactory.createCompoundBorder(
                   BorderFactory.createLineBorder(Color.red),
                   comp.getBorder()));
</pre>
</blockquote>

<li> Use good old <code>System.out.println</code> 
     to print the components' minimum, preferred, and maximum
     sizes, and perhaps their bounds.  
</ul>


</blockquote>
<h4>
<a name="api">The Box Layout API</a>
</h4>
<blockquote>


The following tables list the commonly used
<code>BoxLayout</code> and
<code>Box</code> constructors and methods.
The API for using box layouts falls into these categories:

<p>

<ul>
<li><a href="#construct">Creating <code>BoxLayout</code> objects</a>
<li><a href="#fillerapi">Creating space fillers</a>
<li><a href="#other">Other useful methods</a>
</ul>

<p>

<table border=1>
<caption><a name="construct">Creating <code>BoxLayout</code> Objects</a></caption>
<tr>
<th>Constructor or Method
<th>Purpose

<tr>
<td><font size=2><code>BoxLayout(Container, int)</code></font>
<td>Creates a <code>BoxLayout</code> instance
    that controls the specified <code>Container</code>.
    The integer argument specifies whether the container's components
    should be laid out left to right
    (<code>BoxLayout.X_AXIS</code>)
    or top to bottom
    (<code>BoxLayout.Y_AXIS</code>).
</tr>

<tr>
<td><font size=2><code>Box(int)</code></font>
<td>Creates a <code>Box</code> -- a lightweight container
    that uses a <code>BoxLayout</code>
    with the specified alignment
    (<code>BoxLayout.X_AXIS</code>
    or 
    <code>BoxLayout.Y_AXIS</code>).
    Note that a <code>Box</code> is <em>not</em> a <code>JComponent</code> --
    it's implemented as a subclass of <code>Container</code>.
    This makes it as lightweight as possible, 
    but it lacks <code>JComponent</code> features such as borders.
    If you want a simple <code>JComponent</code> as a container, use 
<a target="_top" href="..\components\panel.html"><code>JPanel</code></a><a target="_top" href="..\components\panel.html"><img src="http://docs.rinet.ru/Jtuta/images/uiIcon.gif" width=20 height=20 border=0 alt="(in the Creating a User Interface trail)"></a>.
</tr>

<tr>
<td><font size=2><code>static Box createHorizontalBox()
<td>Creates a <code>Box</code> that lays out its components
    from left to right.
</tr>

<tr>
<td><font size=2><code>static Box createVerticalBox()</code></font>
<td>Creates a <code>Box</code> that lays out its components
    from top to bottom.
</tr>

</table>

<p>

<table border=1>
<caption><a name="fillerapi">Creating Space Fillers</a></caption>
<tr>
<th>Constructor or Method
<th>Purpose

<tr>
<td><font size=2><code>Component createHorizontalGlue()
    <br>
    Component createVerticalGlue()
    <br>
    Component createGlue()</code></font>
<td>Create a <a href="#glue">glue</a> lightweight component.
    Horizontal glue and vertical glue can be very useful.
</tr>

<tr>
<td><font size=2><code>Component createHorizontalStrut()
    <br>
    Component createVerticalStrut()</code></font>
<td>Create a "strut" lightweight component.
    We recommend using <a href="#rigidarea">rigid areas</a>
    instead of struts.
</tr>

<tr>
<td><font size=2><code>Box.Filler(Dimension, Dimension,
    Dimension)</code></font>
<td>Creates a lightweight component with the specified
    minimum, preferred, and maximum sizes
    (with the arguments specified in that order).
    See the
    <a href="#box.filler">custom <code>Box.Filler</code></a>
    discussion,
    earlier in this section, for details.
</tr>

</table>

<p>


<table border=1>
<caption><a name="other">Other Useful Methods</a></caption>
<tr>
<th>Method
<th>Purpose

<tr>
<td><font size=2><code>void changeShape(Dimension, Dimension, 
    Dimension)</code> <em>(in <code>Box.Filler</code>)</em></font>
<td>Change the minimum, preferred, and maximum sizes
    of the recipient <code>Box.Filler</code> object.
    The layout changes accordingly.
</tr>
</table>

</blockquote>
<h4>
<a name="eg">Examples that Use Box Layouts</a>
</h4>
<blockquote>

The following table lists some of the many examples
that use box layouts.

<p>
<table>
<tr>
<th align=left> Example
<th align=left> Where Described
<th align=left> Notes

<tr>
<td> <a href="http://docs.rinet.ru/Jtuta/uiswing/layout/example-swing/BoxWindow.java"><code>BoxWindow.java</code></a>
<td> This page
<td> Uses a box layout to create a centered column of components.

<tr>
<td> <a href="http://docs.rinet.ru/Jtuta/uiswing/layout/example-swing/AlignmentDemo.java"><code>AlignmentDemo.java</code></a>
<td> This page
<td> Demonstrates how to fix common alignment problems.
     Uses two image files:
     <a href="http://docs.rinet.ru/Jtuta/uiswing/layout/example-swing/images/middle.gif"><code>images/middle.gif</code></a>
     and
     <a href="http://docs.rinet.ru/Jtuta/uiswing/layout/example-swing/images/geek-cght.gif"><code>images/geek-cght.gif</code></a>.

<tr>
<td> <a href="http://docs.rinet.ru/Jtuta/uiswing/layout/example-swing/BoxLayoutDemo.java"><code>BoxLayoutDemo.java</code></a>
<td> This page
<td> Lets you play with alignments and maximum sizes.

<tr>
<td> <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/ListDialog.java"><code>ListDialog.java</code></a>
<td> This page
<td> A simple yet realistic example
     of using both a top-to-bottom box layout
     and a left-to-right one.

<tr>
<td> <a href="http://docs.rinet.ru/Jtuta/uiswing/events/example-swing/InternalFrameEventDemo.java"><code>InternalFrameEventDemo.java</code></a>
<td> 
<a target="_top" href="..\events\internalframelistener.html">How to Write an Internal Frame Listener</a><a target="_top" href="..\events\internalframelistener.html"><img src="http://docs.rinet.ru/Jtuta/images/uiIcon.gif" width=20 height=20 border=0 alt="(in the Creating a User Interface trail)"></a><td> Uses a top-to-bottom layout to center
     buttons and a scroll pane
     in an internal frame.

<tr>
<td> <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/MenuGlueDemo.java"><code>MenuGlueDemo.java</code></a>
<td> 
<a target="_top" href="..\components\menu.html#custom">Customizing Menu Layout</a><a target="_top" href="..\components\menu.html#custom"><img src="http://docs.rinet.ru/Jtuta/images/uiIcon.gif" width=20 height=20 border=0 alt="(in the Creating a User Interface trail)"></a>
<td> Shows how to right-align a menu in the menu bar,
     using a glue component.

<tr>
<td> <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/MenuLayoutDemo.java"><code>MenuLayoutDemo.java</code></a>
<td> 
<a target="_top" href="..\components\menu.html#custom">Customizing Menu Layout</a><a target="_top" href="..\components\menu.html#custom"><img src="http://docs.rinet.ru/Jtuta/images/uiIcon.gif" width=20 height=20 border=0 alt="(in the Creating a User Interface trail)"></a><td> Shows how to customize menu layout
     by changing the menu bar to use a top-to-bottom box layout,
     and the popup menu to use a left-to-right box layout.

<tr>
<td> <a href="http://docs.rinet.ru/Jtuta/uiswing/overview/example-swing/ConversionPanel.java"><code>ConversionPanel.java</code></a>
<td> 
<a target="_top" href="..\overview\anatomy.html#layout">Layout Management and Borders</a><a target="_top" href="..\overview\anatomy.html#layout"><img src="http://docs.rinet.ru/Jtuta/images/uiIcon.gif" width=20 height=20 border=0 alt="(in the Creating a User Interface trail)"></a><td> Aligns two components in different box-layout-controlled containers
     by setting the components' widths to be the same,
     and their containers' widths to be the same.
</table>


</blockquote>

</blockquote>
<p>
<hr size=4>
<p> 
<table width="100%">
<tr>
<td align=left>
<a href="border.html"><img src="http://docs.rinet.ru/Jtuta/images/PreviousArrow.gif" width=26 height=26 align=top border=0 alt="Previous | "></a><a
href="card.html"><img src="http://docs.rinet.ru/Jtuta/images/NextArrow.gif" width=26 height=26 align=top border=0 alt="Next | "></a><a
href="..\..\trailmap.html"><img src="http://docs.rinet.ru/Jtuta/images/WayUpArrow.gif" width=26 height=26 align=top border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/Jtuta/images/uiHeader.gif" width=26 height=26 align=top border=0 alt="Creating a GUI with JFC/Swing | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Laying Out Components Within a Container</em></strong></a>
</td>
</tr>
</table>
</body>
</html>
