




















<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<!--NewPage-->
<html>
<head>
<title>How to Use GridBagLayout: The Example Explained</title>
</head>
<body BGCOLOR="#ffffff">










<table width="100%">
<tr>
<td align=left>
<a href="gridbagconstraints.html"><img src="http://docs.rinet.ru/Jtuta/images/PreviousArrow.gif" width=26 height=26 align=bottom border=0 alt="Previous | "></a><a
href="custom.html"><img src="http://docs.rinet.ru/Jtuta/images/NextArrow.gif" width=26 height=26 align=bottom border=0 alt="Next | "></a><a
href="..\..\trailmap.html"><img src="http://docs.rinet.ru/Jtuta/images/WayUpArrow.gif" width=26 height=26 align=bottom border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/Jtuta/images/uiHeader.gif" width=26 height=26 align=bottom border=0 alt="Creating a GUI with JFC/Swing | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Laying Out Components Within a Container</em></strong></a>
</td>
</tr>
</table>
<p>
<center>
<IMG SRC="http://docs.rinet.ru/Jtuta/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
<IMG SRC="http://docs.rinet.ru/Jtuta/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
</center>
<p> 

<h2>
    How to Use GridBagLayout: The Example Explained
</h2>
<p>
<blockquote>

Here, again, is the applet that shows a <code>GridBagLayout</code>
in action.

<p>

<blockquote><a href="gridbagdemo.html" target="_blank"><IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/layout/gridbaglayout.gif" WIDTH="236" HEIGHT="154" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT="Click this figure to run the applet."></a><br><em>This is a picture of the applet's GUI.  To run the applet, click the picture.  The applet will appear in a new browser window.</em></blockquote>
<p>

Below is the code that creates the <code>GridBagLayout</code>
and the components it manages.
(Here's <a href=http://docs.rinet.ru/Jtuta/uiswing/layout/example-swing/GridBagWindow.java>the whole program</a>.
The program runs either within an applet,
with the help of <a href=http://docs.rinet.ru/Jtuta/uiswing/layout/example-swing/AppletButton.java>
<code>AppletButton</code></a>,
or as an application.)

<blockquote>
<pre>
JButton button;
Container contentPane = getContentPane();
GridBagLayout gridbag = new GridBagLayout();
GridBagConstraints c = new GridBagConstraints();
contentPane.setLayout(gridbag);
c.fill = GridBagConstraints.HORIZONTAL; 
   
button = new JButton("Button 1");
c.weightx = 0.5;
c.gridx = 0;
c.gridy = 0;
gridbag.setConstraints(button, c);
contentPane.add(button);

button = new JButton("2");
c.gridx = 1;
c.gridy = 0;
gridbag.setConstraints(button, c);
contentPane.add(button);

button = new JButton("Button 3");
c.gridx = 2;
c.gridy = 0;
gridbag.setConstraints(button, c);
contentPane.add(new JButton("Button 3"));

button = new JButton("Long-Named Button 4");
c.ipady = 40;      //make this component tall
c.weightx = 0.0;
c.gridwidth = 3;
c.gridx = 0;
c.gridy = 1;
gridbag.setConstraints(button, c);
contentPane.add(button);

button = new JButton("Button 5");
c.ipady = 0;       //reset to default
c.weighty = 1.0;   //request any extra vertical space
c.anchor = GridBagConstraints.SOUTH; //bottom of space
c.insets = new Insets(10,0,0,0);  //top padding
c.gridx = 1;       //aligned with button 2
c.gridwidth = 2;   //2 columns wide
c.gridy = 2;       //third row
gridbag.setConstraints(button, c);
contentPane.add(button);
</pre>
</blockquote>

<p>

This example uses one <code>GridBagConstraints</code> instance
for all the components the <code>GridBagLayout</code> manages.
Just before each component is added to the container,
the code sets (or resets to default values)
the appropriate instance variables
in the <code>GridBagConstraints</code> object.
It then uses the <code>setConstraints</code>
method to record all the constraint values for that component.

<p>

For example,
to make button 4 be extra tall,
the example has this code:

<blockquote>
<pre>
c.ipady = 40;
</pre>
</blockquote>

And before setting the constraints of the next component, 
the code resets the value of <code>ipady</code> 
to the default:

<blockquote>
<pre>
c.ipady = 0;
</pre>
</blockquote>

For clarity, here's a table that shows all the constraints
for each component the <code>GridBagLayout</code> handles.
Values that aren't the default
are marked in <b>bold font</b>.
Values that are different from those in the previous table entry
are marked in <i>italic font</i>.

<table>
<tr>
<th align=left> Component
<th align=left> Constraints
<tr>
<td>
All components
<td>
<pre>
ipadx = 0
<b>fill = GridBagConstraints.HORIZONTAL</b>

<tr>
<td>
Button 1
<td>
<pre>
ipady = 0
<b>weightx = 0.5</b>
weighty = 0.0
gridwidth = 1
anchor = GridBagConstraints.CENTER
insets = new Insets(0,0,0,0)
<b>gridx = 0</b>
<b>gridy = 0</b>

<tr>
<td>
Button 2
<td>
<pre>
<b>weightx = 0.5</b>
<i><b>gridx = 1</b></i>
<b>gridy = 0</b>
</pre>

<tr>
<td>
Button 3
<td>
<pre>
<b>weightx = 0.5</b>
<i><b>gridx = 2</b></i>
<b>gridy = 0</b>
</pre>

<tr>
<td>
Button 4
<td>
<pre>
<i><b>ipady = 40</b></i>
<i>weightx = 0.0</i>
<i><b>gridwidth = 3</b></i>
<i><b>gridx = 0</b></i>
<i><b>gridy = 1</b></i>
</pre>

<tr>
<td>
Button 5
<td>
<pre>
<i>ipady = 0</i>
weightx = 0.0
<i><b>weighty = 1.0</b></i>
<i><b>anchor = GridBagConstraints.SOUTH</b></i>
<i><b>insets = new Insets(10,0,0,0)</b></i>
<i><b>gridwidth = 2</b></i>
<i><b>gridx = 1</b></i>
<i><b>gridy = 2</b></i>
</pre>
</table>
<p>

All the components in this container 
are as wide as possible,
given their row and column.
The program accomplishes 
this by setting the <code>GridBagConstraints</code>
<code>fill</code> instance variable
to <code>GridBagConstraints.HORIZONTAL</code>,
leaving it at that setting for all the components.
If the program didn't specify the fill,
the buttons would be at their natural width, like this:

<blockquote><IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/layout/gridbagnofill.gif" WIDTH="236" HEIGHT="154" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT=""></blockquote>
<p>

This program has two components 
that span multiple columns
(buttons 4 and 5).
To make button 4 tall,
we added internal padding (<code>ipady</code>) to it.
To put space between buttons 4 and 5,
we used insets to add a minimum of 10 pixels above button 5
and also made button 5 hug the bottom
edge of its cell.

<p>

When you enlarge the window the program brings up,
the columns grow proportionately.
This is because
each component in the first row,
where each component is one column wide, 
has <code>weightx = 1.0</code>.
The actual value of these components' <code>weightx</code> is unimportant.
What matters is that all the components,
and consequently, all the columns,
have an equal weight
that is greater than 0.
If no component managed by the <code>GridBagLayout</code>
had <code>weightx</code> set, 
then when the components' container was made wider,
the components would stay clumped together in the center of the container,
like this:
<blockquote><IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/layout/gridbagnoweightx.gif" WIDTH="315" HEIGHT="154" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT=""></blockquote>
<p>

Note that if you enlarge the window,
the last row is the only one that gets taller.
This is because only button 5 has <code>weighty</code>
greater than zero.

</blockquote>
<p>
<hr size=4>
<p> 
<table width="100%">
<tr>
<td align=left>
<a href="gridbagconstraints.html"><img src="http://docs.rinet.ru/Jtuta/images/PreviousArrow.gif" width=26 height=26 align=top border=0 alt="Previous | "></a><a
href="custom.html"><img src="http://docs.rinet.ru/Jtuta/images/NextArrow.gif" width=26 height=26 align=top border=0 alt="Next | "></a><a
href="..\..\trailmap.html"><img src="http://docs.rinet.ru/Jtuta/images/WayUpArrow.gif" width=26 height=26 align=top border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/Jtuta/images/uiHeader.gif" width=26 height=26 align=top border=0 alt="Creating a GUI with JFC/Swing | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Laying Out Components Within a Container</em></strong></a>
</td>
</tr>
</table>
</body>
</html>
