




















<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<!--NewPage-->
<html>
<head>
<title>How to Use GridBagLayout</title>
</head>
<body BGCOLOR="#ffffff">










<table width="100%">
<tr>
<td align=left>
<a href="grid.html"><img src="http://docs.rinet.ru/Jtuta/images/PreviousArrow.gif" width=26 height=26 align=bottom border=0 alt="Previous | "></a><a
href="gridbagconstraints.html"><img src="http://docs.rinet.ru/Jtuta/images/NextArrow.gif" width=26 height=26 align=bottom border=0 alt="Next | "></a><a
href="..\..\trailmap.html"><img src="http://docs.rinet.ru/Jtuta/images/WayUpArrow.gif" width=26 height=26 align=bottom border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/Jtuta/images/uiHeader.gif" width=26 height=26 align=bottom border=0 alt="Creating a GUI with JFC/Swing | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Laying Out Components Within a Container</em></strong></a>
</td>
</tr>
</table>
<p>
<center>
<IMG SRC="http://docs.rinet.ru/Jtuta/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
<IMG SRC="http://docs.rinet.ru/Jtuta/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
</center>
<p> 

<h2>
    How to Use GridBagLayout
</h2>
<p>
<blockquote>

Here's an applet that shows a
<a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.GridBagLayout.html"><code>GridBagLayout</code></a><a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.GridBagLayout.html"><img src="http://docs.rinet.ru/Jtuta/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a> in action.

<p>

<blockquote><a href="gridbagdemo.html" target="_blank"><IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/layout/gridbaglayout.gif" WIDTH="236" HEIGHT="154" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT="Click this figure to run the applet."></a><br><em>This is a picture of the applet's GUI.  To run the applet, click the picture.  The applet will appear in a new browser window.</em></blockquote>
<p>

<code>GridBagLayout</code> is the most flexible -- and complex --
layout manager the Java platform provides.
A <code>GridBagLayout</code> places components 
in a grid of rows and columns,
allowing specified components
to span multiple rows or columns.
Not all rows necessarily have the same height.
Similarly, not all columns necessarily have the same width.
Essentially, <code>GridBagLayout</code> places components
in rectangles (cells) in a grid,
and then uses the components' preferred sizes
to determine how big the cells should be.

<blockquote><IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/layout/gridbagbig.gif" WIDTH="432" HEIGHT="202" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT=""></blockquote>

If you enlarge the window as shown above,
you'll notice that the bottom row,
which contains Button 5,
gets all the new vertical space.
The new horizontal space 
is split evenly among all the columns.
This resizing behavior is based on weights
the program assigns to individual components
in the <code>GridBagLayout</code>.
You'll also notice that each component
takes up all the available horizontal space.
This behavior is also specified by the program.

<p>

The way the program specifies
the size and position characteristics 
of its components
is by specifying <em>constraints</em> for each component,
To specify constraints,
you set instance variables in a <code>GridBagConstraints</code> object
and tell the <code>GridBagLayout</code>
(with the <code>setConstraints</code> method)
to associate the constraints with the component.

<p>

The following pages explain the constraints you can set
and provide examples.


<h4>
<a href=gridbagconstraints.html>Specifying Constraints</a>
</h4>
<blockquote>
This page tells you what instance variables <code>GridBagConstraints</code> has,
what values you can set them to,
and how to associate the resulting
<code>GridBagConstraints</code> with a component.
</blockquote>

<h4>
<a href=gridbagexample.html>The Example Explained</a>
</h4>
<blockquote>
This page puts it all together,
explaining the code for the program on this page.
</blockquote>

<h4>
<a name="eg">Examples that Use GridBagLayout</a>
</h4>
<blockquote>
You can find examples of using <code>GridBagLayout</code>
throughout this tutorial.
The follwing table lists a few.

<p>

<table>
<tr>
<th align=left> Example
<th align=left> Where Described
<th align=left> Notes

<tr>
<td> <a href="http://docs.rinet.ru/Jtuta/uiswing/layout/example-swing/GridBagWindow.java"><code>GridBagWindow.java</code></a>
<td> This page
<td> Uses many features -- weights, insets, internal padding,
     horizontal fill, exact cell positioning, multi-column cells,
     and anchoring (component positioning within a cell).

<tr>
<td> <a href="http://docs.rinet.ru/Jtuta/uiswing/components/example-swing/TextSamplerDemo.java"><code>TextSamplerDemo.java</code></a>
<td> 
<a target="_top" href="..\components\text.html">Using Swing's Text Components</a><a target="_top" href="..\components\text.html"><img src="http://docs.rinet.ru/Jtuta/images/uiIcon.gif" width=20 height=20 border=0 alt="(in the Creating a User Interface trail)"></a><td> Aligns two pairs of labels and text fields, 
     plus adds a label across the full width of the container.

<tr>
<td> <a href="http://docs.rinet.ru/Jtuta/uiswing/events/example-swing/ContainerEventDemo.java"><code>ContainerEventDemo.java</code></a>
<td>
<a target="_top" href="..\events\containerlistener.html">How to Write a Container listener</a><a target="_top" href="..\events\containerlistener.html"><img src="http://docs.rinet.ru/Jtuta/images/uiIcon.gif" width=20 height=20 border=0 alt="(in the Creating a User Interface trail)"></a><td> Positions five components within a container,
     using weights, fill, and relative positioning.

</table>
</blockquote>

</blockquote>
<p>
<hr size=4>
<p> 
<table width="100%">
<tr>
<td align=left>
<a href="grid.html"><img src="http://docs.rinet.ru/Jtuta/images/PreviousArrow.gif" width=26 height=26 align=top border=0 alt="Previous | "></a><a
href="gridbagconstraints.html"><img src="http://docs.rinet.ru/Jtuta/images/NextArrow.gif" width=26 height=26 align=top border=0 alt="Next | "></a><a
href="..\..\trailmap.html"><img src="http://docs.rinet.ru/Jtuta/images/WayUpArrow.gif" width=26 height=26 align=top border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/Jtuta/images/uiHeader.gif" width=26 height=26 align=top border=0 alt="Creating a GUI with JFC/Swing | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Laying Out Components Within a Container</em></strong></a>
</td>
</tr>
</table>
</body>
</html>
