




















<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<!--NewPage-->
<html>
<head>
<title>Laying Out Components Within a Container</title>
</head>
<body BGCOLOR="#ffffff">










<table width="100%">
<tr>
<td align=left>
<a href="..\misc\index.html"><img src="http://docs.rinet.ru/Jtuta/images/PreviousArrow.gif" width=26 height=26 align=bottom border=0 alt="Previous | "></a><a
href="using.html"><img src="http://docs.rinet.ru/Jtuta/images/NextArrow.gif" width=26 height=26 align=bottom border=0 alt="Next | "></a><a
href="..\..\trailmap.html"><img src="http://docs.rinet.ru/Jtuta/images/WayUpArrow.gif" width=26 height=26 align=bottom border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/Jtuta/images/uiHeader.gif" width=26 height=26 align=bottom border=0 alt="Creating a GUI with JFC/Swing | "></a>
</td>
<td align=right>
<a href="..\toc.html#layout"><strong><em>Contents</em></strong></a>
</td>
</tr>
</table>
<p>
<center>
<IMG SRC="http://docs.rinet.ru/Jtuta/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
<IMG SRC="http://docs.rinet.ru/Jtuta/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
</center>
<p>
<h1>
     Laying Out Components Within a Container
</h1>
<p>
<blockquote>

This lesson tells you how to use all the layout managers
the Java platform provides.
It also tells you how to use absolute positioning (no layout manager)
and gives an example of writing a custom layout manager.
For each layout manager (or lack thereof),
this section has an example
that can run either as an applet or as an application.
By resizing the window the example brings up,
you can see how size changes affect the layout.

<p>

Before reading this section,
you should understand basic layout management concepts,
which you can find in 
<a target="_top" href="..\overview\layout.html">Layout Management</a><a target="_top" href="..\overview\layout.html"><img src="http://docs.rinet.ru/Jtuta/images/uiIcon.gif" width=20 height=20 border=0 alt="(in the Creating a User Interface trail)"></a>.


<blockquote>
<hr>
<strong>Note:</strong>
This lesson assumes you're using the Swing components.
If you're using the AWT components instead,
then you should read the old version of this lesson,
which is available by download as part of the 
<a href="..\..\information\download.html#OLDui">Creating
a User Interface (AWT Only)</a> archive.
<hr>
</blockquote>

<p>


<h4>
<a href=using.html>Using Layout Managers</a>
</h4>
<blockquote>
This section gives both general rules and
detailed instructions on using each of the layout managers
that the Java platform provides.
</blockquote>

<h4>
<a href=custom.html>Creating a Custom Layout Manager</a>
</h4>
<blockquote>
Instead of using one of the Java platform's layout managers,
you can write your own.
Layout managers must implement the <code>LayoutManager</code> interface,
which specifies the five methods every layout manager must define.
</blockquote>

<h4>
<a href=none.html>Doing Without a Layout Manager (Absolute Positioning)</a>
</h4>
<blockquote>
You can position components 
without using a layout manager.
Generally, this solution is used to specify absolute positions for components.
Absolute positioning is inappropriate
for many programs,
since the size of components can be different on different systems.
[PENDING: check]
</blockquote>

<h4>
<a href=problems.html>Solving Common Layout Problems</a>
</h4>
<blockquote>
Some of the most common layout problems 
are that components are displayed too small --
or not at all.
This section tells you how to fix these and
other common layout problems.
</blockquote>

</blockquote>
<p>
<hr size=4>
<p> 
<table width="100%">
<tr>
<td align=left>
<a href="..\misc\index.html"><img src="http://docs.rinet.ru/Jtuta/images/PreviousArrow.gif" width=26 height=26 align=top border=0 alt="Previous | "></a><a
href="using.html"><img src="http://docs.rinet.ru/Jtuta/images/NextArrow.gif" width=26 height=26 align=top border=0 alt="Next | "></a><a
href="..\..\trailmap.html"><img src="http://docs.rinet.ru/Jtuta/images/WayUpArrow.gif" width=26 height=26 align=top border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/Jtuta/images/uiHeader.gif" width=26 height=26 align=top border=0 alt="Creating a GUI with JFC/Swing | "></a>
</td>
<td align=right>
<a href="..\toc.html#layout"><strong><em>Contents</em></strong></a>
</td>
</tr>
</table>
</body>
</html>
