




















<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<!--NewPage-->
<html>
<head>
<title>Solving Common Layout Problems</title>
</head>
<body BGCOLOR="#ffffff">










<table width="100%">
<tr>
<td align=left>
<a href="none.html"><img src="http://docs.rinet.ru/Jtuta/images/PreviousArrow.gif" width=26 height=26 align=bottom border=0 alt="Previous | "></a><a
href="..\events\index.html"><img src="http://docs.rinet.ru/Jtuta/images/NextArrow.gif" width=26 height=26 align=bottom border=0 alt="Next | "></a><a
href="..\..\trailmap.html"><img src="http://docs.rinet.ru/Jtuta/images/WayUpArrow.gif" width=26 height=26 align=bottom border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/Jtuta/images/uiHeader.gif" width=26 height=26 align=bottom border=0 alt="Creating a GUI with JFC/Swing | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Laying Out Components Within a Container</em></strong></a>
</td>
</tr>
</table>
<p>
<center>
<IMG SRC="http://docs.rinet.ru/Jtuta/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
<IMG SRC="http://docs.rinet.ru/Jtuta/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
</center>
<p> 

<h2>
    Solving Common Layout Problems
</h2>
<p>
<blockquote>

<strong>Problem:</strong>
How do I specify a component's exact size?
<ul>
<li>First, make sure that you really need to set the component's exact size.
    Each Swing component has a different preferred size,
    depending on 
    the font it uses
    and the look and feel.
    For this reason, it often doesn't make sense
    to specify a Swing component's exact size.
    <p>
<li>If the component isn't controlled by a layout manager,
    you can set its size by
    invoking the <code>setSize</code> or <code>setBounds</code>
    method on it.
    Otherwise, you need to provide size hints
    and then make sure you're using a layout manager
    that respects the size hints.
    <p>
<li>If you extend a Swing component class,
    you can give size hints
    by overriding the component's
    <code>getMinimumSize</code>,
    <code>getPreferredSize</code>, and
    <code>getMaximumSize</code> methods.
    What's nice about this approach
    is that each <code>get<em>Xxxx</em>Size</code> method
    can get the component's default size hints
    by invoking <code>super.get<em>Xxxx</em>Size()</code>.
    Then it can adjust the size, if necessary,
    before returning it.
    <p>
<li>Another way to give size hints
    is to invoke the component's <code>setMinimumSize</code>,
    <code>setPreferredSize</code>, and
    <code>setMaximumSize</code> methods.
</ul>

<blockquote>
<hr>
<strong>Note:</strong>
No matter how you specify your component's size,
be sure that your component's container uses
a layout manager that respects the requested size of the component.
The <code>FlowLayout</code> and <code>GridBagLayout</code> managers
use the component's preferred size
(the latter depending on the constraints
that you set),
but <code>BorderLayout</code> and <code>GridLayout</code> usually don't.
The <code>BoxLayout</code> manager generally
uses a component's preferred size
(although components can be larger),
and is the only layout manager that respects
the component's maximum size.

<p>
If you specify new size hints for a component that's already visible,
you then need to invoke the <code>revalidate</code> method on it,
to make sure that its containment hierarchy is laid out again.
Then invoke the <code>repaint</code> method.
<hr>
</blockquote>

<p>


<strong>Problem:</strong>
My custom component is being sized too small.
<ul>
<li>Does the component implement the
    <code>getPreferredSize</code> and <code>getMinimumSize</code> methods?
    If so, do they return the right values?
<li>Are you using a layout manager
    that can use as much space as is available?
    See <a href=generalrules.html>General Rules for Using Layout Managers</a>
    for some tips on choosing a layout manager
    and specifying that it use the maximum available space
    for a particular component.
</ul>
<p>

If you don't see your problem in this list, see
<a target="_top" href="..\components\problems.html">Solving Common Component Problems</a><a target="_top" href="..\components\problems.html"><img src="http://docs.rinet.ru/Jtuta/images/uiIcon.gif" width=20 height=20 border=0 alt="(in the Creating a User Interface trail)"></a>.

</blockquote>
<p>
<hr size=4>
<p> 
<table width="100%">
<tr>
<td align=left>
<a href="none.html"><img src="http://docs.rinet.ru/Jtuta/images/PreviousArrow.gif" width=26 height=26 align=top border=0 alt="Previous | "></a><a
href="..\events\index.html"><img src="http://docs.rinet.ru/Jtuta/images/NextArrow.gif" width=26 height=26 align=top border=0 alt="Next | "></a><a
href="..\..\trailmap.html"><img src="http://docs.rinet.ru/Jtuta/images/WayUpArrow.gif" width=26 height=26 align=top border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/Jtuta/images/uiHeader.gif" width=26 height=26 align=top border=0 alt="Creating a GUI with JFC/Swing | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Laying Out Components Within a Container</em></strong></a>
</td>
</tr>
</table>
</body>
</html>
