




















<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<!--NewPage-->
<html>
<head>
<title>Using Layout Managers</title>
</head>
<body BGCOLOR="#ffffff">










<table width="100%">
<tr>
<td align=left>
<a href="index.html"><img src="http://docs.rinet.ru/Jtuta/images/PreviousArrow.gif" width=26 height=26 align=bottom border=0 alt="Previous | "></a><a
href="generalrules.html"><img src="http://docs.rinet.ru/Jtuta/images/NextArrow.gif" width=26 height=26 align=bottom border=0 alt="Next | "></a><a
href="..\..\trailmap.html"><img src="http://docs.rinet.ru/Jtuta/images/WayUpArrow.gif" width=26 height=26 align=bottom border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/Jtuta/images/uiHeader.gif" width=26 height=26 align=bottom border=0 alt="Creating a GUI with JFC/Swing | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Laying Out Components Within a Container</em></strong></a>
</td>
</tr>
</table>
<p>
<center>
<IMG SRC="http://docs.rinet.ru/Jtuta/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
<IMG SRC="http://docs.rinet.ru/Jtuta/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
</center>
<p> 

<h2>
    Using Layout Managers
</h2>
<p>
<blockquote>

<a name="layoutmanager">Every container,</a>
by default, has a layout manager --
an object that implements the
<code>LayoutManager</code> interface.<a href="#footnote">*</a>
If a container's default layout manager doesn't suit your needs,
you can easily replace it with another one.
The Java platform supplies layout managers that range from the very simple
(<a href="#flow"><code>FlowLayout</code></a> and
<a href="#grid"><code>GridLayout</code></a>)
to the special purpose
(<a href="#border"><code>BorderLayout</code></a> and
<a href="#card"><code>CardLayout</code></a>)
to the very flexible
(<a href="#gridbag"><code>GridBagLayout</code></a> and
<a href="#box"><code>BoxLayout</code></a>).

<p>

This section gives you an overview of the layout managers the Java platform provides, 
gives you some general rules for using layout managers,
and then tells you how to use each of the provided layout managers.
It also points to examples of using each layout manager.

<h4>
<a href="generalrules.html">General Rules for Using Layout Managers</a>
</h4>
<blockquote>
This section answers some common questions about layout managers:
<ul>
<li> How do you choose a layout manager?
<li> How do you create a layout manager,
     associate it with a container,
     and tell it to start working?
<li> How does the layout manager know what components it manages?
</ul>
</blockquote>

<h4>
<a name="border">
<a href="border.html">How to Use BorderLayout</a></a>
</h4>
<blockquote>
<code>BorderLayout</code>
is the default layout manager for every content pane
(an important container found in all frames, applets, and dialogs).
A <code>BorderLayout</code> uses five areas to hold components:
north, south, east, west, and center.
All extra space is placed in the center area.
Here's an applet that puts one button in each area:

<p>

<blockquote><a href="borderdemo.html" target="_blank"><IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/layout/borderlayout.gif" WIDTH="470" HEIGHT="154" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT="Click this figure to run the applet."></a><br><em>This is a picture of the applet's GUI.  To run the applet, click the picture.  The applet will appear in a new browser window.</em></blockquote>
</blockquote>

<h4>
<a name="box">
<a href="box.html">How to Use BoxLayout</a></a>
</h4>
<blockquote>
The <code>BoxLayout</code> class puts components
in a single row or column.
It respects the components' requested
maximum sizes, and
also lets you align components.
Here's an applet that uses a <code>BoxLayout</code>
to put a bunch of buttons in a centered column:
<p>

<p>
<blockquote><a href="boxdemo.html" target="_blank"><IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/layout/boxlayout.gif" WIDTH="194" HEIGHT="154" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT="Click this figure to run the applet."></a><br><em>This is a picture of the applet's GUI.  To run the applet, click the picture.  The applet will appear in a new browser window.</em></blockquote>
</blockquote>

<h4>
<a name="card">
<a href="card.html">How to Use CardLayout</a></a>
</h4>
<blockquote>
The <code>CardLayout</code> class lets you implement an area
that contains different components at different times.
<a target="_top" href="..\components\tabbedpane.html">Tabbed panes</a><a target="_top" href="..\components\tabbedpane.html"><img src="http://docs.rinet.ru/Jtuta/images/uiIcon.gif" width=20 height=20 border=0 alt="(in the Creating a User Interface trail)"></a> are intermediate Swing containers
that provide similar functionality,
but with a pre-defined GUI.
A <code>CardLayout</code> is often controlled by a
combo box
,
with the state of the combo box determining
which panel (group of components)
the <code>CardLayout</code> displays.
Here's an applet that uses a combo box
and <code>CardLayout</code> in this way:
<p>

<blockquote><a href="carddemo.html" target="_blank"><IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/layout/cardlayout.gif" WIDTH="306" HEIGHT="99" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT="Click this figure to run the applet."></a><br><em>This is a picture of the applet's GUI.  To run the applet, click the picture.  The applet will appear in a new browser window.</em></blockquote>
</blockquote>

<h4>
<a name="flow">
<a href="flow.html">How to Use FlowLayout</a></a>
</h4>
<blockquote>
<code>FlowLayout</code> is the default layout manager for 
every <code>JPanel</code>.
It simply lays out components 
from left to right,
starting new rows if necessary.
Both panels in the <code>CardLayout</code>
applet <a href="#card">above</a> use <code>FlowLayout</code>.
Here's another example of an applet that uses a <code>FlowLayout</code>:
<p>
<blockquote><a href="flowdemo.html" target="_blank"><IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/layout/flowlayout.gif" WIDTH="542" HEIGHT="66" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT="Click this figure to run the applet."></a><br><em>This is a picture of the applet's GUI.  To run the applet, click the picture.  The applet will appear in a new browser window.</em></blockquote>
</blockquote>

<h4>
<a name=grid>
<a href=grid.html>How to Use GridLayout</a></a>
</h4>
<blockquote>
<code>GridLayout</code> simply makes a bunch of components equal in size
and displays them in the requested number of rows and columns.
Here's an applet that uses a <code>GridLayout</code>
to control the display of five buttons:
<p>
<blockquote><a href="griddemo.html" target="_blank"><IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/layout/gridlayout.gif" WIDTH="379" HEIGHT="106" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT="Click this figure to run the applet."></a><br><em>This is a picture of the applet's GUI.  To run the applet, click the picture.  The applet will appear in a new browser window.</em></blockquote>
</blockquote>

<h4>
<a name="gridbag">
<a href="gridbag.html">How to Use GridBagLayout</a></a>
</h4>
<blockquote>
<code>GridBagLayout</code> is the most sophisticated,
flexible layout manager the Java platform provides.
It aligns components by placing them within a grid of cells,
allowing some components to span more than one cell.
The rows in the grid aren't necessarily all the same height;
similarly, grid columns can have different widths.
Here's an applet that uses a <code>GridBagLayout</code>
to manage ten buttons in a panel:
<p>
<blockquote><a href="gridbagdemo.html" target="_blank"><IMG SRC="http://docs.rinet.ru/Jtuta/figures/uiswing/layout/gridbaglayout.gif" WIDTH="236" HEIGHT="154" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT="Click this figure to run the applet."></a><br><em>This is a picture of the applet's GUI.  To run the applet, click the picture.  The applet will appear in a new browser window.</em></blockquote>
</blockquote>

</blockquote>
<hr>
<font size=-1>
<a href="#layoutmanager">*</a>
<a name="footnote">In JDK 1.1</a>
a second interface, <code>LayoutManager2</code>, was introduced.
<code>LayoutManager2</code> extends
<code>LayoutManager</code>,
providing support for maximum size and alignment.
Currently, only <code>BoxLayout</code> implements 
<code>LayoutManager2</code>.
All the other layout managers in the Java platform implement only
<code>LayoutManager</code>.
</font>
<blockquote>

</blockquote>
<p>
<hr size=4>
<p> 
<table width="100%">
<tr>
<td align=left>
<a href="index.html"><img src="http://docs.rinet.ru/Jtuta/images/PreviousArrow.gif" width=26 height=26 align=top border=0 alt="Previous | "></a><a
href="generalrules.html"><img src="http://docs.rinet.ru/Jtuta/images/NextArrow.gif" width=26 height=26 align=top border=0 alt="Next | "></a><a
href="..\..\trailmap.html"><img src="http://docs.rinet.ru/Jtuta/images/WayUpArrow.gif" width=26 height=26 align=top border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/Jtuta/images/uiHeader.gif" width=26 height=26 align=top border=0 alt="Creating a GUI with JFC/Swing | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Laying Out Components Within a Container</em></strong></a>
</td>
</tr>
</table>
</body>
</html>
