<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/j2ee/dtds/web-app_2_3.dtd">

<web-app>

  <!-- This is the same as the earlier section. Nothing new here -->
  <context-param>
    <param-name>FILENAME</param-name>
    <param-value>directory.db</param-value>
  </context-param>
  <listener>
    <listener-class>com.wrox.projsp.ch16.FirstListenerExample</listener-class>
  </listener>
  <!-- End configuration for example from earlier section -->

  <!-- Define all the constraints. We will use SSL, FORM based
       authentication for the entire Web Application -->

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Entire Application</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>

    <auth-constraint>
      <role-name>user</role-name>
    </auth-constraint>

    <!-- Specify that we will use SSL from the browser -->
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>

  <!-- Define the login configuration for form based authentication -->

  <login-config>
    <auth-method>FORM</auth-method>
    <realm-name>Secure Area</realm-name>
    <form-login-config>
      <form-login-page>/loginpage.jsp</form-login-page>
      <form-error-page>/errorpage.jsp</form-error-page>
    </form-login-config>
  </login-config>
</web-app>
