










<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<!--NewPage-->
<html>
<head>
<title>Writing an Action Listener</title>
</head>
<body BGCOLOR="#ffffff">








<table width="100%">
<tr>
<td align=left>
<a href="eventsandcomponents.html"><img src="http://docs.rinet.ru/OLDui/images/PreviousArrow.gif" width=26 height=26 align=bottom border=0 alt="Previous | "></a><a
href="adjustmentlistener.html"><img src="http://docs.rinet.ru/OLDui/images/NextArrow.gif" width=26 height=26 align=bottom border=0 alt="Next | "></a><a
href="http://docs.rinet.ru:8080/OLDui/trailmap.html"><img src="http://docs.rinet.ru/OLDui/images/WayUpArrow.gif" width=26 height=26 align=bottom border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/OLDui/images/uiHeader.gif" width=26 height=26 align=bottom border=0 alt="Creating a User Interface (AWT Only) | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Components, the GUI Building Blocks</em></strong></a>
</td>
</tr>
</table>
<p>
<center>
<IMG SRC="http://docs.rinet.ru/OLDui/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
<IMG SRC="http://docs.rinet.ru/OLDui/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
</center>
<p> 

<h2>
    Writing an Action Listener
</h2>
<p>
<blockquote>

Action listeners are probably the easiest -- and most common --
event handlers to implement.
You implement an action listener
to respond to the user's indication
that some implementation-dependent action should occur.

<p>

When the user clicks a 
<a href="button.html">button</a>,
doubleclicks a 
<a href="list.html">list item</a>,
chooses a 
<a href="menu.html">menu item</a>,
or presses return in a 
<a href="text.html">text field</a>,
an action event occurs.
The result is that an <code>actionPerformed</code> message 
is sent to all action listeners 
that are registered on the relevant component.

<h4>Action Event Methods</h4>
<blockquote>

The
<a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.event.ActionListener.html"><code>ActionListener</code></a><a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.event.ActionListener.html"><img src="http://docs.rinet.ru/OLDui/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a> interface contains a single method,
and thus has no corresponding adapter class.
Here is the lone <code>ActionListener</code> method:
<dl>
<dt> <code>void actionPerformed(ActionEvent)</code>
<dd> Called by the AWT 
     just after the user 
     informs the listened-to component
     that an action should occur.
</dl>

</blockquote>
<h4>Examples of Handling Action Events</h4>
<blockquote>

Here is the action event handling code from an applet named
Beeper:

<blockquote>
<pre>
public class Beeper ...  implements ActionListener {
    ...
    <em>//where initialization occurs:</em>
        button.addActionListener(this);
    ...
    public void actionPerformed(ActionEvent e) {
	<em>...//Make a beep sound...</em>
    }
}
</pre>
</blockquote>

The Beeper applet is described
in this trail's introduction to events,
<a href="eventintro.html">Introduction to the 1.1 AWT Event Model</a>.
You can find the entire program in 
<a href="http://docs.rinet.ru/OLDui/OLDui/components/example-1dot1/Beeper.java"><code>Beeper.java</code></a>.

<p>

You can find examples of action listeners
in the following sections:

<dl>
<dt><a href="eventintro.html#example1">A Simple Example</a>
<dd>Contains and explains the applet whose code is shown above.

<dt><a href="eventintro.html#example2">A More Complex Example</a>
<dd>Contains and explains an applet that has two action sources
    and two action listeners,
    with one listener listening to both sources
    and the other listening to just one.
</dl>

<p>

Here are some more of the many source files in this tutorial
that contain action listeners:
<ul>
<li> <a href="http://docs.rinet.ru:8080/OLDui/applet/appletsonly/example-1dot1/ShowDocument.java"><code>ShowDocument.java</code></a>
<li> <a href="http://docs.rinet.ru/OLDui/OLDui/components/example-1dot1/ButtonDemo.java"><code>ButtonDemo.java</code></a>
<li> <a href="http://docs.rinet.ru/OLDui/OLDui/components/example-1dot1/DialogWindow.java"><code>DialogWindow.java</code></a>
<li> <a href="http://docs.rinet.ru/OLDui/OLDui/components/example-1dot1/ListDemo.java"><code>ListDemo.java</code></a>
<li> <a href="http://docs.rinet.ru/OLDui/OLDui/components/example-1dot1/MenuWindow.java"><code>MenuWindow.java</code></a>
<li> <a href="http://docs.rinet.ru/OLDui/OLDui/components/example-1dot1/TextDemo.java"><code>TextDemo.java</code></a>
</ul>


</blockquote>
<h4>The ActionEvent Class</h4>
<blockquote>
The <code>actionPerformed</code> method has a single parameter: an
<a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.event.ActionEvent.html"><code>ActionEvent</code></a><a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.event.ActionEvent.html"><img src="http://docs.rinet.ru/OLDui/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a> object.
The <code>ActionEvent</code> class defines two useful methods:
<dl>
<dt><strong><code>String getActionCommand()</code></strong>
<dd>Returns the string associated with this action.
    Most objects that can generate actions
    support a method called <code>setActionCommand</code>
    that lets you set this string.
    If you don't set the action command explicitly,
    then it's generally the text displayed in the component.
    For objects with multiple items,
    and thus multiple possible actions,
    the action command is generally the name of the selected item. 

<dt><strong><code>int getModifiers()</code></strong>
<dd>Returns an integer representing
    the modifier keys the user was pressing
    when the action event occurred.
    You can use the <code>ActionEvent</code>-defined constants 
    <code>SHIFT_MASK</code>,
    <code>CTRL_MASK</code>,
    <code>META_MASK</code>, and
    <code>ALT_MASK</code>
    to determine which keys were pressed.
    For example, if the user Shift-selects a menu item,
    then the following expression is nonzero:
    <blockquote>
    <pre>
actionEvent.getModifiers() & ActionEvent.SHIFT_MASK
    </pre>
    </blockquote>
</dl>
Also useful is the <code>getSource</code> method,
which returns the object 
(a component or menu component)
that generated the action event.
The <code>getSource</code> method is defined
in one of <code>ActionEvent's</code> superclasses,
<a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.util.EventObject.html"><code>EventObject</code></a><a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.util.EventObject.html"><img src="http://docs.rinet.ru/OLDui/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a>.
    
</blockquote>

</blockquote>
<p>
<hr size=4>
<p> 
<table width="100%">
<tr>
<td align=left>
<a href="eventsandcomponents.html"><img src="http://docs.rinet.ru/OLDui/images/PreviousArrow.gif" width=26 height=26 align=top border=0 alt="Previous | "></a><a
href="adjustmentlistener.html"><img src="http://docs.rinet.ru/OLDui/images/NextArrow.gif" width=26 height=26 align=top border=0 alt="Next | "></a><a
href="http://docs.rinet.ru:8080/OLDui/trailmap.html"><img src="http://docs.rinet.ru/OLDui/images/WayUpArrow.gif" width=26 height=26 align=top border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/OLDui/images/uiHeader.gif" width=26 height=26 align=top border=0 alt="Creating a User Interface (AWT Only) | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Components, the GUI Building Blocks</em></strong></a>
</td>
</tr>
</table>
</body>
</html>
