










<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<!--NewPage-->
<html>
<head>
<title>Writing an Adjustment Listener</title>
</head>
<body BGCOLOR="#ffffff">








<table width="100%">
<tr>
<td align=left>
<a href="actionlistener.html"><img src="http://docs.rinet.ru/OLDui/images/PreviousArrow.gif" width=26 height=26 align=bottom border=0 alt="Previous | "></a><a
href="componentlistener.html"><img src="http://docs.rinet.ru/OLDui/images/NextArrow.gif" width=26 height=26 align=bottom border=0 alt="Next | "></a><a
href="http://docs.rinet.ru:8080/OLDui/trailmap.html"><img src="http://docs.rinet.ru/OLDui/images/WayUpArrow.gif" width=26 height=26 align=bottom border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/OLDui/images/uiHeader.gif" width=26 height=26 align=bottom border=0 alt="Creating a User Interface (AWT Only) | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Components, the GUI Building Blocks</em></strong></a>
</td>
</tr>
</table>
<p>
<center>
<IMG SRC="http://docs.rinet.ru/OLDui/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
<IMG SRC="http://docs.rinet.ru/OLDui/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
</center>
<p> 

<h2>
    Writing an Adjustment Listener
</h2>
<p>
<blockquote>

Adjustment events notify you of changes in the value of components that
implement the 
<a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.Adjustable.html"><code>Adjustable</code></a><a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.Adjustable.html"><img src="http://docs.rinet.ru/OLDui/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a> interface.
<code>Adjustable</code> objects have an integer value,
and they generate adjustment events whenever that value changes.
The only AWT
class that implements <code>Adjustable</code> is 
<a href="scrollbar.html"><code>Scrollbar</code></a>.

<p>

There are five kinds of adjustment events:
<dl>
<dt>
track
<dd>
The user explicitly adjusted the value of the component. For a scrollbar, this
might be the result of the user dragging the scrollbar knob.

<dt>
unit increment, unit decrement
<dd>
The user indicated the wish to slightly adjust the value of the component. For
a scrollbar, this might be the result of the user clicking once on an up arrow
or down arrow in the scrollbar.

<dt>
block increment, block decrement
<dd>
The user indicated the wish to adjust the value of the component by a larger
amount. For a scrollbar, this might be the result of the user clicking once
just above the down arrow or just below the up arrow.
</dl>

<h4>
Adjustment Event Methods
</h4>
<blockquote>
The <code>AdjustmentListener</code> interface contains a single method,
and thus has no
corresponding adapter class.
Here's the method:

<dl>
<dt>
<code>void adjustmentValueChanged(AdjustmentEvent)</code>
<dd>
Called by the AWT just after the listened-to component's value changes.
</dl>
</blockquote>

<h4>
Examples of Handling Adjustment Events
</h4>
<blockquote>
Here is the adjustment event handling code from the Converter program, which
uses two scrollbars to let the user set values:

<blockquote>
<pre>
class ConversionPanel ... implements AdjustmentListener ... {
    ...
    Scrollbar slider;
    ...
    ConversionPanel(...) {
        ...
        slider.addAdjustmentListener(this);
    }
    ...
    /** Respond to the slider. */
    public void adjustmentValueChanged(AdjustmentEvent e) {
        textField.setText(String.valueOf(e.getValue()));
        controller.convert(this);
    }
    ...
}
</pre>
</blockquote>

You can find entire program in 
<a href="http://docs.rinet.ru/OLDui/OLDui/overview/example-1dot1/Converter.java"><code>Converter.java</code></a>.

</blockquote>
<h4>
The AdjustmentEvent Class
</h4>
<blockquote>
The <code>adjustmentValueChanged</code> method has a single parameter: an
<a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.event.AdjustmentEvent.html"><code>AdjustmentEvent</code></a><a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.event.AdjustmentEvent.html"><img src="http://docs.rinet.ru/OLDui/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a> object. 
The <code>AdjustmentEvent</code> class defines the following handy methods:

<dl>
<dt>
<code>Adjustable getAdjustable()</code>
<dd>
Returns the component that generated the event. You can use this instead of
the <code>getSource</code> method.

<dt>
<code>int getAdjustmentType()</code>
<dd>
Returns the type of adjustment that occurred. The returned value is one
of the following constants defined in the <code>AdjustmentEvent</code> class:
<code>UNIT_INCREMENT</code>, <code>UNIT_DECREMENT</code>,
<code>BLOCK_INCREMENT</code>, <code>BLOCK_DECREMENT</code>,
<code>TRACK</code>.

<dt>
<code>int getValue()</code>
<dd>
Returns the value of the component just after the adjustment occurred.
</dl>

</blockquote>
</blockquote>
<p>
<hr size=4>
<p> 
<table width="100%">
<tr>
<td align=left>
<a href="actionlistener.html"><img src="http://docs.rinet.ru/OLDui/images/PreviousArrow.gif" width=26 height=26 align=top border=0 alt="Previous | "></a><a
href="componentlistener.html"><img src="http://docs.rinet.ru/OLDui/images/NextArrow.gif" width=26 height=26 align=top border=0 alt="Next | "></a><a
href="http://docs.rinet.ru:8080/OLDui/trailmap.html"><img src="http://docs.rinet.ru/OLDui/images/WayUpArrow.gif" width=26 height=26 align=top border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/OLDui/images/uiHeader.gif" width=26 height=26 align=top border=0 alt="Creating a User Interface (AWT Only) | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Components, the GUI Building Blocks</em></strong></a>
</td>
</tr>
</table>
</body>
</html>
