










<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<!--NewPage-->
<html>
<head>
<title>How to Use Canvases</title>
</head>
<body BGCOLOR="#ffffff">








<table width="100%">
<tr>
<td align=left>
<a href="button.html"><img src="http://docs.rinet.ru/OLDui/images/PreviousArrow.gif" width=26 height=26 align=bottom border=0 alt="Previous | "></a><a
href="checkbox.html"><img src="http://docs.rinet.ru/OLDui/images/NextArrow.gif" width=26 height=26 align=bottom border=0 alt="Next | "></a><a
href="http://docs.rinet.ru:8080/OLDui/trailmap.html"><img src="http://docs.rinet.ru/OLDui/images/WayUpArrow.gif" width=26 height=26 align=bottom border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/OLDui/images/uiHeader.gif" width=26 height=26 align=bottom border=0 alt="Creating a User Interface (AWT Only) | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Components, the GUI Building Blocks</em></strong></a>
</td>
</tr>
</table>
<p>
<center>
<IMG SRC="http://docs.rinet.ru/OLDui/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
<IMG SRC="http://docs.rinet.ru/OLDui/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
</center>
<p> 

<h2>
    How to Use Canvases
</h2>
<p>
<blockquote>

The
<a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.Canvas.html">Canvas </a><a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.Canvas.html"><img src="http://docs.rinet.ru/OLDui/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a> class exists to be subclassed.
It does nothing on its own;
it merely provides
a way for you to implement
a custom Component.
For example,
Canvases are useful as display areas
for images and custom graphics,
whether or not you wish to handle events 
that occur within the display area.

<p>

Canvases are also useful 
when you want a control --
a button, for example --
that doesn't look like 
the the default implementation
of the control.
Since you can't change a standard control's
appearance by subclassing its corresponding Component
(Button, for example),
you must instead
implement a Canvas subclass
to have both the look you want
and the same behavior as the default implementation of the control.

<p>

When implementing a Canvas subclass,
take care to implement
the <code>minimumSize()</code>
and <code>preferredSize()</code>
methods to properly reflect your canvas's size.
Otherwise, depending on the layout your canvas's container uses,
your canvas could end up too small --
perhaps even invisible.

<p>

Here is an applet that uses two instances of a Canvas subclass:
ImageCanvas.

<p>

<applet codebase=http://docs.rinet.ru:8080/OLDui/OLDui/components/example code=ImageApplet.class width=450 height=270>
<hr>
You can't run 1.0 Java applets.
Here's what you'd see if you could:
<blockquote><IMG SRC="http://docs.rinet.ru/OLDui/figures/ui/ImageApplet.gif" WIDTH="374" HEIGHT="268" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT=""></blockquote><hr>
</applet>

<blockquote><hr><strong>Note:</strong> Because some old browsers don't support 1.1, the above applet is a <em>1.0</em> version (here is the <a href="http://docs.rinet.ru/OLDui/OLDui/components/example/ImageApplet.java">1.0 code</a>; here's the <a href="http://docs.rinet.ru/OLDui/OLDui/components/example-1dot1/ImageApplet.java">1.1 code</a>).  To run the <em>1.1</em> version of the applet, go to <a href="example-1dot1\imageapplet.html"><code>example-1dot1/ImageApplet.html</code></a>. <hr></blockquote>
<p>

Below is the code for ImageCanvas.
(You can find it in electronic form in the file
<a href=http://docs.rinet.ru/OLDui/OLDui/components/example-1dot1/ImageApplet.java>ImageApplet.java</a>.)
Because image data is downloaded asynchronously,
an ImageCanvas doesn't know how big it should be
until some time after it's created.
For this reason, 
ImageCanvas uses the initial width and height suggested by its creator
until the image size data is available.
When the image size data becomes available,
the ImageCanvas changes the size its
<code>preferredSize()</code> and
<code>minimumSize()</code> methods return,
attempts to resize itself,
and then requests that its top-level container's
layout be adjusted accordingly 
and redisplayed.

<blockquote>
<pre>
class ImageCanvas extends Canvas {
    Container pappy;
    Image image;
    boolean trueSizeKnown = false;
    Dimension minSize;
    int w, h;

    public ImageCanvas(Image image, Container parent, 
		              int initialWidth, int initialHeight) {
	if (image == null) {
	    System.err.println("Canvas got invalid image object!");
	    return;
	}

	this.image = image;
        pappy = parent;

	w = initialWidth;
	h = initialHeight;

	minSize = new Dimension(w,h);
    }

    public Dimension preferredSize() {
 	return minimumSize();
    }

    public synchronized Dimension minimumSize() {
	return minSize;
    }

    public void paint (Graphics g) {
	if (image != null) {
	    if (!trueSizeKnown) {
	        int imageWidth = image.getWidth(this);
	        int imageHeight = image.getHeight(this);

	        if ((imageWidth > 0) && (imageHeight > 0)) {
		    trueSizeKnown = true;

		    //Ooh... component-initiated resizing.
		    w = imageWidth;
		    h = imageHeight;
		    minSize = new Dimension(w,h);
		    resize(w, h);
		    pappy.layout();
		    pappy.repaint();
	        }
	    }

	    g.drawRect(0, 0, w - 1, h - 1);
	    g.drawImage(image, 0, 0, this);
	}
    }
}
</pre>
</blockquote>

For more information on drawing graphics, see the
<a target="_top" href="..\drawing\index.html">Working with Graphics</a><a target="_top" href="..\drawing\index.html"><img src="http://docs.rinet.ru/OLDui/images/uiIcon.gif" width=20 height=20 border=0 alt="(in the Creating a User Interface trail)"></a> lesson.
For an example of implementing a Canvas
that both draws custom graphics and handles events,
see the <a href=http://docs.rinet.ru/OLDui/OLDui/drawing/example-1dot1/RectangleDemo.java>RectangleDemo</a>
applet code.
You can see RectangleDemo in action in
<a target="_top" href="..\drawing\drawingshapes.html#eg2">Drawing Shapes</a><a target="_top" href="..\drawing\drawingshapes.html#eg2"><img src="http://docs.rinet.ru/OLDui/images/uiIcon.gif" width=20 height=20 border=0 alt="(in the Creating a User Interface trail)"></a>.
     
</blockquote>
<p>
<hr size=4>
<p> 
<table width="100%">
<tr>
<td align=left>
<a href="button.html"><img src="http://docs.rinet.ru/OLDui/images/PreviousArrow.gif" width=26 height=26 align=top border=0 alt="Previous | "></a><a
href="checkbox.html"><img src="http://docs.rinet.ru/OLDui/images/NextArrow.gif" width=26 height=26 align=top border=0 alt="Next | "></a><a
href="http://docs.rinet.ru:8080/OLDui/trailmap.html"><img src="http://docs.rinet.ru/OLDui/images/WayUpArrow.gif" width=26 height=26 align=top border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/OLDui/images/uiHeader.gif" width=26 height=26 align=top border=0 alt="Creating a User Interface (AWT Only) | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Components, the GUI Building Blocks</em></strong></a>
</td>
</tr>
</table>
</body>
</html>
