










<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<!--NewPage-->
<html>
<head>
<title>How to Use Checkboxes</title>
</head>
<body BGCOLOR="#ffffff">








<table width="100%">
<tr>
<td align=left>
<a href="canvas.html"><img src="http://docs.rinet.ru/OLDui/images/PreviousArrow.gif" width=26 height=26 align=bottom border=0 alt="Previous | "></a><a
href="choice.html"><img src="http://docs.rinet.ru/OLDui/images/NextArrow.gif" width=26 height=26 align=bottom border=0 alt="Next | "></a><a
href="http://docs.rinet.ru:8080/OLDui/trailmap.html"><img src="http://docs.rinet.ru/OLDui/images/WayUpArrow.gif" width=26 height=26 align=bottom border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/OLDui/images/uiHeader.gif" width=26 height=26 align=bottom border=0 alt="Creating a User Interface (AWT Only) | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Components, the GUI Building Blocks</em></strong></a>
</td>
</tr>
</table>
<p>
<center>
<IMG SRC="http://docs.rinet.ru/OLDui/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
<IMG SRC="http://docs.rinet.ru/OLDui/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
</center>
<p> 

<h2>
    How to Use Checkboxes
</h2>
<p>
<blockquote>

The
<a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.Checkbox.html">Checkbox</a><a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.Checkbox.html"><img src="http://docs.rinet.ru/OLDui/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a> class provides <em>checkboxes</em> --
two-state buttons that can be either "on" or "off".
When the user clicks a checkbox,
the checkbox state changes
and it generates an action event.
Other ways of providing groups of items the user can select are
<a href=choice.html>choices</a>,
<a href=list.html>lists</a>, and
<a href=menu.html>menus</a>.

<p>

If you want a group of checkboxes in which
only one checkbox at a time can be "on",
you can add a
<a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.CheckboxGroup.html">CheckboxGroup</a><a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.CheckboxGroup.html"><img src="http://docs.rinet.ru/OLDui/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a> object to oversee the state of the checkboxes.
(You might know this UI element as a <em>radio button</em>.)

<p>

Below is an applet that has two columns of checkboxes.
On the left are three independent checkboxes.
You can select all three of the checkboxes, if you like.
On the right are three checkboxes 
that are coordinated by a CheckboxGroup object.
The CheckboxGroup ensures that no more than one
of its checkboxes is selected at a time.
To be specific, a checkbox group can come up with no checkboxes selected,
but once the user selects a checkbox,
exactly one of the checkboxes will be selected forever after.

<p>

<applet codebase=http://docs.rinet.ru:8080/OLDui/OLDui/components/example code=CheckboxDemo.class width=350 height=90>
Here's how the applet looks when it first comes up:

<blockquote><IMG SRC="http://docs.rinet.ru/OLDui/figures/ui/13ui12.gif" WIDTH="405" HEIGHT="186" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT=""></blockquote>
<p>
Here's how the applet looks after the user clicks
Checkbox 1, Checkbox 2, Checkbox 2 (again),
and then Checkbox 4, Checkbox 5, and Checkbox 5 (again).


<blockquote><IMG SRC="http://docs.rinet.ru/OLDui/figures/ui/13ui13.gif" WIDTH="402" HEIGHT="184" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT=""></blockquote>

</applet>

<blockquote>
<hr>
<strong>Note:</strong>
Because this applet doesn't define an event handler,
its code compiles cleanly in both 1.0 and 1.1.
<hr>
</blockquote>

<p>

Here's the
<a href=http://docs.rinet.ru/OLDui/OLDui/components/example/CheckboxDemo.java> whole program</a>.
Below is the code that creates both groups of checkboxes.
Note that only the second, mutually-exclusive group of checkboxes
is controlled by a CheckboxGroup.

<blockquote>
<pre>
Panel p1, p2;
Checkbox cb1, cb2, cb3; //These are independent checkboxes.
Checkbox cb4, cb5, cb6; //These checkboxes are part of a group.
CheckboxGroup cbg;

cb1 = new Checkbox();   //Default state is "off" (false).
cb1.setLabel("Checkbox 1");
cb2 = new Checkbox("Checkbox 2");
cb3 = new Checkbox("Checkbox 3");
cb3.setState(true);     //Set state to "on" (true).
. . .
cbg = new CheckboxGroup();
cb4 = new Checkbox("Checkbox 4", cbg, false); //initial state: off (false)
cb5 = new Checkbox("Checkbox 5", cbg, false); //initial state: off
cb6 = new Checkbox("Checkbox 6", cbg, false); //initial state: off
</pre>
</blockquote>

Besides the Checkbox methods shown above,
Checkbox has two additional methods you might want to use:
<code>getCheckboxGroup()</code> and
<code>setCheckboxGroup()</code>.
Besides the single CheckboxGroup constructor used in the code example,
CheckboxGroup also defines the following methods:
<code>getCurrent()</code> and
<code>setCurrent()</code>.
These methods get and set (respectively)
the current selected Checkbox.

</blockquote>
<p>
<hr size=4>
<p> 
<table width="100%">
<tr>
<td align=left>
<a href="canvas.html"><img src="http://docs.rinet.ru/OLDui/images/PreviousArrow.gif" width=26 height=26 align=top border=0 alt="Previous | "></a><a
href="choice.html"><img src="http://docs.rinet.ru/OLDui/images/NextArrow.gif" width=26 height=26 align=top border=0 alt="Next | "></a><a
href="http://docs.rinet.ru:8080/OLDui/trailmap.html"><img src="http://docs.rinet.ru/OLDui/images/WayUpArrow.gif" width=26 height=26 align=top border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/OLDui/images/uiHeader.gif" width=26 height=26 align=top border=0 alt="Creating a User Interface (AWT Only) | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Components, the GUI Building Blocks</em></strong></a>
</td>
</tr>
</table>
</body>
</html>
