










<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<!--NewPage-->
<html>
<head>
<title>How to Use Choices</title>
</head>
<body BGCOLOR="#ffffff">








<table width="100%">
<tr>
<td align=left>
<a href="checkbox.html"><img src="http://docs.rinet.ru/OLDui/images/PreviousArrow.gif" width=26 height=26 align=bottom border=0 alt="Previous | "></a><a
href="dialog.html"><img src="http://docs.rinet.ru/OLDui/images/NextArrow.gif" width=26 height=26 align=bottom border=0 alt="Next | "></a><a
href="http://docs.rinet.ru:8080/OLDui/trailmap.html"><img src="http://docs.rinet.ru/OLDui/images/WayUpArrow.gif" width=26 height=26 align=bottom border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/OLDui/images/uiHeader.gif" width=26 height=26 align=bottom border=0 alt="Creating a User Interface (AWT Only) | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Components, the GUI Building Blocks</em></strong></a>
</td>
</tr>
</table>
<p>
<center>
<IMG SRC="http://docs.rinet.ru/OLDui/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
<IMG SRC="http://docs.rinet.ru/OLDui/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
</center>
<p> 

<h2>
    How to Use Choices
</h2>
<p>
<blockquote>

The
<a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.Choice.html">Choice</a><a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.Choice.html"><img src="http://docs.rinet.ru/OLDui/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a> class provides a menu-like list of choices,
accessed by a distinctive button.
The user presses the button to bring up the "menu",
and then chooses one of the items.
When the user chooses an item,
the Choice generates an action event.

<p>

Choices are useful when you need to display 
a number of alternatives
in a limited amount of space,
and the user doesn't need to see
all the alternatives all the time.
Another name you might know for this UI element is <em>pop-up list</em>.
Other ways of providing multiple alternatives
are 
<a href=checkbox.html>checkboxes</a>,
<a href=list.html>lists</a>, and
<a href=menu.html>menus</a>.

<p>

Below is an applet that has a Choice and a Label.
When the user chooses an item from the Choice list,
the Label changes to reflect the item chosen.
Note that the index of the first item in the Choice is 0.

<p>

<applet codebase=http://docs.rinet.ru:8080/OLDui/OLDui/components/example code=ChoiceDemo.class width=350 height=40>
<blockquote>
<hr>
Your browser doesn't understand the &lt;APPLET&gt; tag,
so here are some snapshots of choices.
<p>
Here's what this page's applet
looks like at first:

<blockquote><IMG SRC="http://docs.rinet.ru/OLDui/figures/ui/13ui14.gif" WIDTH="313" HEIGHT="41" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT=""></blockquote>
Here's what the applet looks like as you
select another choice item ("san"):

<blockquote><IMG SRC="http://docs.rinet.ru/OLDui/figures/ui/13ui15.gif" WIDTH="313" HEIGHT="107" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT=""></blockquote>
Finally, here's what the applet looks like
after "san" is selected:

<blockquote><IMG SRC="http://docs.rinet.ru/OLDui/figures/ui/13ui16.gif" WIDTH="313" HEIGHT="41" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT=""></blockquote>
<hr>
</blockquote>
</applet>

<blockquote><hr><strong>Note:</strong> Because some old browsers don't support 1.1, the above applet is a <em>1.0</em> version (here is the <a href="http://docs.rinet.ru/OLDui/OLDui/components/example/ChoiceDemo.java">1.0 code</a>; here's the <a href="http://docs.rinet.ru/OLDui/OLDui/components/example-1dot1/ChoiceDemo.java">1.1 code</a>).  To run the <em>1.1</em> version of the applet, go to <a href="example-1dot1\choicedemo.html"><code>example-1dot1/ChoiceDemo.html</code></a>. <hr></blockquote>
<p>

Below is the code that creates the Choice
and handles events from it.
(Here's the
<a href=http://docs.rinet.ru/OLDui/OLDui/components/example-1dot1/ChoiceDemo.java> whole program</a>.)
Note that the second parameter to the <code>action()</code> method
(which is the same as <code>e.arg</code>),
is the string from the selected item.

<blockquote>
<pre>
    <em>//...Where instance variables are defined:</em>
    Choice choice; //pop-up list of choices

    <em>//...Where initialization occurs:</em>
    choice = new Choice();
    choice.addItem("ichi");
    choice.addItem("ni");
    choice.addItem("san");
    choice.addItem("yon");
    label = new Label();
    setLabelText(choice.getSelectedIndex(), choice.getSelectedItem());

. . .

public boolean action(Event e, Object arg) {
    if (e.target instanceof Choice) {
            setLabelText(choice.getSelectedIndex(), (String)arg);
            return true;
        }
        return false;
    }
}
</pre>
</blockquote>

Besides the methods used above, 
the Choice class defines these other useful methods:
<dl>
<dt> <code>int countItems()</code>
<dd> Returns the number of items in the choice.
<dt> <code>String getItem(int)</code>
<dd> Returns the String displayed by the item at the specified index.
<dt> <code>void select(int)</code>
<dd> Selects the item at the specified index.
<dt> <code>void select(String)</code>
<dd> Selects the item that's displaying the specified String.
</dl>

</blockquote>
<p>
<hr size=4>
<p> 
<table width="100%">
<tr>
<td align=left>
<a href="checkbox.html"><img src="http://docs.rinet.ru/OLDui/images/PreviousArrow.gif" width=26 height=26 align=top border=0 alt="Previous | "></a><a
href="dialog.html"><img src="http://docs.rinet.ru/OLDui/images/NextArrow.gif" width=26 height=26 align=top border=0 alt="Next | "></a><a
href="http://docs.rinet.ru:8080/OLDui/trailmap.html"><img src="http://docs.rinet.ru/OLDui/images/WayUpArrow.gif" width=26 height=26 align=top border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/OLDui/images/uiHeader.gif" width=26 height=26 align=top border=0 alt="Creating a User Interface (AWT Only) | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Components, the GUI Building Blocks</em></strong></a>
</td>
</tr>
</table>
</body>
</html>
