










<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<!--NewPage-->
<html>
<head>
<title>Writing a Component Listener</title>
</head>
<body BGCOLOR="#ffffff">








<table width="100%">
<tr>
<td align=left>
<a href="adjustmentlistener.html"><img src="http://docs.rinet.ru/OLDui/images/PreviousArrow.gif" width=26 height=26 align=bottom border=0 alt="Previous | "></a><a
href="containerlistener.html"><img src="http://docs.rinet.ru/OLDui/images/NextArrow.gif" width=26 height=26 align=bottom border=0 alt="Next | "></a><a
href="http://docs.rinet.ru:8080/OLDui/trailmap.html"><img src="http://docs.rinet.ru/OLDui/images/WayUpArrow.gif" width=26 height=26 align=bottom border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/OLDui/images/uiHeader.gif" width=26 height=26 align=bottom border=0 alt="Creating a User Interface (AWT Only) | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Components, the GUI Building Blocks</em></strong></a>
</td>
</tr>
</table>
<p>
<center>
<IMG SRC="http://docs.rinet.ru/OLDui/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
<IMG SRC="http://docs.rinet.ru/OLDui/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
</center>
<p> 

<h2>
    Writing a Component Listener
</h2>
<p>
<blockquote>

One or more component events are generated
by a <code>Component</code> object
just after the component is hidden, made visible, moved, or resized.
An example of a component listener
might be in a GUI builder tool
that's displaying information about the size 
of the currently selected component,
and that needs to know when the component's size changes.
You shouldn't need to use component events
to manage basic layout and rendering.

<p>
The component hidden and component visible events
occur only as the result of calls to a <code>Component</code>'s
<code>setVisible</code> method
(or its deprecated equivalents,
<code>show</code> and <code>hide</code>).
For example, a window might be miniaturized into an icon (iconified),
without a component hidden event being generated.


<h4>Component Event Methods</h4>
<blockquote>

The
<a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.event.ComponentListener.html"><code>ComponentListener</code></a><a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.event.ComponentListener.html"><img src="http://docs.rinet.ru/OLDui/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a> interface 
and its corresponding adapter class, 
<a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.event.ComponentAdapter.html"><code>ComponentAdapter</code></a><a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.event.ComponentAdapter.html"><img src="http://docs.rinet.ru/OLDui/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a>, contain four methods:

<dl>
<dt> <code>void componentHidden(ComponentEvent)</code>
<dd> Called by the AWT
     after the listened-to
     component is hidden
     as the result of the <code>setVisible</code> method being called.
<p>
<dt> <code>void componentMoved(ComponentEvent)</code>
<dd> Called by the AWT
     after the listened-to component moves,
     relative to its container.
     For example, if a window is moved,
     the window generates a component moved event,
     but the components it contains do not.
<p>
<dt> <code>void componentResized(ComponentEvent)</code>
<dd> Called by the AWT after the listened-to component's
     size (rectangular bounds) changes.
<p>
<dt> <code>void componentShown(ComponentEvent)</code>
<dd> Called by the AWT
     after the listened-to component
     becomes visible
     as the result of the <code>setVisible</code> method being called.
</dl>

</blockquote>
<h4>Examples of Handling Component Events</h4>
<blockquote>

The following applet demonstrates component events.
The applet contains a button
that brings up a window (<code>Frame</code>).
The window contains a panel
that has a label and a checkbox.
The checkbox controls whether the label is visible.
When you leave the applet's page,
the window disappears;
it reappears when you return to the applet's page.
A text area displays a message every time
the window, panel, label, or checkbox
generates a component event.

<p>
<applet codebase="http://docs.rinet.ru:8080/OLDui/OLDui/components/example-1dot1/" 
	code="ComponentEventDemo.class"
	width=400 height=200
	alt="Your browser understands the applet tag but isn't displaying any applet.">
</applet>
<p>

<blockquote><hr><strong>Note:</strong> The above applet requires JDK 1.1. If you are using an older browser that does not support 1.1, you won't be able to run the applet. Instead, you need to view this page in a 1.1-compliant browser, such as HotJava or the JDK Applet Viewer (<code>appletviewer</code>).<hr></blockquote>
<blockquote>
<hr>
<strong>Try this:</strong>
<ol>
<li> Click the button labeled "Start playing...".
     <br>
     The window comes up,
     generating one or more component-shown and component-moved events.

<li> Click the checkbox to hide the label.
     <br>
     The label generates a component hidden event.

<li> Click the checkbox again to show the label.
     <br>
     The label generates a component shown event.

<li> Iconify and then deiconify the window labeled "SomeFrame".
     <br>
     You do <em>not</em> get component hidden or shown events.

<li> Resize the window labeled "SomeFrame".
     <br>
     You'll see component resized
     (and possibly component moved) events
     from all three components -- label, checkbox, and window.
     If the window's layout manager didn't make every component
     as wide as possible,
     the label and checkbox wouldn't have been resized.
</ol>
<hr>
</blockquote>

<p>

You can find the applet's code in 
<a href="http://docs.rinet.ru/OLDui/OLDui/components/example-1dot1/ComponentEventDemo.java"><code>ComponentEventDemo.java</code></a>.
Here is the applet's component event handling code:

<blockquote>
<pre>
public class ComponentEventDemo ... implements ComponentListener {
    ...
    <em>//where initialization occurs:</em>
        aFrame = new Frame("A Frame");
        ComponentPanel p = new ComponentPanel(this);
        aFrame.addComponentListener(this);
        p.addComponentListener(this);
    ...

    public void componentHidden(ComponentEvent e) {
	displayMessage("componentHidden event from "
		       + e.getComponent().getClass().getName());
    }

    public void componentMoved(ComponentEvent e) {
	displayMessage("componentMoved event from "
		       + e.getComponent().getClass().getName());
    }

    public void componentResized(ComponentEvent e) {
	displayMessage("componentResized event from "
		       + e.getComponent().getClass().getName());
    }

    public void componentShown(ComponentEvent e) {
	displayMessage("componentShown event from "
		       + e.getComponent().getClass().getName());
    }
}


class ComponentPanel extends Panel ... {
    ...
    ComponentPanel(ComponentEventDemo listener) {
        <em>...//after creating the label and checkbox:</em>
        label.addComponentListener(listener);
        checkbox.addComponentListener(listener);
    }
    ...
}
</pre>
</blockquote>

</blockquote>
<h4>The <code>ComponentEvent</code> Class</h4>
<blockquote>
Each component event method has a single parameter: a
<a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.event.ComponentEvent.html"><code>ComponentEvent</code></a><a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.event.ComponentEvent.html"><img src="http://docs.rinet.ru/OLDui/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a> object.
The <code>ComponentEvent</code> class defines a useful method,
<code>getComponent</code>,
which returns the <code>Component</code>
that generated the event.


</blockquote>
</blockquote>
<p>
<hr size=4>
<p> 
<table width="100%">
<tr>
<td align=left>
<a href="adjustmentlistener.html"><img src="http://docs.rinet.ru/OLDui/images/PreviousArrow.gif" width=26 height=26 align=top border=0 alt="Previous | "></a><a
href="containerlistener.html"><img src="http://docs.rinet.ru/OLDui/images/NextArrow.gif" width=26 height=26 align=top border=0 alt="Next | "></a><a
href="http://docs.rinet.ru:8080/OLDui/trailmap.html"><img src="http://docs.rinet.ru/OLDui/images/WayUpArrow.gif" width=26 height=26 align=top border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/OLDui/images/uiHeader.gif" width=26 height=26 align=top border=0 alt="Creating a User Interface (AWT Only) | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Components, the GUI Building Blocks</em></strong></a>
</td>
</tr>
</table>
</body>
</html>
