










<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<!--NewPage-->
<html>
<head>
<title>Writing a Container Listener</title>
</head>
<body BGCOLOR="#ffffff">








<table width="100%">
<tr>
<td align=left>
<a href="componentlistener.html"><img src="http://docs.rinet.ru/OLDui/images/PreviousArrow.gif" width=26 height=26 align=bottom border=0 alt="Previous | "></a><a
href="focuslistener.html"><img src="http://docs.rinet.ru/OLDui/images/NextArrow.gif" width=26 height=26 align=bottom border=0 alt="Next | "></a><a
href="http://docs.rinet.ru:8080/OLDui/trailmap.html"><img src="http://docs.rinet.ru/OLDui/images/WayUpArrow.gif" width=26 height=26 align=bottom border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/OLDui/images/uiHeader.gif" width=26 height=26 align=bottom border=0 alt="Creating a User Interface (AWT Only) | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Components, the GUI Building Blocks</em></strong></a>
</td>
</tr>
</table>
<p>
<center>
<IMG SRC="http://docs.rinet.ru/OLDui/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
<IMG SRC="http://docs.rinet.ru/OLDui/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
</center>
<p> 

<h2>
    Writing a Container Listener
</h2>
<p>
<blockquote>

Container events are generated
by a <code>Container</code> 
just after a component
is added to or removed from the container.
These events are for notification <em>only</em> --
no container listener need be present 
for components to be successfully added or removed.


<h4>Container Event Methods</h4>
<blockquote>

The
<a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.event.ContainerListener.html"><code>ContainerListener</code></a><a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.event.ContainerListener.html"><img src="http://docs.rinet.ru/OLDui/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a> interface 
and its corresponding adapter class, 
<a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.event.ContainerAdapter.html"><code>ContainerAdapter</code></a><a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.event.ContainerAdapter.html"><img src="http://docs.rinet.ru/OLDui/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a>, contain two methods:

<dl>
<dt> <code>void componentAdded(ContainerEvent)</code>
<dd> Called by the AWT just after 
     a component is added to the listened-to container.
<dt> <code>void componentRemoved(ContainerEvent)</code>
<dd> Called by the AWT just after 
     a component is removed from the listened-to container.
</dl>

</blockquote>
<h4>Examples of Handling Container Events</h4>
<blockquote>

The following applet demonstrates container events.
By clicking "Add a button" or "Remove a button",
you can add components to or remove them from
a panel at the bottom of the applet.
Each time a component is added to or removed from the panel,
the panel fires off a container event,
and the panel's container listener is notified.
The listener displays descriptive messages
in the text area at the top of the applet.

<p>
<applet codebase="http://docs.rinet.ru:8080/OLDui/OLDui/components/example-1dot1/" 
	code="ContainerEventDemo.class"
	width=400 height=300
	alt="Your browser understands the applet tag but isn't displaying any applet.">
</applet>
<p>

<blockquote><hr><strong>Note:</strong> The above applet requires JDK 1.1. If you are using an older browser that does not support 1.1, you won't be able to run the applet. Instead, you need to view this page in a 1.1-compliant browser, such as HotJava or the JDK Applet Viewer (<code>appletviewer</code>).<hr></blockquote>
<blockquote>
<hr>
<strong>Try this:</strong>
<ol>
<li> Click the button labeled "Add a button".
     <br>
     You'll see a button appear near the bottom of the applet.
     The container listener 
     (in this example, an instance of <code>ContainerEventDemo</code>)
     reacts to the resulting component-added event
     by displaying "Button #1 was added to java.awt.Panel"
     at the top of the applet.
<li> Click the button labeled "Remove a button".
     <br>
     This removes the most recently added button
     from the panel,
     causing the container listener
     to receive a component-removed event.
</ol>
<hr>
</blockquote>

<p>

You can find the applet's code in 
<a href="http://docs.rinet.ru/OLDui/OLDui/components/example-1dot1/ContainerEventDemo.java">ContainerEventDemo.java</a>.
Here is the applet's container event handling code:

<blockquote>
<pre>
public class ContainerEventDemo ... implements ContainerListener ... {
    <em>...//where initialization occurs:</em>
	buttonPanel = new Panel();
	buttonPanel.addContainerListener(this);
    ...
    public void componentAdded(ContainerEvent e) {
	displayMessage(" added to ", e);
    }

    public void componentRemoved(ContainerEvent e) {
	displayMessage(" removed from ", e);
    }

    void displayMessage(String action, ContainerEvent e) {
	display.append(((Button)e.getChild()).getLabel()
		       + " was"
		       + action
		       + e.getContainer().getClass().getName()
		       + "\n");
    }
    ...
}
</pre>
</blockquote>

<p>

</blockquote>
<h4>The <code>ContainerEvent</code> Class</h4>
<blockquote>
Each container event method has a single parameter: a
<a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.event.ContainerEvent.html"><code>ContainerEvent</code></a><a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.event.ContainerEvent.html"><img src="http://docs.rinet.ru/OLDui/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a> object.
The <code>ContainerEvent</code> class defines two useful methods:

<dl>
<dt><code>Component getChild()</code>
<dd>Returns the component 
    whose addition or removal
    triggered this event.
<dt><code>Container getContainer()</code>
<dd>Returns the container
    that fired this event.
</dl>


</blockquote>
</blockquote>
<p>
<hr size=4>
<p> 
<table width="100%">
<tr>
<td align=left>
<a href="componentlistener.html"><img src="http://docs.rinet.ru/OLDui/images/PreviousArrow.gif" width=26 height=26 align=top border=0 alt="Previous | "></a><a
href="focuslistener.html"><img src="http://docs.rinet.ru/OLDui/images/NextArrow.gif" width=26 height=26 align=top border=0 alt="Next | "></a><a
href="http://docs.rinet.ru:8080/OLDui/trailmap.html"><img src="http://docs.rinet.ru/OLDui/images/WayUpArrow.gif" width=26 height=26 align=top border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/OLDui/images/uiHeader.gif" width=26 height=26 align=top border=0 alt="Creating a User Interface (AWT Only) | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Components, the GUI Building Blocks</em></strong></a>
</td>
</tr>
</table>
</body>
</html>
