










<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<!--NewPage-->
<html>
<head>
<title>Writing a Focus Listener</title>
</head>
<body BGCOLOR="#ffffff">








<table width="100%">
<tr>
<td align=left>
<a href="containerlistener.html"><img src="http://docs.rinet.ru/OLDui/images/PreviousArrow.gif" width=26 height=26 align=bottom border=0 alt="Previous | "></a><a
href="itemlistener.html"><img src="http://docs.rinet.ru/OLDui/images/NextArrow.gif" width=26 height=26 align=bottom border=0 alt="Next | "></a><a
href="http://docs.rinet.ru:8080/OLDui/trailmap.html"><img src="http://docs.rinet.ru/OLDui/images/WayUpArrow.gif" width=26 height=26 align=bottom border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/OLDui/images/uiHeader.gif" width=26 height=26 align=bottom border=0 alt="Creating a User Interface (AWT Only) | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Components, the GUI Building Blocks</em></strong></a>
</td>
</tr>
</table>
<p>
<center>
<IMG SRC="http://docs.rinet.ru/OLDui/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
<IMG SRC="http://docs.rinet.ru/OLDui/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
</center>
<p> 

<h2>
    Writing a Focus Listener
</h2>
<p>
<blockquote>

Focus events are generated
whenever a component gains or loses the
<em>keyboard focus</em> --
the ability to receive keyboard events.
From the user's point of view,
the component with the keyboard focus
is usually prominent --
with a thicker border than usual, for example --
and the window containing the component
is also more prominent than other windows on-screen.
This lets the user know
which component any typing will go to.
At most one component in the window system 
can have the keyboard focus.

<p>

Exactly how components gain the focus
depends on the window system.
Typically, the user sets the focus
by clicking a window or component,
by tabbing between components,
or by otherwise interacting with a component.
You can request that a component get the focus
by invoking the <code>Component</code>
<code>requestFocus</code> method.


<h4>Focus Event Methods</h4>
<blockquote>

The
<a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.event.FocusListener.html"><code>FocusListener</code></a><a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.event.FocusListener.html"><img src="http://docs.rinet.ru/OLDui/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a> interface 
and its corresponding adapter class, 
<a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.event.FocusAdapter.html"><code>FocusAdapter</code></a><a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.event.FocusAdapter.html"><img src="http://docs.rinet.ru/OLDui/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a>, contain two methods:

<dl>
<dt> <code>void focusGained(FocusEvent)</code>
<dd> Called by the AWT
     just after the listened-to component gets the focus.
<dt> <code>void focusLost(FocusEvent)</code>
<dd> Called by the AWT
     just after the listened-to component loses the focus.
</dl>

</blockquote>
<h4>Examples of Handling Focus Events</h4>
<blockquote>

The following applet demonstrates focus events.
By clicking the top button in the applet,
you can bring up a window 
that contains a variety of components.
A focus listener listens for focus events
on each component in the window,
including the window itself
(which is an instance of a <code>Frame</code> subclass
called <code>FocusWindow</code>).

<p>
<applet codebase="http://docs.rinet.ru:8080/OLDui/OLDui/components/example-1dot1/" 
	code="FocusEventDemo.class"
	width=400 height=200
	alt="Your browser understands the applet tag but isn't displaying any applet.">
</applet>
<p>

<blockquote><hr><strong>Note:</strong> The above applet requires JDK 1.1. If you are using an older browser that does not support 1.1, you won't be able to run the applet. Instead, you need to view this page in a 1.1-compliant browser, such as HotJava or the JDK Applet Viewer (<code>appletviewer</code>).<hr></blockquote>
<blockquote>
<hr>
<strong>Try this:</strong>
<ol>
<li> Bring up the window called Focus Demo Window
     by clicking the top button in the applet. It should
     look like this:
     
<blockquote><IMG SRC="http://docs.rinet.ru/OLDui/figures/ui/13ui15a.gif" WIDTH="333" HEIGHT="113" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT=""></blockquote><li> If necessary, click the Focus Demo Window
     so that its contents can gain the keyboard focus.
     <br>
     You'll see a "Focus gained" message
     in the applet's display area.
     How its window gets the focus
     and which of its components gets the focus by default [CHECK]
     are system dependent. 
     You can detect when the window gets or loses the focus
     by implementing a <a href="windowlistener.html">window listener</a>
     and listening for window activation or deactivation events.
<li> Click the button at the right of the Focus Demo Window,
     and then click in another component, such as the text field.
     <br>
     Notice that when the focus changes from one component to another,
     the first component generates a focus lost event
     before the second component generates a focus gained event.
<li> Try changing the focus by pressing Tab or Shift-Tab.
     <br>
     Most systems let you use the Tab key to cycle through 
     components that can get the focus.
<li> Miniaturize the Focus Demo Window into an icon.
     <br>
     You should see a "Focus lost" message for the component
     that last had the focus.
</ol>
<hr>
</blockquote>

<p>

You can find the applet's code in 
<a href="http://docs.rinet.ru/OLDui/OLDui/components/example-1dot1/FocusEventDemo.java">FocusEventDemo.java</a>.
Here is the applet's focus event handling code:

<blockquote>
<pre>
public class FocusEventDemo ... implements FocusListener ... {
	<em>...//where initialization occurs</em>
	window = new FocusWindow(this);
    ...
    public void focusGained(FocusEvent e) {
	displayMessage("Focus gained", e);
    }

    public void focusLost(FocusEvent e) {
	displayMessage("Focus lost", e);
    }

    void displayMessage(String prefix, FocusEvent e) {
	display.append(prefix
		       + ": "
		       + e.getSource() //XXX
		       + "\n"); 
    }
    ...
}

class FocusWindow extends Frame {
    ...
    public FocusWindow(FocusListener listener) {
	super("Focus Demo Window");
	this.addFocusListener(listener);
	...
	Label label = new Label("A Label");
	label.addFocusListener(listener);
	...
	Choice choice = new Choice();
	...
	choice.addFocusListener(listener);
	...
	Button button = new Button("A Button");
	button.addFocusListener(listener);
	...
	List list = new List();
	...
	list.addFocusListener(listener);
    }
}
</pre>
</blockquote>

<p>

</blockquote>
<h4>The <code>FocusEvent</code> Class</h4>
<blockquote>
Each focus event method has a single parameter: a
<a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.event.FocusEvent.html"><code>FocusEvent</code></a><a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.event.FocusEvent.html"><img src="http://docs.rinet.ru/OLDui/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a> object.
The <code>FocusEvent</code> class defines a method,
<code>isTemporary</code>,
which returns true 
if a focus lost event is temporary.
It's essential knowledge when you wish to indicate
that a particular component will
get the focus
if its window regains the focus.

<p>

The most common message you'll send to a <code>FocusEvent</code> object
is <code>getComponent</code>
(defined in
<a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.event.ComponentEvent.html"><code>ComponentEvent</code></a><a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.event.ComponentEvent.html"><img src="http://docs.rinet.ru/OLDui/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a>),
which returns the component
that just gained or lost the focus,
causing the focus event.

</blockquote>
</blockquote>
<p>
<hr size=4>
<p> 
<table width="100%">
<tr>
<td align=left>
<a href="containerlistener.html"><img src="http://docs.rinet.ru/OLDui/images/PreviousArrow.gif" width=26 height=26 align=top border=0 alt="Previous | "></a><a
href="itemlistener.html"><img src="http://docs.rinet.ru/OLDui/images/NextArrow.gif" width=26 height=26 align=top border=0 alt="Next | "></a><a
href="http://docs.rinet.ru:8080/OLDui/trailmap.html"><img src="http://docs.rinet.ru/OLDui/images/WayUpArrow.gif" width=26 height=26 align=top border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/OLDui/images/uiHeader.gif" width=26 height=26 align=top border=0 alt="Creating a User Interface (AWT Only) | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Components, the GUI Building Blocks</em></strong></a>
</td>
</tr>
</table>
</body>
</html>
