










<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<!--NewPage-->
<html>
<head>
<title>How to Use Frames</title>
</head>
<body BGCOLOR="#ffffff">








<table width="100%">
<tr>
<td align=left>
<a href="dialog.html"><img src="http://docs.rinet.ru/OLDui/images/PreviousArrow.gif" width=26 height=26 align=bottom border=0 alt="Previous | "></a><a
href="label.html"><img src="http://docs.rinet.ru/OLDui/images/NextArrow.gif" width=26 height=26 align=bottom border=0 alt="Next | "></a><a
href="http://docs.rinet.ru:8080/OLDui/trailmap.html"><img src="http://docs.rinet.ru/OLDui/images/WayUpArrow.gif" width=26 height=26 align=bottom border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/OLDui/images/uiHeader.gif" width=26 height=26 align=bottom border=0 alt="Creating a User Interface (AWT Only) | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Components, the GUI Building Blocks</em></strong></a>
</td>
</tr>
</table>
<p>
<center>
<IMG SRC="http://docs.rinet.ru/OLDui/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
<IMG SRC="http://docs.rinet.ru/OLDui/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
</center>
<p> 

<h2>
    How to Use Frames
</h2>
<p>
<blockquote>

The
<a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.Frame.html">Frame</a><a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.Frame.html"><img src="http://docs.rinet.ru/OLDui/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a> class provides windows for applets and applications.
Every application needs at least one Frame.
If an application has a window 
that should be dependent on another window --
disappearing when the other window is iconified, for example --
then you should use a
<a href=dialog.html>Dialog</a>
instead of a Frame for the dependent window.
Unfortunately, applets currently can't use dialogs well,
so they generally need to use frames instead.

<p>

The <a href=menu.html>How to Use Menus</a> page
and the <a href=dialog.html>How to Use Dialogs</a> page
are two of the many in this tutorial
that use a Frame.

<p>

Below is the code that the menu demonstration uses
to create its window (a Frame subclass)
and handle the case where the user closes the window.

<blockquote>
<pre>
public class MenuWindow extends Frame {
    boolean inAnApplet = true;
    TextArea output;

    public MenuWindow() {
        <em>...//This constructor implicitly calls the Frame no-argument 
        //constructor and then adds components to the window.</em>
    }

    public boolean handleEvent(Event event) {
        if (event.id == Event.WINDOW_DESTROY) {
            if (inAnApplet) {
                dispose();
            } else {
                System.exit(0);
            }
        }   
        return super.handleEvent(event);
    }

. . .

    public static void main(String args[]) {
        MenuWindow window = new MenuWindow();
        window.inAnApplet = false;

        window.setTitle("MenuWindow Application");
        window.pack();
        window.show();
    }
}
</pre>
</blockquote>
<p>

The <code>pack()</code> method,
which is called in the <code>main()</code> method above,
is defined by the Window class. See
<a href=dialog.html>How to Use Dialogs</a>
for information about <code>pack()</code>.

<p>

Besides the no-argument Frame constructor 
implicitly used by the MenuWindow constructor shown above,
the Frame class also provides a one-argument constructor.
The argument is a String that specifies the title of the frame's window

<p>

Other interesting methods provided by Frame are:
<dl>
<dt> <code>String getTitle()</code> and <code>void setTitle(String)</code>
<dd> Returns or sets (respectively) the title of the frame's window.
<dt> <code>Image getIconImage()</code> and <code>void setIconImage(Image)</code>
<dd> Returns or sets (respectively) the image displayed 
     when the window is iconified.
<dt> <code>MenuBar getMenuBar()</code> and <code>void setMenuBar(MenuBar)</code>
<dd> Returns or sets (respectively) the menu bar for this Frame.
<dt> <code>void remove(MenuComponent)</code>
<dd> Removes the specified menu bar from this Frame.
<dt> <code>boolean isResizable()</code> and <code>void setResizable(boolean)</code>
<dd> Returns or sets whether the user can change the window's size.
<dt> <code>int getCursorType()</code> and <code>void setCursor(int)</code>
<dd> Gets the current cursor image or sets the cursor image.
     The cursor must be specified as one of the types
     defined in the Frame class.
     The pre-defined types are
     Frame.DEFAULT_CURSOR,
     Frame.CROSSHAIR_CURSOR,
     Frame.HAND_CURSOR,
     Frame.MOVE_CURSOR,
     Frame.TEXT_CURSOR,
     Frame.WAIT_CURSOR,
     or Frame.<em>X</em>_RESIZE_CURSOR,
     where <em>X</em> is SW, SE, NW, NE, N, S, W, or E.
</dl>
</blockquote>
<p>
<hr size=4>
<p> 
<table width="100%">
<tr>
<td align=left>
<a href="dialog.html"><img src="http://docs.rinet.ru/OLDui/images/PreviousArrow.gif" width=26 height=26 align=top border=0 alt="Previous | "></a><a
href="label.html"><img src="http://docs.rinet.ru/OLDui/images/NextArrow.gif" width=26 height=26 align=top border=0 alt="Next | "></a><a
href="http://docs.rinet.ru:8080/OLDui/trailmap.html"><img src="http://docs.rinet.ru/OLDui/images/WayUpArrow.gif" width=26 height=26 align=top border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/OLDui/images/uiHeader.gif" width=26 height=26 align=top border=0 alt="Creating a User Interface (AWT Only) | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Components, the GUI Building Blocks</em></strong></a>
</td>
</tr>
</table>
</body>
</html>
