










<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<!--NewPage-->
<html>
<head>
<title>General Rules for Using Components</title>
</head>
<body BGCOLOR="#ffffff">








<table width="100%">
<tr>
<td align=left>
<a href="using.html"><img src="http://docs.rinet.ru/OLDui/images/PreviousArrow.gif" width=26 height=26 align=bottom border=0 alt="Previous | "></a><a
href="button.html"><img src="http://docs.rinet.ru/OLDui/images/NextArrow.gif" width=26 height=26 align=bottom border=0 alt="Next | "></a><a
href="http://docs.rinet.ru:8080/OLDui/trailmap.html"><img src="http://docs.rinet.ru/OLDui/images/WayUpArrow.gif" width=26 height=26 align=bottom border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/OLDui/images/uiHeader.gif" width=26 height=26 align=bottom border=0 alt="Creating a User Interface (AWT Only) | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Components, the GUI Building Blocks</em></strong></a>
</td>
</tr>
</table>
<p>
<center>
<IMG SRC="http://docs.rinet.ru/OLDui/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
<IMG SRC="http://docs.rinet.ru/OLDui/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
</center>
<p> 

<h2>
    General Rules for Using Components
</h2>
<p>
<blockquote>

This page has general information on what components have in common.
It tells you how to add a component to a container.
It tells you what functionality components inherit 
from the Component class.
It also tells you how you can change the look and feel of components.

<h4>
How to Add a Component to a Container
</h4>
<blockquote>

As you read on in this lesson,
you'll notice code that adds
components to containers.
This is because for any Component object except a Window
to display itself onscreen,
you must first add it to a Container object.
This Container is itself a Component,
and is likely to be added to another Container.
Windows such as Frames and Dialogs
are the top-level containers;
they're the only components
that aren't added to containers.

<p>

The 
<a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.Container.html">Container</a><a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.Container.html"><img src="http://docs.rinet.ru/OLDui/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a> class defines three methods
for adding components:
a one-argument <code>add()</code> method
and two two-argument <code>add()</code> methods.
Which one you need to use depends on the layout manager
the container is using.
You'll learn all about layout managers in a later lesson.
Right now, we're teaching you just enough
to be able to read the code excerpts in this lesson.

<p>

The one-argument <code>add()</code> method simply requires
that you specify the component to add.
The first two-argument <code>add()</code> method
lets you add an argument
specifying the integer position 
at which the component should be added.
The integer -1 specifies that the container
add the component component 
at the end of the container's list of components
(just as the one-argument method does).
This two-argument form of <code>add()</code> isn't used often,
so if you see references to "the two-argument <code>add()</code> method",
they're almost certainly referring to the second two-argument method,
which is described in the next paragraph.
The 
<a target="_top" href="..\layout\flow.html">FlowLayout</a><a target="_top" href="..\layout\flow.html"><img src="http://docs.rinet.ru/OLDui/images/uiIcon.gif" width=20 height=20 border=0 alt="(in the Creating a User Interface trail)"></a>,
<a target="_top" href="..\layout\grid.html">GridLayout</a><a target="_top" href="..\layout\grid.html"><img src="http://docs.rinet.ru/OLDui/images/uiIcon.gif" width=20 height=20 border=0 alt="(in the Creating a User Interface trail)"></a>, and
<a target="_top" href="..\layout\gridbag.html">GridBagLayout</a><a target="_top" href="..\layout\gridbag.html"><img src="http://docs.rinet.ru/OLDui/images/uiIcon.gif" width=20 height=20 border=0 alt="(in the Creating a User Interface trail)"></a> layout managers
all work with these <code>add()</code> methods.

<p>

The second argument of the second two-argument <code>add()</code> method
specifies the component to be added.
The first argument 
is a manager-dependent string.
<a target="_top" href="..\layout\border.html">BorderLayout</a><a target="_top" href="..\layout\border.html"><img src="http://docs.rinet.ru/OLDui/images/uiIcon.gif" width=20 height=20 border=0 alt="(in the Creating a User Interface trail)"></a> (the default layout manager for Window subclasses)
requires that you specify
"North", "South", "East", "West", or "Center".
<a target="_top" href="..\layout\card.html">CardLayout</a><a target="_top" href="..\layout\card.html"><img src="http://docs.rinet.ru/OLDui/images/uiIcon.gif" width=20 height=20 border=0 alt="(in the Creating a User Interface trail)"></a> simply requires that you specify
a string that somehow identifies the component being added.

<p>

<strong>Note:</strong>
Adding a component to a container
removes the component from the container it used to be in (if any).
For this reason,
you can't have one component 
in two containers,
even if the two containers
are never shown at the same time.


</blockquote>
<h4>
What the Component Class Provides
</h4>
<blockquote>

All components except menus 
are implemented as subclasses of the 
<a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.Component.html">Component</a><a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.Component.html"><img src="http://docs.rinet.ru/OLDui/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a>class.
From Component, they inherit a huge amount of functionality.
By now,
you should already know that the Component class
provides the basis for all drawing and event handling.
Here's a more complete list of the functionality Component provides:

<dl>
<dt> <strong>Basic drawing support.</strong>
<dd> Component provides the
     <code>paint()</code>,
     <code>update()</code>, and
     <code>repaint()</code> methods,
     which enable Components 
     to draw themselves onscreen.
     See 
<a target="_top" href="..\overview\drawing.html">Drawing</a><a target="_top" href="..\overview\drawing.html"><img src="http://docs.rinet.ru/OLDui/images/uiIcon.gif" width=20 height=20 border=0 alt="(in the Creating a User Interface trail)"></a>     for more information.

<dt> <strong>Event handling.</strong>
<dd> Component defines the general-purpose <code>handleEvent()</code> method
     and a group of methods such as <code>action()</code>
     that handle specific event types.
     Component also has support for keyboard focus,
     which enables keyboard control of components.
     See 
<a target="_top" href="..\overview\events.html">Event Handling</a><a target="_top" href="..\overview\events.html"><img src="http://docs.rinet.ru/OLDui/images/uiIcon.gif" width=20 height=20 border=0 alt="(in the Creating a User Interface trail)"></a>     for more information.
     
<dt> <strong>Appearance control: font.</strong>
<dd> Component provides methods 
     to get and set the current font,
     and to get information about the current font.
     See 
<a target="_top" href="..\drawing\drawingtext.html">Working with Text</a><a target="_top" href="..\drawing\drawingtext.html"><img src="http://docs.rinet.ru/OLDui/images/uiIcon.gif" width=20 height=20 border=0 alt="(in the Creating a User Interface trail)"></a>     for information.

<dt> <strong>Appearance control: color.</strong>
<dd> Component provides the following methods to get and set
     the foreground and background colors:
     <code>setForeground(Color)</code>,
     <code>getForeground()</code>,
     <code>setBackground(Color)</code>, and
     <code>getBackground()</code>.
     The foreground color is the color used 
     for all text in the component,
     as well as for any custom drawing the component performs.
     The background color is the color behind the text or graphics.
     For the sake of readability,
     the background color should contrast with the foreground color.

<dt> <strong>Image handling.</strong>
<dd> Component provides the basis for displaying images.
     Note that most Components can't display images,
     since their appearance is implemented in platform-specific code.
     Canvases and most Containers, however,
     <em>can</em> display images.
     See 
<a target="_top" href="..\drawing\usingimages.html">Using Images</a><a target="_top" href="..\drawing\usingimages.html"><img src="http://docs.rinet.ru/OLDui/images/uiIcon.gif" width=20 height=20 border=0 alt="(in the Creating a User Interface trail)"></a>     for information on working with images.

<dt> <strong>Onscreen size and position control.</strong>
<dd> All component sizes and positions
     (except for those of Windows)
     are subject to the whims of layout managers.
     Nonetheless, every component has at least some say
     in its size, if not its position.
     The <code>preferredSize()</code> and <code>minimumSize()</code> methods
     allow a component
     to inform layout managers
     of the component's preferred and minimum sizes.
     Component also provides methods
     that get or set (subject to layout manager oversight)
     the component's current size and location.
</dl>

</blockquote>
<h4>
How to Change the Appearance and Behavior of Components.
</h4>
<blockquote>
The appearance of most components is platform-specific.
Buttons look different on Motif systems
than on Macintosh systems, for example.

<blockquote><IMG SRC="http://docs.rinet.ru/OLDui/figures/ui/13ui10.gif" WIDTH="175" HEIGHT="40" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT=""></blockquote>


<p>

You can't easily change most components' appearance
in any major way.
You can make some minor appearance changes,
such as to the font and background color,
by using the appearance-affecting methods and variables
provided by a component's class and superclasses.
However, you can't completely change a component's appearance
even by creating a subclass of the component's class,
since most components' platform-specific implementation
overrides any drawing the component performs.
To change a component's appearance,
you must implement a Canvas subclass 
that has the look you want
but the same behavior users expect from the component.

<p>

Although you can't easily make a major change to a component's appearance,
you <em>can</em> change component behavior.
For example, if only numeric values are valid in a text field,
you might implement a TextField subclass
that examines all keyboard events, 
intercepting any that aren't valid.
This is possible because the platform-independent Component
gets to see raw events
before its platform-dependent implementation does.
See
<a target="_top" href="..\overview\events.html">Event Handling</a><a target="_top" href="..\overview\events.html"><img src="http://docs.rinet.ru/OLDui/images/uiIcon.gif" width=20 height=20 border=0 alt="(in the Creating a User Interface trail)"></a> for details.

</blockquote>
<p>
<hr size=4>
<p> 
<table width="100%">
<tr>
<td align=left>
<a href="using.html"><img src="http://docs.rinet.ru/OLDui/images/PreviousArrow.gif" width=26 height=26 align=top border=0 alt="Previous | "></a><a
href="button.html"><img src="http://docs.rinet.ru/OLDui/images/NextArrow.gif" width=26 height=26 align=top border=0 alt="Next | "></a><a
href="http://docs.rinet.ru:8080/OLDui/trailmap.html"><img src="http://docs.rinet.ru/OLDui/images/WayUpArrow.gif" width=26 height=26 align=top border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/OLDui/images/uiHeader.gif" width=26 height=26 align=top border=0 alt="Creating a User Interface (AWT Only) | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Components, the GUI Building Blocks</em></strong></a>
</td>
</tr>
</table>
</body>
</html>
