










<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<!--NewPage-->
<html>
<head>
<title>Using Components, the GUI Building Blocks</title>
</head>
<body BGCOLOR="#ffffff">








<table width="100%">
<tr>
<td align=left>
<a href="..\overview\index.html"><img src="http://docs.rinet.ru/OLDui/images/PreviousArrow.gif" width=26 height=26 align=bottom border=0 alt="Previous | "></a><a
href="using.html"><img src="http://docs.rinet.ru/OLDui/images/NextArrow.gif" width=26 height=26 align=bottom border=0 alt="Next | "></a><a
href="http://docs.rinet.ru:8080/OLDui/trailmap.html"><img src="http://docs.rinet.ru/OLDui/images/WayUpArrow.gif" width=26 height=26 align=bottom border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/OLDui/images/uiHeader.gif" width=26 height=26 align=bottom border=0 alt="Creating a User Interface (AWT Only) | "></a>
</td>
<td align=right>
<a href="..\toc.html#components"><strong><em>Contents</em></strong></a>
</td>
</tr>
</table>
<p>
<center>
<IMG SRC="http://docs.rinet.ru/OLDui/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
<IMG SRC="http://docs.rinet.ru/OLDui/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
</center>
<p>
<h1>
     Using Components, the GUI Building Blocks
</h1>
<p>
<blockquote>

This lesson describes every component the AWT offers, including the
<code>Canvas</code> class, which you can use to build your own custom
components.  This lesson also describes the AWT component
architecture and has details on writing event handlers.

<blockquote>
<hr>
<strong>Note:</strong>
We recommend that instead of using AWT components such as 
<code>Button</code> and <code>Canvas</code>,
you use <em>Swing components</em>
such as <code>JButton</code> and <code>JComponent</code>.
The Swing components, which are part of the
Java Foundation Classes (JFC),
can be used with either JDK 1.1 or JDK 1.2.
See 
<a target="_top" href="http://docs.rinet.ru:8080/OLDui/ui/swing/index.html">Using the JFC/Swing Packages</a><a target="_top" href="http://docs.rinet.ru:8080/OLDui/ui/swing/index.html"><img src="http://docs.rinet.ru/OLDui/images/uiIcon.gif" width=20 height=20 border=0 alt="(in the Creating a User Interface trail)"></a> for details.
<hr>
</blockquote>

<h4>
<a href=using.html>Using the AWT Components</a>
</h4>
<blockquote>
Start here to learn the general rules of using components,
as well as details on 
how to use every component the AWT provides.

<blockquote>
<hr>
<strong>Note:</strong>
The text and the code snippets in this section reflect 1.0, 
unless otherwise noted.
However, each page that features an example
has links to both 1.0 and 1.1 versions of the example.
Remember: 1.0 code runs in 1.1 environments,
but it often results in warnings when compiled in 1.1,
due to its use of deprecated API.
See 
<a target="_top" href="http://docs.rinet.ru:8080/OLDui/post1.0/index.html">To 1.1 -- And Beyond!</a><a target="_top" href="http://docs.rinet.ru:8080/OLDui/post1.0/index.html"><img src="http://docs.rinet.ru/OLDui/images/jdk1_1.gif" width=20 height=20 border=0 alt="(in the To 1.1 -- And Beyond! trail)"></a> for information 
 about deprecation and about
 differences between 1.0 and 1.1 programs.
<hr>
</blockquote>

</blockquote>
<h4>
<a href=eventmodel.html>Writing Event Handlers</a>
</h4>
<blockquote>
This section gives an overview of and
general tips on writing event handlers. 
It then goes on to give details about
each kind of event handler you might need to implement.

<blockquote>
<hr>
<strong>Note:</strong>
The text and the code snippets in this section reflect 1.1.
<hr>
</blockquote>

</blockquote>
<h4>
<a href=peer.html>Details of the Component Architecture</a>
</h4>
<blockquote>
This section tells you about peers. A <em>peer</em>
is an object that provides the look (and part of the feel) for standard
components. You usually don't need to know about peer objects, since they're
specific to platform implementations. However, sometimes knowing about peers
can help you find bugs in event-handling, drawing, or layout code. 
</blockquote>


<h4>
<a href=problems.html>Common Component Problems (and Their Solutions)</a>
</h4>
<blockquote>
This section discusses solutions to common component-related problems.
</blockquote>

</blockquote>
<p>
<hr size=4>
<p> 
<table width="100%">
<tr>
<td align=left>
<a href="..\overview\index.html"><img src="http://docs.rinet.ru/OLDui/images/PreviousArrow.gif" width=26 height=26 align=top border=0 alt="Previous | "></a><a
href="using.html"><img src="http://docs.rinet.ru/OLDui/images/NextArrow.gif" width=26 height=26 align=top border=0 alt="Next | "></a><a
href="http://docs.rinet.ru:8080/OLDui/trailmap.html"><img src="http://docs.rinet.ru/OLDui/images/WayUpArrow.gif" width=26 height=26 align=top border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/OLDui/images/uiHeader.gif" width=26 height=26 align=top border=0 alt="Creating a User Interface (AWT Only) | "></a>
</td>
<td align=right>
<a href="..\toc.html#components"><strong><em>Contents</em></strong></a>
</td>
</tr>
</table>
</body>
</html>
