










<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<!--NewPage-->
<html>
<head>
<title>Writing a Key Listener</title>
</head>
<body BGCOLOR="#ffffff">








<table width="100%">
<tr>
<td align=left>
<a href="itemlistener.html"><img src="http://docs.rinet.ru/OLDui/images/PreviousArrow.gif" width=26 height=26 align=bottom border=0 alt="Previous | "></a><a
href="mouselistener.html"><img src="http://docs.rinet.ru/OLDui/images/NextArrow.gif" width=26 height=26 align=bottom border=0 alt="Next | "></a><a
href="http://docs.rinet.ru:8080/OLDui/trailmap.html"><img src="http://docs.rinet.ru/OLDui/images/WayUpArrow.gif" width=26 height=26 align=bottom border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/OLDui/images/uiHeader.gif" width=26 height=26 align=bottom border=0 alt="Creating a User Interface (AWT Only) | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Components, the GUI Building Blocks</em></strong></a>
</td>
</tr>
</table>
<p>
<center>
<IMG SRC="http://docs.rinet.ru/OLDui/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
<IMG SRC="http://docs.rinet.ru/OLDui/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
</center>
<p> 

<h2>
    Writing a Key Listener
</h2>
<p>
<blockquote>

Key events tell you
when the user types at the keyboard.
Specifically, key events are generated
by the component with the keyboard focus
when the user presses or releases keyboard keys.
(For information about focus,
see the focus discussion in
<a href="focuslistener.html">Writing a Focus Listener</a>.)

<p>

You can be notified about
two basic kinds of key events:
the typing of a Unicode character,
and the pressing or releasing of a key on the keyboard.
The first kind of event is called a 
<em>key typed</em> event.
The second kind are
<em>key pressed</em> and <em>key released</em> events.

<p>

In general, 
you should try to use key typed events
unless you need to know 
when the user presses keys
that don't correspond to characters.
For example,
if you want to know when the user types some Unicode character --
even one that results from the user pressing 
several keys in sequence --
listen for key typed events.
On the other hand,
if you want to know when the user 
presses the F1 character,
you need to listen for key pressed/released events.

<p>

<blockquote>
<hr>
<strong>Note:</strong>
To generate keyboard events,
a component <em>must</em> have the keyboard focus.
<hr>
</blockquote>

<p>

To make a component get the keyboard focus,
follow these steps:

<ol>
<li> Make sure the component
     that the user will be typing into
     can get the keyboard focus.
     For example, on some systems, labels
     might not be able to get the keyboard focus.
<li> Make sure that the component requests the focus 
     when appropriate.  For custom components, you'll probably need to
     implement a <code>MouseListener</code> 
     that calls the <code>requestFocus</code> method
     when the component is clicked.
<li> If you're writing a custom component,
     implement the component's <code>isFocusTraversable</code> method
     so that it returns true.
     This lets the user tab to your component.
</ol>


<h4>Key Event Methods</h4>
<blockquote>

The
<a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.event.KeyListener.html"><code>KeyListener</code></a><a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.event.KeyListener.html"><img src="http://docs.rinet.ru/OLDui/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a> interface 
and its corresponding adapter class, 
<a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.event.KeyAdapter.html"><code>KeyAdapter</code></a><a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.event.KeyAdapter.html"><img src="http://docs.rinet.ru/OLDui/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a>, contain three methods:

<dl>
<dt> <code>void keyTyped(KeyEvent)</code>
<dd> Called by the AWT
     just after the user types a Unicode character
     into the listened-to component.
<dt> <code>void keyPressed(KeyEvent)</code>
<dd> Called by the AWT
     just after the user presses a key on the keyboard.
<dt> <code>void keyReleased(KeyEvent)</code>
<dd> Called by the AWT
     just after the user releases a key on the keyboard.
</dl>

</blockquote>
<h4>Examples of Handling Key Events</h4>
<blockquote>

The following applet demonstrates key events.
It consists of a text field that you can type into,
followed by a text area 
that displays a message every time 
the text field fires a key event.
A button at the bottom of the applet 
lets you clear both the text field and text area.

<p>
<applet codebase="http://docs.rinet.ru:8080/OLDui/OLDui/components/example-1dot1/" 
	code="KeyEventDemo.class"
	width=400 height=200
	alt="Your browser understands the applet tag but isn't displaying any applet.">
</applet>
<p>

<blockquote><hr><strong>Note:</strong> The above applet requires JDK 1.1. If you are using an older browser that does not support 1.1, you won't be able to run the applet. Instead, you need to view this page in a 1.1-compliant browser, such as HotJava or the JDK Applet Viewer (<code>appletviewer</code>).<hr></blockquote>
<blockquote>
<hr>
<strong>Try this:</strong>
<ol>
<li> Click in the applet's text field
     so that it gets the keyboard focus.
<li> Press and release the A key on the keyboard.
     <br>
     The text field fires three events:
     a key pressed event, a key typed event, and a key released event.
     Note that the key typed event doesn't have key code information;
     they also don't have modifier information.
     If you care only about which characters the user types,
     you should handle key typed events.
     If you care about which keys the user presses/releases,
     you should handle key pressed/released events.
<li> Press the Clear button.
     <br>You might want to do this after each of the following steps.
<li> Press and release the Shift key.
     <br>
     The text field fires two events:
     a key pressed and a key released.
     The text field doesn't generate a key typed event
     because Shift, by itself, 
     doesn't correspond to any character.
<li> Type an uppercase A by pressing the Shift and A keys.
     <br>
     You'll see the following events,
     although perhaps not in this order:
     key press (Shift), key press (A), key typed ('A'),
     key release (A), key release (Shift).
<li> Type an uppercase A by pressing and releasing
     the Caps Lock key,
     and then pressing the A key.
     <br>
     You should see the following events:
     key press (Caps Lock), key press (A), key typed ('A'),
     key release (A).
     Notice that the Caps Lock key doesn't generate a key release event
     until you press and release it again.
     The same is true of other state keys, 
     such as Scroll Lock and Num Lock.
<li> Press and hold the A key.
     <br>
     Does it automatically repeat?
     If so, you'll see the same events
     that you would have seen
     if you pressed and released the A key repeatedly.
</ol>
<hr>
</blockquote>

<p>

You can find the applet's code in 
<a href="http://docs.rinet.ru/OLDui/OLDui/components/example-1dot1/KeyEventDemo.java">KeyEventDemo.java</a>.
Here is the applet's key event handling code:

<blockquote>
<pre>
public class KeyEventDemo ...  implements KeyListener ... {
    <em>...//where initialization occurs:</em>
	typingArea = new TextField(20);
	typingArea.addKeyListener(this);
    ...
    /** Handle the key typed event from the text field. */
    public void keyTyped(KeyEvent e) {
	displayInfo(e, "KEY TYPED: ");
    }

    /** Handle the key pressed event from the text field. */
    public void keyPressed(KeyEvent e) {
	displayInfo(e, "KEY PRESSED: ");
    }

    /** Handle the key released event from the text field. */
    public void keyReleased(KeyEvent e) {
	displayInfo(e, "KEY RELEASED: ");
    }
    ...
    protected void displayInfo(KeyEvent e, String s){
	...
	char c = e.getKeyChar();
	int keyCode = e.getKeyCode();
	int modifiers = e.getModifiers();
	...
	tmpString = KeyEvent.getKeyModifiersText(modifiers);

	<em>...//display information about the KeyEvent...</em>
    }
}
</pre>
</blockquote>


</blockquote>
<h4>The <code>KeyEvent</code> Class</h4>
<blockquote>
Each key event method has a single parameter: a
<a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.event.KeyEvent.html"><code>KeyEvent</code></a><a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.event.KeyEvent.html"><img src="http://docs.rinet.ru/OLDui/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a> object.
The <code>KeyEvent</code> class defines
the following useful methods:

<p>
<dl>
<dt><code>int getKeyChar()</code>
<dt><code>void setKeyChar(char)</code>
<dd>Get or set the Unicode character
    associated with this event. 

<p>

<dt><code>int getKeyCode()</code>
<dt><code>void setKeyCode(int)</code>
<dd>Get or set the key code associated
    with this event.
    The key code identifies the particular key
    on the keyboard that the user pressed or released.
    The <code>KeyEvent</code> class defines many key code constants
    for commonly seen keys.
    For example, <code>VK_A</code> specifies the key labeled <b>A</b>,
    and <code>VK_ESCAPE</code> specifies the ESCAPE key.

<p>

<dt><code>void setModifiers(int)</code>
<dd>Sets the state of the modifier keys for this event.
    Also see the <code>InputEvent</code>
    <code>getModifiers</code> method.
</dl>

Other potentially useful methods in <code>KeyEvent</code>
include methods that generate localizable text descriptions
of key codes and modifier keys.

<p>

The <code>KeyEvent</code> class extends 
<a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.event.InputEvent.html"><code>InputEvent</code></a><a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.event.InputEvent.html"><img src="http://docs.rinet.ru/OLDui/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a>, which extends 
<a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.event.ComponentEvent.html"><code>ComponentEvent</code></a><a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.event.ComponentEvent.html"><img src="http://docs.rinet.ru/OLDui/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a>.
<code>ComponentEvent</code> provides the handy
<code>getComponent</code> method.
<code>InputEvent</code> provides the following useful methods:

<p>
<dl>
<dt><code>int getWhen()</code>
<dd>Returns the timestamp of when this event occurred.
    The higher the timestamp,
    the more recently the event occurred. [CHECK!]

<p>

<dt><code>boolean isAltDown()</code>
<br><code>boolean isControlDown()</code>
<br><code>boolean isMetaDown()</code>
<br><code>boolean isShiftDown()</code>
<dd>Convenient methods giving you the state of the modifier keys
    when the event was generated.

<p>

<dt><code>int getModifiers()</code>
<dd>Returns a flag indicating the state of all the modifier keys
    when the event was generated.
</dl>

</blockquote>
</blockquote>
<p>
<hr size=4>
<p> 
<table width="100%">
<tr>
<td align=left>
<a href="itemlistener.html"><img src="http://docs.rinet.ru/OLDui/images/PreviousArrow.gif" width=26 height=26 align=top border=0 alt="Previous | "></a><a
href="mouselistener.html"><img src="http://docs.rinet.ru/OLDui/images/NextArrow.gif" width=26 height=26 align=top border=0 alt="Next | "></a><a
href="http://docs.rinet.ru:8080/OLDui/trailmap.html"><img src="http://docs.rinet.ru/OLDui/images/WayUpArrow.gif" width=26 height=26 align=top border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/OLDui/images/uiHeader.gif" width=26 height=26 align=top border=0 alt="Creating a User Interface (AWT Only) | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Components, the GUI Building Blocks</em></strong></a>
</td>
</tr>
</table>
</body>
</html>
