










<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<!--NewPage-->
<html>
<head>
<title>How to Use Labels</title>
</head>
<body BGCOLOR="#ffffff">








<table width="100%">
<tr>
<td align=left>
<a href="frame.html"><img src="http://docs.rinet.ru/OLDui/images/PreviousArrow.gif" width=26 height=26 align=bottom border=0 alt="Previous | "></a><a
href="list.html"><img src="http://docs.rinet.ru/OLDui/images/NextArrow.gif" width=26 height=26 align=bottom border=0 alt="Next | "></a><a
href="http://docs.rinet.ru:8080/OLDui/trailmap.html"><img src="http://docs.rinet.ru/OLDui/images/WayUpArrow.gif" width=26 height=26 align=bottom border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/OLDui/images/uiHeader.gif" width=26 height=26 align=bottom border=0 alt="Creating a User Interface (AWT Only) | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Components, the GUI Building Blocks</em></strong></a>
</td>
</tr>
</table>
<p>
<center>
<IMG SRC="http://docs.rinet.ru/OLDui/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
<IMG SRC="http://docs.rinet.ru/OLDui/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
</center>
<p> 

<h2>
    How to Use Labels
</h2>
<p>
<blockquote>

The
<a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.Label.html">Label</a><a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.Label.html"><img src="http://docs.rinet.ru/OLDui/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a> class provides an easy way
of putting unselectable text in your program's GUI.
Labels are aligned to the left of their drawing area, by default.
You can specify that they be centered or right-aligned
by specifying Label.CENTER or Label.RIGHT
either to the Label constructor
or to the <code>setAlignment()</code> method.
As with every Component,
you can also specify the font and color of a Label.
For information on working with fonts, see 
<a target="_top" href="..\drawing\drawingtext.html#fontMetrics">Getting Information about a Font: FontMetrics</a><a target="_top" href="..\drawing\drawingtext.html#fontMetrics"><img src="http://docs.rinet.ru/OLDui/images/uiIcon.gif" width=20 height=20 border=0 alt="(in the Creating a User Interface trail)"></a>.

<p>

Labels are used throughout the examples in this tutorial.
For example, in 
<a href=choice.html>How to Use Choices</a>,
the example applet uses a label 
to display information about the item that's currently chosen.

<p>

Here's an applet that demonstrates label alignment:

<applet codebase=http://docs.rinet.ru:8080/OLDui/OLDui/components/example/ code=LabelAlignDemo.class width=150 height=100>
<blockquote><IMG SRC="http://docs.rinet.ru/OLDui/figures/ui/13ui19.gif" WIDTH="144" HEIGHT="97" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT=""></blockquote></applet>

<blockquote>
<hr>
<strong>Note:</strong>
This applet's code requires no changes to compile cleanly in 1.1.
<hr>
</blockquote>

The applet creates three labels,
each one with a different alignment.
If each label's display area were equal
to the width of the text the label displayed,
you wouldn't see any difference in the alignment of the labels.
Each label's text would simply be displayed
using all the available space.
However, this applet makes each label's display area 
as wide as the applet,
which is wider than any of the labels' text.
As a result, you can see a difference in the horizontal position
of the text drawn by the three labels.
Here's the
<a href=http://docs.rinet.ru/OLDui/OLDui/components/example/LabelAlignDemo.java>whole program</a>.

<p>

Below is the code that the applet
uses to create its labels 
and set their alignment.
For teaching purposes only,
this applet uses all three Label constructors.

<blockquote>
<pre>
Label label1 = new Label();
label1.setText("Left");
Label label2 = new Label("Center");
label2.setAlignment(Label.CENTER);
Label label3 = new Label("Right", Label.RIGHT);
</pre>
</blockquote>

Besides the constructor, <code>setText()</code>, and 
<code>setAlignment()</code> methods used above,
the Label class also provides
<code>getText()</code> and 
<code>getAlignment()</code> methods.

</blockquote>
<p>
<hr size=4>
<p> 
<table width="100%">
<tr>
<td align=left>
<a href="frame.html"><img src="http://docs.rinet.ru/OLDui/images/PreviousArrow.gif" width=26 height=26 align=top border=0 alt="Previous | "></a><a
href="list.html"><img src="http://docs.rinet.ru/OLDui/images/NextArrow.gif" width=26 height=26 align=top border=0 alt="Next | "></a><a
href="http://docs.rinet.ru:8080/OLDui/trailmap.html"><img src="http://docs.rinet.ru/OLDui/images/WayUpArrow.gif" width=26 height=26 align=top border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/OLDui/images/uiHeader.gif" width=26 height=26 align=top border=0 alt="Creating a User Interface (AWT Only) | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Components, the GUI Building Blocks</em></strong></a>
</td>
</tr>
</table>
</body>
</html>
