










<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<!--NewPage-->
<html>
<head>
<title>How to Use Lists</title>
</head>
<body BGCOLOR="#ffffff">








<table width="100%">
<tr>
<td align=left>
<a href="label.html"><img src="http://docs.rinet.ru/OLDui/images/PreviousArrow.gif" width=26 height=26 align=bottom border=0 alt="Previous | "></a><a
href="menu.html"><img src="http://docs.rinet.ru/OLDui/images/NextArrow.gif" width=26 height=26 align=bottom border=0 alt="Next | "></a><a
href="http://docs.rinet.ru:8080/OLDui/trailmap.html"><img src="http://docs.rinet.ru/OLDui/images/WayUpArrow.gif" width=26 height=26 align=bottom border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/OLDui/images/uiHeader.gif" width=26 height=26 align=bottom border=0 alt="Creating a User Interface (AWT Only) | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Components, the GUI Building Blocks</em></strong></a>
</td>
</tr>
</table>
<p>
<center>
<IMG SRC="http://docs.rinet.ru/OLDui/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
<IMG SRC="http://docs.rinet.ru/OLDui/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
</center>
<p> 

<h2>
    How to Use Lists
</h2>
<p>
<blockquote>

The
<a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.List.html">List</a><a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.List.html"><img src="http://docs.rinet.ru/OLDui/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a> class provides a scrollable area
containing selectable text items (one per line).
Generally, a user selects an item by clicking it,
and indicates that an action should occur by double-clicking an item
or pressing Return.
Lists can allow either multiple selections or
just one selection at a time.
Other components that allow users to choose from multiple options are 
<a href=checkbox.html>checkboxes</a>,
<a href=choice.html>choices</a>, and
<a href=menu.html>menus</a>.


<p>

Below is an applet that shows two lists,
along with a text area that displays information about events.
The top list (which lists Spanish numbers)
allows multiple selections.
The bottom (which lists Italian numbers)
allows a maximum of one selection.
Note that the first item in each list has index 0.

<p>

<applet codebase=http://docs.rinet.ru:8080/OLDui/OLDui/components/example code=ListDemo.class width=500 height=150>

<blockquote><IMG SRC="http://docs.rinet.ru/OLDui/figures/ui/ListDemo.gif" WIDTH="500" HEIGHT="150" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT=""></blockquote>
</applet>

<blockquote><hr><strong>Note:</strong> Because some old browsers don't support 1.1, the above applet is a <em>1.0</em> version (here is the <a href="http://docs.rinet.ru/OLDui/OLDui/components/example/ListDemo.java">1.0 code</a>; here's the <a href="http://docs.rinet.ru/OLDui/OLDui/components/example-1dot1/ListDemo.java">1.1 code</a>).  To run the <em>1.1</em> version of the applet, go to <a href="example-1dot1\listdemo.html"><code>example-1dot1/ListDemo.html</code></a>. <hr></blockquote><p>

Below is the code that creates each list
and handles events on the lists.
(Here's the
<a href=http://docs.rinet.ru/OLDui/OLDui/components/example-1dot1/ListDemo.java>whole program</a>.)
Note that the <code>e.arg</code> data for action events 
(which is passed into the <code>action()</code> method
as the second argument)
is the name of the acted-on item,
similar to the argument for action events on other components
such as buttons and even menus.
However, the <code>e.arg</code> data for non-action list events 
is the <em>index</em> of the acted-on item.

<blockquote>
<pre>
    <em>...//Where instance variables are declared:</em>
    TextArea output;
    List spanish, italian; 

    <em>...//Where initialization occurs:</em>

    //Build first list, which allows multiple selections.
    spanish = new List(4, true); //prefer 4 items visible
    spanish.addItem("uno");
    spanish.addItem("dos");
    spanish.addItem("tres");
    spanish.addItem("cuatro");
    spanish.addItem("cinco");
    spanish.addItem("seis");
    spanish.addItem("siete");

    //Build second list, which allows one selection at a time.
    italian = new List(); //Defaults to none visible, only one selectable
    italian.addItem("uno");
    italian.addItem("due");
    italian.addItem("tre");
    italian.addItem("quattro");
    italian.addItem("cinque");
    italian.addItem("sei");
    italian.addItem("sette");

. . .

public boolean action(Event e, Object arg) {
    if (e.target instanceof List) {
        String language = (e.target == spanish) ?
                          "Spanish" : "Italian";
        output.appendText("Action event occurred on \""
                          + (String)arg  + "\" in "
                          + language + ".\n");
    }
    return true;
}

public boolean handleEvent(Event e) {
    if (e.target instanceof List) {
        List list = (List)(e.target);
        String language = (list == spanish) ?
                          "Spanish" : "Italian";
        switch (e.id) {
          case Event.LIST_SELECT:
            int sIndex = ((Integer)e.arg).intValue();
            output.appendText("Select event occurred on item #"
                                  + sIndex + " (\""
                                  + list.getItem(sIndex)  + "\") in "
                              + language + ".\n");
            break;
          case Event.LIST_DESELECT:
            int dIndex = ((Integer)e.arg).intValue();
            output.appendText("Deselect event occurred on item #"
                                  + dIndex + " (\""
                                  + list.getItem(dIndex)  + "\") in "
                              + language + ".\n");
        }
    }
    return super.handleEvent(e);
}
</pre>
</blockquote>

Besides the two constructors and the 
<code>addItem()</code> and
<code>getItem()</code> methods
shown above,
List provides the following handy methods:
<dl>
<dt> <code>int countItems()</code>
<dd> Returns the number of items in the List.
<dt> <code>String getItem(int)</code>
<dd> Returns the string displayed by the item at the specified index.
<dt> <code>void addItem(String, int)</code>
<dd> Adds the specified item at the specified index.
<dt> <code>void replaceItem(String, int)</code>
<dd> Replaces the item at the specified index.
<dt> <code>void clear()</code>,
     <code>void delItem(int)</code>,
     <code>void delItems(int, int)</code>
<dd> Delete one or more items from the list.
     The <code>clear()</code> method empties the list.
     The <code>delItem()</code> method deletes the specified item
     from the list.
     The <code>delItems()</code> method deletes every item between
     (and including) the specified indexes from the list.
<dt> <code>int getSelectedIndex()</code>
<dd> Returns the index of the selected item in the list.
     Returns -1 if no item is selected or more than one item is selected.
<dt> <code>int[] getSelectedIndexes()</code>
<dd> Returns the indexes of the selected items in the list.
<dt> <code>String getSelectedItem()</code>
<dd> Like <code>getSelectedIndex()</code>,
     but returns the selected item's String instead of its index.
     Returns null if no item is selected or more than one item is selected.
<dt> <code>String[] getSelectedItems()</code>
<dd> Like <code>getSelectedIndexes()</code>,
     but returns the selected items' Strings instead of their indexes.
<dt> <code>void select(int)</code>, <code>void deselect(int)</code>
<dd> Selects or deselects the item at the specified index.
<dt> <code>boolean isSelected(int)</code>
<dd> Returns true if the item at the specified index is selected.
<dt> <code>int getRows()</code>
<dd> Returns the number of visible lines in the list.
<dt> <code>boolean allowsMultipleSelections()</code>,
     <code>boolean setMultipleSelections()</code>
<dd> Returns or sets whether the list allows multiple items to be selected
     ("on") at the same time.
<dt> <code>int getVisibleIndex()</code>,
     <code>void makeVisible(int)</code>,
<dd> The <code>makeVisible()</code> method
     forces the item at the specified index to be visible.
     The <code>getVisibleIndex()</code> method
     gets the index of the item that was last made visible
     by the <code>makeVisible()</code> method.
</dl>

</blockquote>
<p>
<hr size=4>
<p> 
<table width="100%">
<tr>
<td align=left>
<a href="label.html"><img src="http://docs.rinet.ru/OLDui/images/PreviousArrow.gif" width=26 height=26 align=top border=0 alt="Previous | "></a><a
href="menu.html"><img src="http://docs.rinet.ru/OLDui/images/NextArrow.gif" width=26 height=26 align=top border=0 alt="Next | "></a><a
href="http://docs.rinet.ru:8080/OLDui/trailmap.html"><img src="http://docs.rinet.ru/OLDui/images/WayUpArrow.gif" width=26 height=26 align=top border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/OLDui/images/uiHeader.gif" width=26 height=26 align=top border=0 alt="Creating a User Interface (AWT Only) | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Components, the GUI Building Blocks</em></strong></a>
</td>
</tr>
</table>
</body>
</html>
