










<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<!--NewPage-->
<html>
<head>
<title>How to Use Menus</title>
</head>
<body BGCOLOR="#ffffff">








<table width="100%">
<tr>
<td align=left>
<a href="list.html"><img src="http://docs.rinet.ru/OLDui/images/PreviousArrow.gif" width=26 height=26 align=bottom border=0 alt="Previous | "></a><a
href="panel.html"><img src="http://docs.rinet.ru/OLDui/images/NextArrow.gif" width=26 height=26 align=bottom border=0 alt="Next | "></a><a
href="http://docs.rinet.ru:8080/OLDui/trailmap.html"><img src="http://docs.rinet.ru/OLDui/images/WayUpArrow.gif" width=26 height=26 align=bottom border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/OLDui/images/uiHeader.gif" width=26 height=26 align=bottom border=0 alt="Creating a User Interface (AWT Only) | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Components, the GUI Building Blocks</em></strong></a>
</td>
</tr>
</table>
<p>
<center>
<IMG SRC="http://docs.rinet.ru/OLDui/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
<IMG SRC="http://docs.rinet.ru/OLDui/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
</center>
<p> 

<h2>
    How to Use Menus
</h2>
<p>
<blockquote>

The following applet shows many of the menu features
you're likely to use.
The window it brings up
has a menu bar that contains five menus.
Each menu contains one or more items.
Menu 1 is a tear-off menu;
by clicking the dashed line,
the user creates a new window
that contains the same menu items as Menu 1.
(Currently, tear-off menus 
are implemented only on the Solaris platform,
not in Windows 95/NT or MacOS.)
Menu 2's only item has a checkbox.
Menu 3 contains a separator between its
second and third items.
Menu 4 contains a submenu.
Menu 5 is the window's help menu,
which (depending on the platform) 
generally means that it's set off to the right.
When the user clicks on any menu item,
the window displays a string
indicating which item was clicked and what menu it's in.

<p>

<applet codebase=http://docs.rinet.ru:8080/OLDui/OLDui/components/example code=AppletButton.class width=350 height=60>
<param name=windowClass value=MenuWindow>
<param name=windowTitle value="Menu Demo">
<param name=buttonText value="Click here to see menus">
<param name=windowWidth value=500>
<param name=windowHeight value=130>
<blockquote>
<hr>
Your browser doesn't understand the &lt;APPLET&gt; tag.
Here's a snapshot of the window the button brings up:
<blockquote><IMG SRC="http://docs.rinet.ru/OLDui/figures/ui/13ui1a.gif" WIDTH="419" HEIGHT="108" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT=""></blockquote><p>

When you press Menu 1, you can see a tear-off indicator:
<blockquote><IMG SRC="http://docs.rinet.ru/OLDui/figures/ui/13ui2a.gif" WIDTH="413" HEIGHT="151" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT=""></blockquote>
<p>
Here's what the torn off menu looks like:
<blockquote><IMG SRC="http://docs.rinet.ru/OLDui/figures/ui/13ui3a.gif" WIDTH="409" HEIGHT="121" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT=""></blockquote>
<p>
Menu 2 has an item with a checkbox:
<blockquote><IMG SRC="http://docs.rinet.ru/OLDui/figures/ui/13ui4a.gif" WIDTH="452" HEIGHT="141" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT=""></blockquote>

<p>
Menu 3 has a separator:
<blockquote><IMG SRC="http://docs.rinet.ru/OLDui/figures/ui/13ui5a.gif" WIDTH="397" HEIGHT="171" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT=""></blockquote>
<p>
Menu 4 has a submenu:
<blockquote><IMG SRC="http://docs.rinet.ru/OLDui/figures/ui/13ui6a.gif" WIDTH="395" HEIGHT="150" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT=""></blockquote>
<hr>
</blockquote>
</applet>

<blockquote><hr><strong>Note:</strong> Because some old browsers don't support 1.1, the above applet is a <em>1.0</em> version (here is the <a href="http://docs.rinet.ru/OLDui/OLDui/components/example/MenuWindow.java">1.0 code</a>; here's the <a href="http://docs.rinet.ru/OLDui/OLDui/components/example-1dot1/MenuWindow.java">1.1 code</a>).  To run the <em>1.1</em> version of the applet, go to <a href="example-1dot1\menuwindow.html"><code>example-1dot1/MenuWindow.html</code></a>. <hr></blockquote>
<p>

The reason the applet brings up a window
to demonstrate menus 
is that the AWT limits where you can use menus.
Menus can exist only in menu bars,
and menu bars can be attached only to windows
(specifically, to Frames).
<!--In theory, it's possible to write a MenuContainer
that a MenuBar, Menu, or MenuItem can be attached to.
In fact, though, the peer stuff probably wouldn't cooperate.-->

<blockquote>
<hr>
<strong>Note:</strong>
Popup menus, introduced in JDK 1.1, can appear
in any window.
<hr>
</blockquote>
<p>

If menus aren't appropriate or possible in your program,
you should look into other ways of 
presenting the user with options:
<a href=checkbox.html>checkboxes</a>,
<a href=choice.html>choices</a>, and
<a href=list.html>lists</a>.

<p>

Menu functionality in the AWT 
is provided by several classes.
These classes do <b>not</b> inherit from Component,
since many platforms place severe limits on menu capabilities.
Instead, menu classes inherit from the
<a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.MenuComponent.html">MenuComponent</a><a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.MenuComponent.html"><img src="http://docs.rinet.ru/OLDui/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a> class.  
The AWT provides the following MenuComponent subclasses to support menus:

<dl>
<dt>
<a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.MenuItem.html">MenuItem</a><a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.MenuItem.html"><img src="http://docs.rinet.ru/OLDui/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a><dd> Each item in a menu is represented by a MenuItem object.

<dt>
<a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.CheckboxMenuItem.html">CheckboxMenuItem</a><a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.CheckboxMenuItem.html"><img src="http://docs.rinet.ru/OLDui/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a><dd> Each menu item that contains a checkbox
     is represented by a CheckboxMenuItem object.
     CheckboxMenuItem is a subclass of MenuItem.

<dt> 
<a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.Menu.html">Menu</a><a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.Menu.html"><img src="http://docs.rinet.ru/OLDui/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a><dd> Each menu is represented by a
     Menu object.
     Menu is implemented as a subclass of MenuItem
     so that you can easily create a submenu
     by adding one menu to another.

<dt> 
<a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.MenuBar.html">MenuBar</a><a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.MenuBar.html"><img src="http://docs.rinet.ru/OLDui/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a><dd> Menu bars are implemented by the MenuBar class.
     A MenuBar represents the platform-dependent notion
     of a group of menus attached to a window.
     MenuBars can <em>not</em> be bound to Panels.

</dl>

<p>

To be able to contain a MenuComponent,
an object must adhere to the
<a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.MenuContainer.html">MenuContainer</a><a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.MenuContainer.html"><img src="http://docs.rinet.ru/OLDui/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a> interface.
The Frame, Menu, and MenuBar classes are the only AWT classes
that currently implement MenuContainer.

<p>

Here's the
<a href=http://docs.rinet.ru/OLDui/OLDui/components/example-1dot1/MenuWindow.java>code</a>
for the window that the above applet brings up.
This code can be run as a standalone application or,
with the help of the 
<a href=http://docs.rinet.ru/OLDui/OLDui/components/example/AppletButton.java>AppletButton</a> class,
as an applet.
Here's just the code that deals with menus:
<blockquote>
<pre>
public class MenuWindow extends Frame {
    . . .
    public MenuWindow() {
        MenuBar mb;
        Menu m1, m2, m3, m4, m4_1, m5;
        MenuItem mi1_1, mi1_2, mi3_1, mi3_2, mi3_3, mi3_4,
                 mi4_1_1, mi5_1, mi5_2;
        CheckboxMenuItem mi2_1;

        <em>...//Add the output displayer to this window...</em>

        //Build the menu bar.
        mb = new MenuBar();
        setMenuBar(mb);
    
        //Build first menu in the menu bar.
	//Specifying the second argument as true
	//makes this a tear-off menu.
        m1 = new Menu("Menu 1", true);
        mb.add(m1);
        mi1_1 = new MenuItem("Menu Item 1_1");
        m1.add(mi1_1);
        mi1_2 = new MenuItem("Menu Item 1_2");
        m1.add(mi1_2);

        //Build help menu.
        m5 = new Menu("Menu 5");
        mb.add(m5); //just setting the help menu doesn't work; must add it
        mb.setHelpMenu(m5);
        mi5_1 = new MenuItem("Menu Item 5_1");
        m5.add(mi5_1);
        mi5_2 = new MenuItem("Menu Item 5_2");
        m5.add(mi5_2);

        //Build second menu in the menu bar.
        m2 = new Menu("Menu 2");
        mb.add(m2);
        mi2_1 = new CheckboxMenuItem("Menu Item 2_1");
        m2.add(mi2_1);
    
        //Build third menu in the menu bar.
        m3 = new Menu("Menu 3");
        mb.add(m3);
        mi3_1 = new MenuItem("Menu Item 3_1");
        m3.add(mi3_1);
        mi3_2 = new MenuItem("Menu Item 3_2");
        m3.add(mi3_2);
        m3.addSeparator();
        mi3_3 = new MenuItem("Menu Item 3_3");
        m3.add(mi3_3);
        mi3_4 = new MenuItem("Menu Item 3_4");
        mi3_4.disable();
        m3.add(mi3_4);

        //Build fourth menu in the menu bar.
        m4 = new Menu("Menu 4");
        mb.add(m4);
        m4_1 = new Menu("Submenu 4_1");
        m4.add(m4_1);
        mi4_1_1 = new MenuItem("Menu Item 4_1_1");
        m4_1.add(mi4_1_1);
    }
    . . .
    public boolean action(Event event, Object arg) {
        String str = "Action detected";

        if (event.target instanceof MenuItem) {
            MenuItem mi=(MenuItem)(event.target);
            str += " on " + arg;
            if (mi instanceof CheckboxMenuItem) {
                    str += " (state is " 
                           + ((CheckboxMenuItem)mi).getState()
                           + ")";
            }
            MenuContainer parent = mi.getParent();
            if (parent instanceof Menu) {
                str += " in " + ((Menu)parent).getLabel();
            } else {
                str += " in a container that isn't a Menu";
            }
        }
        str += ".\n";
        <em>...//Display the string in the output area...</em>
        return false;
    }
</pre>
</blockquote>

</blockquote>
<p>
<hr size=4>
<p> 
<table width="100%">
<tr>
<td align=left>
<a href="list.html"><img src="http://docs.rinet.ru/OLDui/images/PreviousArrow.gif" width=26 height=26 align=top border=0 alt="Previous | "></a><a
href="panel.html"><img src="http://docs.rinet.ru/OLDui/images/NextArrow.gif" width=26 height=26 align=top border=0 alt="Next | "></a><a
href="http://docs.rinet.ru:8080/OLDui/trailmap.html"><img src="http://docs.rinet.ru/OLDui/images/WayUpArrow.gif" width=26 height=26 align=top border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/OLDui/images/uiHeader.gif" width=26 height=26 align=top border=0 alt="Creating a User Interface (AWT Only) | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Components, the GUI Building Blocks</em></strong></a>
</td>
</tr>
</table>
</body>
</html>
