










<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<!--NewPage-->
<html>
<head>
<title>Writing a Mouse Listener</title>
</head>
<body BGCOLOR="#ffffff">








<table width="100%">
<tr>
<td align=left>
<a href="keylistener.html"><img src="http://docs.rinet.ru/OLDui/images/PreviousArrow.gif" width=26 height=26 align=bottom border=0 alt="Previous | "></a><a
href="mousemotionlistener.html"><img src="http://docs.rinet.ru/OLDui/images/NextArrow.gif" width=26 height=26 align=bottom border=0 alt="Next | "></a><a
href="http://docs.rinet.ru:8080/OLDui/trailmap.html"><img src="http://docs.rinet.ru/OLDui/images/WayUpArrow.gif" width=26 height=26 align=bottom border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/OLDui/images/uiHeader.gif" width=26 height=26 align=bottom border=0 alt="Creating a User Interface (AWT Only) | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Components, the GUI Building Blocks</em></strong></a>
</td>
</tr>
</table>
<p>
<center>
<IMG SRC="http://docs.rinet.ru/OLDui/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
<IMG SRC="http://docs.rinet.ru/OLDui/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
</center>
<p> 

<h2>
    Writing a Mouse Listener
</h2>
<p>
<blockquote>

Mouse events tell you
when the user uses the mouse
(or similar input device)
to interact with a component.
Mouse events occur when 
the cursor enters or exits a component's on-screen area
and when the user presses or releases 
the mouse button.
Because tracking the cursor's motion
involves significantly more system overhead
than tracking other mouse events,
mouse motion events are separated 
into a separate listener type 
(see <a href="mousemotionlistener.html">Writing a Mouse Motion Listener</a>).

<p>



<h4>Mouse Event Methods</h4>
<blockquote>

The
<a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.event.MouseListener.html"><code>MouseListener</code></a><a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.event.MouseListener.html"><img src="http://docs.rinet.ru/OLDui/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a> interface 
and its corresponding adapter class, 
<a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.event.MouseAdapter.html"><code>MouseAdapter</code></a><a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.event.MouseAdapter.html"><img src="http://docs.rinet.ru/OLDui/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a>, contain three methods:

<dl>
<dt> <code>void mouseClicked(MouseEvent)</code>
<dd> Called by the AWT
     just after the user clicks the listened-to component.
<dt> <code>void mouseEntered(MouseEvent)</code>
<dd> Called by the AWT
     just after the cursor enters the bounds
     of the listened-to component.
<dt> <code>void mouseExited(MouseEvent)</code>
<dd> Called by the AWT
     just after the cursor leaves the bounds
     of the listened-to component.
<dt> <code>void mousePressed(MouseEvent)</code>
<dd> Called by the AWT
     just after the user presses a mouse button
     while the cursor is over the listened-to component.
<dt> <code>void mouseReleased(MouseEvent)</code>
<dd> Called by the AWT
     just after the user releases a mouse button
     after a mouse press over the listened-to component.
</dl>

<p>

One complication affects mouse-entered,
mouse-exited, and mouse-released events.
When the user drags 
(presses and holds the mouse button and then moves the mouse),
then the component that the cursor was over
when the drag started
is the one that receives all subsequent mouse and mouse-motion events
up to and including the mouse button release.
That means that no other component
will receive a single mouse event --
not even a mouse-released event --
while the drag is occurring.


</blockquote>
<h4>Examples of Handling Mouse Events</h4>
<blockquote>

The following applet demonstrates mouse events.
At the top of the applet
is a blank area
(implemented, strangely enough, 
by a class named <code>BlankArea</code>).
A mouse listener listens for events 
both on the <code>BlankArea</code>
and on its container,
which is an instance of <code>MouseEventDemo</code>.
Each time a mouse event occurs,
a descriptive message is displayed 
under the blank area.
By moving the cursor on top of the blank area
and clicking mouse buttons occasionally,
you can see when mouse events are generated.

<p>
<applet codebase="http://docs.rinet.ru:8080/OLDui/OLDui/components/example-1dot1/" 
	code="MouseEventDemo.class"
	width=450 height=200
	alt="Your browser understands the applet tag but isn't displaying any applet.">
</applet>
<p>

<blockquote><hr><strong>Note:</strong> The above applet requires JDK 1.1. If you are using an older browser that does not support 1.1, you won't be able to run the applet. Instead, you need to view this page in a 1.1-compliant browser, such as HotJava or the JDK Applet Viewer (<code>appletviewer</code>).<hr></blockquote>
<blockquote>
<hr>
<strong>Try this:</strong>
<ol>
<li> Move the cursor into the rectangle
     at the top of the applet.
     <br>
     You'll see one or more mouse enter events.
<li> Press and hold the mouse button.
     <br>
     You'll see a mouse press event.
     You might see some extra mouse events,
     such as mouse exit and then enter.
<li> Release the mouse button.
     <br>
     You'll see a mouse release event.
     If you didn't move the mouse,
     a mouse click event will follow.
<li> Press and hold the mouse button,
     and then drag the mouse so that the cursor ends up
     outside the applet's area.
     Release the mouse button.
     <br>
     You'll see a mouse press event,
     followed by a mouse exit event,
     followed by a mouse release event.
     You are <em>not</em> notified
     of the cursor's motion.
     To get mouse motion events,
     you need to implement a 
     <a href="mousemotionlistener.html">mouse motion listener.</a>
</ol>
<hr>
</blockquote>

You can find the applet's code in
<a href="http://docs.rinet.ru/OLDui/OLDui/components/example-1dot1/MouseEventDemo.java"><code>MouseEventDemo.java</code></a>
and
<a href="http://docs.rinet.ru/OLDui/OLDui/components/example-1dot1/BlankArea.java"><code>BlankArea.java</code></a>.
Here is the applet's mouse event handling code:

<blockquote>
<pre>
public class MouseEventDemo ... implements MouseListener {
	<em>...//where initialization occurs:</em>
        //Register for mouse events on blankArea and applet (panel).
        blankArea.addMouseListener(this);
        addMouseListener(this);
    ...

    public void mousePressed(MouseEvent e) {
       saySomething("Mouse button press", e);
    }

    public void mouseReleased(MouseEvent e) {
       saySomething("Mouse button release", e);
    }

    public void mouseEntered(MouseEvent e) {
       saySomething("Cursor enter", e);
    }

    public void mouseExited(MouseEvent e) {
       saySomething("Cursor exit", e);
    }

    public void mouseClicked(MouseEvent e) {
       saySomething("Mouse button click", e);
    }

    void saySomething(String eventDescription, MouseEvent e) {
        textArea.append(eventDescription + " detected on "
                        + e.getComponent().getClass().getName()
                        + ".\n");
        textArea.setCaretPosition(maxInt); //scroll to bottom
    }
}
</pre>
</blockquote>

<p>

You can find more examples of mouse listeners
in the following source files:

<ul>
<li><a href="http://docs.rinet.ru:8080/OLDui/applet/overview/example-1dot1/SimpleClick.java"><code>SimpleClick.java</code></a>
<li><a href="http://docs.rinet.ru/OLDui/OLDui/drawing/example-1dot1/CoordinatesDemo.java"><code>CoordinatesDemo.java</code></a>
<li><a href="http://docs.rinet.ru/OLDui/OLDui/drawing/example-1dot1/RectangleDemo.java"><code>RectangleDemo.java</code></a>
<li><a href="http://docs.rinet.ru/OLDui/OLDui/drawing/example-1dot1/AnimatorApplet.java"><code>AnimatorApplet.java</code></a>
<li><a href="http://docs.rinet.ru/OLDui/OLDui/drawing/example-1dot1/AnimatorApplication.java"><code>AnimatorApplication.java</code></a>
</ul>

<p>

</blockquote>
<h4>The <code>MouseEvent</code> Class</h4>
<blockquote>
Each mouse event method has a single parameter: a
<a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.event.MouseEvent.html"><code>MouseEvent</code></a><a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.event.MouseEvent.html"><img src="http://docs.rinet.ru/OLDui/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a> object.
The <code>MouseEvent</code> class defines
the following useful methods:

<p>
<dl>
<dt><code>int getClickCount()</code>
<dd>Returns the number of quick, consecutive clicks the user has made
    (including this event).
<p>
<dt><code>int getX()</code>
<dt><code>int getY()</code>
<dt><code>Point getPoint()</code>
<dd>Return the (x,y) position
    at which the event occurred,
    relative to the component over which the event occurred.
<dt><code>boolean isPopupTrigger()</code>
<dd>Returns true if the mouse event should cause a popup menu
    to appear.  Because popup triggers are platform dependent,
    if your program uses popup menus,
    you should call <code>isPopupTrigger</code>
    for both mouse down and mouse up events.
</dl>
<p>

The <code>MouseEvent</code> class extends 
<a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.event.InputEvent.html"><code>InputEvent</code></a><a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.event.InputEvent.html"><img src="http://docs.rinet.ru/OLDui/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a>, which extends 
<a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.event.ComponentEvent.html"><code>ComponentEvent</code></a><a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.event.ComponentEvent.html"><img src="http://docs.rinet.ru/OLDui/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a>.
<code>ComponentEvent</code> provides the handy
<code>getComponent</code> method.
<code>InputEvent</code> provides the following useful methods:
<p>
<dl>
<dt><code>int getWhen()</code>
<dd>Returns the timestamp of when this event occurred.
    The higher the timestamp,
    the more recently the event occurred.
<p>
<dt><code>boolean isAltDown()</code>
<br><code>boolean isControlDown()</code>
<br><code>boolean isMetaDown()</code>
<br><code>boolean isShiftDown()</code>
<dd>Convenient methods giving you the state of the modifier keys
    when the event was generated.
<p>
<dt><code>int getModifiers()</code>
<dd>Returns a flag indicating the state of all the modifiers
    when the event was generated.
    Besides the modifier keys, 
    this flag indicates which mouse button was pressed. 
    For example, the following expression is true if
    the right button was pressed:
<blockquote>
<pre>
(mouseEvent.getModifiers() & InputEvent.BUTTON3_MASK)
== InputEvent.BUTTON3_MASK
</pre>
</blockquote>

   The 
<a target="_top" href="http://java.sun.com/products/jfc/swingdoc-current/api/com.sun.java.swing.SwingUtilities.html"><code>SwingUtilities</code></a><a target="_top" href="http://java.sun.com/products/jfc/swingdoc-current/api/com.sun.java.swing.SwingUtilities.html"><img src="http://docs.rinet.ru/OLDui/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a>   class 
   contains convenience methods for determining whether 
   a particular mouse button has been pressed:

   <dl>
   <dt><code>static boolean isLeftMouseButton(MouseEvent)</code>
   <br><code>static boolean isMiddleMouseButton(MouseEvent)</code>
   <br><code>static boolean isRightMouseButton(MouseEvent)</code>
   </dl>

</dl>

</blockquote>
</blockquote>
<p>
<hr size=4>
<p> 
<table width="100%">
<tr>
<td align=left>
<a href="keylistener.html"><img src="http://docs.rinet.ru/OLDui/images/PreviousArrow.gif" width=26 height=26 align=top border=0 alt="Previous | "></a><a
href="mousemotionlistener.html"><img src="http://docs.rinet.ru/OLDui/images/NextArrow.gif" width=26 height=26 align=top border=0 alt="Next | "></a><a
href="http://docs.rinet.ru:8080/OLDui/trailmap.html"><img src="http://docs.rinet.ru/OLDui/images/WayUpArrow.gif" width=26 height=26 align=top border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/OLDui/images/uiHeader.gif" width=26 height=26 align=top border=0 alt="Creating a User Interface (AWT Only) | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Components, the GUI Building Blocks</em></strong></a>
</td>
</tr>
</table>
</body>
</html>
