










<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<!--NewPage-->
<html>
<head>
<title>How to Use Panels</title>
</head>
<body BGCOLOR="#ffffff">








<table width="100%">
<tr>
<td align=left>
<a href="menu.html"><img src="http://docs.rinet.ru/OLDui/images/PreviousArrow.gif" width=26 height=26 align=bottom border=0 alt="Previous | "></a><a
href="scrollbar.html"><img src="http://docs.rinet.ru/OLDui/images/NextArrow.gif" width=26 height=26 align=bottom border=0 alt="Next | "></a><a
href="http://docs.rinet.ru:8080/OLDui/trailmap.html"><img src="http://docs.rinet.ru/OLDui/images/WayUpArrow.gif" width=26 height=26 align=bottom border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/OLDui/images/uiHeader.gif" width=26 height=26 align=bottom border=0 alt="Creating a User Interface (AWT Only) | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Components, the GUI Building Blocks</em></strong></a>
</td>
</tr>
</table>
<p>
<center>
<IMG SRC="http://docs.rinet.ru/OLDui/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
<IMG SRC="http://docs.rinet.ru/OLDui/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
</center>
<p> 

<h2>
    How to Use Panels
</h2>
<p>
<blockquote>

The
<a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.Panel.html">Panel</a><a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.Panel.html"><img src="http://docs.rinet.ru/OLDui/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a> class is a general-purpose Container subclass.
You can use it as-is to hold Components,
or you can define a subclass
to perform special functionality,
such as event handling
for the objects the Panel contains.

<p>

The 
<a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.applet.Applet.html">Applet</a><a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.applet.Applet.html"><img src="http://docs.rinet.ru/OLDui/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a> class is a Panel subclass
with special hooks to run in a browser or other applet viewer.
Whenever you see a program
that can run both as an applet and as an application,
chances are that it defines an Applet subclass
but doesn't use any of the special Applet capabilities,
relying instead on the methods it inherits from the Panel class.

<p>

Here's an example of using a Panel instance
to hold some Components:
<blockquote>
<pre>
Panel p1 = new Panel();
p1.add(new Button("Button 1"));
p1.add(new Button("Button 2"));
p1.add(new Button("Button 3"));
</pre>
</blockquote>


Here's an example of a Panel subclass
that draws a frame around its contents.
Versions of this class are used by Examples 1 and 2 in
<a target="_top" href="..\drawing\drawingshapes.html">Drawing Shapes</a><a target="_top" href="..\drawing\drawingshapes.html"><img src="http://docs.rinet.ru/OLDui/images/uiIcon.gif" width=20 height=20 border=0 alt="(in the Creating a User Interface trail)"></a>.

<blockquote>
<pre>
class FramedArea extends Panel {
    public FramedArea(CoordinatesDemo controller) {
	...<em>//Set the layout manager.
	   //Add any Components this Panel contains...</em>
    }

    //Ensure that no Component is placed on top of the frame.
    //The inset values were determined by trial and error.
    public Insets insets() {
        return new Insets(4,4,5,5);
    }

    //Draw the frame at this Panel's edges.
    public void paint(Graphics g) {
        Dimension d = size();
        Color bg = getBackground();
 
        g.setColor(bg);
        g.draw3DRect(0, 0, d.width - 1, d.height - 1, true);
        g.draw3DRect(3, 3, d.width - 7, d.height - 7, false);
    }
}
</pre>
</blockquote>
<p>

Many of the examples in this lesson 
use Applet subclasses to handle events for the Components they contain.
You can see an example in
<a target="_top" href="dialog.html">How to Use Dialogs</a><a target="_top" href="dialog.html"><img src="http://docs.rinet.ru/OLDui/images/uiIcon.gif" width=20 height=20 border=0 alt="(in the Creating a User Interface trail)"></a>.
You can use the event handling in this and other examples
as a model for event handling in your own
Applet or Panel subclass.
     
</blockquote>
<p>
<hr size=4>
<p> 
<table width="100%">
<tr>
<td align=left>
<a href="menu.html"><img src="http://docs.rinet.ru/OLDui/images/PreviousArrow.gif" width=26 height=26 align=top border=0 alt="Previous | "></a><a
href="scrollbar.html"><img src="http://docs.rinet.ru/OLDui/images/NextArrow.gif" width=26 height=26 align=top border=0 alt="Next | "></a><a
href="http://docs.rinet.ru:8080/OLDui/trailmap.html"><img src="http://docs.rinet.ru/OLDui/images/WayUpArrow.gif" width=26 height=26 align=top border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/OLDui/images/uiHeader.gif" width=26 height=26 align=top border=0 alt="Creating a User Interface (AWT Only) | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Components, the GUI Building Blocks</em></strong></a>
</td>
</tr>
</table>
</body>
</html>
