










<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<!--NewPage-->
<html>
<head>
<title>Common Component Problems (and Their Solutions)</title>
</head>
<body BGCOLOR="#ffffff">








<table width="100%">
<tr>
<td align=left>
<a href="peer.html"><img src="http://docs.rinet.ru/OLDui/images/PreviousArrow.gif" width=26 height=26 align=bottom border=0 alt="Previous | "></a><a
href="..\layout\index.html"><img src="http://docs.rinet.ru/OLDui/images/NextArrow.gif" width=26 height=26 align=bottom border=0 alt="Next | "></a><a
href="http://docs.rinet.ru:8080/OLDui/trailmap.html"><img src="http://docs.rinet.ru/OLDui/images/WayUpArrow.gif" width=26 height=26 align=bottom border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/OLDui/images/uiHeader.gif" width=26 height=26 align=bottom border=0 alt="Creating a User Interface (AWT Only) | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Components, the GUI Building Blocks</em></strong></a>
</td>
</tr>
</table>
<p>
<center>
<IMG SRC="http://docs.rinet.ru/OLDui/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
<IMG SRC="http://docs.rinet.ru/OLDui/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
</center>
<p> 

<h2>
    Common Component Problems (and Their Solutions)
</h2>
<p>
<blockquote>

<strong>Problem:</strong>
How do I increase or decrease the number of components
in a container?
<ul>
<li>To add a component to a container, 
    use one of the three forms of the Container <code>add()</code> method.
    See <a href=generalrules.html>General 
    Rules for Using Components</a>
    for information.
    To remove a component from a container,
    use the Container
    <code>remove()</code> or
    <code>removeAll()</code> method.
    Or just add the component to another container,
    since that automatically removes the component 
    from its previous container.
</ul>

<strong>Problem:</strong>
My window never shows up!

<ul>
<li>Did you either set the size of the window
    or pack it?
<li>Did you make the window visible using the <code>show</code> method?
</ul>

<strong>Problem:</strong>
My component never shows up!

<ul>
<li>Did you add the component to its container
    using the right <code>add()</code> method
    for the container's layout manager?
    BorderLayout (the default layout manager for windows),
    silently fails to add your component
    if you call the one-argument version of <code>add()</code>.
    See the 
<a target="_top" href="..\layout\index.html">Laying Out Components within a Container</a><a target="_top" href="..\layout\index.html"><img src="http://docs.rinet.ru/OLDui/images/uiIcon.gif" width=20 height=20 border=0 alt="(in the Creating a User Interface trail)"></a>    lesson for examples of using the <code>add()</code> method.
<li>If you're not using the default layout manager,
    did you successfully create an instance of the right layout manager
    and call <code>setLayout()</code> on the container?
<li>If the component is added properly, 
    but to a container that might already be visible,
    did you call <code>validate()</code> on the container
    after adding the component?
<li>If your component is a custom component
    (a Canvas subclass, for example),
    does it implement the
    <code>minimumSize()</code> and
    <code>preferredSize()</code> methods
    so that they return the correct size of the component?
<li>If you use a non-AWT layout manager, or none at all,
    does the component have a reasonable size 
    and display coordinates?
    In particular, if you use absolute positioning 
    (no layout manager),
    you must explicitly set the size of your components, 
    or they just won't show up.
    See
<a target="_top" href="..\layout\none.html">Doing Without a Layout Manager </a><a target="_top" href="..\layout\none.html"><img src="http://docs.rinet.ru/OLDui/images/uiIcon.gif" width=20 height=20 border=0 alt="(in the Creating a User Interface trail)"></a>.
</ul>

<strong>Problem:</strong>
My custom component doesn't get updated when it should.
<ul>
<li>Make sure that the component's <code>repaint()</code> method
    is called every time the component's appearance should change.
    For standard components, this isn't a problem,
    since platform-specific code takes care 
    of all the drawing of the component.
    For custom components, however,
    you have to explicitly call the <code>repaint()</code> method
    on the component whenever the component's appearance should change.
    Invoking <code>repaint()</code> on a container of the component
    is <em>not</em> good enough.
    See <a href=canvas.html>How to Use Canvases</a>
    for more information.
</ul>

<strong>Problem:</strong>
My component isn't getting XYZ event.

<ul>
<li>Check whether the component is getting any events, at all.
    If it isn't, make sure you're referring to the right component --
    that you instantiated the right class, for example.
 
<li>Make sure your component passes through 
    the kind of event you're trying to catch.
    For example, many standard components don't pass through mouse events,
    so the AWT can't generate Event objects for them.
    Can you use another event type, 
    such as ACTION_EVENT
    (handled by the <code>action()</code> method),
    instead?
    If not, you might be forced to implement a Canvas subclass
    (or a Panel or Applet subclass)
    so that you can see all the events that occur.
</ul>

<strong>Problem:</strong>
My application doesn't get a WINDOW_DESTROY event, so I can't close
my window (or quit the application or whatever)!

<ul>
<li><em><b>In a Frame subclass</b></em>,
    implement <code>handleEvent()</code> so that it reacts to the
    the WINDOW_DESTROY event.
    You can't catch WINDOW_DESTROY events in a Panel subclass, for example,
    since the Frame is above it in the component hierarchy.
    To quit,
    use <code>System.exit()</code>.
    To destroy the window, you can call <code>dispose()</code>
    or you can just <code>hide()</code> the Frame and,
    if you're not going to use it again,
    make sure that all references
    to it are set to null.
</ul>

<strong>Problem:</strong>
All your examples are of applets. 
How do I apply them to applications?

<ul>
<li>Except where noted, anywhere in this trail
    that you see a subclass of the Applet class,
    you can substitute a subclass of the Panel class or,
    if the subclass isn't used as a container,
    a subclass of the Canvas class.
    In general, it's easy to convert an applet into an application,
    as long as the applet doesn't rely on any special applet abilities
    (such as using methods defined in the Applet class).
    <p>
    To convert an applet into an application,
    you need to add a <code>main()</code> method
    that creates an instance of a Frame subclass,
    creates an instance of the Applet (or Panel or Canvas) subclass,
    adds the instance to the Frame,
    and then calls the
    <code>init()</code> and
    <code>start()</code> methods
    of the instance.
    The Frame subclass should have a 
    <code>handleEvent()</code> implementation
    that handles WINDOW_DESTROY events
    in the appropriate way.
    <p>
    See
    <a href=http://docs.rinet.ru/OLDui/OLDui/drawing/example/AnimatorApplet.java>AnimatorApplet.java</a>
    and 
    <a href=http://docs.rinet.ru/OLDui/OLDui/drawing/example/AnimatorApplication.java>AnimatorApplication.java</a>
    for examples of an applet and an application
    that implement the same functionality.
</ul>

<strong>Problem:</strong>
Whenever I execute a Java application with a GUI,
I get this annoying error message:
<blockquote>
<pre>
Warning:
    Cannot allocate colormap entry for default background
</pre>
</blockquote>
<ul>
<li>This message occurs only on Motif systems.
    It occurs when the Motif library is initialized
    and finds that there's no room in the default colormap
    to allocate its GUI colors.
    The solution is to run fewer "colormap hogging" 
    applications on your desktop.
    The Java runtime adapts itself to whatever colors
    are in the default palette,
    but the Motif library is less forgiving.
</ul>

If you don't see your problem in this list, see
<a target="_top" href="..\layout\problems.html">Common Layout Problems</a><a target="_top" href="..\layout\problems.html"><img src="http://docs.rinet.ru/OLDui/images/uiIcon.gif" width=20 height=20 border=0 alt="(in the Creating a User Interface trail)"></a> and, for custom components,
<a target="_top" href="..\drawing\problems.html">Common Graphics Problems</a><a target="_top" href="..\drawing\problems.html"><img src="http://docs.rinet.ru/OLDui/images/uiIcon.gif" width=20 height=20 border=0 alt="(in the Creating a User Interface trail)"></a>.
You might get some insight into your problem by reading
<a href=peer.html>Details of the Component Architecture</a>.

</blockquote>
<p>
<hr size=4>
<p> 
<table width="100%">
<tr>
<td align=left>
<a href="peer.html"><img src="http://docs.rinet.ru/OLDui/images/PreviousArrow.gif" width=26 height=26 align=top border=0 alt="Previous | "></a><a
href="..\layout\index.html"><img src="http://docs.rinet.ru/OLDui/images/NextArrow.gif" width=26 height=26 align=top border=0 alt="Next | "></a><a
href="http://docs.rinet.ru:8080/OLDui/trailmap.html"><img src="http://docs.rinet.ru/OLDui/images/WayUpArrow.gif" width=26 height=26 align=top border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/OLDui/images/uiHeader.gif" width=26 height=26 align=top border=0 alt="Creating a User Interface (AWT Only) | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Components, the GUI Building Blocks</em></strong></a>
</td>
</tr>
</table>
</body>
</html>
