










<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<!--NewPage-->
<html>
<head>
<title>How to Use Scrollbars</title>
</head>
<body BGCOLOR="#ffffff">








<table width="100%">
<tr>
<td align=left>
<a href="panel.html"><img src="http://docs.rinet.ru/OLDui/images/PreviousArrow.gif" width=26 height=26 align=bottom border=0 alt="Previous | "></a><a
href="scrollpane.html"><img src="http://docs.rinet.ru/OLDui/images/NextArrow.gif" width=26 height=26 align=bottom border=0 alt="Next | "></a><a
href="http://docs.rinet.ru:8080/OLDui/trailmap.html"><img src="http://docs.rinet.ru/OLDui/images/WayUpArrow.gif" width=26 height=26 align=bottom border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/OLDui/images/uiHeader.gif" width=26 height=26 align=bottom border=0 alt="Creating a User Interface (AWT Only) | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Components, the GUI Building Blocks</em></strong></a>
</td>
</tr>
</table>
<p>
<center>
<IMG SRC="http://docs.rinet.ru/OLDui/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
<IMG SRC="http://docs.rinet.ru/OLDui/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
</center>
<p> 

<h2>
    How to Use Scrollbars
</h2>
<p>
<blockquote>

<blockquote><IMG SRC="http://docs.rinet.ru/OLDui/figures/ui/13ui8a.gif" WIDTH="356" HEIGHT="145" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT=""></blockquote>
Scrollbars have two uses:
<ul>
<li> As shown above, a scrollbar can act as a slider
     that the user manipulates
     to set a value.
     An example of this is in the Converter program in
<a target="_top" href="..\overview\anatomy.html">The Anatomy of a a GUI-Based Program</a><a target="_top" href="..\overview\anatomy.html"><img src="http://docs.rinet.ru/OLDui/images/uiIcon.gif" width=20 height=20 border=0 alt="(in the Creating a User Interface trail)"></a>.
<li> As controls for scroll panes.
     The <code>ScrollPane</code> class,
     which was introduced in 1.1,
     lets you display part of a component
     that's too large for the available display area.
     Scrollbars in scroll panes let the user choose exactly
     which part of the region
     is visible.
     To customize scrolling behavior,
     you sometimes need to invoke methods 
     on a <code>ScrollPane</code>'s scrollbars.
</ul>

<p>

Here's a 1.0 applet that uses scrollbars
to help control the display of a large image
(it might take a minute for the image to load):
     <p>
     <applet codebase=http://docs.rinet.ru:8080/OLDui/OLDui/components/example/ code=ImageScroller.class width=318 height=118>
<blockquote><IMG SRC="http://docs.rinet.ru/OLDui/figures/ui/13ui9a.gif" WIDTH="326" HEIGHT="121" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT=""></blockquote>     </applet>

<p>

<blockquote>
<hr>
<strong>Note:</strong>
The rest of this section discusses the 1.0 API for scrollbars.
If you're writing a 1.1 program with a scrolling area,
please skip the rest of this page
and go to 
<a href="scrollpane.html">How to Use Scroll Panes</a>.
<hr>
</blockquote>

<p>

To create a scrollbar, 
you need to create an instance of the
<a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.Scrollbar.html"><code>Scrollbar</code></a><a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.Scrollbar.html"><img src="http://docs.rinet.ru/OLDui/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a> class.
You must also initialize the following values,
either by specifying them to a
<a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.Scrollbar.html#constructors">Scrollbar constructor</a><a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.Scrollbar.html#constructors"><img src="http://docs.rinet.ru/OLDui/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a> or by calling the <code>setValues()</code> method
before the scrollbar is visible.

<dl>
<dt> <code>int orientation</code>
<dd> Indicates whether the scrollbar 
     should be horizontal or vertical.
     Specified with either
     <code>Scrollbar.HORIZONTAL</code> or <code>Scrollbar.VERTICAL</code>.
<dt> <code>int value</code>
<dd> The initial value of the scrollbar.
     For scrollbars that control a scrollable area,
     this usually means the x value (for horizontal scrollbars)
     or y value (for vertical scrollbars)
     of the part of the area
     that's visible when the user first sees the scrollable area.
     For example, when the applet above starts up,
     both the horizontal and vertical scrollbars' values are 0,
     and the image portion that's displayed starts at (0,0).
<dt> <code>int visible</code>
<dd> The size in pixels
     of the visible portion of the scrollable area.
     This value, if set before the scrollbar is visible,
     determines how many pixels a click in the scrollbar
     (but not on the knob)
     causes the display area to shift.
     Setting this value after the scrollbar is visible
     has no effect.
     After the scrollbar is visible,
     you should use the 
     <code>setPageIncrement()</code> method
     to get the same effect.
<dt> <code>int minimum</code>
<dd> The minimum value the scrollbar can have.
     For scrollbars controlling scrollable areas,
     this value is usually 0 
     (the left/upper part of the area).
<dt> <code>int maximum</code>
<dd> The maximum value the scrollbar can have.
     For scrollbars controlling scrollable areas,
     this value is usually:
     (total width/height, in pixels, of the component that's being partially
     displayed) -
     (currently visible width/height of the scrollable area).
</dl>

Here's a figure that illustrates the meaning
of the above values:

<blockquote><IMG SRC="http://docs.rinet.ru/OLDui/figures/ui/scrollbars.gif" WIDTH="627" HEIGHT="360" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT=""></blockquote><p>

Here's the 
<a href=http://docs.rinet.ru/OLDui/OLDui/components/example/ImageScroller.java>code</a>
for the above applet.
The code defines two classes.
The first is a simple Canvas subclass (ScrollableCanvas)
that draws an image.
The second is a Panel subclass
(ImageScroller, which actually extends Applet)
that creates and contains
a ScrollableCanvas and two Scrollbars.
This program illustrates a few important details
of managing a scrollable area:

<ul>
<li> Event handling for a scrollbar is pretty straightforward.
     The program must merely respond to scrolling events
     by saving the scrollbar's new value in a place accessible
     to the Component that displays itself within the scrollable area,
     and then invoke <code>repaint()</code> on the Component.

     <blockquote>
     <pre>
public boolean handleEvent(Event evt) {
    switch (evt.id) {
      case Event.SCROLL_LINE_UP:
      case Event.SCROLL_LINE_DOWN:
      case Event.SCROLL_PAGE_UP:
      case Event.SCROLL_PAGE_DOWN:
      case Event.SCROLL_ABSOLUTE:
        if (evt.target == vert) {
            canvas.ty = ((Integer)evt.arg).intValue();
            canvas.repaint();
        }
        if (evt.target == horz) {
            canvas.tx = ((Integer)evt.arg).intValue();
            canvas.repaint();
        }
    }
    return super.handleEvent(evt);
}
     </pre>
     </blockquote>

<li> The Component that displays itself within the scrollable area
     can be very simple.
     All it needs to do is 
     draw itself at the origin specified by 
     the values from its controlling scrollbars.
     A Component can change its origin 
     (and thus not have to change its normal drawing code)
     by putting code such as the following at the beginning of its 
     <code>paint()</code> or <code>update()</code> method:
     <blockquote>
     <pre>
g.translate(-tx, -ty);
     </pre>
     </blockquote>

<li> While scrolling occurs, 
     you'll probably notice flashing, or flickering,
     in the display area.
     If you don't want this to occur,
     you'll need to implement the <code>update()</code> method
     in the displayed Component,
     and possibly double buffering as well.
     How to do this is discussed in
<a target="_top" href="..\drawing\noflashing.html">Eliminating Flashing</a><a target="_top" href="..\drawing\noflashing.html"><img src="http://docs.rinet.ru/OLDui/images/uiIcon.gif" width=20 height=20 border=0 alt="(in the Creating a User Interface trail)"></a>.
<p>

<li> If your scrolling area is resizable,
     beware of a common scrolling problem.
     It occurs when the user scrolls to the right/bottom of the area
     and then enlarges the area.
     If you aren't careful,
     the scrolling area will display a blank space
     at its right/bottom.
     After the user scrolls 
     and then returns to the right/bottom,
     the blank space will no longer be there.
     To avoid displaying a blank space unnecessarily,
     when the scrollable area's size becomes larger
     you should shift the Component's origin
     so that it takes advantage of the available new space.
     Here's an example:
     <blockquote>
     <pre>
int canvasWidth = canvas.size().width;

//Shift everything to the right if we're displaying empty space
//on the right side.
if ((canvas.tx + canvasWidth) > imageSize.width) {
    int newtx = imageSize.width - canvasWidth;
    if (newtx < 0) {
                newtx = 0;
    }
    canvas.tx = newtx;
}
     </pre>
     </blockquote>
<p>

Here's a figure that illustrates the scrolling problem
and its fix:

<blockquote><IMG SRC="http://docs.rinet.ru/OLDui/figures/ui/scrollbarResize.gif" WIDTH="512" HEIGHT="326" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT=""></blockquote>
</ul>


     
</blockquote>
<p>
<hr size=4>
<p> 
<table width="100%">
<tr>
<td align=left>
<a href="panel.html"><img src="http://docs.rinet.ru/OLDui/images/PreviousArrow.gif" width=26 height=26 align=top border=0 alt="Previous | "></a><a
href="scrollpane.html"><img src="http://docs.rinet.ru/OLDui/images/NextArrow.gif" width=26 height=26 align=top border=0 alt="Next | "></a><a
href="http://docs.rinet.ru:8080/OLDui/trailmap.html"><img src="http://docs.rinet.ru/OLDui/images/WayUpArrow.gif" width=26 height=26 align=top border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/OLDui/images/uiHeader.gif" width=26 height=26 align=top border=0 alt="Creating a User Interface (AWT Only) | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Components, the GUI Building Blocks</em></strong></a>
</td>
</tr>
</table>
</body>
</html>
