










<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<!--NewPage-->
<html>
<head>
<title>How to Use TextAreas and TextFields</title>
</head>
<body BGCOLOR="#ffffff">








<table width="100%">
<tr>
<td align=left>
<a href="scrollpane.html"><img src="http://docs.rinet.ru/OLDui/images/PreviousArrow.gif" width=26 height=26 align=bottom border=0 alt="Previous | "></a><a
href="eventmodel.html"><img src="http://docs.rinet.ru/OLDui/images/NextArrow.gif" width=26 height=26 align=bottom border=0 alt="Next | "></a><a
href="http://docs.rinet.ru:8080/OLDui/trailmap.html"><img src="http://docs.rinet.ru/OLDui/images/WayUpArrow.gif" width=26 height=26 align=bottom border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/OLDui/images/uiHeader.gif" width=26 height=26 align=bottom border=0 alt="Creating a User Interface (AWT Only) | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Components, the GUI Building Blocks</em></strong></a>
</td>
</tr>
</table>
<p>
<center>
<IMG SRC="http://docs.rinet.ru/OLDui/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
<IMG SRC="http://docs.rinet.ru/OLDui/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
</center>
<p> 

<h2>
    How to Use TextAreas and TextFields
</h2>
<p>
<blockquote>

The
<a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.TextArea.html">TextArea</a><a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.TextArea.html"><img src="http://docs.rinet.ru/OLDui/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a> and
<a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.TextField.html">TextField</a><a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.TextField.html"><img src="http://docs.rinet.ru/OLDui/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a> classes display selectable text and,
optionally,
allow the user to edit the text.
You can subclass TextArea and TextField
to perform such tasks
as checking for errors in the input.
As with any Component,
you can specify the background and foreground colors and font
used by TextAreas and TextFields.
You can't, however, change their basic appearance.

<p>

Both TextArea and TextField are subclasses of 
<a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.TextComponent.html">TextComponent</a><a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.TextComponent.html"><img src="http://docs.rinet.ru/OLDui/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a>.
From TextComponent they inherit methods 
that allow them to set and get the current selection,
enable and disable editing,
get the currently selected text (or all the text),
and set the text.

<p>

Below is an applet that displays first a TextField
and then a TextArea.
The TextField is editable; the TextArea isn't.
When the user presses Return
in the TextField,
its contents are copied to the TextArea
and then selected in the TextField.

<p>

<applet codebase=http://docs.rinet.ru:8080/OLDui/OLDui/components/example/ code=TextDemo.class width=250 height=125>

<blockquote><IMG SRC="http://docs.rinet.ru/OLDui/figures/ui/13ui10a.gif" WIDTH="254" HEIGHT="130" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT=""></blockquote>

</applet>

<blockquote><hr><strong>Note:</strong> Because some old browsers don't support 1.1, the above applet is a <em>1.0</em> version (here is the <a href="http://docs.rinet.ru/OLDui/OLDui/components/example/TextDemo.java">1.0 code</a>; here's the <a href="http://docs.rinet.ru/OLDui/OLDui/components/example-1dot1/TextDemo.java">1.1 code</a>).  To run the <em>1.1</em> version of the applet, go to <a href="example-1dot1\textdemo.html"><code>example-1dot1/TextDemo.html</code></a>. <hr></blockquote><p>

Here's the
<a href=http://docs.rinet.ru/OLDui/OLDui/components/example-1dot1/TextDemo.java>program</a>.
Here's just its code 
that creates, initializes, and handles events in
the TextArea and TextField:
<blockquote>
<pre>
<em>//Where instance variables are defined:</em>
TextField textField;
TextArea textArea;

public void init() {
    textField = new TextField(20);
    textArea = new TextArea(5, 20);
    textArea.setEditable(false);

    <em>...//Add the two components to the panel. </em>
}

public boolean action(Event evt, Object arg) {
    String text = textField.getText();
    textArea.appendText(text + "\n");
    textField.selectAll();
    return true;
}
</pre>
</blockquote>


The TextComponent superclass of TextArea and TextField
supplies the
<code>getText()</code>,
<code>setText()</code>,
<code>setEditable()</code>, and
<code>selectAll()</code> methods
used in the above code example.
It also supplies the following useful methods:
<code>getSelectedText()</code>,
<code>isEditable()</code>,
<code>getSelectionStart()</code>, and
<code>getSelectionEnd()</code>.
It also provides a
<code>select()</code> method
that lets you select text between beginning and end positions
that you specify.

<p>

The TextField class has four constructors:
<code>TextField()</code>, 
<code>TextField(int)</code>,
<code>TextField(String)</code>, and 
<code>TextField(String, int)</code>.
The integer argument specifies the number of columns
in the text field.
The String argument specifies the text
initially displayed in the text field.
The TextField class also supplies the following handy methods:
<dl>
<dt> <code>int getColumns()</code>
<dd> Returns the number the columns in the text field.
<dt> <code>setEchoChar()</code>
<dd> Sets the echo character,
     which is useful for password fields.
<dt> <code>char getEchoChar()</code>
     <code>boolean echoCharIsSet()</code>
<dd> These methods let you ask about the echo character.
</dl>

<p>

Like the TextField class, the TextArea class also has four constructors:
<code>TextArea()</code>, 
<code>TextArea(int, int)</code>,
<code>TextArea(String)</code>, and 
<code>TextArea(String, int, int)</code>.
The integer arguments specify the number of rows and columns (respectively)
in the text area.
The String argument specifies the text
initially displayed in the text area.

<p>

The TextArea class supplies the 
<code>appendText()</code> method used in the code example above.
It also supplies these methods:
<dl>
<dt> <code>int getRows()</code>,
     <code>int getColumns()</code>
<dd> Return the number of rows or columns in the text area.
<dt> <code>void insertText(String, int)</code>
<dd> Inserts the specified text at the specified position.
<dt> <code>void replaceText(String, int, int)</code>
<dd> Replaces text from the indicated start position (the first integer)
     to the indicated end position.
</dl>

<!--It'd be nice to have an example of subclassing TextField.-->
</blockquote>
<p>
<hr size=4>
<p> 
<table width="100%">
<tr>
<td align=left>
<a href="scrollpane.html"><img src="http://docs.rinet.ru/OLDui/images/PreviousArrow.gif" width=26 height=26 align=top border=0 alt="Previous | "></a><a
href="eventmodel.html"><img src="http://docs.rinet.ru/OLDui/images/NextArrow.gif" width=26 height=26 align=top border=0 alt="Next | "></a><a
href="http://docs.rinet.ru:8080/OLDui/trailmap.html"><img src="http://docs.rinet.ru/OLDui/images/WayUpArrow.gif" width=26 height=26 align=top border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/OLDui/images/uiHeader.gif" width=26 height=26 align=top border=0 alt="Creating a User Interface (AWT Only) | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Components, the GUI Building Blocks</em></strong></a>
</td>
</tr>
</table>
</body>
</html>
