










<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<!--NewPage-->
<html>
<head>
<title>Writing a Text Listener</title>
</head>
<body BGCOLOR="#ffffff">








<table width="100%">
<tr>
<td align=left>
<a href="mousemotionlistener.html"><img src="http://docs.rinet.ru/OLDui/images/PreviousArrow.gif" width=26 height=26 align=bottom border=0 alt="Previous | "></a><a
href="windowlistener.html"><img src="http://docs.rinet.ru/OLDui/images/NextArrow.gif" width=26 height=26 align=bottom border=0 alt="Next | "></a><a
href="http://docs.rinet.ru:8080/OLDui/trailmap.html"><img src="http://docs.rinet.ru/OLDui/images/WayUpArrow.gif" width=26 height=26 align=bottom border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/OLDui/images/uiHeader.gif" width=26 height=26 align=bottom border=0 alt="Creating a User Interface (AWT Only) | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Components, the GUI Building Blocks</em></strong></a>
</td>
</tr>
</table>
<p>
<center>
<IMG SRC="http://docs.rinet.ru/OLDui/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
<IMG SRC="http://docs.rinet.ru/OLDui/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
</center>
<p> 

<h2>
    Writing a Text Listener
</h2>
<p>
<blockquote>

Text events are generated
after the text in a text component
has changed somehow.
The 1.1 AWT components that generate text events are
<a href="text.html">text fields and text areas</a>.
To get earlier notification of text changes --
for example, to intercept incorrect characters --
you should write a 
<a href="keylistener.html">key listener</a>.


<h4>Text Event Methods</h4>
<blockquote>

The
<a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.event.TextListener.html"><code>TextListener</code></a><a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.event.TextListener.html"><img src="http://docs.rinet.ru/OLDui/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a> interface 
has just one method,
so it has no corresponding adapter class.
Here's the method:

<dl>
<dt> <code>void textValueChanged(TextEvent)</code>
<dd> Called by the AWT
     just after the text in the listened-to component
     changes.
</dl>

</blockquote>
<h4>Examples of Handling Text Events</h4>
<blockquote>

The following applet demonstrates text events.
It contains two editable text components --
a text field and a text area.
Pressing Return in the text field
causes the field's contents
to be appended to the text area.
Each of the editable text components 
has a text listener.
The two text listeners,
which are both instances of a single class, 
append a message to
an uneditable text area at the right of the applet.
A button at the bottom right of the applet
lets you clear the message display area.

<p>

<applet codebase="http://docs.rinet.ru:8080/OLDui/OLDui/components/example-1dot1/" 
	code="TextEventDemo.class"
	width=500 height=300
	alt="Your browser understands the applet tag but isn't displaying any applet.">
</applet>
<p>

<blockquote><hr><strong>Note:</strong> The above applet requires JDK 1.1. If you are using an older browser that does not support 1.1, you won't be able to run the applet. Instead, you need to view this page in a 1.1-compliant browser, such as HotJava or the JDK Applet Viewer (<code>appletviewer</code>).<hr></blockquote>
<blockquote>
<hr>
<strong>Try this:</strong>
<ol>
<li> Click the text field at the upper left of the applet,
     then press the A character on the keyboard.
     <br>
     A text event occurs,
     and you'll see a message in the display area at the right of the applet.
<li> Type a few more characters.
     <br>
     A text event occurs each time you type a character.
<li> Press Return.
     <br>
     The text field does <em>not</em> generate a text event.
     Instead, it generates an action event,
     and the action handler copies the text field's contents
     into the text area beneath it.
     The text area reacts by generating a single text event,
     no matter how many characters are copied into it.
<li> Click the text area
     -- the large area at the bottom left of the applet --
     and then press a character key on the keyboard.
     <br>
     The text area fires a text event.
</ol>
<hr>
</blockquote>

<p>

You can find the applet's code in 
<a href="http://docs.rinet.ru/OLDui/OLDui/components/example-1dot1/TextEventDemo.java">TextEventDemo.java</a>.
This applet happens to implement its text event handling
inside an inner class named
<code>MyTextListener</code>.
It creates and registers two instances of 
<code>MyTextListener</code>,
one for each editable text component.
The <code>MyTextListener</code> constructor takes a string
describing the event source.
When a 
<code>MyTextListener</code> instance detects a text event,
(that is, <code>MyTextListener</code>'s
<code>textValueChanged</code> method is called),
the instance adds a message to the display area
at the right of the applet.
Here is the applet's text event handling code:

<blockquote>
<pre>
public class TextEventDemo ... {
    TextField textField;
    TextArea textArea;
    TextArea displayArea;
    ...
        <em>//where initialization occurs:</em>
	textField = new TextField(20);
	...
	textField.addTextListener(new MyTextListener("Text Field"));

        textArea = new TextArea(5, 20);
	textArea.addTextListener(new MyTextListener("Text Area"));
	...
    }

    class MyTextListener implements TextListener {
	String preface;

	public MyTextListener(String source) {
	    preface = source
		      + " text value changed.\n"
		      + "   First 10 characters: \"";
	}

        public void textValueChanged(TextEvent e) {
	    TextComponent tc = (TextComponent)e.getSource();
	    String s = tc.getText();
	    <em>...//truncate s to 10 characters...</em>

	    displayArea.append(preface + s + "\"\n");
	    ...
	}
    }
    ...
}
</pre>
</blockquote>

<p>

</blockquote>
<h4>The <code>TextEvent</code> Class</h4>
<blockquote>
Each text event method has a single parameter: a
<a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.event.TextEvent.html"><code>TextEvent</code></a><a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.event.TextEvent.html"><img src="http://docs.rinet.ru/OLDui/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a> object.
The <code>TextEvent</code> class defines no generally useful methods.
Using the <code>getSource</code> method 
that <code>TextEvent</code> inherits from <code>EventObject</code>,
you can get the text component that generated the event
and then send messages to it.

</blockquote>
</blockquote>
<p>
<hr size=4>
<p> 
<table width="100%">
<tr>
<td align=left>
<a href="mousemotionlistener.html"><img src="http://docs.rinet.ru/OLDui/images/PreviousArrow.gif" width=26 height=26 align=top border=0 alt="Previous | "></a><a
href="windowlistener.html"><img src="http://docs.rinet.ru/OLDui/images/NextArrow.gif" width=26 height=26 align=top border=0 alt="Next | "></a><a
href="http://docs.rinet.ru:8080/OLDui/trailmap.html"><img src="http://docs.rinet.ru/OLDui/images/WayUpArrow.gif" width=26 height=26 align=top border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/OLDui/images/uiHeader.gif" width=26 height=26 align=top border=0 alt="Creating a User Interface (AWT Only) | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Components, the GUI Building Blocks</em></strong></a>
</td>
</tr>
</table>
</body>
</html>
