










<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<!--NewPage-->
<html>
<head>
<title>Using the AWT Components</title>
</head>
<body BGCOLOR="#ffffff">








<table width="100%">
<tr>
<td align=left>
<a href="index.html"><img src="http://docs.rinet.ru/OLDui/images/PreviousArrow.gif" width=26 height=26 align=bottom border=0 alt="Previous | "></a><a
href="generalrules.html"><img src="http://docs.rinet.ru/OLDui/images/NextArrow.gif" width=26 height=26 align=bottom border=0 alt="Next | "></a><a
href="http://docs.rinet.ru:8080/OLDui/trailmap.html"><img src="http://docs.rinet.ru/OLDui/images/WayUpArrow.gif" width=26 height=26 align=bottom border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/OLDui/images/uiHeader.gif" width=26 height=26 align=bottom border=0 alt="Creating a User Interface (AWT Only) | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Components, the GUI Building Blocks</em></strong></a>
</td>
</tr>
</table>
<p>
<center>
<IMG SRC="http://docs.rinet.ru/OLDui/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
<IMG SRC="http://docs.rinet.ru/OLDui/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
</center>
<p> 

<h2>
    Using the AWT Components
</h2>
<p>
<blockquote>

<blockquote>
<hr>
<strong>Note:</strong>
Unless otherwise noted, 
the component-specific text in this page and the pages that follow
reflects 1.0, not 1.1.
<hr>
</blockquote>

The following figures show the inheritance hierarchies
for all the AWT component classes.

<blockquote><IMG SRC="http://docs.rinet.ru/OLDui/figures/ui/13ui7.gif" WIDTH="560" HEIGHT="265" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT=""></blockquote>
<blockquote><IMG SRC="http://docs.rinet.ru/OLDui/figures/ui/13ui9.gif" WIDTH="553" HEIGHT="106" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT=""></blockquote>
<P>

As the figures show, all components
except for menu-related components
inherit from the AWT Component class.
Because of cross-platform restrictions
(such as the inability to set menu background colors),
menu-related components aren't full-blown Components. 
Instead, menu components inherit from the AWT MenuComponent class.

<h4>
<a href=generalrules.html>General Rules for Using Components</a>
</h4>
<blockquote>
Before you start using components,
you should know what the Component class provides
and how you can customize components.
</blockquote>

<h4>
How to Use ...
</h4>
<blockquote>
The next group of pages 
tells you how to use the components the AWT provides.
Each kind of component has its own page:
<ul>
<li> <a href=button.html>How to Use Buttons</a>
<li> <a href=canvas.html>How to Use Canvases</a>
<li> <a href=checkbox.html>How to Use Checkboxes</a>
<li> <a href=choice.html>How to Use Choices</a>
<li> <a href=dialog.html>How to Use Dialogs</a>
<li> <a href=frame.html>How to Use Frames</a>
<li> <a href=label.html>How to Use Labels</a>
<li> <a href=list.html>How to Use Lists</a>
<li> <a href=menu.html>How to Use Menus</a>
<li> <a href=panel.html>How to Use Panels</a>
<li> <a href=scrollbar.html>How to Use Scrollbars</a>
<li> <a href=scrollpane.html>How to Use Scroll Panes</a>
<li> <a href=text.html>How to Use TextAreas and TextFields</a>
</ul>

</blockquote>
</blockquote>
<p>
<hr size=4>
<p> 
<table width="100%">
<tr>
<td align=left>
<a href="index.html"><img src="http://docs.rinet.ru/OLDui/images/PreviousArrow.gif" width=26 height=26 align=top border=0 alt="Previous | "></a><a
href="generalrules.html"><img src="http://docs.rinet.ru/OLDui/images/NextArrow.gif" width=26 height=26 align=top border=0 alt="Next | "></a><a
href="http://docs.rinet.ru:8080/OLDui/trailmap.html"><img src="http://docs.rinet.ru/OLDui/images/WayUpArrow.gif" width=26 height=26 align=top border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/OLDui/images/uiHeader.gif" width=26 height=26 align=top border=0 alt="Creating a User Interface (AWT Only) | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Components, the GUI Building Blocks</em></strong></a>
</td>
</tr>
</table>
</body>
</html>
