










<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<!--NewPage-->
<html>
<head>
<title>Writing a Window Listener</title>
</head>
<body BGCOLOR="#ffffff">








<table width="100%">
<tr>
<td align=left>
<a href="textlistener.html"><img src="http://docs.rinet.ru/OLDui/images/PreviousArrow.gif" width=26 height=26 align=bottom border=0 alt="Previous | "></a><a
href="peer.html"><img src="http://docs.rinet.ru/OLDui/images/NextArrow.gif" width=26 height=26 align=bottom border=0 alt="Next | "></a><a
href="http://docs.rinet.ru:8080/OLDui/trailmap.html"><img src="http://docs.rinet.ru/OLDui/images/WayUpArrow.gif" width=26 height=26 align=bottom border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/OLDui/images/uiHeader.gif" width=26 height=26 align=bottom border=0 alt="Creating a User Interface (AWT Only) | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Components, the GUI Building Blocks</em></strong></a>
</td>
</tr>
</table>
<p>
<center>
<IMG SRC="http://docs.rinet.ru/OLDui/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
<IMG SRC="http://docs.rinet.ru/OLDui/images/shoeline2.GIF" ALIGN="BOTTOM" BORDER="0" WIDTH="202"
    HEIGHT="25" NATURALSIZEFLAG="3">
</center>
<p> 

<h2>
    Writing a Window Listener
</h2>
<p>
<blockquote>

Window events are generated
by a <code>Window</code> 
just after the window is opened, closed,
iconified, deiconified,
activated, or deactivated.
Window events also notify the listener
when the window has received a request that it close.
<em>Opening</em> a window means
showing it for the first time;
<em>closing</em> it means disposing of the window.
<em>Iconifying</em> it means substituting
a small icon on the desktop for the window;
<em>deiconifying</em> means the opposite.
A window is <em>activated</em> 
if it or a component it contains
has the keyboard focus;
<em>deactivation</em> occurs
when the window and all of its contents
lose the keyboard focus.

<p>

The most common use of window listeners is closing windows.
If a program doesn't handle window-closing events,
then nothing happens when the user attempts to close a window.
An application that features a single window
might react to window-closing events from that window by exiting.
Other programs usually react to window-closing events
by disposing of the window
or making it invisible.


<p>

Another common use of window listeners
is to stop threads and release resources
when a window is iconified,
and to start up again when the window is deiconified.
This way, you can avoid unnecessarily
using the processor or other resources.
For example,
when a window that contains animation is iconified,
it should stop its animation thread
and free any large buffers.
When the window is deiconified,
it can start the thread again
and recreate the buffers.

<p>

If you want to be notified when a window
is made visible or hidden,
then you should register a
<a href="componentlistener.html">component listener</a>
on the window.

<h4>Window Event Methods</h4>
<blockquote>

The
<a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.event.WindowListener.html"><code>WindowListener</code></a><a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.event.WindowListener.html"><img src="http://docs.rinet.ru/OLDui/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a> interface 
and its corresponding adapter class, 
<a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.event.WindowAdapter.html"><code>WindowAdapter</code></a><a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.event.WindowAdapter.html"><img src="http://docs.rinet.ru/OLDui/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a>, contain these methods:

<p>
<dl>
<dt> <code>void windowOpened(WindowEvent)</code>
<dd> Called by the AWT
     just after the listened-to window has been shown for the first time.

<p>
<dt> <code>void windowClosing(WindowEvent)</code>
<dd> Called by the AWT
     in response to a user request that the listened-to window be closed.
     To actually close the window, 
     the listener should invoke
     the window's <code>dispose</code> or 
     <code>setVisible(false)</code> method.

<p>
<dt> <code>void windowClosed(WindowEvent)</code>
<dd> Called by the AWT
     just after the listened-to window has closed.

<p>
<dt> <code>void windowIconified(WindowEvent)</code>
     <br>
     <code>void windowDeiconified(WindowEvent)</code>
<dd> Called by the AWT
     just after the listened-to window
     is iconified or deiconified, respectively.

<p>
<dt> <code>void windowActivated(WindowEvent)</code>
     <br>
     <code>void windowDeactivated(WindowEvent)</code>
<dd> Called by the AWT
     just after the listened-to window
     is activated or deactivated, respectively.
</dl>

</blockquote>
<h4>Examples of Handling Window Events</h4>
<blockquote>

The following applet demonstrates window events.
By clicking the top button in the applet,
you can bring up a small window.
The controlling class listens for window events from the window,
printing a message whenever it detects a window event.
You can find the applet's code 
in <a href="http://docs.rinet.ru/OLDui/OLDui/components/example-1dot1/WindowEventDemo.java">WindowEventDemo.java</a>.

<p>
<applet codebase="http://docs.rinet.ru:8080/OLDui/OLDui/components/example-1dot1/"
	code="WindowEventDemo.class"
	width=400 height=200>
</applet>

<p>

<blockquote>
<hr>
<strong>Try this:</strong>
<ol>
<li> Bring up the Window Demo Window
     by clicking the applet's top button.
     <br>
     The first time you click this button,
     you'll see a "Window opened" message
     in the applet's display area.
<li> Click the window if it doesn't already have the focus.
     <br>
     Do you see a "Window activated" message
     in the applet's display area?
<li> Iconify the window, using the window controls.
     <br>
     You'll see a "Window iconified" message
     in the applet's display area.
<li> Deiconify the window.
     <br>
     You'll see a "Window deiconified" message in the applet's display area.
<li> Close the window, using the window controls.
     <br>
     You'll see "Window closing"
     in the applet's display area.
     Because the window-closing event handler
     invokes <code>setVisible(false)</code>
     instead of <code>dispose()</code>,
     you won't see "Window closed".
</ol>
<hr>
</blockquote>

<p>

Here is the applet's window event handling code:

<blockquote>
<pre>
public class WindowEventDemo ... implements WindowListener {
     <em>...//where initialization occurs:</em>
        //Create but don't show window.
        window = new Frame("Window Event Window");
        window.addWindowListener(this);
        window.add("Center",
                   new Label("The applet listens to this window"
                             " for window events."));
        window.pack();
    }

    public void windowClosing(WindowEvent e) {
            window.setVisible(false);
        displayMessage("Window closing", e);
    }

    public void windowClosed(WindowEvent e) {
        displayMessage("Window closed", e);
    }

    public void windowOpened(WindowEvent e) {
        displayMessage("Window opened", e);
    }

    public void windowIconified(WindowEvent e) {
        displayMessage("Window iconified", e);
    }

    public void windowDeiconified(WindowEvent e) {
        displayMessage("Window deiconified", e);
    }

    public void windowActivated(WindowEvent e) {
        displayMessage("Window activated", e);
    }

    public void windowDeactivated(WindowEvent e) {
        displayMessage("Window deactivated", e);
    }

    void displayMessage(String prefix, WindowEvent e) {
        display.append(prefix
                       + ": "
                       + e.getWindow()
                       + newline); 
    }
    ...
}
</pre>
</blockquote>

<p>

Here are some of the source files that contain window listeners:

<ul>
<li> <code><a href="http://docs.rinet.ru:8080/OLDui/applet/appletsonly/example-1dot1/ShowDocument.java">ShowDocument.java</code></a>
<li> <code><a href="http://docs.rinet.ru/OLDui/OLDui/components/example-1dot1/ComponentEventDemo.java">ComponentEventDemo.java</code></a>
<li> <code><a href="http://docs.rinet.ru/OLDui/OLDui/layout/example-1dot1/FlowWindow.java">FlowWindow.java</code></a>
<li> <code><a href="http://docs.rinet.ru/OLDui/OLDui/drawing/example-1dot1/AnimatorApplication.java">AnimatorApplication.java</code></a>
</ul>

<p>

</blockquote>
<h4>The <code>WindowEvent</code> Class</h4>
<blockquote>
Each window event method has a single parameter: a
<a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.event.WindowEvent.html"><code>WindowEvent</code></a><a target="_top" href="http://java.sun.com/products/jdk/1.1/api/java.awt.event.WindowEvent.html"><img src="http://docs.rinet.ru/OLDui/images/apiIcon.gif" width=20 height=20 border=0 alt="(in the API reference documentation)"></a> object.
The <code>WindowEvent</code> class defines one useful method,
<code>getWindow</code>,
which returns the <code>Window</code>
that generated the window event.


</blockquote>
</blockquote>
<p>
<hr size=4>
<p> 
<table width="100%">
<tr>
<td align=left>
<a href="textlistener.html"><img src="http://docs.rinet.ru/OLDui/images/PreviousArrow.gif" width=26 height=26 align=top border=0 alt="Previous | "></a><a
href="peer.html"><img src="http://docs.rinet.ru/OLDui/images/NextArrow.gif" width=26 height=26 align=top border=0 alt="Next | "></a><a
href="http://docs.rinet.ru:8080/OLDui/trailmap.html"><img src="http://docs.rinet.ru/OLDui/images/WayUpArrow.gif" width=26 height=26 align=top border=0 alt="Trail Map | "></a><a
href="..\index.html"><img src="http://docs.rinet.ru/OLDui/images/uiHeader.gif" width=26 height=26 align=top border=0 alt="Creating a User Interface (AWT Only) | "></a>
</td>
<td align=right>
<a href="index.html"><strong><em>Using Components, the GUI Building Blocks</em></strong></a>
</td>
</tr>
</table>
</body>
</html>
