<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC
   "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
   "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
   <!-- ### Filters -->
   <filter>
      <filter-name>JaasLoginFilter</filter-name>
      <description>A filter that does a JAAS login to establish the
      identity to use for subsequent ejb calls.
      </description>
      <filter-class>org.jboss.docs.jaas.howto.JaasLoginFilter</filter-class>
      <init-param>
         <param-name>configName</param-name>
         <param-value>client-login</param-value>
      </init-param>
      <init-param>
         <param-name>username</param-name>
         <param-value>java</param-value>
      </init-param>
      <init-param>
         <param-name>password</param-name>
         <param-value>echoman</param-value>
      </init-param>
   </filter>

   <filter-mapping>
      <filter-name>JaasLoginFilter</filter-name>
      <url-pattern>/UnsecureServletWithLogin/*</url-pattern>
   </filter-mapping>

   <!-- ### Servlets -->
   <servlet>
      <servlet-name>SecureServlet</servlet-name>
      <servlet-class>org.jboss.docs.jaas.howto.EJBServlet</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>UnsecureServlet</servlet-name>
      <servlet-class>org.jboss.docs.jaas.howto.EJBServlet</servlet-class>
      <run-as>
         <description>The anoymous user role</description>
         <role-name>nobody</role-name>
      </run-as>
   </servlet>
   <servlet>
      <servlet-name>UnsecureServletWithLogin</servlet-name>
      <description>A servlet whose mapping does not exist under the /restricted
      context that </description>
      <servlet-class>org.jboss.docs.jaas.howto.EJBServlet</servlet-class>
   </servlet>

   <servlet-mapping>
      <servlet-name>SecureServlet</servlet-name>
      <url-pattern>/restricted/SecureServlet</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>UnsecureServlet</servlet-name>
      <url-pattern>/UnsecureServlet</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>UnsecureServletWithLogin</servlet-name>
      <url-pattern>/UnsecureServletWithLogin</url-pattern>
   </servlet-mapping>

   <!-- ### Security -->
   <security-constraint>
      <web-resource-collection>
         <web-resource-name>Restricted</web-resource-name>
         <description>Declarative security tests</description>
         <url-pattern>/restricted/*</url-pattern>
         <http-method>HEAD</http-method>
         <http-method>GET</http-method>
         <http-method>POST</http-method>
         <http-method>PUT</http-method>
         <http-method>DELETE</http-method>
      </web-resource-collection>
      <auth-constraint>
         <role-name>Echo</role-name>
      </auth-constraint>
      <user-data-constraint>
         <description>no description</description>
         <transport-guarantee>NONE</transport-guarantee>
      </user-data-constraint>
   </security-constraint>

   <login-config>
      <auth-method>BASIC</auth-method>
      <realm-name>JAAS Tutorial Servlets</realm-name>
   </login-config>

   <security-role>
      <description>A user allowed to invoke echo methods</description>
      <role-name>Echo</role-name>
   </security-role>
   <security-role>
      <description>A user with no permissions</description>
      <role-name>nobody</role-name>
   </security-role>

   <!-- ### EJB References (java:comp/env/ejb) -->
   <ejb-ref>
      <ejb-ref-name>ejb/SecuredEJB</ejb-ref-name>
      <ejb-ref-type>Session</ejb-ref-type>
      <home>org.jboss.docs.jaas.howto.SessionHome</home>
      <remote>org.jboss.docs.jaas.howto.Session</remote>
   </ejb-ref>
   <ejb-ref>
      <ejb-ref-name>ejb/PrivateEJB</ejb-ref-name>
      <ejb-ref-type>Session</ejb-ref-type>
      <home>org.jboss.docs.jaas.howto.SessionHome</home>
      <remote>org.jboss.docs.jaas.howto.Session</remote>
   </ejb-ref>

</web-app>
